/*
 * The Selling Partner API for Amazon External Fulfillment Location Management
 * You can use the External Fulfillment Location API to manage locations in the sandbox environment for end-to-end testing. This API is available only in the sandbox environment.
 *
 * The version of the OpenAPI document: 2026-07-30
 * Contact: marketplaceapitest@amazon.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package software.amazon.spapi.api.externalfulfillmentlocation.v2026_07_30;

import com.amazon.SellingPartnerAPIAA.LWAAccessTokenCache;
import com.amazon.SellingPartnerAPIAA.LWAAccessTokenCacheImpl;
import com.amazon.SellingPartnerAPIAA.LWAAuthorizationCredentials;
import com.amazon.SellingPartnerAPIAA.LWAAuthorizationSigner;
import com.amazon.SellingPartnerAPIAA.LWAException;
import com.amazon.SellingPartnerAPIAA.RestrictedDataTokenSigner;
import com.google.gson.reflect.TypeToken;
import io.github.bucket4j.Bucket;
import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import software.amazon.spapi.ApiCallback;
import software.amazon.spapi.ApiClient;
import software.amazon.spapi.ApiException;
import software.amazon.spapi.ApiResponse;
import software.amazon.spapi.Configuration;
import software.amazon.spapi.Pair;
import software.amazon.spapi.StringUtil;
import software.amazon.spapi.models.externalfulfillmentlocation.v2026_07_30.CreateSandboxLocationRequest;
import software.amazon.spapi.models.externalfulfillmentlocation.v2026_07_30.CreateSandboxLocationResponse;

public class SandboxLocationApi {
    private ApiClient apiClient;
    private Boolean disableRateLimiting;

    public SandboxLocationApi(ApiClient apiClient, Boolean disableRateLimiting) {
        this.apiClient = apiClient;
        this.disableRateLimiting = disableRateLimiting;
    }

    private final Configuration config = Configuration.get();

    public final Bucket createSandboxLocationBucket = Bucket.builder()
            .addLimit(config.getLimit("SandboxLocationApi-createSandboxLocation"))
            .build();

    /**
     * Build call for createSandboxLocation
     *
     * @param body The request body for creating a sandbox location. (required)
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    private okhttp3.Call createSandboxLocationCall(
            CreateSandboxLocationRequest body, final ApiCallback progressRequestListener)
            throws ApiException, LWAException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath;
        if ("/externalFulfillment/2026-07-30/location".equals("/uploads/2020-11-01/uploadDestinations/{resource}")) {
            localVarPath = "/externalFulfillment/2026-07-30/location";
        } else {
            localVarPath = "/externalFulfillment/2026-07-30/location";
        }

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {"application/json"};
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        return apiClient.buildCall(
                localVarPath,
                "POST",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarPostBody,
                localVarHeaderParams,
                localVarFormParams,
                progressRequestListener);
    }

    private okhttp3.Call createSandboxLocationValidateBeforeCall(
            CreateSandboxLocationRequest body, final ApiCallback progressRequestListener)
            throws ApiException, LWAException {

        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling createSandboxLocation(Async)");
        }

        return createSandboxLocationCall(body, progressRequestListener);
    }

    /**
     * Creates a sandbox location and merchant in the test environment. This operation is available only in the sandbox
     * environment and is used for onboarding test locations. Idempotency is ensured on locationName.
     *
     * @param body The request body for creating a sandbox location. (required)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return CreateSandboxLocationResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public CreateSandboxLocationResponse createSandboxLocation(
            CreateSandboxLocationRequest body, String restrictedDataToken) throws ApiException, LWAException {
        ApiResponse<CreateSandboxLocationResponse> resp = createSandboxLocationWithHttpInfo(body, restrictedDataToken);
        return resp.getData();
    }

    /**
     * Creates a sandbox location and merchant in the test environment. This operation is available only in the sandbox
     * environment and is used for onboarding test locations. Idempotency is ensured on locationName.
     *
     * @param body The request body for creating a sandbox location. (required)
     * @return CreateSandboxLocationResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public CreateSandboxLocationResponse createSandboxLocation(CreateSandboxLocationRequest body)
            throws ApiException, LWAException {
        ApiResponse<CreateSandboxLocationResponse> resp = createSandboxLocationWithHttpInfo(body, null);
        return resp.getData();
    }

    /**
     * Creates a sandbox location and merchant in the test environment. This operation is available only in the sandbox
     * environment and is used for onboarding test locations. Idempotency is ensured on locationName.
     *
     * @param body The request body for creating a sandbox location. (required)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return ApiResponse&lt;CreateSandboxLocationResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<CreateSandboxLocationResponse> createSandboxLocationWithHttpInfo(
            CreateSandboxLocationRequest body, String restrictedDataToken) throws ApiException, LWAException {
        okhttp3.Call call = createSandboxLocationValidateBeforeCall(body, null);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(
                    request, restrictedDataToken, "SandboxLocationApi-createSandboxLocation");
            call = apiClient.getHttpClient().newCall(request);
        }

        if (disableRateLimiting || createSandboxLocationBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<CreateSandboxLocationResponse>() {}.getType();
            return apiClient.execute(call, localVarReturnType);
        } else throw new ApiException.RateLimitExceeded("createSandboxLocation operation exceeds rate limit");
    }

    /**
     * Creates a sandbox location and merchant in the test environment. This operation is available only in the sandbox
     * environment and is used for onboarding test locations. Idempotency is ensured on locationName.
     *
     * @param body The request body for creating a sandbox location. (required)
     * @return ApiResponse&lt;CreateSandboxLocationResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<CreateSandboxLocationResponse> createSandboxLocationWithHttpInfo(
            CreateSandboxLocationRequest body) throws ApiException, LWAException {
        return createSandboxLocationWithHttpInfo(body, null);
    }

    /**
     * (asynchronously) Creates a sandbox location and merchant in the test environment. This operation is available
     * only in the sandbox environment and is used for onboarding test locations. Idempotency is ensured on
     * locationName.
     *
     * @param body The request body for creating a sandbox location. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call createSandboxLocationAsync(
            CreateSandboxLocationRequest body, final ApiCallback<CreateSandboxLocationResponse> callback)
            throws ApiException, LWAException {
        return createSandboxLocationAsync(body, callback, null);
    }
    /**
     * (asynchronously) Creates a sandbox location and merchant in the test environment. This operation is available
     * only in the sandbox environment and is used for onboarding test locations. Idempotency is ensured on
     * locationName.
     *
     * @param body The request body for creating a sandbox location. (required)
     * @param callback The callback to be executed when the API call finishes
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call createSandboxLocationAsync(
            CreateSandboxLocationRequest body,
            final ApiCallback<CreateSandboxLocationResponse> callback,
            String restrictedDataToken)
            throws ApiException, LWAException {

        ApiCallback progressRequestListener = null;

        if (callback != null) {
            progressRequestListener = callback;
        }

        okhttp3.Call call = createSandboxLocationValidateBeforeCall(body, progressRequestListener);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(
                    request, restrictedDataToken, "SandboxLocationApi-createSandboxLocation");
            call = apiClient.getHttpClient().newCall(request);
        }

        if (disableRateLimiting || createSandboxLocationBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<CreateSandboxLocationResponse>() {}.getType();
            apiClient.executeAsync(call, localVarReturnType, callback);
            return call;
        } else throw new ApiException.RateLimitExceeded("createSandboxLocation operation exceeds rate limit");
    }

    public static class Builder {
        private LWAAuthorizationCredentials lwaAuthorizationCredentials;
        private String endpoint;
        private LWAAccessTokenCache lwaAccessTokenCache;
        private Boolean disableAccessTokenCache = false;
        private Boolean disableRateLimiting = false;

        public Builder lwaAuthorizationCredentials(LWAAuthorizationCredentials lwaAuthorizationCredentials) {
            this.lwaAuthorizationCredentials = lwaAuthorizationCredentials;
            return this;
        }

        public Builder endpoint(String endpoint) {
            this.endpoint = endpoint;
            return this;
        }

        public Builder lwaAccessTokenCache(LWAAccessTokenCache lwaAccessTokenCache) {
            this.lwaAccessTokenCache = lwaAccessTokenCache;
            return this;
        }

        public Builder disableAccessTokenCache() {
            this.disableAccessTokenCache = true;
            return this;
        }

        public Builder disableRateLimiting() {
            this.disableRateLimiting = true;
            return this;
        }

        public SandboxLocationApi build() {
            if (lwaAuthorizationCredentials == null) {
                throw new RuntimeException("LWAAuthorizationCredentials not set");
            }

            if (StringUtil.isEmpty(endpoint)) {
                throw new RuntimeException("Endpoint not set");
            }

            LWAAuthorizationSigner lwaAuthorizationSigner = null;
            if (disableAccessTokenCache) {
                lwaAuthorizationSigner = new LWAAuthorizationSigner(lwaAuthorizationCredentials);
            } else {
                if (lwaAccessTokenCache == null) {
                    lwaAccessTokenCache = new LWAAccessTokenCacheImpl();
                }
                lwaAuthorizationSigner = new LWAAuthorizationSigner(lwaAuthorizationCredentials, lwaAccessTokenCache);
            }

            return new SandboxLocationApi(
                    new ApiClient()
                            .setLWAAuthorizationSigner(lwaAuthorizationSigner)
                            .setBasePath(endpoint),
                    disableRateLimiting);
        }
    }
}
