/*
 * Selling Partner API for Pricing
 * The Selling Partner API for Pricing helps you programmatically retrieve product pricing and offer information for Amazon Marketplace products.
 *
 * OpenAPI spec version: v0
 *
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package software.amazon.spapi.api.pricing.v0;

import com.amazon.SellingPartnerAPIAA.LWAAccessTokenCache;
import com.amazon.SellingPartnerAPIAA.LWAAccessTokenCacheImpl;
import com.amazon.SellingPartnerAPIAA.LWAAuthorizationCredentials;
import com.amazon.SellingPartnerAPIAA.LWAAuthorizationSigner;
import com.amazon.SellingPartnerAPIAA.LWAException;
import com.google.gson.reflect.TypeToken;
import io.github.bucket4j.Bucket;
import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import software.amazon.spapi.ApiCallback;
import software.amazon.spapi.ApiClient;
import software.amazon.spapi.ApiException;
import software.amazon.spapi.ApiResponse;
import software.amazon.spapi.Configuration;
import software.amazon.spapi.Pair;
import software.amazon.spapi.ProgressRequestBody;
import software.amazon.spapi.StringUtil;
import software.amazon.spapi.models.pricing.v0.GetItemOffersBatchRequest;
import software.amazon.spapi.models.pricing.v0.GetItemOffersBatchResponse;
import software.amazon.spapi.models.pricing.v0.GetListingOffersBatchRequest;
import software.amazon.spapi.models.pricing.v0.GetListingOffersBatchResponse;
import software.amazon.spapi.models.pricing.v0.GetOffersResponse;
import software.amazon.spapi.models.pricing.v0.GetPricingResponse;

public class ProductPricingApi {
    private ApiClient apiClient;
    private Boolean disableRateLimiting;

    public ProductPricingApi(ApiClient apiClient, Boolean disableRateLimiting) {
        this.apiClient = apiClient;
        this.disableRateLimiting = disableRateLimiting;
    }

    private final Configuration config = Configuration.get();

    public final Bucket getCompetitivePricingBucket = Bucket.builder()
            .addLimit(config.getLimit("ProductPricingApi-getCompetitivePricing"))
            .build();

    public final Bucket getItemOffersBucket = Bucket.builder()
            .addLimit(config.getLimit("ProductPricingApi-getItemOffers"))
            .build();

    public final Bucket getItemOffersBatchBucket = Bucket.builder()
            .addLimit(config.getLimit("ProductPricingApi-getItemOffersBatch"))
            .build();

    public final Bucket getListingOffersBucket = Bucket.builder()
            .addLimit(config.getLimit("ProductPricingApi-getListingOffers"))
            .build();

    public final Bucket getListingOffersBatchBucket = Bucket.builder()
            .addLimit(config.getLimit("ProductPricingApi-getListingOffersBatch"))
            .build();

    public final Bucket getPricingBucket = Bucket.builder()
            .addLimit(config.getLimit("ProductPricingApi-getPricing"))
            .build();

    /**
     * Build call for getCompetitivePricing
     *
     * @param marketplaceId A marketplace identifier. Specifies the marketplace for which prices are returned.
     *     (required)
     * @param itemType Indicates whether ASIN values or seller SKU values are used to identify items. If you specify
     *     Asin, the information in the response will be dependent on the list of Asins you provide in the Asins
     *     parameter. If you specify Sku, the information in the response will be dependent on the list of Skus you
     *     provide in the Skus parameter. Possible values: Asin, Sku. (required)
     * @param asins A list of up to twenty Amazon Standard Identification Number (ASIN) values used to identify items in
     *     the given marketplace. (optional)
     * @param skus A list of up to twenty seller SKU values used to identify items in the given marketplace. (optional)
     * @param customerType Indicates whether to request pricing information from the point of view of Consumer or
     *     Business buyers. Default is Consumer. (optional)
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    private okhttp3.Call getCompetitivePricingCall(
            String marketplaceId,
            String itemType,
            List<String> asins,
            List<String> skus,
            String customerType,
            final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/products/pricing/v0/competitivePrice";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (marketplaceId != null)
            localVarQueryParams.addAll(apiClient.parameterToPair("MarketplaceId", marketplaceId));
        if (asins != null) localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "Asins", asins));
        if (skus != null) localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "Skus", skus));
        if (itemType != null) localVarQueryParams.addAll(apiClient.parameterToPair("ItemType", itemType));
        if (customerType != null) localVarQueryParams.addAll(apiClient.parameterToPair("CustomerType", customerType));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {};

        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        return apiClient.buildCall(
                localVarPath,
                "GET",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarPostBody,
                localVarHeaderParams,
                localVarFormParams,
                progressRequestListener);
    }

    private okhttp3.Call getCompetitivePricingValidateBeforeCall(
            String marketplaceId,
            String itemType,
            List<String> asins,
            List<String> skus,
            String customerType,
            final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {
        // verify the required parameter 'marketplaceId' is set
        if (marketplaceId == null) {
            throw new ApiException(
                    "Missing the required parameter 'marketplaceId' when calling getCompetitivePricing(Async)");
        }
        // verify the required parameter 'itemType' is set
        if (itemType == null) {
            throw new ApiException(
                    "Missing the required parameter 'itemType' when calling getCompetitivePricing(Async)");
        }

        return getCompetitivePricingCall(marketplaceId, itemType, asins, skus, customerType, progressRequestListener);
    }

    /**
     * Returns competitive pricing information for a seller&#x27;s offer listings based on seller SKU or ASIN. **Note:**
     * The parameters associated with this operation may contain special characters that require URL encoding to call
     * the API. To avoid errors with SKUs when encoding URLs, refer to [URL
     * Encoding](https://developer-docs.amazon.com/sp-api/docs/url-encoding). **Usage Plan:** | Rate (requests per
     * second) | Burst | | ---- | ---- | | 0.5 | 1 | The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the
     * usage plan rate limits that were applied to the requested operation, when available. The table above indicates
     * the default rate and burst values for this operation. Selling partners whose business demands require higher
     * throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and
     * Rate Limits in the Selling Partner API](doc:usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param marketplaceId A marketplace identifier. Specifies the marketplace for which prices are returned.
     *     (required)
     * @param itemType Indicates whether ASIN values or seller SKU values are used to identify items. If you specify
     *     Asin, the information in the response will be dependent on the list of Asins you provide in the Asins
     *     parameter. If you specify Sku, the information in the response will be dependent on the list of Skus you
     *     provide in the Skus parameter. Possible values: Asin, Sku. (required)
     * @param asins A list of up to twenty Amazon Standard Identification Number (ASIN) values used to identify items in
     *     the given marketplace. (optional)
     * @param skus A list of up to twenty seller SKU values used to identify items in the given marketplace. (optional)
     * @param customerType Indicates whether to request pricing information from the point of view of Consumer or
     *     Business buyers. Default is Consumer. (optional)
     * @return GetPricingResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public GetPricingResponse getCompetitivePricing(
            String marketplaceId, String itemType, List<String> asins, List<String> skus, String customerType)
            throws ApiException, LWAException {
        ApiResponse<GetPricingResponse> resp =
                getCompetitivePricingWithHttpInfo(marketplaceId, itemType, asins, skus, customerType);
        return resp.getData();
    }

    /**
     * Returns competitive pricing information for a seller&#x27;s offer listings based on seller SKU or ASIN. **Note:**
     * The parameters associated with this operation may contain special characters that require URL encoding to call
     * the API. To avoid errors with SKUs when encoding URLs, refer to [URL
     * Encoding](https://developer-docs.amazon.com/sp-api/docs/url-encoding). **Usage Plan:** | Rate (requests per
     * second) | Burst | | ---- | ---- | | 0.5 | 1 | The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the
     * usage plan rate limits that were applied to the requested operation, when available. The table above indicates
     * the default rate and burst values for this operation. Selling partners whose business demands require higher
     * throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and
     * Rate Limits in the Selling Partner API](doc:usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param marketplaceId A marketplace identifier. Specifies the marketplace for which prices are returned.
     *     (required)
     * @param itemType Indicates whether ASIN values or seller SKU values are used to identify items. If you specify
     *     Asin, the information in the response will be dependent on the list of Asins you provide in the Asins
     *     parameter. If you specify Sku, the information in the response will be dependent on the list of Skus you
     *     provide in the Skus parameter. Possible values: Asin, Sku. (required)
     * @param asins A list of up to twenty Amazon Standard Identification Number (ASIN) values used to identify items in
     *     the given marketplace. (optional)
     * @param skus A list of up to twenty seller SKU values used to identify items in the given marketplace. (optional)
     * @param customerType Indicates whether to request pricing information from the point of view of Consumer or
     *     Business buyers. Default is Consumer. (optional)
     * @return ApiResponse&lt;GetPricingResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<GetPricingResponse> getCompetitivePricingWithHttpInfo(
            String marketplaceId, String itemType, List<String> asins, List<String> skus, String customerType)
            throws ApiException, LWAException {
        okhttp3.Call call =
                getCompetitivePricingValidateBeforeCall(marketplaceId, itemType, asins, skus, customerType, null);
        if (disableRateLimiting || getCompetitivePricingBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<GetPricingResponse>() {}.getType();
            return apiClient.execute(call, localVarReturnType);
        } else throw new ApiException.RateLimitExceeded("getCompetitivePricing operation exceeds rate limit");
    }

    /**
     * (asynchronously) Returns competitive pricing information for a seller&#x27;s offer listings based on seller SKU
     * or ASIN. **Note:** The parameters associated with this operation may contain special characters that require URL
     * encoding to call the API. To avoid errors with SKUs when encoding URLs, refer to [URL
     * Encoding](https://developer-docs.amazon.com/sp-api/docs/url-encoding). **Usage Plan:** | Rate (requests per
     * second) | Burst | | ---- | ---- | | 0.5 | 1 | The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the
     * usage plan rate limits that were applied to the requested operation, when available. The table above indicates
     * the default rate and burst values for this operation. Selling partners whose business demands require higher
     * throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and
     * Rate Limits in the Selling Partner API](doc:usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param marketplaceId A marketplace identifier. Specifies the marketplace for which prices are returned.
     *     (required)
     * @param itemType Indicates whether ASIN values or seller SKU values are used to identify items. If you specify
     *     Asin, the information in the response will be dependent on the list of Asins you provide in the Asins
     *     parameter. If you specify Sku, the information in the response will be dependent on the list of Skus you
     *     provide in the Skus parameter. Possible values: Asin, Sku. (required)
     * @param asins A list of up to twenty Amazon Standard Identification Number (ASIN) values used to identify items in
     *     the given marketplace. (optional)
     * @param skus A list of up to twenty seller SKU values used to identify items in the given marketplace. (optional)
     * @param customerType Indicates whether to request pricing information from the point of view of Consumer or
     *     Business buyers. Default is Consumer. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call getCompetitivePricingAsync(
            String marketplaceId,
            String itemType,
            List<String> asins,
            List<String> skus,
            String customerType,
            final ApiCallback<GetPricingResponse> callback)
            throws ApiException, LWAException {

        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressRequestListener = callback::onUploadProgress;
        }

        okhttp3.Call call = getCompetitivePricingValidateBeforeCall(
                marketplaceId, itemType, asins, skus, customerType, progressRequestListener);
        if (disableRateLimiting || getCompetitivePricingBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<GetPricingResponse>() {}.getType();
            apiClient.executeAsync(call, localVarReturnType, callback);
            return call;
        } else throw new ApiException.RateLimitExceeded("getCompetitivePricing operation exceeds rate limit");
    }
    /**
     * Build call for getItemOffers
     *
     * @param marketplaceId A marketplace identifier. Specifies the marketplace for which prices are returned.
     *     (required)
     * @param itemCondition Filters the offer listings to be considered based on item condition. Possible values: New,
     *     Used, Collectible, Refurbished, Club. (required)
     * @param asin The Amazon Standard Identification Number (ASIN) of the item. (required)
     * @param customerType Indicates whether to request Consumer or Business offers. Default is Consumer. (optional)
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    private okhttp3.Call getItemOffersCall(
            String marketplaceId,
            String itemCondition,
            String asin,
            String customerType,
            final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/products/pricing/v0/items/{Asin}/offers"
                .replaceAll("\\{" + "Asin" + "\\}", apiClient.escapeString(asin.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (marketplaceId != null)
            localVarQueryParams.addAll(apiClient.parameterToPair("MarketplaceId", marketplaceId));
        if (itemCondition != null)
            localVarQueryParams.addAll(apiClient.parameterToPair("ItemCondition", itemCondition));
        if (customerType != null) localVarQueryParams.addAll(apiClient.parameterToPair("CustomerType", customerType));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {};

        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        return apiClient.buildCall(
                localVarPath,
                "GET",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarPostBody,
                localVarHeaderParams,
                localVarFormParams,
                progressRequestListener);
    }

    private okhttp3.Call getItemOffersValidateBeforeCall(
            String marketplaceId,
            String itemCondition,
            String asin,
            String customerType,
            final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {
        // verify the required parameter 'marketplaceId' is set
        if (marketplaceId == null) {
            throw new ApiException("Missing the required parameter 'marketplaceId' when calling getItemOffers(Async)");
        }
        // verify the required parameter 'itemCondition' is set
        if (itemCondition == null) {
            throw new ApiException("Missing the required parameter 'itemCondition' when calling getItemOffers(Async)");
        }
        // verify the required parameter 'asin' is set
        if (asin == null) {
            throw new ApiException("Missing the required parameter 'asin' when calling getItemOffers(Async)");
        }

        return getItemOffersCall(marketplaceId, itemCondition, asin, customerType, progressRequestListener);
    }

    /**
     * Returns the lowest priced offers for a single item based on ASIN. **Usage Plan:** | Rate (requests per second) |
     * Burst | | ---- | ---- | | 0.5 | 1 | The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan
     * rate limits that were applied to the requested operation, when available. The table above indicates the default
     * rate and burst values for this operation. Selling partners whose business demands require higher throughput may
     * see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in
     * the Selling Partner API](doc:usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param marketplaceId A marketplace identifier. Specifies the marketplace for which prices are returned.
     *     (required)
     * @param itemCondition Filters the offer listings to be considered based on item condition. Possible values: New,
     *     Used, Collectible, Refurbished, Club. (required)
     * @param asin The Amazon Standard Identification Number (ASIN) of the item. (required)
     * @param customerType Indicates whether to request Consumer or Business offers. Default is Consumer. (optional)
     * @return GetOffersResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public GetOffersResponse getItemOffers(String marketplaceId, String itemCondition, String asin, String customerType)
            throws ApiException, LWAException {
        ApiResponse<GetOffersResponse> resp =
                getItemOffersWithHttpInfo(marketplaceId, itemCondition, asin, customerType);
        return resp.getData();
    }

    /**
     * Returns the lowest priced offers for a single item based on ASIN. **Usage Plan:** | Rate (requests per second) |
     * Burst | | ---- | ---- | | 0.5 | 1 | The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan
     * rate limits that were applied to the requested operation, when available. The table above indicates the default
     * rate and burst values for this operation. Selling partners whose business demands require higher throughput may
     * see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in
     * the Selling Partner API](doc:usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param marketplaceId A marketplace identifier. Specifies the marketplace for which prices are returned.
     *     (required)
     * @param itemCondition Filters the offer listings to be considered based on item condition. Possible values: New,
     *     Used, Collectible, Refurbished, Club. (required)
     * @param asin The Amazon Standard Identification Number (ASIN) of the item. (required)
     * @param customerType Indicates whether to request Consumer or Business offers. Default is Consumer. (optional)
     * @return ApiResponse&lt;GetOffersResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<GetOffersResponse> getItemOffersWithHttpInfo(
            String marketplaceId, String itemCondition, String asin, String customerType)
            throws ApiException, LWAException {
        okhttp3.Call call = getItemOffersValidateBeforeCall(marketplaceId, itemCondition, asin, customerType, null);
        if (disableRateLimiting || getItemOffersBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<GetOffersResponse>() {}.getType();
            return apiClient.execute(call, localVarReturnType);
        } else throw new ApiException.RateLimitExceeded("getItemOffers operation exceeds rate limit");
    }

    /**
     * (asynchronously) Returns the lowest priced offers for a single item based on ASIN. **Usage Plan:** | Rate
     * (requests per second) | Burst | | ---- | ---- | | 0.5 | 1 | The &#x60;x-amzn-RateLimit-Limit&#x60; response
     * header returns the usage plan rate limits that were applied to the requested operation, when available. The table
     * above indicates the default rate and burst values for this operation. Selling partners whose business demands
     * require higher throughput may see higher rate and burst values than those shown here. For more information, see
     * [Usage Plans and Rate Limits in the Selling Partner API](doc:usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param marketplaceId A marketplace identifier. Specifies the marketplace for which prices are returned.
     *     (required)
     * @param itemCondition Filters the offer listings to be considered based on item condition. Possible values: New,
     *     Used, Collectible, Refurbished, Club. (required)
     * @param asin The Amazon Standard Identification Number (ASIN) of the item. (required)
     * @param customerType Indicates whether to request Consumer or Business offers. Default is Consumer. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call getItemOffersAsync(
            String marketplaceId,
            String itemCondition,
            String asin,
            String customerType,
            final ApiCallback<GetOffersResponse> callback)
            throws ApiException, LWAException {

        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressRequestListener = callback::onUploadProgress;
        }

        okhttp3.Call call = getItemOffersValidateBeforeCall(
                marketplaceId, itemCondition, asin, customerType, progressRequestListener);
        if (disableRateLimiting || getItemOffersBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<GetOffersResponse>() {}.getType();
            apiClient.executeAsync(call, localVarReturnType, callback);
            return call;
        } else throw new ApiException.RateLimitExceeded("getItemOffers operation exceeds rate limit");
    }
    /**
     * Build call for getItemOffersBatch
     *
     * @param body The request associated with the &#x60;getItemOffersBatch&#x60; API call. (required)
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    private okhttp3.Call getItemOffersBatchCall(
            GetItemOffersBatchRequest body, final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/batches/products/pricing/v0/itemOffers";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {"application/json"};
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        return apiClient.buildCall(
                localVarPath,
                "POST",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarPostBody,
                localVarHeaderParams,
                localVarFormParams,
                progressRequestListener);
    }

    private okhttp3.Call getItemOffersBatchValidateBeforeCall(
            GetItemOffersBatchRequest body, final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling getItemOffersBatch(Async)");
        }

        return getItemOffersBatchCall(body, progressRequestListener);
    }

    /**
     * Returns the lowest priced offers for a batch of items based on ASIN. **Usage Plan:** | Rate (requests per second)
     * | Burst | | ---- | ---- | | 0.1 | 1 | The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage
     * plan rate limits that were applied to the requested operation, when available. The table above indicates the
     * default rate and burst values for this operation. Selling partners whose business demands require higher
     * throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and
     * Rate Limits in the Selling Partner
     * API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param body The request associated with the &#x60;getItemOffersBatch&#x60; API call. (required)
     * @return GetItemOffersBatchResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public GetItemOffersBatchResponse getItemOffersBatch(GetItemOffersBatchRequest body)
            throws ApiException, LWAException {
        ApiResponse<GetItemOffersBatchResponse> resp = getItemOffersBatchWithHttpInfo(body);
        return resp.getData();
    }

    /**
     * Returns the lowest priced offers for a batch of items based on ASIN. **Usage Plan:** | Rate (requests per second)
     * | Burst | | ---- | ---- | | 0.1 | 1 | The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage
     * plan rate limits that were applied to the requested operation, when available. The table above indicates the
     * default rate and burst values for this operation. Selling partners whose business demands require higher
     * throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and
     * Rate Limits in the Selling Partner
     * API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param body The request associated with the &#x60;getItemOffersBatch&#x60; API call. (required)
     * @return ApiResponse&lt;GetItemOffersBatchResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<GetItemOffersBatchResponse> getItemOffersBatchWithHttpInfo(GetItemOffersBatchRequest body)
            throws ApiException, LWAException {
        okhttp3.Call call = getItemOffersBatchValidateBeforeCall(body, null);
        if (disableRateLimiting || getItemOffersBatchBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<GetItemOffersBatchResponse>() {}.getType();
            return apiClient.execute(call, localVarReturnType);
        } else throw new ApiException.RateLimitExceeded("getItemOffersBatch operation exceeds rate limit");
    }

    /**
     * (asynchronously) Returns the lowest priced offers for a batch of items based on ASIN. **Usage Plan:** | Rate
     * (requests per second) | Burst | | ---- | ---- | | 0.1 | 1 | The &#x60;x-amzn-RateLimit-Limit&#x60; response
     * header returns the usage plan rate limits that were applied to the requested operation, when available. The table
     * above indicates the default rate and burst values for this operation. Selling partners whose business demands
     * require higher throughput may see higher rate and burst values than those shown here. For more information, see
     * [Usage Plans and Rate Limits in the Selling Partner
     * API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param body The request associated with the &#x60;getItemOffersBatch&#x60; API call. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call getItemOffersBatchAsync(
            GetItemOffersBatchRequest body, final ApiCallback<GetItemOffersBatchResponse> callback)
            throws ApiException, LWAException {

        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressRequestListener = callback::onUploadProgress;
        }

        okhttp3.Call call = getItemOffersBatchValidateBeforeCall(body, progressRequestListener);
        if (disableRateLimiting || getItemOffersBatchBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<GetItemOffersBatchResponse>() {}.getType();
            apiClient.executeAsync(call, localVarReturnType, callback);
            return call;
        } else throw new ApiException.RateLimitExceeded("getItemOffersBatch operation exceeds rate limit");
    }
    /**
     * Build call for getListingOffers
     *
     * @param marketplaceId A marketplace identifier. Specifies the marketplace for which prices are returned.
     *     (required)
     * @param itemCondition Filters the offer listings based on item condition. Possible values: New, Used, Collectible,
     *     Refurbished, Club. (required)
     * @param sellerSKU Identifies an item in the given marketplace. SellerSKU is qualified by the seller&#x27;s
     *     SellerId, which is included with every operation that you submit. (required)
     * @param customerType Indicates whether to request Consumer or Business offers. Default is Consumer. (optional)
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    private okhttp3.Call getListingOffersCall(
            String marketplaceId,
            String itemCondition,
            String sellerSKU,
            String customerType,
            final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/products/pricing/v0/listings/{SellerSKU}/offers"
                .replaceAll("\\{" + "SellerSKU" + "\\}", apiClient.escapeString(sellerSKU.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (marketplaceId != null)
            localVarQueryParams.addAll(apiClient.parameterToPair("MarketplaceId", marketplaceId));
        if (itemCondition != null)
            localVarQueryParams.addAll(apiClient.parameterToPair("ItemCondition", itemCondition));
        if (customerType != null) localVarQueryParams.addAll(apiClient.parameterToPair("CustomerType", customerType));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {};

        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        return apiClient.buildCall(
                localVarPath,
                "GET",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarPostBody,
                localVarHeaderParams,
                localVarFormParams,
                progressRequestListener);
    }

    private okhttp3.Call getListingOffersValidateBeforeCall(
            String marketplaceId,
            String itemCondition,
            String sellerSKU,
            String customerType,
            final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {
        // verify the required parameter 'marketplaceId' is set
        if (marketplaceId == null) {
            throw new ApiException(
                    "Missing the required parameter 'marketplaceId' when calling getListingOffers(Async)");
        }
        // verify the required parameter 'itemCondition' is set
        if (itemCondition == null) {
            throw new ApiException(
                    "Missing the required parameter 'itemCondition' when calling getListingOffers(Async)");
        }
        // verify the required parameter 'sellerSKU' is set
        if (sellerSKU == null) {
            throw new ApiException("Missing the required parameter 'sellerSKU' when calling getListingOffers(Async)");
        }

        return getListingOffersCall(marketplaceId, itemCondition, sellerSKU, customerType, progressRequestListener);
    }

    /**
     * Returns the lowest priced offers for a single SKU listing. **Note:** The parameters associated with this
     * operation may contain special characters that require URL encoding to call the API. To avoid errors with SKUs
     * when encoding URLs, refer to [URL Encoding](https://developer-docs.amazon.com/sp-api/docs/url-encoding). **Usage
     * Plan:** | Rate (requests per second) | Burst | | ---- | ---- | | 1 | 2 | The &#x60;x-amzn-RateLimit-Limit&#x60;
     * response header returns the usage plan rate limits that were applied to the requested operation, when available.
     * The table above indicates the default rate and burst values for this operation. Selling partners whose business
     * demands require higher throughput may see higher rate and burst values than those shown here. For more
     * information, see [Usage Plans and Rate Limits in the Selling Partner
     * API](doc:usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param marketplaceId A marketplace identifier. Specifies the marketplace for which prices are returned.
     *     (required)
     * @param itemCondition Filters the offer listings based on item condition. Possible values: New, Used, Collectible,
     *     Refurbished, Club. (required)
     * @param sellerSKU Identifies an item in the given marketplace. SellerSKU is qualified by the seller&#x27;s
     *     SellerId, which is included with every operation that you submit. (required)
     * @param customerType Indicates whether to request Consumer or Business offers. Default is Consumer. (optional)
     * @return GetOffersResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public GetOffersResponse getListingOffers(
            String marketplaceId, String itemCondition, String sellerSKU, String customerType)
            throws ApiException, LWAException {
        ApiResponse<GetOffersResponse> resp =
                getListingOffersWithHttpInfo(marketplaceId, itemCondition, sellerSKU, customerType);
        return resp.getData();
    }

    /**
     * Returns the lowest priced offers for a single SKU listing. **Note:** The parameters associated with this
     * operation may contain special characters that require URL encoding to call the API. To avoid errors with SKUs
     * when encoding URLs, refer to [URL Encoding](https://developer-docs.amazon.com/sp-api/docs/url-encoding). **Usage
     * Plan:** | Rate (requests per second) | Burst | | ---- | ---- | | 1 | 2 | The &#x60;x-amzn-RateLimit-Limit&#x60;
     * response header returns the usage plan rate limits that were applied to the requested operation, when available.
     * The table above indicates the default rate and burst values for this operation. Selling partners whose business
     * demands require higher throughput may see higher rate and burst values than those shown here. For more
     * information, see [Usage Plans and Rate Limits in the Selling Partner
     * API](doc:usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param marketplaceId A marketplace identifier. Specifies the marketplace for which prices are returned.
     *     (required)
     * @param itemCondition Filters the offer listings based on item condition. Possible values: New, Used, Collectible,
     *     Refurbished, Club. (required)
     * @param sellerSKU Identifies an item in the given marketplace. SellerSKU is qualified by the seller&#x27;s
     *     SellerId, which is included with every operation that you submit. (required)
     * @param customerType Indicates whether to request Consumer or Business offers. Default is Consumer. (optional)
     * @return ApiResponse&lt;GetOffersResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<GetOffersResponse> getListingOffersWithHttpInfo(
            String marketplaceId, String itemCondition, String sellerSKU, String customerType)
            throws ApiException, LWAException {
        okhttp3.Call call =
                getListingOffersValidateBeforeCall(marketplaceId, itemCondition, sellerSKU, customerType, null);
        if (disableRateLimiting || getListingOffersBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<GetOffersResponse>() {}.getType();
            return apiClient.execute(call, localVarReturnType);
        } else throw new ApiException.RateLimitExceeded("getListingOffers operation exceeds rate limit");
    }

    /**
     * (asynchronously) Returns the lowest priced offers for a single SKU listing. **Note:** The parameters associated
     * with this operation may contain special characters that require URL encoding to call the API. To avoid errors
     * with SKUs when encoding URLs, refer to [URL
     * Encoding](https://developer-docs.amazon.com/sp-api/docs/url-encoding). **Usage Plan:** | Rate (requests per
     * second) | Burst | | ---- | ---- | | 1 | 2 | The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the
     * usage plan rate limits that were applied to the requested operation, when available. The table above indicates
     * the default rate and burst values for this operation. Selling partners whose business demands require higher
     * throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and
     * Rate Limits in the Selling Partner API](doc:usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param marketplaceId A marketplace identifier. Specifies the marketplace for which prices are returned.
     *     (required)
     * @param itemCondition Filters the offer listings based on item condition. Possible values: New, Used, Collectible,
     *     Refurbished, Club. (required)
     * @param sellerSKU Identifies an item in the given marketplace. SellerSKU is qualified by the seller&#x27;s
     *     SellerId, which is included with every operation that you submit. (required)
     * @param customerType Indicates whether to request Consumer or Business offers. Default is Consumer. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call getListingOffersAsync(
            String marketplaceId,
            String itemCondition,
            String sellerSKU,
            String customerType,
            final ApiCallback<GetOffersResponse> callback)
            throws ApiException, LWAException {

        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressRequestListener = callback::onUploadProgress;
        }

        okhttp3.Call call = getListingOffersValidateBeforeCall(
                marketplaceId, itemCondition, sellerSKU, customerType, progressRequestListener);
        if (disableRateLimiting || getListingOffersBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<GetOffersResponse>() {}.getType();
            apiClient.executeAsync(call, localVarReturnType, callback);
            return call;
        } else throw new ApiException.RateLimitExceeded("getListingOffers operation exceeds rate limit");
    }
    /**
     * Build call for getListingOffersBatch
     *
     * @param body The request associated with the &#x60;getListingOffersBatch&#x60; API call. (required)
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    private okhttp3.Call getListingOffersBatchCall(
            GetListingOffersBatchRequest body,
            final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/batches/products/pricing/v0/listingOffers";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {"application/json"};
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        return apiClient.buildCall(
                localVarPath,
                "POST",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarPostBody,
                localVarHeaderParams,
                localVarFormParams,
                progressRequestListener);
    }

    private okhttp3.Call getListingOffersBatchValidateBeforeCall(
            GetListingOffersBatchRequest body,
            final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling getListingOffersBatch(Async)");
        }

        return getListingOffersBatchCall(body, progressRequestListener);
    }

    /**
     * Returns the lowest priced offers for a batch of listings by SKU. **Usage Plan:** | Rate (requests per second) |
     * Burst | | ---- | ---- | | 0.5 | 1 | The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan
     * rate limits that were applied to the requested operation, when available. The table above indicates the default
     * rate and burst values for this operation. Selling partners whose business demands require higher throughput may
     * see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in
     * the Selling Partner API](doc:usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param body The request associated with the &#x60;getListingOffersBatch&#x60; API call. (required)
     * @return GetListingOffersBatchResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public GetListingOffersBatchResponse getListingOffersBatch(GetListingOffersBatchRequest body)
            throws ApiException, LWAException {
        ApiResponse<GetListingOffersBatchResponse> resp = getListingOffersBatchWithHttpInfo(body);
        return resp.getData();
    }

    /**
     * Returns the lowest priced offers for a batch of listings by SKU. **Usage Plan:** | Rate (requests per second) |
     * Burst | | ---- | ---- | | 0.5 | 1 | The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan
     * rate limits that were applied to the requested operation, when available. The table above indicates the default
     * rate and burst values for this operation. Selling partners whose business demands require higher throughput may
     * see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in
     * the Selling Partner API](doc:usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param body The request associated with the &#x60;getListingOffersBatch&#x60; API call. (required)
     * @return ApiResponse&lt;GetListingOffersBatchResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<GetListingOffersBatchResponse> getListingOffersBatchWithHttpInfo(
            GetListingOffersBatchRequest body) throws ApiException, LWAException {
        okhttp3.Call call = getListingOffersBatchValidateBeforeCall(body, null);
        if (disableRateLimiting || getListingOffersBatchBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<GetListingOffersBatchResponse>() {}.getType();
            return apiClient.execute(call, localVarReturnType);
        } else throw new ApiException.RateLimitExceeded("getListingOffersBatch operation exceeds rate limit");
    }

    /**
     * (asynchronously) Returns the lowest priced offers for a batch of listings by SKU. **Usage Plan:** | Rate
     * (requests per second) | Burst | | ---- | ---- | | 0.5 | 1 | The &#x60;x-amzn-RateLimit-Limit&#x60; response
     * header returns the usage plan rate limits that were applied to the requested operation, when available. The table
     * above indicates the default rate and burst values for this operation. Selling partners whose business demands
     * require higher throughput may see higher rate and burst values than those shown here. For more information, see
     * [Usage Plans and Rate Limits in the Selling Partner API](doc:usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param body The request associated with the &#x60;getListingOffersBatch&#x60; API call. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call getListingOffersBatchAsync(
            GetListingOffersBatchRequest body, final ApiCallback<GetListingOffersBatchResponse> callback)
            throws ApiException, LWAException {

        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressRequestListener = callback::onUploadProgress;
        }

        okhttp3.Call call = getListingOffersBatchValidateBeforeCall(body, progressRequestListener);
        if (disableRateLimiting || getListingOffersBatchBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<GetListingOffersBatchResponse>() {}.getType();
            apiClient.executeAsync(call, localVarReturnType, callback);
            return call;
        } else throw new ApiException.RateLimitExceeded("getListingOffersBatch operation exceeds rate limit");
    }
    /**
     * Build call for getPricing
     *
     * @param marketplaceId A marketplace identifier. Specifies the marketplace for which prices are returned.
     *     (required)
     * @param itemType Indicates whether ASIN values or seller SKU values are used to identify items. If you specify
     *     Asin, the information in the response will be dependent on the list of Asins you provide in the Asins
     *     parameter. If you specify Sku, the information in the response will be dependent on the list of Skus you
     *     provide in the Skus parameter. (required)
     * @param asins A list of up to twenty Amazon Standard Identification Number (ASIN) values used to identify items in
     *     the given marketplace. (optional)
     * @param skus A list of up to twenty seller SKU values used to identify items in the given marketplace. (optional)
     * @param itemCondition Filters the offer listings based on item condition. Possible values: New, Used, Collectible,
     *     Refurbished, Club. (optional)
     * @param offerType Indicates whether to request pricing information for the seller&#x27;s B2C or B2B offers.
     *     Default is B2C. (optional)
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    private okhttp3.Call getPricingCall(
            String marketplaceId,
            String itemType,
            List<String> asins,
            List<String> skus,
            String itemCondition,
            String offerType,
            final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/products/pricing/v0/price";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (marketplaceId != null)
            localVarQueryParams.addAll(apiClient.parameterToPair("MarketplaceId", marketplaceId));
        if (asins != null) localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "Asins", asins));
        if (skus != null) localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "Skus", skus));
        if (itemType != null) localVarQueryParams.addAll(apiClient.parameterToPair("ItemType", itemType));
        if (itemCondition != null)
            localVarQueryParams.addAll(apiClient.parameterToPair("ItemCondition", itemCondition));
        if (offerType != null) localVarQueryParams.addAll(apiClient.parameterToPair("OfferType", offerType));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {};

        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        return apiClient.buildCall(
                localVarPath,
                "GET",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarPostBody,
                localVarHeaderParams,
                localVarFormParams,
                progressRequestListener);
    }

    private okhttp3.Call getPricingValidateBeforeCall(
            String marketplaceId,
            String itemType,
            List<String> asins,
            List<String> skus,
            String itemCondition,
            String offerType,
            final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {
        // verify the required parameter 'marketplaceId' is set
        if (marketplaceId == null) {
            throw new ApiException("Missing the required parameter 'marketplaceId' when calling getPricing(Async)");
        }
        // verify the required parameter 'itemType' is set
        if (itemType == null) {
            throw new ApiException("Missing the required parameter 'itemType' when calling getPricing(Async)");
        }

        return getPricingCall(marketplaceId, itemType, asins, skus, itemCondition, offerType, progressRequestListener);
    }

    /**
     * Returns pricing information for a seller&#x27;s offer listings based on seller SKU or ASIN. **Note:** The
     * parameters associated with this operation may contain special characters that require URL encoding to call the
     * API. To avoid errors with SKUs when encoding URLs, refer to [URL
     * Encoding](https://developer-docs.amazon.com/sp-api/docs/url-encoding). **Usage Plan:** | Rate (requests per
     * second) | Burst | | ---- | ---- | | 0.5 | 1 | The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the
     * usage plan rate limits that were applied to the requested operation, when available. The table above indicates
     * the default rate and burst values for this operation. Selling partners whose business demands require higher
     * throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and
     * Rate Limits in the Selling Partner API](doc:usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param marketplaceId A marketplace identifier. Specifies the marketplace for which prices are returned.
     *     (required)
     * @param itemType Indicates whether ASIN values or seller SKU values are used to identify items. If you specify
     *     Asin, the information in the response will be dependent on the list of Asins you provide in the Asins
     *     parameter. If you specify Sku, the information in the response will be dependent on the list of Skus you
     *     provide in the Skus parameter. (required)
     * @param asins A list of up to twenty Amazon Standard Identification Number (ASIN) values used to identify items in
     *     the given marketplace. (optional)
     * @param skus A list of up to twenty seller SKU values used to identify items in the given marketplace. (optional)
     * @param itemCondition Filters the offer listings based on item condition. Possible values: New, Used, Collectible,
     *     Refurbished, Club. (optional)
     * @param offerType Indicates whether to request pricing information for the seller&#x27;s B2C or B2B offers.
     *     Default is B2C. (optional)
     * @return GetPricingResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public GetPricingResponse getPricing(
            String marketplaceId,
            String itemType,
            List<String> asins,
            List<String> skus,
            String itemCondition,
            String offerType)
            throws ApiException, LWAException {
        ApiResponse<GetPricingResponse> resp =
                getPricingWithHttpInfo(marketplaceId, itemType, asins, skus, itemCondition, offerType);
        return resp.getData();
    }

    /**
     * Returns pricing information for a seller&#x27;s offer listings based on seller SKU or ASIN. **Note:** The
     * parameters associated with this operation may contain special characters that require URL encoding to call the
     * API. To avoid errors with SKUs when encoding URLs, refer to [URL
     * Encoding](https://developer-docs.amazon.com/sp-api/docs/url-encoding). **Usage Plan:** | Rate (requests per
     * second) | Burst | | ---- | ---- | | 0.5 | 1 | The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the
     * usage plan rate limits that were applied to the requested operation, when available. The table above indicates
     * the default rate and burst values for this operation. Selling partners whose business demands require higher
     * throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and
     * Rate Limits in the Selling Partner API](doc:usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param marketplaceId A marketplace identifier. Specifies the marketplace for which prices are returned.
     *     (required)
     * @param itemType Indicates whether ASIN values or seller SKU values are used to identify items. If you specify
     *     Asin, the information in the response will be dependent on the list of Asins you provide in the Asins
     *     parameter. If you specify Sku, the information in the response will be dependent on the list of Skus you
     *     provide in the Skus parameter. (required)
     * @param asins A list of up to twenty Amazon Standard Identification Number (ASIN) values used to identify items in
     *     the given marketplace. (optional)
     * @param skus A list of up to twenty seller SKU values used to identify items in the given marketplace. (optional)
     * @param itemCondition Filters the offer listings based on item condition. Possible values: New, Used, Collectible,
     *     Refurbished, Club. (optional)
     * @param offerType Indicates whether to request pricing information for the seller&#x27;s B2C or B2B offers.
     *     Default is B2C. (optional)
     * @return ApiResponse&lt;GetPricingResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<GetPricingResponse> getPricingWithHttpInfo(
            String marketplaceId,
            String itemType,
            List<String> asins,
            List<String> skus,
            String itemCondition,
            String offerType)
            throws ApiException, LWAException {
        okhttp3.Call call =
                getPricingValidateBeforeCall(marketplaceId, itemType, asins, skus, itemCondition, offerType, null);
        if (disableRateLimiting || getPricingBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<GetPricingResponse>() {}.getType();
            return apiClient.execute(call, localVarReturnType);
        } else throw new ApiException.RateLimitExceeded("getPricing operation exceeds rate limit");
    }

    /**
     * (asynchronously) Returns pricing information for a seller&#x27;s offer listings based on seller SKU or ASIN.
     * **Note:** The parameters associated with this operation may contain special characters that require URL encoding
     * to call the API. To avoid errors with SKUs when encoding URLs, refer to [URL
     * Encoding](https://developer-docs.amazon.com/sp-api/docs/url-encoding). **Usage Plan:** | Rate (requests per
     * second) | Burst | | ---- | ---- | | 0.5 | 1 | The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the
     * usage plan rate limits that were applied to the requested operation, when available. The table above indicates
     * the default rate and burst values for this operation. Selling partners whose business demands require higher
     * throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and
     * Rate Limits in the Selling Partner API](doc:usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param marketplaceId A marketplace identifier. Specifies the marketplace for which prices are returned.
     *     (required)
     * @param itemType Indicates whether ASIN values or seller SKU values are used to identify items. If you specify
     *     Asin, the information in the response will be dependent on the list of Asins you provide in the Asins
     *     parameter. If you specify Sku, the information in the response will be dependent on the list of Skus you
     *     provide in the Skus parameter. (required)
     * @param asins A list of up to twenty Amazon Standard Identification Number (ASIN) values used to identify items in
     *     the given marketplace. (optional)
     * @param skus A list of up to twenty seller SKU values used to identify items in the given marketplace. (optional)
     * @param itemCondition Filters the offer listings based on item condition. Possible values: New, Used, Collectible,
     *     Refurbished, Club. (optional)
     * @param offerType Indicates whether to request pricing information for the seller&#x27;s B2C or B2B offers.
     *     Default is B2C. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call getPricingAsync(
            String marketplaceId,
            String itemType,
            List<String> asins,
            List<String> skus,
            String itemCondition,
            String offerType,
            final ApiCallback<GetPricingResponse> callback)
            throws ApiException, LWAException {

        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressRequestListener = callback::onUploadProgress;
        }

        okhttp3.Call call = getPricingValidateBeforeCall(
                marketplaceId, itemType, asins, skus, itemCondition, offerType, progressRequestListener);
        if (disableRateLimiting || getPricingBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<GetPricingResponse>() {}.getType();
            apiClient.executeAsync(call, localVarReturnType, callback);
            return call;
        } else throw new ApiException.RateLimitExceeded("getPricing operation exceeds rate limit");
    }

    public static class Builder {
        private LWAAuthorizationCredentials lwaAuthorizationCredentials;
        private String endpoint;
        private LWAAccessTokenCache lwaAccessTokenCache;
        private Boolean disableAccessTokenCache = false;
        private Boolean disableRateLimiting = false;

        public Builder lwaAuthorizationCredentials(LWAAuthorizationCredentials lwaAuthorizationCredentials) {
            this.lwaAuthorizationCredentials = lwaAuthorizationCredentials;
            return this;
        }

        public Builder endpoint(String endpoint) {
            this.endpoint = endpoint;
            return this;
        }

        public Builder lwaAccessTokenCache(LWAAccessTokenCache lwaAccessTokenCache) {
            this.lwaAccessTokenCache = lwaAccessTokenCache;
            return this;
        }

        public Builder disableAccessTokenCache() {
            this.disableAccessTokenCache = true;
            return this;
        }

        public Builder disableRateLimiting() {
            this.disableRateLimiting = true;
            return this;
        }

        public ProductPricingApi build() {
            if (lwaAuthorizationCredentials == null) {
                throw new RuntimeException("LWAAuthorizationCredentials not set");
            }

            if (StringUtil.isEmpty(endpoint)) {
                throw new RuntimeException("Endpoint not set");
            }

            LWAAuthorizationSigner lwaAuthorizationSigner = null;
            if (disableAccessTokenCache) {
                lwaAuthorizationSigner = new LWAAuthorizationSigner(lwaAuthorizationCredentials);
            } else {
                if (lwaAccessTokenCache == null) {
                    lwaAccessTokenCache = new LWAAccessTokenCacheImpl();
                }
                lwaAuthorizationSigner = new LWAAuthorizationSigner(lwaAuthorizationCredentials, lwaAccessTokenCache);
            }

            return new ProductPricingApi(
                    new ApiClient()
                            .setLWAAuthorizationSigner(lwaAuthorizationSigner)
                            .setBasePath(endpoint),
                    disableRateLimiting);
        }
    }
}
