/**
 * @typedef {{=< >=}}{<#allowableValues><#enumVars>'<name>'<^-last>|</-last></enumVars></allowableValues>}<={{ }}=> {{classname}}
 */
export const {{classname}} = Object.assign(
  function() {},
{
{{#allowableValues}}
{{#enumVars}}
  "{{name}}": {{{value}}},
{{/enumVars}}
{{/allowableValues}}
  constructFromObject: function (object) {
    return object;
  }
});