/** @type {{ {{=< >=}}<#allowableValues><#enumVars><#lambda.camelcase><name></lambda.camelcase>: <={{ }}=>{{{value}}}{{=< >=}}<^-last>,</-last></enumVars></allowableValues><={{ }}=> }} */
export const {{classname}} = {
    {{#allowableValues}}{{#enumVars}}
        "{{name}}": {{{value}}},

    {{/enumVars}}{{/allowableValues}}
}