/**
 * @typedef {{=< >=}}{<#allowableValues><#enumVars>'<name>'<^-last>|</-last></enumVars></allowableValues>}<={{ }}=> {{classname}}
 */
export const {{classname}} = Object.freeze({
{{#allowableValues}}
{{#enumVars}}
  "{{name}}": {{{value}}}{{^-last}},{{/-last}}
{{/enumVars}}
{{/allowableValues}}
});