# SellingPartnerApiForOrders.VerificationStatus

## Enum


* `Pending` (value: `"Pending"`)

* `Approved` (value: `"Approved"`)

* `Rejected` (value: `"Rejected"`)

* `Expired` (value: `"Expired"`)

* `Cancelled` (value: `"Cancelled"`)


