# coding: utf-8

"""
    The Selling Partner API for Support

    The Selling Partner API for Support provides programmatic access to information about Selling Partner support.

    The version of the OpenAPI document: 2025-02-01
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from spapi.api_client import ApiClient


class SupportApi(object):
    """NOTE: This class is auto generated by the openapi generator.

    Do not edit the class manually.
    """

    api_models_module = "spapi.models.support_v2025_02_01"

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client
        self.classFileName = 'support_api'

    def get_case(self, case_id, **kwargs):  # noqa: E501
        """get_case  # noqa: E501

        Retrieve a specific support case.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_case(case_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str case_id: The case identifier. (required)
        :return: Case
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_case_with_http_info(case_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_case_with_http_info(case_id, **kwargs)  # noqa: E501
            return data

    def get_case_with_http_info(self, case_id, **kwargs):  # noqa: E501
        """get_case  # noqa: E501

        Retrieve a specific support case.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_case_with_http_info(case_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str case_id: The case identifier. (required)
        :return: Case
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['case_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_case" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'case_id' is set
        if self.api_client.client_side_validation and ('case_id' not in params or
                                                       params['case_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `case_id` when calling `get_case`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'case_id' in params:
            path_params['caseId'] = params['case_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/support/2025-02-01/cases/{caseId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Case',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)

    def list_cases(self, body, **kwargs):  # noqa: E501
        """list_cases  # noqa: E501

        Retrieve support cases for a selling partner.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_cases(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ListCasesRequest body: The request body for the listCases operation. (required)
        :return: ListCasesResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_cases_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.list_cases_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def list_cases_with_http_info(self, body, **kwargs):  # noqa: E501
        """list_cases  # noqa: E501

        Retrieve support cases for a selling partner.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_cases_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ListCasesRequest body: The request body for the listCases operation. (required)
        :return: ListCasesResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_cases" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if self.api_client.client_side_validation and ('body' not in params or
                                                       params['body'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `body` when calling `list_cases`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/support/2025-02-01/cases', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ListCasesResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)

    def list_contacts(self, case_id, **kwargs):  # noqa: E501
        """list_contacts  # noqa: E501

        Retrieve contacts for a specific support case.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_contacts(case_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str case_id: The case identifier. (required)
        :param int max_results: The maximum number of results to include in the response.
        :param str next_token: A token to retrieve the next page of results. The response includes `nextToken` when the number of results exceeds the specified `maxResults` value. To get the next page of results, call the operation with this token and include the same arguments as the call that produced the token. To get a complete list, call this operation until `nextToken` is null. Note that this operation can return empty pages.
        :param str sort_order: Sort the returned contacts by `createdDate` in either ascending or descending order.
        :return: ListContactsResult
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_contacts_with_http_info(case_id, **kwargs)  # noqa: E501
        else:
            (data) = self.list_contacts_with_http_info(case_id, **kwargs)  # noqa: E501
            return data

    def list_contacts_with_http_info(self, case_id, **kwargs):  # noqa: E501
        """list_contacts  # noqa: E501

        Retrieve contacts for a specific support case.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_contacts_with_http_info(case_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str case_id: The case identifier. (required)
        :param int max_results: The maximum number of results to include in the response.
        :param str next_token: A token to retrieve the next page of results. The response includes `nextToken` when the number of results exceeds the specified `maxResults` value. To get the next page of results, call the operation with this token and include the same arguments as the call that produced the token. To get a complete list, call this operation until `nextToken` is null. Note that this operation can return empty pages.
        :param str sort_order: Sort the returned contacts by `createdDate` in either ascending or descending order.
        :return: ListContactsResult
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['case_id', 'max_results', 'next_token', 'sort_order']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_contacts" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'case_id' is set
        if self.api_client.client_side_validation and ('case_id' not in params or
                                                       params['case_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `case_id` when calling `list_contacts`")  # noqa: E501

        if self.api_client.client_side_validation and ('max_results' in params and params['max_results'] > 50):  # noqa: E501
            raise ValueError("Invalid value for parameter `max_results` when calling `list_contacts`, must be a value less than or equal to `50`")  # noqa: E501
        if self.api_client.client_side_validation and ('max_results' in params and params['max_results'] < 1):  # noqa: E501
            raise ValueError("Invalid value for parameter `max_results` when calling `list_contacts`, must be a value greater than or equal to `1`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'case_id' in params:
            path_params['caseId'] = params['case_id']  # noqa: E501

        query_params = []
        if 'max_results' in params:
            query_params.append(('maxResults', params['max_results']))  # noqa: E501
        if 'next_token' in params:
            query_params.append(('nextToken', params['next_token']))  # noqa: E501
        if 'sort_order' in params:
            query_params.append(('sortOrder', params['sort_order']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/support/2025-02-01/cases/{caseId}/contacts', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ListContactsResult',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)
