# coding: utf-8

"""
    The Selling Partner API for Fulfillment Outbound

    The Selling Partner API for Fulfillment Outbound lets you create applications that help a seller fulfill Multi-Channel Fulfillment orders using their inventory in Amazon's fulfillment network. You can get information on both potential and existing fulfillment orders.

    The version of the OpenAPI document: 2026-07-04
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from spapi.api_client import ApiClient


class FulfillmentOutboundApi(object):
    """NOTE: This class is auto generated by the openapi generator.

    Do not edit the class manually.
    """

    api_models_module = "spapi.models.fulfillment_outbound_v2026_07_04"

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client
        self.classFileName = 'fulfillment_outbound_api'

    def cancel_order(self, order_id, **kwargs):  # noqa: E501
        """cancel_order  # noqa: E501

        Request that Amazon stop attempting to fulfill a fulfillment order.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 30 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.cancel_order(order_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str order_id: The ID of the order that you want to cancel. (required)
        :param str x_amzn_fulfillment_service_id: The identifier of the fulfillment service used for this operation.
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.cancel_order_with_http_info(order_id, **kwargs)  # noqa: E501
        else:
            (data) = self.cancel_order_with_http_info(order_id, **kwargs)  # noqa: E501
            return data

    def cancel_order_with_http_info(self, order_id, **kwargs):  # noqa: E501
        """cancel_order  # noqa: E501

        Request that Amazon stop attempting to fulfill a fulfillment order.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 30 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.cancel_order_with_http_info(order_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str order_id: The ID of the order that you want to cancel. (required)
        :param str x_amzn_fulfillment_service_id: The identifier of the fulfillment service used for this operation.
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['order_id', 'x_amzn_fulfillment_service_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method cancel_order" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'order_id' is set
        if self.api_client.client_side_validation and ('order_id' not in params or
                                                       params['order_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `order_id` when calling `cancel_order`")  # noqa: E501

        if self.api_client.client_side_validation and ('order_id' in params and
                                                       len(params['order_id']) > 40):
            raise ValueError("Invalid value for parameter `order_id` when calling `cancel_order`, length must be less than or equal to `40`")  # noqa: E501
        if self.api_client.client_side_validation and ('x_amzn_fulfillment_service_id' in params and
                                                       len(params['x_amzn_fulfillment_service_id']) > 40):
            raise ValueError("Invalid value for parameter `x_amzn_fulfillment_service_id` when calling `cancel_order`, length must be less than or equal to `40`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'order_id' in params:
            path_params['orderId'] = params['order_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_amzn_fulfillment_service_id' in params:
            header_params['x-amzn-fulfillment-service-id'] = params['x_amzn_fulfillment_service_id']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/fulfillment/outbound/2026-07-04/orders/{orderId}/cancel', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)

    def create_order(self, body, **kwargs):  # noqa: E501
        """create_order  # noqa: E501

        Request that Amazon ship items from the seller's inventory in Amazon's fulfillment network to a destination address.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 30 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_order(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateOrderRequest body: The request body schema for the `createOrder` operation. (required)
        :param str x_amzn_fulfillment_service_id: The identifier of the fulfillment service used for this operation.
        :return: CreateOrderResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_order_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_order_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_order_with_http_info(self, body, **kwargs):  # noqa: E501
        """create_order  # noqa: E501

        Request that Amazon ship items from the seller's inventory in Amazon's fulfillment network to a destination address.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 30 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_order_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateOrderRequest body: The request body schema for the `createOrder` operation. (required)
        :param str x_amzn_fulfillment_service_id: The identifier of the fulfillment service used for this operation.
        :return: CreateOrderResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'x_amzn_fulfillment_service_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_order" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if self.api_client.client_side_validation and ('body' not in params or
                                                       params['body'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `body` when calling `create_order`")  # noqa: E501

        if self.api_client.client_side_validation and ('x_amzn_fulfillment_service_id' in params and
                                                       len(params['x_amzn_fulfillment_service_id']) > 40):
            raise ValueError("Invalid value for parameter `x_amzn_fulfillment_service_id` when calling `create_order`, length must be less than or equal to `40`")  # noqa: E501
        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'x_amzn_fulfillment_service_id' in params:
            header_params['x-amzn-fulfillment-service-id'] = params['x_amzn_fulfillment_service_id']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/fulfillment/outbound/2026-07-04/orders', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CreateOrderResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)

    def get_offers(self, body, **kwargs):  # noqa: E501
        """get_offers  # noqa: E501

        Retrieve delivery options that include an estimated delivery date and offer expiration, based on criteria that you specify.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 5 | 30 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_offers(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param GetOffersRequest body: The request body schema for the `getOffers` operation. (required)
        :param str x_amzn_fulfillment_service_id: The identifier of the fulfillment service used for this operation.
        :return: GetOffersResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_offers_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.get_offers_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def get_offers_with_http_info(self, body, **kwargs):  # noqa: E501
        """get_offers  # noqa: E501

        Retrieve delivery options that include an estimated delivery date and offer expiration, based on criteria that you specify.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 5 | 30 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_offers_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param GetOffersRequest body: The request body schema for the `getOffers` operation. (required)
        :param str x_amzn_fulfillment_service_id: The identifier of the fulfillment service used for this operation.
        :return: GetOffersResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'x_amzn_fulfillment_service_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_offers" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if self.api_client.client_side_validation and ('body' not in params or
                                                       params['body'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `body` when calling `get_offers`")  # noqa: E501

        if self.api_client.client_side_validation and ('x_amzn_fulfillment_service_id' in params and
                                                       len(params['x_amzn_fulfillment_service_id']) > 40):
            raise ValueError("Invalid value for parameter `x_amzn_fulfillment_service_id` when calling `get_offers`, length must be less than or equal to `40`")  # noqa: E501
        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'x_amzn_fulfillment_service_id' in params:
            header_params['x-amzn-fulfillment-service-id'] = params['x_amzn_fulfillment_service_id']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/fulfillment/outbound/2026-07-04/offers', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetOffersResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)

    def get_order(self, order_id, **kwargs):  # noqa: E501
        """get_order  # noqa: E501

        Retrieve a fulfillment order.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 30 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_order(order_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str order_id: The ID of the order you want to retrieve. (required)
        :param str x_amzn_fulfillment_service_id: The identifier of the fulfillment service used for this operation.
        :param str shipments: Whether to include shipment data in the response. Included by default.
        :return: GetOrderResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_order_with_http_info(order_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_order_with_http_info(order_id, **kwargs)  # noqa: E501
            return data

    def get_order_with_http_info(self, order_id, **kwargs):  # noqa: E501
        """get_order  # noqa: E501

        Retrieve a fulfillment order.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 30 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_order_with_http_info(order_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str order_id: The ID of the order you want to retrieve. (required)
        :param str x_amzn_fulfillment_service_id: The identifier of the fulfillment service used for this operation.
        :param str shipments: Whether to include shipment data in the response. Included by default.
        :return: GetOrderResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['order_id', 'x_amzn_fulfillment_service_id', 'shipments']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_order" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'order_id' is set
        if self.api_client.client_side_validation and ('order_id' not in params or
                                                       params['order_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `order_id` when calling `get_order`")  # noqa: E501

        if self.api_client.client_side_validation and ('order_id' in params and
                                                       len(params['order_id']) > 40):
            raise ValueError("Invalid value for parameter `order_id` when calling `get_order`, length must be less than or equal to `40`")  # noqa: E501
        if self.api_client.client_side_validation and ('x_amzn_fulfillment_service_id' in params and
                                                       len(params['x_amzn_fulfillment_service_id']) > 40):
            raise ValueError("Invalid value for parameter `x_amzn_fulfillment_service_id` when calling `get_order`, length must be less than or equal to `40`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'order_id' in params:
            path_params['orderId'] = params['order_id']  # noqa: E501

        query_params = []
        if 'shipments' in params:
            query_params.append(('shipments', params['shipments']))  # noqa: E501

        header_params = {}
        if 'x_amzn_fulfillment_service_id' in params:
            header_params['x-amzn-fulfillment-service-id'] = params['x_amzn_fulfillment_service_id']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/fulfillment/outbound/2026-07-04/orders/{orderId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetOrderResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)

    def get_order_preview(self, body, **kwargs):  # noqa: E501
        """get_order_preview  # noqa: E501

        Retrieve a list of fulfillment order previews based on shipping criteria that you specify.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 30 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_order_preview(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param GetOrderPreviewRequest body: The request body schema for the `getOrderPreview` operation. (required)
        :param str x_amzn_fulfillment_service_id: The identifier of the fulfillment service used for this operation.
        :return: GetOrderPreviewResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_order_preview_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.get_order_preview_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def get_order_preview_with_http_info(self, body, **kwargs):  # noqa: E501
        """get_order_preview  # noqa: E501

        Retrieve a list of fulfillment order previews based on shipping criteria that you specify.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 30 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_order_preview_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param GetOrderPreviewRequest body: The request body schema for the `getOrderPreview` operation. (required)
        :param str x_amzn_fulfillment_service_id: The identifier of the fulfillment service used for this operation.
        :return: GetOrderPreviewResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'x_amzn_fulfillment_service_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_order_preview" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if self.api_client.client_side_validation and ('body' not in params or
                                                       params['body'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `body` when calling `get_order_preview`")  # noqa: E501

        if self.api_client.client_side_validation and ('x_amzn_fulfillment_service_id' in params and
                                                       len(params['x_amzn_fulfillment_service_id']) > 40):
            raise ValueError("Invalid value for parameter `x_amzn_fulfillment_service_id` when calling `get_order_preview`, length must be less than or equal to `40`")  # noqa: E501
        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'x_amzn_fulfillment_service_id' in params:
            header_params['x-amzn-fulfillment-service-id'] = params['x_amzn_fulfillment_service_id']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/fulfillment/outbound/2026-07-04/previews', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetOrderPreviewResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)

    def list_orders(self, **kwargs):  # noqa: E501
        """list_orders  # noqa: E501

        Retrieve a list of fulfillment orders that match the criteria you specify.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 30 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_orders(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str x_amzn_fulfillment_service_id: The identifier of the fulfillment service used for this operation.
        :param datetime updated_after: The response includes orders updated after this time. Must be in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) format.
        :param str page_token: A token that you use to retrieve the next page of results. The response includes `pageToken` when the number of results exceeds the page size. To get the next page of results, call the operation with this token and include the same arguments as the call that produced the token. To get a complete list, call this operation until `pageToken` is `null`.
        :param str shipments: Whether to include shipment data in the response. Included by default.
        :return: ListOrdersResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_orders_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.list_orders_with_http_info(**kwargs)  # noqa: E501
            return data

    def list_orders_with_http_info(self, **kwargs):  # noqa: E501
        """list_orders  # noqa: E501

        Retrieve a list of fulfillment orders that match the criteria you specify.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 30 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_orders_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str x_amzn_fulfillment_service_id: The identifier of the fulfillment service used for this operation.
        :param datetime updated_after: The response includes orders updated after this time. Must be in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) format.
        :param str page_token: A token that you use to retrieve the next page of results. The response includes `pageToken` when the number of results exceeds the page size. To get the next page of results, call the operation with this token and include the same arguments as the call that produced the token. To get a complete list, call this operation until `pageToken` is `null`.
        :param str shipments: Whether to include shipment data in the response. Included by default.
        :return: ListOrdersResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['x_amzn_fulfillment_service_id', 'updated_after', 'page_token', 'shipments']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_orders" % key
                )
            params[key] = val
        del params['kwargs']

        if self.api_client.client_side_validation and ('x_amzn_fulfillment_service_id' in params and
                                                       len(params['x_amzn_fulfillment_service_id']) > 40):
            raise ValueError("Invalid value for parameter `x_amzn_fulfillment_service_id` when calling `list_orders`, length must be less than or equal to `40`")  # noqa: E501
        collection_formats = {}

        path_params = {}

        query_params = []
        if 'updated_after' in params:
            query_params.append(('updatedAfter', params['updated_after']))  # noqa: E501
        if 'page_token' in params:
            query_params.append(('pageToken', params['page_token']))  # noqa: E501
        if 'shipments' in params:
            query_params.append(('shipments', params['shipments']))  # noqa: E501

        header_params = {}
        if 'x_amzn_fulfillment_service_id' in params:
            header_params['x-amzn-fulfillment-service-id'] = params['x_amzn_fulfillment_service_id']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/fulfillment/outbound/2026-07-04/orders', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ListOrdersResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)

    def update_order(self, order_id, body, **kwargs):  # noqa: E501
        """update_order  # noqa: E501

        Update and/or request shipment for a fulfillment order with an order hold on it.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 30 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_order(order_id, body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str order_id: The ID of the order that you want to update and/or request shipment of. (required)
        :param UpdateOrderRequest body: The request body schema for the `updateOrder` operation. (required)
        :param str x_amzn_fulfillment_service_id: The identifier of the fulfillment service used for this operation.
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_order_with_http_info(order_id, body, **kwargs)  # noqa: E501
        else:
            (data) = self.update_order_with_http_info(order_id, body, **kwargs)  # noqa: E501
            return data

    def update_order_with_http_info(self, order_id, body, **kwargs):  # noqa: E501
        """update_order  # noqa: E501

        Update and/or request shipment for a fulfillment order with an order hold on it.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 30 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_order_with_http_info(order_id, body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str order_id: The ID of the order that you want to update and/or request shipment of. (required)
        :param UpdateOrderRequest body: The request body schema for the `updateOrder` operation. (required)
        :param str x_amzn_fulfillment_service_id: The identifier of the fulfillment service used for this operation.
        :return: object
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['order_id', 'body', 'x_amzn_fulfillment_service_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_order" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'order_id' is set
        if self.api_client.client_side_validation and ('order_id' not in params or
                                                       params['order_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `order_id` when calling `update_order`")  # noqa: E501
        # verify the required parameter 'body' is set
        if self.api_client.client_side_validation and ('body' not in params or
                                                       params['body'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `body` when calling `update_order`")  # noqa: E501

        if self.api_client.client_side_validation and ('order_id' in params and
                                                       len(params['order_id']) > 40):
            raise ValueError("Invalid value for parameter `order_id` when calling `update_order`, length must be less than or equal to `40`")  # noqa: E501
        if self.api_client.client_side_validation and ('x_amzn_fulfillment_service_id' in params and
                                                       len(params['x_amzn_fulfillment_service_id']) > 40):
            raise ValueError("Invalid value for parameter `x_amzn_fulfillment_service_id` when calling `update_order`, length must be less than or equal to `40`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'order_id' in params:
            path_params['orderId'] = params['order_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_amzn_fulfillment_service_id' in params:
            header_params['x-amzn-fulfillment-service-id'] = params['x_amzn_fulfillment_service_id']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/fulfillment/outbound/2026-07-04/orders/{orderId}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='object',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)

    def update_order_status(self, order_id, body, **kwargs):  # noqa: E501
        """update_order_status  # noqa: E501

        Request that Amazon update the status of an order in the sandbox testing environment. This is a sandbox-only operation and must be directed to a sandbox endpoint. Refer to [Fulfillment Outbound Dynamic Sandbox Guide](https://developer-docs.amazon.com/sp-api/docs/fulfillment-outbound-dynamic-sandbox-guide) and [Selling Partner API sandbox](https://developer-docs.amazon.com/sp-api/docs/the-selling-partner-api-sandbox) for more information.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_order_status(order_id, body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str order_id: The ID of the order that you want to update. (required)
        :param UpdateOrderStatusRequest body: The new status of the fulfillment order. (required)
        :param str x_amzn_fulfillment_service_id: The identifier of the fulfillment service used for this operation.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_order_status_with_http_info(order_id, body, **kwargs)  # noqa: E501
        else:
            (data) = self.update_order_status_with_http_info(order_id, body, **kwargs)  # noqa: E501
            return data

    def update_order_status_with_http_info(self, order_id, body, **kwargs):  # noqa: E501
        """update_order_status  # noqa: E501

        Request that Amazon update the status of an order in the sandbox testing environment. This is a sandbox-only operation and must be directed to a sandbox endpoint. Refer to [Fulfillment Outbound Dynamic Sandbox Guide](https://developer-docs.amazon.com/sp-api/docs/fulfillment-outbound-dynamic-sandbox-guide) and [Selling Partner API sandbox](https://developer-docs.amazon.com/sp-api/docs/the-selling-partner-api-sandbox) for more information.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_order_status_with_http_info(order_id, body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str order_id: The ID of the order that you want to update. (required)
        :param UpdateOrderStatusRequest body: The new status of the fulfillment order. (required)
        :param str x_amzn_fulfillment_service_id: The identifier of the fulfillment service used for this operation.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['order_id', 'body', 'x_amzn_fulfillment_service_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_order_status" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'order_id' is set
        if self.api_client.client_side_validation and ('order_id' not in params or
                                                       params['order_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `order_id` when calling `update_order_status`")  # noqa: E501
        # verify the required parameter 'body' is set
        if self.api_client.client_side_validation and ('body' not in params or
                                                       params['body'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `body` when calling `update_order_status`")  # noqa: E501

        if self.api_client.client_side_validation and ('order_id' in params and
                                                       len(params['order_id']) > 40):
            raise ValueError("Invalid value for parameter `order_id` when calling `update_order_status`, length must be less than or equal to `40`")  # noqa: E501
        if self.api_client.client_side_validation and ('x_amzn_fulfillment_service_id' in params and
                                                       len(params['x_amzn_fulfillment_service_id']) > 40):
            raise ValueError("Invalid value for parameter `x_amzn_fulfillment_service_id` when calling `update_order_status`, length must be less than or equal to `40`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'order_id' in params:
            path_params['orderId'] = params['order_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_amzn_fulfillment_service_id' in params:
            header_params['x-amzn-fulfillment-service-id'] = params['x_amzn_fulfillment_service_id']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/fulfillment/outbound/2026-07-04/orders/{orderId}/status', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)

    def update_package(self, order_id, package_id, body, **kwargs):  # noqa: E501
        """update_package  # noqa: E501

        Update package information for a specific package in a fulfillment order. This is a sandbox-only operation and must be directed to a sandbox endpoint. Refer to [Fulfillment Outbound Dynamic Sandbox Guide](https://developer-docs.amazon.com/sp-api/docs/fulfillment-outbound-dynamic-sandbox-guide) and [Selling Partner API sandbox](https://developer-docs.amazon.com/sp-api/docs/the-selling-partner-api-sandbox) for more information.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_package(order_id, package_id, body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str order_id: The ID of the order that contains the package that you want to update. (required)
        :param str package_id: The ID of the package that you want to update. (required)
        :param UpdatePackageRequest body: The new package information. (required)
        :param str x_amzn_fulfillment_service_id: The identifier of the fulfillment service used for this operation.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_package_with_http_info(order_id, package_id, body, **kwargs)  # noqa: E501
        else:
            (data) = self.update_package_with_http_info(order_id, package_id, body, **kwargs)  # noqa: E501
            return data

    def update_package_with_http_info(self, order_id, package_id, body, **kwargs):  # noqa: E501
        """update_package  # noqa: E501

        Update package information for a specific package in a fulfillment order. This is a sandbox-only operation and must be directed to a sandbox endpoint. Refer to [Fulfillment Outbound Dynamic Sandbox Guide](https://developer-docs.amazon.com/sp-api/docs/fulfillment-outbound-dynamic-sandbox-guide) and [Selling Partner API sandbox](https://developer-docs.amazon.com/sp-api/docs/the-selling-partner-api-sandbox) for more information.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_package_with_http_info(order_id, package_id, body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str order_id: The ID of the order that contains the package that you want to update. (required)
        :param str package_id: The ID of the package that you want to update. (required)
        :param UpdatePackageRequest body: The new package information. (required)
        :param str x_amzn_fulfillment_service_id: The identifier of the fulfillment service used for this operation.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['order_id', 'package_id', 'body', 'x_amzn_fulfillment_service_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_package" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'order_id' is set
        if self.api_client.client_side_validation and ('order_id' not in params or
                                                       params['order_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `order_id` when calling `update_package`")  # noqa: E501
        # verify the required parameter 'package_id' is set
        if self.api_client.client_side_validation and ('package_id' not in params or
                                                       params['package_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `package_id` when calling `update_package`")  # noqa: E501
        # verify the required parameter 'body' is set
        if self.api_client.client_side_validation and ('body' not in params or
                                                       params['body'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `body` when calling `update_package`")  # noqa: E501

        if self.api_client.client_side_validation and ('order_id' in params and
                                                       len(params['order_id']) > 40):
            raise ValueError("Invalid value for parameter `order_id` when calling `update_package`, length must be less than or equal to `40`")  # noqa: E501
        if self.api_client.client_side_validation and ('x_amzn_fulfillment_service_id' in params and
                                                       len(params['x_amzn_fulfillment_service_id']) > 40):
            raise ValueError("Invalid value for parameter `x_amzn_fulfillment_service_id` when calling `update_package`, length must be less than or equal to `40`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'order_id' in params:
            path_params['orderId'] = params['order_id']  # noqa: E501
        if 'package_id' in params:
            path_params['packageId'] = params['package_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_amzn_fulfillment_service_id' in params:
            header_params['x-amzn-fulfillment-service-id'] = params['x_amzn_fulfillment_service_id']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/fulfillment/outbound/2026-07-04/orders/{orderId}/packages/{packageId}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)
