# coding: utf-8

"""
    The Selling Partner API for Fulfillment Outbound

    The Selling Partner API for Fulfillment Outbound lets you create applications that help a seller fulfill Multi-Channel Fulfillment orders using their inventory in Amazon's fulfillment network. You can get information on both potential and existing fulfillment orders.

    The version of the OpenAPI document: 2026-07-04
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from spapi.api_client import ApiClient


class FulfillmentPreviewsApi(object):
    """NOTE: This class is auto generated by the openapi generator.

    Do not edit the class manually.
    """

    api_models_module = "spapi.spapi.models.fulfillment_outbound_v2026_07_04"

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client
        self.classFileName = 'fulfillment_previews_api'

    def get_order_preview(self, body, **kwargs):  # noqa: E501
        """get_order_preview  # noqa: E501

        Retrieve a list of fulfillment order previews based on shipping criteria that you specify.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 30 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_order_preview(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param GetOrderPreviewRequest body: The request body schema for the `getOrderPreview` operation. (required)
        :param str x_amzn_fulfillment_service_id: The identifier of the fulfillment service used for this operation.
        :return: GetOrderPreviewResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_order_preview_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.get_order_preview_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def get_order_preview_with_http_info(self, body, **kwargs):  # noqa: E501
        """get_order_preview  # noqa: E501

        Retrieve a list of fulfillment order previews based on shipping criteria that you specify.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 30 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_order_preview_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param GetOrderPreviewRequest body: The request body schema for the `getOrderPreview` operation. (required)
        :param str x_amzn_fulfillment_service_id: The identifier of the fulfillment service used for this operation.
        :return: GetOrderPreviewResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'x_amzn_fulfillment_service_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_order_preview" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if self.api_client.client_side_validation and ('body' not in params or
                                                       params['body'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `body` when calling `get_order_preview`")  # noqa: E501

        if self.api_client.client_side_validation and ('x_amzn_fulfillment_service_id' in params and
                                                       len(params['x_amzn_fulfillment_service_id']) > 40):
            raise ValueError("Invalid value for parameter `x_amzn_fulfillment_service_id` when calling `get_order_preview`, length must be less than or equal to `40`")  # noqa: E501
        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'x_amzn_fulfillment_service_id' in params:
            header_params['x-amzn-fulfillment-service-id'] = params['x_amzn_fulfillment_service_id']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/fulfillment/outbound/2026-07-04/previews', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetOrderPreviewResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)
