# PHP SDK Release Artifacts Repository

This repository is dedicated to the **release and distribution of the PHP SDK**.
For development details, issue tracking, and pull requests, please refer to the [Main Repository](https://github.com/amzn/selling-partner-api-sdk).

## Installation

This SDK is distributed via Packagist.
You can install it using Composer.

For more details, please refer to the [Main Repository - PHP](https://github.com/amzn/selling-partner-api-sdk/tree/main/php).

## Important Notes

This repository is **automatically synchronized** from the Main Repository.
**Please do not make direct changes here.**
