/*
 * The Selling Partner API for External Fulfillment Inventory Management
 * You can use the Amazon External Fulfillment Inventory API to manage inventory operations in Amazon's External Fulfillment network, including batch inventory updates and retrievals.
 *
 * OpenAPI spec version: 2024-09-11
 *
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package software.amazon.spapi.api.externalfulfillment.inventory.v2024_09_11;

import com.amazon.SellingPartnerAPIAA.LWAAccessTokenCache;
import com.amazon.SellingPartnerAPIAA.LWAAccessTokenCacheImpl;
import com.amazon.SellingPartnerAPIAA.LWAAuthorizationCredentials;
import com.amazon.SellingPartnerAPIAA.LWAAuthorizationSigner;
import com.amazon.SellingPartnerAPIAA.LWAException;
import com.amazon.SellingPartnerAPIAA.RestrictedDataTokenSigner;
import com.google.gson.reflect.TypeToken;
import io.github.bucket4j.Bucket;
import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import software.amazon.spapi.ApiCallback;
import software.amazon.spapi.ApiClient;
import software.amazon.spapi.ApiException;
import software.amazon.spapi.ApiResponse;
import software.amazon.spapi.Configuration;
import software.amazon.spapi.Pair;
import software.amazon.spapi.ProgressRequestBody;
import software.amazon.spapi.StringUtil;
import software.amazon.spapi.models.externalfulfillment.inventory.v2024_09_11.BatchInventoryRequest;
import software.amazon.spapi.models.externalfulfillment.inventory.v2024_09_11.BatchInventoryResponse;

public class BatchInventoryApi {
    private ApiClient apiClient;
    private Boolean disableRateLimiting;

    public BatchInventoryApi(ApiClient apiClient, Boolean disableRateLimiting) {
        this.apiClient = apiClient;
        this.disableRateLimiting = disableRateLimiting;
    }

    private final Configuration config = Configuration.get();

    public final Bucket batchInventoryBucket = Bucket.builder()
            .addLimit(config.getLimit("BatchInventoryApi-batchInventory"))
            .build();

    /**
     * Build call for batchInventory
     *
     * @param body A list of inventory requests. (required)
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    private okhttp3.Call batchInventoryCall(
            BatchInventoryRequest body, final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath;
        if ("/externalFulfillment/inventory/2024-09-11/inventories"
                .equals("/uploads/2020-11-01/uploadDestinations/{resource}")) {
            localVarPath = "/externalFulfillment/inventory/2024-09-11/inventories";
        } else {
            localVarPath = "/externalFulfillment/inventory/2024-09-11/inventories";
        }

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {"application/json"};
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        return apiClient.buildCall(
                localVarPath,
                "POST",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarPostBody,
                localVarHeaderParams,
                localVarFormParams,
                progressRequestListener);
    }

    private okhttp3.Call batchInventoryValidateBeforeCall(
            BatchInventoryRequest body, final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling batchInventory(Async)");
        }

        return batchInventoryCall(body, progressRequestListener);
    }

    /**
     * Make up to 10 inventory requests. The response includes the set of responses that correspond to requests. The
     * response for each successful request in the set includes the inventory count for the provided &#x60;sku&#x60; and
     * &#x60;locationId&#x60; pair.
     *
     * @param body A list of inventory requests. (required)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return BatchInventoryResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public BatchInventoryResponse batchInventory(BatchInventoryRequest body, String restrictedDataToken)
            throws ApiException, LWAException {
        ApiResponse<BatchInventoryResponse> resp = batchInventoryWithHttpInfo(body, restrictedDataToken);
        return resp.getData();
    }

    /**
     * Make up to 10 inventory requests. The response includes the set of responses that correspond to requests. The
     * response for each successful request in the set includes the inventory count for the provided &#x60;sku&#x60; and
     * &#x60;locationId&#x60; pair.
     *
     * @param body A list of inventory requests. (required)
     * @return BatchInventoryResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public BatchInventoryResponse batchInventory(BatchInventoryRequest body) throws ApiException, LWAException {
        ApiResponse<BatchInventoryResponse> resp = batchInventoryWithHttpInfo(body, null);
        return resp.getData();
    }

    /**
     * Make up to 10 inventory requests. The response includes the set of responses that correspond to requests. The
     * response for each successful request in the set includes the inventory count for the provided &#x60;sku&#x60; and
     * &#x60;locationId&#x60; pair.
     *
     * @param body A list of inventory requests. (required)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return ApiResponse&lt;BatchInventoryResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<BatchInventoryResponse> batchInventoryWithHttpInfo(
            BatchInventoryRequest body, String restrictedDataToken) throws ApiException, LWAException {
        okhttp3.Call call = batchInventoryValidateBeforeCall(body, null);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(request, restrictedDataToken, "BatchInventoryApi-batchInventory");
            call = apiClient.getHttpClient().newCall(request);
        }

        if (disableRateLimiting || batchInventoryBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<BatchInventoryResponse>() {}.getType();
            return apiClient.execute(call, localVarReturnType);
        } else throw new ApiException.RateLimitExceeded("batchInventory operation exceeds rate limit");
    }

    /**
     * Make up to 10 inventory requests. The response includes the set of responses that correspond to requests. The
     * response for each successful request in the set includes the inventory count for the provided &#x60;sku&#x60; and
     * &#x60;locationId&#x60; pair.
     *
     * @param body A list of inventory requests. (required)
     * @return ApiResponse&lt;BatchInventoryResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<BatchInventoryResponse> batchInventoryWithHttpInfo(BatchInventoryRequest body)
            throws ApiException, LWAException {
        return batchInventoryWithHttpInfo(body, null);
    }

    /**
     * (asynchronously) Make up to 10 inventory requests. The response includes the set of responses that correspond to
     * requests. The response for each successful request in the set includes the inventory count for the provided
     * &#x60;sku&#x60; and &#x60;locationId&#x60; pair.
     *
     * @param body A list of inventory requests. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call batchInventoryAsync(
            BatchInventoryRequest body, final ApiCallback<BatchInventoryResponse> callback)
            throws ApiException, LWAException {
        return batchInventoryAsync(body, callback, null);
    }
    /**
     * (asynchronously) Make up to 10 inventory requests. The response includes the set of responses that correspond to
     * requests. The response for each successful request in the set includes the inventory count for the provided
     * &#x60;sku&#x60; and &#x60;locationId&#x60; pair.
     *
     * @param body A list of inventory requests. (required)
     * @param callback The callback to be executed when the API call finishes
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call batchInventoryAsync(
            BatchInventoryRequest body, final ApiCallback<BatchInventoryResponse> callback, String restrictedDataToken)
            throws ApiException, LWAException {

        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressRequestListener = callback::onUploadProgress;
        }

        okhttp3.Call call = batchInventoryValidateBeforeCall(body, progressRequestListener);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(request, restrictedDataToken, "BatchInventoryApi-batchInventory");
            call = apiClient.getHttpClient().newCall(request);
        }

        if (disableRateLimiting || batchInventoryBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<BatchInventoryResponse>() {}.getType();
            apiClient.executeAsync(call, localVarReturnType, callback);
            return call;
        } else throw new ApiException.RateLimitExceeded("batchInventory operation exceeds rate limit");
    }

    public static class Builder {
        private LWAAuthorizationCredentials lwaAuthorizationCredentials;
        private String endpoint;
        private LWAAccessTokenCache lwaAccessTokenCache;
        private Boolean disableAccessTokenCache = false;
        private Boolean disableRateLimiting = false;

        public Builder lwaAuthorizationCredentials(LWAAuthorizationCredentials lwaAuthorizationCredentials) {
            this.lwaAuthorizationCredentials = lwaAuthorizationCredentials;
            return this;
        }

        public Builder endpoint(String endpoint) {
            this.endpoint = endpoint;
            return this;
        }

        public Builder lwaAccessTokenCache(LWAAccessTokenCache lwaAccessTokenCache) {
            this.lwaAccessTokenCache = lwaAccessTokenCache;
            return this;
        }

        public Builder disableAccessTokenCache() {
            this.disableAccessTokenCache = true;
            return this;
        }

        public Builder disableRateLimiting() {
            this.disableRateLimiting = true;
            return this;
        }

        public BatchInventoryApi build() {
            if (lwaAuthorizationCredentials == null) {
                throw new RuntimeException("LWAAuthorizationCredentials not set");
            }

            if (StringUtil.isEmpty(endpoint)) {
                throw new RuntimeException("Endpoint not set");
            }

            LWAAuthorizationSigner lwaAuthorizationSigner = null;
            if (disableAccessTokenCache) {
                lwaAuthorizationSigner = new LWAAuthorizationSigner(lwaAuthorizationCredentials);
            } else {
                if (lwaAccessTokenCache == null) {
                    lwaAccessTokenCache = new LWAAccessTokenCacheImpl();
                }
                lwaAuthorizationSigner = new LWAAuthorizationSigner(lwaAuthorizationCredentials, lwaAccessTokenCache);
            }

            return new BatchInventoryApi(
                    new ApiClient()
                            .setLWAAuthorizationSigner(lwaAuthorizationSigner)
                            .setBasePath(endpoint),
                    disableRateLimiting);
        }
    }
}
