/*
 * The Selling Partner API for Finance Remittance
 * The Selling Partner API for Finance Remittance provides programmatic access to selling partner payment remittance data, including remittance summaries and detailed line items.
 *
 * The version of the OpenAPI document: 2026-03-17
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package software.amazon.spapi.api.financeremittance.v2026_03_17;

import com.amazon.SellingPartnerAPIAA.LWAAccessTokenCache;
import com.amazon.SellingPartnerAPIAA.LWAAccessTokenCacheImpl;
import com.amazon.SellingPartnerAPIAA.LWAAuthorizationCredentials;
import com.amazon.SellingPartnerAPIAA.LWAAuthorizationSigner;
import com.amazon.SellingPartnerAPIAA.LWAException;
import com.amazon.SellingPartnerAPIAA.RestrictedDataTokenSigner;
import com.google.gson.reflect.TypeToken;
import io.github.bucket4j.Bucket;
import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import software.amazon.spapi.ApiCallback;
import software.amazon.spapi.ApiClient;
import software.amazon.spapi.ApiException;
import software.amazon.spapi.ApiResponse;
import software.amazon.spapi.Configuration;
import software.amazon.spapi.Pair;
import software.amazon.spapi.StringUtil;
import software.amazon.spapi.models.financeremittance.v2026_03_17.GetRemittanceResponse;
import software.amazon.spapi.models.financeremittance.v2026_03_17.GetRemittancesResponse;

public class DefaultApi {
    private ApiClient apiClient;
    private Boolean disableRateLimiting;

    public DefaultApi(ApiClient apiClient, Boolean disableRateLimiting) {
        this.apiClient = apiClient;
        this.disableRateLimiting = disableRateLimiting;
    }

    private final Configuration config = Configuration.get();

    public final Bucket getRemittanceBucket = Bucket.builder()
            .addLimit(config.getLimit("DefaultApi-getRemittance"))
            .build();

    public final Bucket getRemittanceHeadersBucket = Bucket.builder()
            .addLimit(config.getLimit("DefaultApi-getRemittanceHeaders"))
            .build();

    /**
     * Build call for getRemittance
     *
     * @param uniquePaymentId The unique identifier for the payment. (required)
     * @param marketplaceId The &#x60;marketplaceId&#x60; is a globally unique identifier used to specify which Amazon
     *     store a request is targeting. For more information, refer to [Store
     *     Identifiers](https://developer-docs.amazon/sp-api/docs/store-identifiers). (required)
     * @param nextTokenForLineItems A token to fetch the next page of results. Use the value returned in the previous
     *     response. (optional)
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    private okhttp3.Call getRemittanceCall(
            String uniquePaymentId,
            String marketplaceId,
            String nextTokenForLineItems,
            final ApiCallback progressRequestListener)
            throws ApiException, LWAException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath;
        if ("/finances/remittances/2026-03-17/remittances/{uniquePaymentId}"
                .equals("/uploads/2020-11-01/uploadDestinations/{resource}")) {
            localVarPath = "/finances/remittances/2026-03-17/remittances/{uniquePaymentId}"
                    .replaceAll("\\{" + "uniquePaymentId" + "\\}", uniquePaymentId.toString());
        } else {
            localVarPath = "/finances/remittances/2026-03-17/remittances/{uniquePaymentId}"
                    .replaceAll("\\{" + "uniquePaymentId" + "\\}", apiClient.escapeString(uniquePaymentId.toString()));
        }

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (marketplaceId != null)
            localVarQueryParams.addAll(apiClient.parameterToPair("marketplaceId", marketplaceId));
        if (nextTokenForLineItems != null)
            localVarQueryParams.addAll(apiClient.parameterToPair("nextTokenForLineItems", nextTokenForLineItems));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {};

        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        return apiClient.buildCall(
                localVarPath,
                "GET",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarPostBody,
                localVarHeaderParams,
                localVarFormParams,
                progressRequestListener);
    }

    private okhttp3.Call getRemittanceValidateBeforeCall(
            String uniquePaymentId,
            String marketplaceId,
            String nextTokenForLineItems,
            final ApiCallback progressRequestListener)
            throws ApiException, LWAException {

        // verify the required parameter 'uniquePaymentId' is set
        if (uniquePaymentId == null) {
            throw new ApiException(
                    "Missing the required parameter 'uniquePaymentId' when calling getRemittance(Async)");
        }

        // verify the required parameter 'marketplaceId' is set
        if (marketplaceId == null) {
            throw new ApiException("Missing the required parameter 'marketplaceId' when calling getRemittance(Async)");
        }

        return getRemittanceCall(uniquePaymentId, marketplaceId, nextTokenForLineItems, progressRequestListener);
    }

    /**
     * Returns detailed line items for a specific remittance. Results are paginated.
     *
     * @param uniquePaymentId The unique identifier for the payment. (required)
     * @param marketplaceId The &#x60;marketplaceId&#x60; is a globally unique identifier used to specify which Amazon
     *     store a request is targeting. For more information, refer to [Store
     *     Identifiers](https://developer-docs.amazon/sp-api/docs/store-identifiers). (required)
     * @param nextTokenForLineItems A token to fetch the next page of results. Use the value returned in the previous
     *     response. (optional)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return GetRemittanceResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public GetRemittanceResponse getRemittance(
            String uniquePaymentId, String marketplaceId, String nextTokenForLineItems, String restrictedDataToken)
            throws ApiException, LWAException {
        ApiResponse<GetRemittanceResponse> resp =
                getRemittanceWithHttpInfo(uniquePaymentId, marketplaceId, nextTokenForLineItems, restrictedDataToken);
        return resp.getData();
    }

    /**
     * Returns detailed line items for a specific remittance. Results are paginated.
     *
     * @param uniquePaymentId The unique identifier for the payment. (required)
     * @param marketplaceId The &#x60;marketplaceId&#x60; is a globally unique identifier used to specify which Amazon
     *     store a request is targeting. For more information, refer to [Store
     *     Identifiers](https://developer-docs.amazon/sp-api/docs/store-identifiers). (required)
     * @param nextTokenForLineItems A token to fetch the next page of results. Use the value returned in the previous
     *     response. (optional)
     * @return GetRemittanceResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public GetRemittanceResponse getRemittance(
            String uniquePaymentId, String marketplaceId, String nextTokenForLineItems)
            throws ApiException, LWAException {
        ApiResponse<GetRemittanceResponse> resp =
                getRemittanceWithHttpInfo(uniquePaymentId, marketplaceId, nextTokenForLineItems, null);
        return resp.getData();
    }

    /**
     * Returns detailed line items for a specific remittance. Results are paginated.
     *
     * @param uniquePaymentId The unique identifier for the payment. (required)
     * @param marketplaceId The &#x60;marketplaceId&#x60; is a globally unique identifier used to specify which Amazon
     *     store a request is targeting. For more information, refer to [Store
     *     Identifiers](https://developer-docs.amazon/sp-api/docs/store-identifiers). (required)
     * @param nextTokenForLineItems A token to fetch the next page of results. Use the value returned in the previous
     *     response. (optional)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return ApiResponse&lt;GetRemittanceResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<GetRemittanceResponse> getRemittanceWithHttpInfo(
            String uniquePaymentId, String marketplaceId, String nextTokenForLineItems, String restrictedDataToken)
            throws ApiException, LWAException {
        okhttp3.Call call =
                getRemittanceValidateBeforeCall(uniquePaymentId, marketplaceId, nextTokenForLineItems, null);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(request, restrictedDataToken, "DefaultApi-getRemittance");
            call = apiClient.getHttpClient().newCall(request);
        }

        if (disableRateLimiting || getRemittanceBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<GetRemittanceResponse>() {}.getType();
            return apiClient.execute(call, localVarReturnType);
        } else throw new ApiException.RateLimitExceeded("getRemittance operation exceeds rate limit");
    }

    /**
     * Returns detailed line items for a specific remittance. Results are paginated.
     *
     * @param uniquePaymentId The unique identifier for the payment. (required)
     * @param marketplaceId The &#x60;marketplaceId&#x60; is a globally unique identifier used to specify which Amazon
     *     store a request is targeting. For more information, refer to [Store
     *     Identifiers](https://developer-docs.amazon/sp-api/docs/store-identifiers). (required)
     * @param nextTokenForLineItems A token to fetch the next page of results. Use the value returned in the previous
     *     response. (optional)
     * @return ApiResponse&lt;GetRemittanceResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<GetRemittanceResponse> getRemittanceWithHttpInfo(
            String uniquePaymentId, String marketplaceId, String nextTokenForLineItems)
            throws ApiException, LWAException {
        return getRemittanceWithHttpInfo(uniquePaymentId, marketplaceId, nextTokenForLineItems, null);
    }

    /**
     * (asynchronously) Returns detailed line items for a specific remittance. Results are paginated.
     *
     * @param uniquePaymentId The unique identifier for the payment. (required)
     * @param marketplaceId The &#x60;marketplaceId&#x60; is a globally unique identifier used to specify which Amazon
     *     store a request is targeting. For more information, refer to [Store
     *     Identifiers](https://developer-docs.amazon/sp-api/docs/store-identifiers). (required)
     * @param nextTokenForLineItems A token to fetch the next page of results. Use the value returned in the previous
     *     response. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call getRemittanceAsync(
            String uniquePaymentId,
            String marketplaceId,
            String nextTokenForLineItems,
            final ApiCallback<GetRemittanceResponse> callback)
            throws ApiException, LWAException {
        return getRemittanceAsync(uniquePaymentId, marketplaceId, nextTokenForLineItems, callback, null);
    }
    /**
     * (asynchronously) Returns detailed line items for a specific remittance. Results are paginated.
     *
     * @param uniquePaymentId The unique identifier for the payment. (required)
     * @param marketplaceId The &#x60;marketplaceId&#x60; is a globally unique identifier used to specify which Amazon
     *     store a request is targeting. For more information, refer to [Store
     *     Identifiers](https://developer-docs.amazon/sp-api/docs/store-identifiers). (required)
     * @param nextTokenForLineItems A token to fetch the next page of results. Use the value returned in the previous
     *     response. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call getRemittanceAsync(
            String uniquePaymentId,
            String marketplaceId,
            String nextTokenForLineItems,
            final ApiCallback<GetRemittanceResponse> callback,
            String restrictedDataToken)
            throws ApiException, LWAException {

        ApiCallback progressRequestListener = null;

        if (callback != null) {
            progressRequestListener = callback;
        }

        okhttp3.Call call = getRemittanceValidateBeforeCall(
                uniquePaymentId, marketplaceId, nextTokenForLineItems, progressRequestListener);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(request, restrictedDataToken, "DefaultApi-getRemittance");
            call = apiClient.getHttpClient().newCall(request);
        }

        if (disableRateLimiting || getRemittanceBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<GetRemittanceResponse>() {}.getType();
            apiClient.executeAsync(call, localVarReturnType, callback);
            return call;
        } else throw new ApiException.RateLimitExceeded("getRemittance operation exceeds rate limit");
    }
    /**
     * Build call for getRemittanceHeaders
     *
     * @param marketplaceId The &#x60;marketplaceId&#x60; is a globally unique identifier used to specify which Amazon
     *     store a request is targeting. For more information, refer to [Store
     *     Identifiers](https://developer-docs.amazon/sp-api/docs/store-identifiers). (required)
     * @param startDate The earliest payment date for remittances to include in the response. Dates are in ISO 8601
     *     date-time format. The default is 30 days prior to the time of the request. The minimum start date is one year
     *     ago from the current date. (optional)
     * @param endDate The latest payment date for remittances to include in the response. Dates are in ISO 8601
     *     date-time format. The default is the current date-time. The maximum date range between &#x60;startDate&#x60;
     *     and &#x60;endDate&#x60; is 90 days. (optional)
     * @param nextToken A token to fetch the next page of results. Use the value returned in the previous response.
     *     (optional)
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    private okhttp3.Call getRemittanceHeadersCall(
            String marketplaceId,
            String startDate,
            String endDate,
            String nextToken,
            final ApiCallback progressRequestListener)
            throws ApiException, LWAException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath;
        if ("/finances/remittances/2026-03-17/remittances"
                .equals("/uploads/2020-11-01/uploadDestinations/{resource}")) {
            localVarPath = "/finances/remittances/2026-03-17/remittances";
        } else {
            localVarPath = "/finances/remittances/2026-03-17/remittances";
        }

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (marketplaceId != null)
            localVarQueryParams.addAll(apiClient.parameterToPair("marketplaceId", marketplaceId));
        if (startDate != null) localVarQueryParams.addAll(apiClient.parameterToPair("startDate", startDate));
        if (endDate != null) localVarQueryParams.addAll(apiClient.parameterToPair("endDate", endDate));
        if (nextToken != null) localVarQueryParams.addAll(apiClient.parameterToPair("nextToken", nextToken));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {};

        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        return apiClient.buildCall(
                localVarPath,
                "GET",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarPostBody,
                localVarHeaderParams,
                localVarFormParams,
                progressRequestListener);
    }

    private okhttp3.Call getRemittanceHeadersValidateBeforeCall(
            String marketplaceId,
            String startDate,
            String endDate,
            String nextToken,
            final ApiCallback progressRequestListener)
            throws ApiException, LWAException {

        // verify the required parameter 'marketplaceId' is set
        if (marketplaceId == null) {
            throw new ApiException(
                    "Missing the required parameter 'marketplaceId' when calling getRemittanceHeaders(Async)");
        }

        return getRemittanceHeadersCall(marketplaceId, startDate, endDate, nextToken, progressRequestListener);
    }

    /**
     * Returns a list of remittance summaries for the specified Amazon store, filtered by date range. Results are
     * paginated.
     *
     * @param marketplaceId The &#x60;marketplaceId&#x60; is a globally unique identifier used to specify which Amazon
     *     store a request is targeting. For more information, refer to [Store
     *     Identifiers](https://developer-docs.amazon/sp-api/docs/store-identifiers). (required)
     * @param startDate The earliest payment date for remittances to include in the response. Dates are in ISO 8601
     *     date-time format. The default is 30 days prior to the time of the request. The minimum start date is one year
     *     ago from the current date. (optional)
     * @param endDate The latest payment date for remittances to include in the response. Dates are in ISO 8601
     *     date-time format. The default is the current date-time. The maximum date range between &#x60;startDate&#x60;
     *     and &#x60;endDate&#x60; is 90 days. (optional)
     * @param nextToken A token to fetch the next page of results. Use the value returned in the previous response.
     *     (optional)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return GetRemittancesResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public GetRemittancesResponse getRemittanceHeaders(
            String marketplaceId, String startDate, String endDate, String nextToken, String restrictedDataToken)
            throws ApiException, LWAException {
        ApiResponse<GetRemittancesResponse> resp =
                getRemittanceHeadersWithHttpInfo(marketplaceId, startDate, endDate, nextToken, restrictedDataToken);
        return resp.getData();
    }

    /**
     * Returns a list of remittance summaries for the specified Amazon store, filtered by date range. Results are
     * paginated.
     *
     * @param marketplaceId The &#x60;marketplaceId&#x60; is a globally unique identifier used to specify which Amazon
     *     store a request is targeting. For more information, refer to [Store
     *     Identifiers](https://developer-docs.amazon/sp-api/docs/store-identifiers). (required)
     * @param startDate The earliest payment date for remittances to include in the response. Dates are in ISO 8601
     *     date-time format. The default is 30 days prior to the time of the request. The minimum start date is one year
     *     ago from the current date. (optional)
     * @param endDate The latest payment date for remittances to include in the response. Dates are in ISO 8601
     *     date-time format. The default is the current date-time. The maximum date range between &#x60;startDate&#x60;
     *     and &#x60;endDate&#x60; is 90 days. (optional)
     * @param nextToken A token to fetch the next page of results. Use the value returned in the previous response.
     *     (optional)
     * @return GetRemittancesResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public GetRemittancesResponse getRemittanceHeaders(
            String marketplaceId, String startDate, String endDate, String nextToken)
            throws ApiException, LWAException {
        ApiResponse<GetRemittancesResponse> resp =
                getRemittanceHeadersWithHttpInfo(marketplaceId, startDate, endDate, nextToken, null);
        return resp.getData();
    }

    /**
     * Returns a list of remittance summaries for the specified Amazon store, filtered by date range. Results are
     * paginated.
     *
     * @param marketplaceId The &#x60;marketplaceId&#x60; is a globally unique identifier used to specify which Amazon
     *     store a request is targeting. For more information, refer to [Store
     *     Identifiers](https://developer-docs.amazon/sp-api/docs/store-identifiers). (required)
     * @param startDate The earliest payment date for remittances to include in the response. Dates are in ISO 8601
     *     date-time format. The default is 30 days prior to the time of the request. The minimum start date is one year
     *     ago from the current date. (optional)
     * @param endDate The latest payment date for remittances to include in the response. Dates are in ISO 8601
     *     date-time format. The default is the current date-time. The maximum date range between &#x60;startDate&#x60;
     *     and &#x60;endDate&#x60; is 90 days. (optional)
     * @param nextToken A token to fetch the next page of results. Use the value returned in the previous response.
     *     (optional)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return ApiResponse&lt;GetRemittancesResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<GetRemittancesResponse> getRemittanceHeadersWithHttpInfo(
            String marketplaceId, String startDate, String endDate, String nextToken, String restrictedDataToken)
            throws ApiException, LWAException {
        okhttp3.Call call = getRemittanceHeadersValidateBeforeCall(marketplaceId, startDate, endDate, nextToken, null);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(request, restrictedDataToken, "DefaultApi-getRemittanceHeaders");
            call = apiClient.getHttpClient().newCall(request);
        }

        if (disableRateLimiting || getRemittanceHeadersBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<GetRemittancesResponse>() {}.getType();
            return apiClient.execute(call, localVarReturnType);
        } else throw new ApiException.RateLimitExceeded("getRemittanceHeaders operation exceeds rate limit");
    }

    /**
     * Returns a list of remittance summaries for the specified Amazon store, filtered by date range. Results are
     * paginated.
     *
     * @param marketplaceId The &#x60;marketplaceId&#x60; is a globally unique identifier used to specify which Amazon
     *     store a request is targeting. For more information, refer to [Store
     *     Identifiers](https://developer-docs.amazon/sp-api/docs/store-identifiers). (required)
     * @param startDate The earliest payment date for remittances to include in the response. Dates are in ISO 8601
     *     date-time format. The default is 30 days prior to the time of the request. The minimum start date is one year
     *     ago from the current date. (optional)
     * @param endDate The latest payment date for remittances to include in the response. Dates are in ISO 8601
     *     date-time format. The default is the current date-time. The maximum date range between &#x60;startDate&#x60;
     *     and &#x60;endDate&#x60; is 90 days. (optional)
     * @param nextToken A token to fetch the next page of results. Use the value returned in the previous response.
     *     (optional)
     * @return ApiResponse&lt;GetRemittancesResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<GetRemittancesResponse> getRemittanceHeadersWithHttpInfo(
            String marketplaceId, String startDate, String endDate, String nextToken)
            throws ApiException, LWAException {
        return getRemittanceHeadersWithHttpInfo(marketplaceId, startDate, endDate, nextToken, null);
    }

    /**
     * (asynchronously) Returns a list of remittance summaries for the specified Amazon store, filtered by date range.
     * Results are paginated.
     *
     * @param marketplaceId The &#x60;marketplaceId&#x60; is a globally unique identifier used to specify which Amazon
     *     store a request is targeting. For more information, refer to [Store
     *     Identifiers](https://developer-docs.amazon/sp-api/docs/store-identifiers). (required)
     * @param startDate The earliest payment date for remittances to include in the response. Dates are in ISO 8601
     *     date-time format. The default is 30 days prior to the time of the request. The minimum start date is one year
     *     ago from the current date. (optional)
     * @param endDate The latest payment date for remittances to include in the response. Dates are in ISO 8601
     *     date-time format. The default is the current date-time. The maximum date range between &#x60;startDate&#x60;
     *     and &#x60;endDate&#x60; is 90 days. (optional)
     * @param nextToken A token to fetch the next page of results. Use the value returned in the previous response.
     *     (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call getRemittanceHeadersAsync(
            String marketplaceId,
            String startDate,
            String endDate,
            String nextToken,
            final ApiCallback<GetRemittancesResponse> callback)
            throws ApiException, LWAException {
        return getRemittanceHeadersAsync(marketplaceId, startDate, endDate, nextToken, callback, null);
    }
    /**
     * (asynchronously) Returns a list of remittance summaries for the specified Amazon store, filtered by date range.
     * Results are paginated.
     *
     * @param marketplaceId The &#x60;marketplaceId&#x60; is a globally unique identifier used to specify which Amazon
     *     store a request is targeting. For more information, refer to [Store
     *     Identifiers](https://developer-docs.amazon/sp-api/docs/store-identifiers). (required)
     * @param startDate The earliest payment date for remittances to include in the response. Dates are in ISO 8601
     *     date-time format. The default is 30 days prior to the time of the request. The minimum start date is one year
     *     ago from the current date. (optional)
     * @param endDate The latest payment date for remittances to include in the response. Dates are in ISO 8601
     *     date-time format. The default is the current date-time. The maximum date range between &#x60;startDate&#x60;
     *     and &#x60;endDate&#x60; is 90 days. (optional)
     * @param nextToken A token to fetch the next page of results. Use the value returned in the previous response.
     *     (optional)
     * @param callback The callback to be executed when the API call finishes
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call getRemittanceHeadersAsync(
            String marketplaceId,
            String startDate,
            String endDate,
            String nextToken,
            final ApiCallback<GetRemittancesResponse> callback,
            String restrictedDataToken)
            throws ApiException, LWAException {

        ApiCallback progressRequestListener = null;

        if (callback != null) {
            progressRequestListener = callback;
        }

        okhttp3.Call call = getRemittanceHeadersValidateBeforeCall(
                marketplaceId, startDate, endDate, nextToken, progressRequestListener);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(request, restrictedDataToken, "DefaultApi-getRemittanceHeaders");
            call = apiClient.getHttpClient().newCall(request);
        }

        if (disableRateLimiting || getRemittanceHeadersBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<GetRemittancesResponse>() {}.getType();
            apiClient.executeAsync(call, localVarReturnType, callback);
            return call;
        } else throw new ApiException.RateLimitExceeded("getRemittanceHeaders operation exceeds rate limit");
    }

    public static class Builder {
        private LWAAuthorizationCredentials lwaAuthorizationCredentials;
        private String endpoint;
        private LWAAccessTokenCache lwaAccessTokenCache;
        private Boolean disableAccessTokenCache = false;
        private Boolean disableRateLimiting = false;

        public Builder lwaAuthorizationCredentials(LWAAuthorizationCredentials lwaAuthorizationCredentials) {
            this.lwaAuthorizationCredentials = lwaAuthorizationCredentials;
            return this;
        }

        public Builder endpoint(String endpoint) {
            this.endpoint = endpoint;
            return this;
        }

        public Builder lwaAccessTokenCache(LWAAccessTokenCache lwaAccessTokenCache) {
            this.lwaAccessTokenCache = lwaAccessTokenCache;
            return this;
        }

        public Builder disableAccessTokenCache() {
            this.disableAccessTokenCache = true;
            return this;
        }

        public Builder disableRateLimiting() {
            this.disableRateLimiting = true;
            return this;
        }

        public DefaultApi build() {
            if (lwaAuthorizationCredentials == null) {
                throw new RuntimeException("LWAAuthorizationCredentials not set");
            }

            if (StringUtil.isEmpty(endpoint)) {
                throw new RuntimeException("Endpoint not set");
            }

            LWAAuthorizationSigner lwaAuthorizationSigner = null;
            if (disableAccessTokenCache) {
                lwaAuthorizationSigner = new LWAAuthorizationSigner(lwaAuthorizationCredentials);
            } else {
                if (lwaAccessTokenCache == null) {
                    lwaAccessTokenCache = new LWAAccessTokenCacheImpl();
                }
                lwaAuthorizationSigner = new LWAAuthorizationSigner(lwaAuthorizationCredentials, lwaAccessTokenCache);
            }

            return new DefaultApi(
                    new ApiClient()
                            .setLWAAuthorizationSigner(lwaAuthorizationSigner)
                            .setBasePath(endpoint),
                    disableRateLimiting);
        }
    }
}
