/*
 * The Selling Partner API for Invoices
 * The Selling Partner API for Invoices enables you to retrieve invoice data and streamline your bookkeeping processes.
 *
 * The version of the OpenAPI document: 2026-06-25
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package software.amazon.spapi.api.finances.invoices.v2026_06_25;

import com.amazon.SellingPartnerAPIAA.LWAAccessTokenCache;
import com.amazon.SellingPartnerAPIAA.LWAAccessTokenCacheImpl;
import com.amazon.SellingPartnerAPIAA.LWAAuthorizationCredentials;
import com.amazon.SellingPartnerAPIAA.LWAAuthorizationSigner;
import com.amazon.SellingPartnerAPIAA.LWAException;
import com.amazon.SellingPartnerAPIAA.RestrictedDataTokenSigner;
import com.google.gson.reflect.TypeToken;
import io.github.bucket4j.Bucket;
import java.lang.reflect.Type;
import java.time.OffsetDateTime;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import software.amazon.spapi.ApiCallback;
import software.amazon.spapi.ApiClient;
import software.amazon.spapi.ApiException;
import software.amazon.spapi.ApiResponse;
import software.amazon.spapi.Configuration;
import software.amazon.spapi.Pair;
import software.amazon.spapi.ProgressRequestBody;
import software.amazon.spapi.StringUtil;
import software.amazon.spapi.models.finances.invoices.v2026_06_25.GetInvoiceResponse;
import software.amazon.spapi.models.finances.invoices.v2026_06_25.GetInvoicesResponse;

public class DefaultApi {
    private ApiClient apiClient;
    private Boolean disableRateLimiting;

    public DefaultApi(ApiClient apiClient, Boolean disableRateLimiting) {
        this.apiClient = apiClient;
        this.disableRateLimiting = disableRateLimiting;
    }

    private final Configuration config = Configuration.get();

    public final Bucket getInvoiceBucket =
            Bucket.builder().addLimit(config.getLimit("DefaultApi-getInvoice")).build();

    public final Bucket getInvoiceHeadersBucket = Bucket.builder()
            .addLimit(config.getLimit("DefaultApi-getInvoiceHeaders"))
            .build();

    /**
     * Build call for getInvoice
     *
     * @param marketplaceId The marketplace ID of the marketplace of the invoice. The marketplace ID is a globally
     *     unique identifier used to specify an Amazon marketplace. For more information, refer to [Marketplace
     *     IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (required)
     * @param invoiceIdentifier The unique identifier for an invoice. This field is also returned as part of the
     *     &#x60;InvoiceHeader&#x60; element in the response. For AP-Inventory invoices the identifier is formatted as
     *     &#x60;InvoiceNumber~PayeeCode&#x60;. (required)
     * @param nextTokenForLineItems The response includes &#x60;nextTokenForLineItems&#x60; when the number of line
     *     items exceeds the default page size (600). To get the next page of line items, call the operation with this
     *     token, including the same request parameters as the call that generated the token. (optional)
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    private okhttp3.Call getInvoiceCall(
            String marketplaceId,
            String invoiceIdentifier,
            String nextTokenForLineItems,
            final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath;
        if ("/finances/invoices/2026-06-25/invoices/{invoiceIdentifier}"
                .equals("/uploads/2020-11-01/uploadDestinations/{resource}")) {
            localVarPath = "/finances/invoices/2026-06-25/invoices/{invoiceIdentifier}"
                    .replaceAll("\\{" + "invoiceIdentifier" + "\\}", invoiceIdentifier.toString());
        } else {
            localVarPath = "/finances/invoices/2026-06-25/invoices/{invoiceIdentifier}"
                    .replaceAll(
                            "\\{" + "invoiceIdentifier" + "\\}", apiClient.escapeString(invoiceIdentifier.toString()));
        }

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (marketplaceId != null)
            localVarQueryParams.addAll(apiClient.parameterToPair("marketplaceId", marketplaceId));
        if (nextTokenForLineItems != null)
            localVarQueryParams.addAll(apiClient.parameterToPair("nextTokenForLineItems", nextTokenForLineItems));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {};

        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        return apiClient.buildCall(
                localVarPath,
                "GET",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarPostBody,
                localVarHeaderParams,
                localVarFormParams,
                progressRequestListener);
    }

    private okhttp3.Call getInvoiceValidateBeforeCall(
            String marketplaceId,
            String invoiceIdentifier,
            String nextTokenForLineItems,
            final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {

        // verify the required parameter 'marketplaceId' is set
        if (marketplaceId == null) {
            throw new ApiException("Missing the required parameter 'marketplaceId' when calling getInvoice(Async)");
        }

        // verify the required parameter 'invoiceIdentifier' is set
        if (invoiceIdentifier == null) {
            throw new ApiException("Missing the required parameter 'invoiceIdentifier' when calling getInvoice(Async)");
        }

        return getInvoiceCall(marketplaceId, invoiceIdentifier, nextTokenForLineItems, progressRequestListener);
    }

    /**
     * Returns invoice details, including header and line items, for the specified invoice.
     *
     * @param marketplaceId The marketplace ID of the marketplace of the invoice. The marketplace ID is a globally
     *     unique identifier used to specify an Amazon marketplace. For more information, refer to [Marketplace
     *     IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (required)
     * @param invoiceIdentifier The unique identifier for an invoice. This field is also returned as part of the
     *     &#x60;InvoiceHeader&#x60; element in the response. For AP-Inventory invoices the identifier is formatted as
     *     &#x60;InvoiceNumber~PayeeCode&#x60;. (required)
     * @param nextTokenForLineItems The response includes &#x60;nextTokenForLineItems&#x60; when the number of line
     *     items exceeds the default page size (600). To get the next page of line items, call the operation with this
     *     token, including the same request parameters as the call that generated the token. (optional)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return GetInvoiceResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public GetInvoiceResponse getInvoice(
            String marketplaceId, String invoiceIdentifier, String nextTokenForLineItems, String restrictedDataToken)
            throws ApiException, LWAException {
        ApiResponse<GetInvoiceResponse> resp =
                getInvoiceWithHttpInfo(marketplaceId, invoiceIdentifier, nextTokenForLineItems, restrictedDataToken);
        return resp.getData();
    }

    /**
     * Returns invoice details, including header and line items, for the specified invoice.
     *
     * @param marketplaceId The marketplace ID of the marketplace of the invoice. The marketplace ID is a globally
     *     unique identifier used to specify an Amazon marketplace. For more information, refer to [Marketplace
     *     IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (required)
     * @param invoiceIdentifier The unique identifier for an invoice. This field is also returned as part of the
     *     &#x60;InvoiceHeader&#x60; element in the response. For AP-Inventory invoices the identifier is formatted as
     *     &#x60;InvoiceNumber~PayeeCode&#x60;. (required)
     * @param nextTokenForLineItems The response includes &#x60;nextTokenForLineItems&#x60; when the number of line
     *     items exceeds the default page size (600). To get the next page of line items, call the operation with this
     *     token, including the same request parameters as the call that generated the token. (optional)
     * @return GetInvoiceResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public GetInvoiceResponse getInvoice(String marketplaceId, String invoiceIdentifier, String nextTokenForLineItems)
            throws ApiException, LWAException {
        ApiResponse<GetInvoiceResponse> resp =
                getInvoiceWithHttpInfo(marketplaceId, invoiceIdentifier, nextTokenForLineItems, null);
        return resp.getData();
    }

    /**
     * Returns invoice details, including header and line items, for the specified invoice.
     *
     * @param marketplaceId The marketplace ID of the marketplace of the invoice. The marketplace ID is a globally
     *     unique identifier used to specify an Amazon marketplace. For more information, refer to [Marketplace
     *     IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (required)
     * @param invoiceIdentifier The unique identifier for an invoice. This field is also returned as part of the
     *     &#x60;InvoiceHeader&#x60; element in the response. For AP-Inventory invoices the identifier is formatted as
     *     &#x60;InvoiceNumber~PayeeCode&#x60;. (required)
     * @param nextTokenForLineItems The response includes &#x60;nextTokenForLineItems&#x60; when the number of line
     *     items exceeds the default page size (600). To get the next page of line items, call the operation with this
     *     token, including the same request parameters as the call that generated the token. (optional)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return ApiResponse&lt;GetInvoiceResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<GetInvoiceResponse> getInvoiceWithHttpInfo(
            String marketplaceId, String invoiceIdentifier, String nextTokenForLineItems, String restrictedDataToken)
            throws ApiException, LWAException {
        okhttp3.Call call = getInvoiceValidateBeforeCall(marketplaceId, invoiceIdentifier, nextTokenForLineItems, null);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(request, restrictedDataToken, "DefaultApi-getInvoice");
            call = apiClient.getHttpClient().newCall(request);
        }

        if (disableRateLimiting || getInvoiceBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<GetInvoiceResponse>() {}.getType();
            return apiClient.execute(call, localVarReturnType);
        } else throw new ApiException.RateLimitExceeded("getInvoice operation exceeds rate limit");
    }

    /**
     * Returns invoice details, including header and line items, for the specified invoice.
     *
     * @param marketplaceId The marketplace ID of the marketplace of the invoice. The marketplace ID is a globally
     *     unique identifier used to specify an Amazon marketplace. For more information, refer to [Marketplace
     *     IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (required)
     * @param invoiceIdentifier The unique identifier for an invoice. This field is also returned as part of the
     *     &#x60;InvoiceHeader&#x60; element in the response. For AP-Inventory invoices the identifier is formatted as
     *     &#x60;InvoiceNumber~PayeeCode&#x60;. (required)
     * @param nextTokenForLineItems The response includes &#x60;nextTokenForLineItems&#x60; when the number of line
     *     items exceeds the default page size (600). To get the next page of line items, call the operation with this
     *     token, including the same request parameters as the call that generated the token. (optional)
     * @return ApiResponse&lt;GetInvoiceResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<GetInvoiceResponse> getInvoiceWithHttpInfo(
            String marketplaceId, String invoiceIdentifier, String nextTokenForLineItems)
            throws ApiException, LWAException {
        return getInvoiceWithHttpInfo(marketplaceId, invoiceIdentifier, nextTokenForLineItems, null);
    }

    /**
     * (asynchronously) Returns invoice details, including header and line items, for the specified invoice.
     *
     * @param marketplaceId The marketplace ID of the marketplace of the invoice. The marketplace ID is a globally
     *     unique identifier used to specify an Amazon marketplace. For more information, refer to [Marketplace
     *     IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (required)
     * @param invoiceIdentifier The unique identifier for an invoice. This field is also returned as part of the
     *     &#x60;InvoiceHeader&#x60; element in the response. For AP-Inventory invoices the identifier is formatted as
     *     &#x60;InvoiceNumber~PayeeCode&#x60;. (required)
     * @param nextTokenForLineItems The response includes &#x60;nextTokenForLineItems&#x60; when the number of line
     *     items exceeds the default page size (600). To get the next page of line items, call the operation with this
     *     token, including the same request parameters as the call that generated the token. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call getInvoiceAsync(
            String marketplaceId,
            String invoiceIdentifier,
            String nextTokenForLineItems,
            final ApiCallback<GetInvoiceResponse> callback)
            throws ApiException, LWAException {
        return getInvoiceAsync(marketplaceId, invoiceIdentifier, nextTokenForLineItems, callback, null);
    }
    /**
     * (asynchronously) Returns invoice details, including header and line items, for the specified invoice.
     *
     * @param marketplaceId The marketplace ID of the marketplace of the invoice. The marketplace ID is a globally
     *     unique identifier used to specify an Amazon marketplace. For more information, refer to [Marketplace
     *     IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (required)
     * @param invoiceIdentifier The unique identifier for an invoice. This field is also returned as part of the
     *     &#x60;InvoiceHeader&#x60; element in the response. For AP-Inventory invoices the identifier is formatted as
     *     &#x60;InvoiceNumber~PayeeCode&#x60;. (required)
     * @param nextTokenForLineItems The response includes &#x60;nextTokenForLineItems&#x60; when the number of line
     *     items exceeds the default page size (600). To get the next page of line items, call the operation with this
     *     token, including the same request parameters as the call that generated the token. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call getInvoiceAsync(
            String marketplaceId,
            String invoiceIdentifier,
            String nextTokenForLineItems,
            final ApiCallback<GetInvoiceResponse> callback,
            String restrictedDataToken)
            throws ApiException, LWAException {

        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressRequestListener = callback::onUploadProgress;
        }

        okhttp3.Call call = getInvoiceValidateBeforeCall(
                marketplaceId, invoiceIdentifier, nextTokenForLineItems, progressRequestListener);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(request, restrictedDataToken, "DefaultApi-getInvoice");
            call = apiClient.getHttpClient().newCall(request);
        }

        if (disableRateLimiting || getInvoiceBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<GetInvoiceResponse>() {}.getType();
            apiClient.executeAsync(call, localVarReturnType, callback);
            return call;
        } else throw new ApiException.RateLimitExceeded("getInvoice operation exceeds rate limit");
    }
    /**
     * Build call for getInvoiceHeaders
     *
     * @param marketplaceId The marketplace ID of the marketplace from which you want to retrieve invoice headers. The
     *     marketplace ID is a globally unique identifier used to specify which Amazon marketplace a request is
     *     targeting. For more information, refer to [Marketplace
     *     IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (required)
     * @param nextToken The response includes &#x60;nextToken&#x60; when the number of invoices exceeds the default page
     *     size value (100). To get the next page of results, call the operation with this token and include the same
     *     arguments as the call that produced the token. To get a complete list, call this operation until
     *     &#x60;nextToken&#x60; is &#x60;null&#x60;. Note that this operation can return empty pages. (optional)
     * @param fromIssueDate Retrieve invoice headers issued after this date. The range between &#x60;fromIssueDate&#x60;
     *     and &#x60;toIssueDate&#x60; must not exceed 90 days. Either provide both dates or leave both empty. If you do
     *     not provide these dates, &#x60;fromIssueDate&#x60; defaults to 90 days before the date of the request. In
     *     [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param toIssueDate Retrieve invoice headers issued before this date. The range between &#x60;fromIssueDate&#x60;
     *     and &#x60;toIssueDate&#x60; must not exceed 90 days. Either provide both dates or leave both empty. If you do
     *     not provide these dates, &#x60;toIssueDate&#x60; defaults to the date of the request. In [ISO
     *     8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param invoicesModifiedAfter Retrieve invoices that were modified after this date-time. In [ISO
     *     8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    private okhttp3.Call getInvoiceHeadersCall(
            String marketplaceId,
            String nextToken,
            OffsetDateTime fromIssueDate,
            OffsetDateTime toIssueDate,
            OffsetDateTime invoicesModifiedAfter,
            final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath;
        if ("/finances/invoices/2026-06-25/invoices".equals("/uploads/2020-11-01/uploadDestinations/{resource}")) {
            localVarPath = "/finances/invoices/2026-06-25/invoices";
        } else {
            localVarPath = "/finances/invoices/2026-06-25/invoices";
        }

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (nextToken != null) localVarQueryParams.addAll(apiClient.parameterToPair("nextToken", nextToken));
        if (marketplaceId != null)
            localVarQueryParams.addAll(apiClient.parameterToPair("marketplaceId", marketplaceId));
        if (fromIssueDate != null)
            localVarQueryParams.addAll(apiClient.parameterToPair("fromIssueDate", fromIssueDate));
        if (toIssueDate != null) localVarQueryParams.addAll(apiClient.parameterToPair("toIssueDate", toIssueDate));
        if (invoicesModifiedAfter != null)
            localVarQueryParams.addAll(apiClient.parameterToPair("invoicesModifiedAfter", invoicesModifiedAfter));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {};

        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        return apiClient.buildCall(
                localVarPath,
                "GET",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarPostBody,
                localVarHeaderParams,
                localVarFormParams,
                progressRequestListener);
    }

    private okhttp3.Call getInvoiceHeadersValidateBeforeCall(
            String marketplaceId,
            String nextToken,
            OffsetDateTime fromIssueDate,
            OffsetDateTime toIssueDate,
            OffsetDateTime invoicesModifiedAfter,
            final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {

        // verify the required parameter 'marketplaceId' is set
        if (marketplaceId == null) {
            throw new ApiException(
                    "Missing the required parameter 'marketplaceId' when calling getInvoiceHeaders(Async)");
        }

        return getInvoiceHeadersCall(
                marketplaceId, nextToken, fromIssueDate, toIssueDate, invoicesModifiedAfter, progressRequestListener);
    }

    /**
     * Returns invoice headers for all invoices matching filters that you specify.
     *
     * @param marketplaceId The marketplace ID of the marketplace from which you want to retrieve invoice headers. The
     *     marketplace ID is a globally unique identifier used to specify which Amazon marketplace a request is
     *     targeting. For more information, refer to [Marketplace
     *     IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (required)
     * @param nextToken The response includes &#x60;nextToken&#x60; when the number of invoices exceeds the default page
     *     size value (100). To get the next page of results, call the operation with this token and include the same
     *     arguments as the call that produced the token. To get a complete list, call this operation until
     *     &#x60;nextToken&#x60; is &#x60;null&#x60;. Note that this operation can return empty pages. (optional)
     * @param fromIssueDate Retrieve invoice headers issued after this date. The range between &#x60;fromIssueDate&#x60;
     *     and &#x60;toIssueDate&#x60; must not exceed 90 days. Either provide both dates or leave both empty. If you do
     *     not provide these dates, &#x60;fromIssueDate&#x60; defaults to 90 days before the date of the request. In
     *     [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param toIssueDate Retrieve invoice headers issued before this date. The range between &#x60;fromIssueDate&#x60;
     *     and &#x60;toIssueDate&#x60; must not exceed 90 days. Either provide both dates or leave both empty. If you do
     *     not provide these dates, &#x60;toIssueDate&#x60; defaults to the date of the request. In [ISO
     *     8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param invoicesModifiedAfter Retrieve invoices that were modified after this date-time. In [ISO
     *     8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return GetInvoicesResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public GetInvoicesResponse getInvoiceHeaders(
            String marketplaceId,
            String nextToken,
            OffsetDateTime fromIssueDate,
            OffsetDateTime toIssueDate,
            OffsetDateTime invoicesModifiedAfter,
            String restrictedDataToken)
            throws ApiException, LWAException {
        ApiResponse<GetInvoicesResponse> resp = getInvoiceHeadersWithHttpInfo(
                marketplaceId, nextToken, fromIssueDate, toIssueDate, invoicesModifiedAfter, restrictedDataToken);
        return resp.getData();
    }

    /**
     * Returns invoice headers for all invoices matching filters that you specify.
     *
     * @param marketplaceId The marketplace ID of the marketplace from which you want to retrieve invoice headers. The
     *     marketplace ID is a globally unique identifier used to specify which Amazon marketplace a request is
     *     targeting. For more information, refer to [Marketplace
     *     IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (required)
     * @param nextToken The response includes &#x60;nextToken&#x60; when the number of invoices exceeds the default page
     *     size value (100). To get the next page of results, call the operation with this token and include the same
     *     arguments as the call that produced the token. To get a complete list, call this operation until
     *     &#x60;nextToken&#x60; is &#x60;null&#x60;. Note that this operation can return empty pages. (optional)
     * @param fromIssueDate Retrieve invoice headers issued after this date. The range between &#x60;fromIssueDate&#x60;
     *     and &#x60;toIssueDate&#x60; must not exceed 90 days. Either provide both dates or leave both empty. If you do
     *     not provide these dates, &#x60;fromIssueDate&#x60; defaults to 90 days before the date of the request. In
     *     [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param toIssueDate Retrieve invoice headers issued before this date. The range between &#x60;fromIssueDate&#x60;
     *     and &#x60;toIssueDate&#x60; must not exceed 90 days. Either provide both dates or leave both empty. If you do
     *     not provide these dates, &#x60;toIssueDate&#x60; defaults to the date of the request. In [ISO
     *     8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param invoicesModifiedAfter Retrieve invoices that were modified after this date-time. In [ISO
     *     8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @return GetInvoicesResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public GetInvoicesResponse getInvoiceHeaders(
            String marketplaceId,
            String nextToken,
            OffsetDateTime fromIssueDate,
            OffsetDateTime toIssueDate,
            OffsetDateTime invoicesModifiedAfter)
            throws ApiException, LWAException {
        ApiResponse<GetInvoicesResponse> resp = getInvoiceHeadersWithHttpInfo(
                marketplaceId, nextToken, fromIssueDate, toIssueDate, invoicesModifiedAfter, null);
        return resp.getData();
    }

    /**
     * Returns invoice headers for all invoices matching filters that you specify.
     *
     * @param marketplaceId The marketplace ID of the marketplace from which you want to retrieve invoice headers. The
     *     marketplace ID is a globally unique identifier used to specify which Amazon marketplace a request is
     *     targeting. For more information, refer to [Marketplace
     *     IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (required)
     * @param nextToken The response includes &#x60;nextToken&#x60; when the number of invoices exceeds the default page
     *     size value (100). To get the next page of results, call the operation with this token and include the same
     *     arguments as the call that produced the token. To get a complete list, call this operation until
     *     &#x60;nextToken&#x60; is &#x60;null&#x60;. Note that this operation can return empty pages. (optional)
     * @param fromIssueDate Retrieve invoice headers issued after this date. The range between &#x60;fromIssueDate&#x60;
     *     and &#x60;toIssueDate&#x60; must not exceed 90 days. Either provide both dates or leave both empty. If you do
     *     not provide these dates, &#x60;fromIssueDate&#x60; defaults to 90 days before the date of the request. In
     *     [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param toIssueDate Retrieve invoice headers issued before this date. The range between &#x60;fromIssueDate&#x60;
     *     and &#x60;toIssueDate&#x60; must not exceed 90 days. Either provide both dates or leave both empty. If you do
     *     not provide these dates, &#x60;toIssueDate&#x60; defaults to the date of the request. In [ISO
     *     8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param invoicesModifiedAfter Retrieve invoices that were modified after this date-time. In [ISO
     *     8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return ApiResponse&lt;GetInvoicesResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<GetInvoicesResponse> getInvoiceHeadersWithHttpInfo(
            String marketplaceId,
            String nextToken,
            OffsetDateTime fromIssueDate,
            OffsetDateTime toIssueDate,
            OffsetDateTime invoicesModifiedAfter,
            String restrictedDataToken)
            throws ApiException, LWAException {
        okhttp3.Call call = getInvoiceHeadersValidateBeforeCall(
                marketplaceId, nextToken, fromIssueDate, toIssueDate, invoicesModifiedAfter, null);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(request, restrictedDataToken, "DefaultApi-getInvoiceHeaders");
            call = apiClient.getHttpClient().newCall(request);
        }

        if (disableRateLimiting || getInvoiceHeadersBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<GetInvoicesResponse>() {}.getType();
            return apiClient.execute(call, localVarReturnType);
        } else throw new ApiException.RateLimitExceeded("getInvoiceHeaders operation exceeds rate limit");
    }

    /**
     * Returns invoice headers for all invoices matching filters that you specify.
     *
     * @param marketplaceId The marketplace ID of the marketplace from which you want to retrieve invoice headers. The
     *     marketplace ID is a globally unique identifier used to specify which Amazon marketplace a request is
     *     targeting. For more information, refer to [Marketplace
     *     IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (required)
     * @param nextToken The response includes &#x60;nextToken&#x60; when the number of invoices exceeds the default page
     *     size value (100). To get the next page of results, call the operation with this token and include the same
     *     arguments as the call that produced the token. To get a complete list, call this operation until
     *     &#x60;nextToken&#x60; is &#x60;null&#x60;. Note that this operation can return empty pages. (optional)
     * @param fromIssueDate Retrieve invoice headers issued after this date. The range between &#x60;fromIssueDate&#x60;
     *     and &#x60;toIssueDate&#x60; must not exceed 90 days. Either provide both dates or leave both empty. If you do
     *     not provide these dates, &#x60;fromIssueDate&#x60; defaults to 90 days before the date of the request. In
     *     [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param toIssueDate Retrieve invoice headers issued before this date. The range between &#x60;fromIssueDate&#x60;
     *     and &#x60;toIssueDate&#x60; must not exceed 90 days. Either provide both dates or leave both empty. If you do
     *     not provide these dates, &#x60;toIssueDate&#x60; defaults to the date of the request. In [ISO
     *     8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param invoicesModifiedAfter Retrieve invoices that were modified after this date-time. In [ISO
     *     8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @return ApiResponse&lt;GetInvoicesResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<GetInvoicesResponse> getInvoiceHeadersWithHttpInfo(
            String marketplaceId,
            String nextToken,
            OffsetDateTime fromIssueDate,
            OffsetDateTime toIssueDate,
            OffsetDateTime invoicesModifiedAfter)
            throws ApiException, LWAException {
        return getInvoiceHeadersWithHttpInfo(
                marketplaceId, nextToken, fromIssueDate, toIssueDate, invoicesModifiedAfter, null);
    }

    /**
     * (asynchronously) Returns invoice headers for all invoices matching filters that you specify.
     *
     * @param marketplaceId The marketplace ID of the marketplace from which you want to retrieve invoice headers. The
     *     marketplace ID is a globally unique identifier used to specify which Amazon marketplace a request is
     *     targeting. For more information, refer to [Marketplace
     *     IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (required)
     * @param nextToken The response includes &#x60;nextToken&#x60; when the number of invoices exceeds the default page
     *     size value (100). To get the next page of results, call the operation with this token and include the same
     *     arguments as the call that produced the token. To get a complete list, call this operation until
     *     &#x60;nextToken&#x60; is &#x60;null&#x60;. Note that this operation can return empty pages. (optional)
     * @param fromIssueDate Retrieve invoice headers issued after this date. The range between &#x60;fromIssueDate&#x60;
     *     and &#x60;toIssueDate&#x60; must not exceed 90 days. Either provide both dates or leave both empty. If you do
     *     not provide these dates, &#x60;fromIssueDate&#x60; defaults to 90 days before the date of the request. In
     *     [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param toIssueDate Retrieve invoice headers issued before this date. The range between &#x60;fromIssueDate&#x60;
     *     and &#x60;toIssueDate&#x60; must not exceed 90 days. Either provide both dates or leave both empty. If you do
     *     not provide these dates, &#x60;toIssueDate&#x60; defaults to the date of the request. In [ISO
     *     8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param invoicesModifiedAfter Retrieve invoices that were modified after this date-time. In [ISO
     *     8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call getInvoiceHeadersAsync(
            String marketplaceId,
            String nextToken,
            OffsetDateTime fromIssueDate,
            OffsetDateTime toIssueDate,
            OffsetDateTime invoicesModifiedAfter,
            final ApiCallback<GetInvoicesResponse> callback)
            throws ApiException, LWAException {
        return getInvoiceHeadersAsync(
                marketplaceId, nextToken, fromIssueDate, toIssueDate, invoicesModifiedAfter, callback, null);
    }
    /**
     * (asynchronously) Returns invoice headers for all invoices matching filters that you specify.
     *
     * @param marketplaceId The marketplace ID of the marketplace from which you want to retrieve invoice headers. The
     *     marketplace ID is a globally unique identifier used to specify which Amazon marketplace a request is
     *     targeting. For more information, refer to [Marketplace
     *     IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (required)
     * @param nextToken The response includes &#x60;nextToken&#x60; when the number of invoices exceeds the default page
     *     size value (100). To get the next page of results, call the operation with this token and include the same
     *     arguments as the call that produced the token. To get a complete list, call this operation until
     *     &#x60;nextToken&#x60; is &#x60;null&#x60;. Note that this operation can return empty pages. (optional)
     * @param fromIssueDate Retrieve invoice headers issued after this date. The range between &#x60;fromIssueDate&#x60;
     *     and &#x60;toIssueDate&#x60; must not exceed 90 days. Either provide both dates or leave both empty. If you do
     *     not provide these dates, &#x60;fromIssueDate&#x60; defaults to 90 days before the date of the request. In
     *     [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param toIssueDate Retrieve invoice headers issued before this date. The range between &#x60;fromIssueDate&#x60;
     *     and &#x60;toIssueDate&#x60; must not exceed 90 days. Either provide both dates or leave both empty. If you do
     *     not provide these dates, &#x60;toIssueDate&#x60; defaults to the date of the request. In [ISO
     *     8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param invoicesModifiedAfter Retrieve invoices that were modified after this date-time. In [ISO
     *     8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call getInvoiceHeadersAsync(
            String marketplaceId,
            String nextToken,
            OffsetDateTime fromIssueDate,
            OffsetDateTime toIssueDate,
            OffsetDateTime invoicesModifiedAfter,
            final ApiCallback<GetInvoicesResponse> callback,
            String restrictedDataToken)
            throws ApiException, LWAException {

        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressRequestListener = callback::onUploadProgress;
        }

        okhttp3.Call call = getInvoiceHeadersValidateBeforeCall(
                marketplaceId, nextToken, fromIssueDate, toIssueDate, invoicesModifiedAfter, progressRequestListener);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(request, restrictedDataToken, "DefaultApi-getInvoiceHeaders");
            call = apiClient.getHttpClient().newCall(request);
        }

        if (disableRateLimiting || getInvoiceHeadersBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<GetInvoicesResponse>() {}.getType();
            apiClient.executeAsync(call, localVarReturnType, callback);
            return call;
        } else throw new ApiException.RateLimitExceeded("getInvoiceHeaders operation exceeds rate limit");
    }

    public static class Builder {
        private LWAAuthorizationCredentials lwaAuthorizationCredentials;
        private String endpoint;
        private LWAAccessTokenCache lwaAccessTokenCache;
        private Boolean disableAccessTokenCache = false;
        private Boolean disableRateLimiting = false;

        public Builder lwaAuthorizationCredentials(LWAAuthorizationCredentials lwaAuthorizationCredentials) {
            this.lwaAuthorizationCredentials = lwaAuthorizationCredentials;
            return this;
        }

        public Builder endpoint(String endpoint) {
            this.endpoint = endpoint;
            return this;
        }

        public Builder lwaAccessTokenCache(LWAAccessTokenCache lwaAccessTokenCache) {
            this.lwaAccessTokenCache = lwaAccessTokenCache;
            return this;
        }

        public Builder disableAccessTokenCache() {
            this.disableAccessTokenCache = true;
            return this;
        }

        public Builder disableRateLimiting() {
            this.disableRateLimiting = true;
            return this;
        }

        public DefaultApi build() {
            if (lwaAuthorizationCredentials == null) {
                throw new RuntimeException("LWAAuthorizationCredentials not set");
            }

            if (StringUtil.isEmpty(endpoint)) {
                throw new RuntimeException("Endpoint not set");
            }

            LWAAuthorizationSigner lwaAuthorizationSigner = null;
            if (disableAccessTokenCache) {
                lwaAuthorizationSigner = new LWAAuthorizationSigner(lwaAuthorizationCredentials);
            } else {
                if (lwaAccessTokenCache == null) {
                    lwaAccessTokenCache = new LWAAccessTokenCacheImpl();
                }
                lwaAuthorizationSigner = new LWAAuthorizationSigner(lwaAuthorizationCredentials, lwaAccessTokenCache);
            }

            return new DefaultApi(
                    new ApiClient()
                            .setLWAAuthorizationSigner(lwaAuthorizationSigner)
                            .setBasePath(endpoint),
                    disableRateLimiting);
        }
    }
}
