/*
 * The Selling Partner API for Amazon Seller Wallet Open Banking API
 * The Selling Partner API for Seller Wallet (Seller Wallet API) provides financial information that is relevant to a seller's Seller Wallet account. You can obtain financial events, balances, and transfer schedules for Seller Wallet accounts. You can also schedule and initiate transactions.
 *
 * The version of the OpenAPI document: 2024-03-01
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package software.amazon.spapi.api.sellerwallet.v2024_03_01;

import com.amazon.SellingPartnerAPIAA.LWAAccessTokenCache;
import com.amazon.SellingPartnerAPIAA.LWAAccessTokenCacheImpl;
import com.amazon.SellingPartnerAPIAA.LWAAuthorizationCredentials;
import com.amazon.SellingPartnerAPIAA.LWAAuthorizationSigner;
import com.amazon.SellingPartnerAPIAA.LWAException;
import com.amazon.SellingPartnerAPIAA.RestrictedDataTokenSigner;
import com.google.gson.reflect.TypeToken;
import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import software.amazon.spapi.ApiCallback;
import software.amazon.spapi.ApiClient;
import software.amazon.spapi.ApiException;
import software.amazon.spapi.ApiResponse;
import software.amazon.spapi.Pair;
import software.amazon.spapi.StringUtil;
import software.amazon.spapi.models.sellerwallet.v2024_03_01.CreateTransactionResponse;
import software.amazon.spapi.models.sellerwallet.v2024_03_01.Transaction;
import software.amazon.spapi.models.sellerwallet.v2024_03_01.TransactionInitiationRequest;
import software.amazon.spapi.models.sellerwallet.v2024_03_01.TransactionListing;

public class TransactionsApi {
    private ApiClient apiClient;

    public TransactionsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for createTransaction
     *
     * @param destAccountDigitalSignature Digital signature for the destination bank account details. For more
     *     information, refer to [Third-Party Provider Signature
     *     Guidance](https://developer-docs.amazon.com/sp-api/docs/tpp-registration-signature-guidance). (required)
     * @param amountDigitalSignature Digital signature for the source currency transaction amount. Sign in the order of
     *     the request definitions. You can omit empty or optional fields. For more information, refer to [Third-Party
     *     Provider Signature
     *     Guidance](https://developer-docs.amazon.com/sp-api/docs/tpp-registration-signature-guidance). (required)
     * @param marketplaceId The marketplace for which items are returned. The marketplace ID is the globally unique
     *     identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace
     *     IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (required)
     * @param body The payload of the request (required)
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    private okhttp3.Call createTransactionCall(
            String destAccountDigitalSignature,
            String amountDigitalSignature,
            String marketplaceId,
            TransactionInitiationRequest body,
            final ApiCallback progressRequestListener)
            throws ApiException, LWAException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath;
        if ("/finances/transfers/wallet/2024-03-01/transactions"
                .equals("/uploads/2020-11-01/uploadDestinations/{resource}")) {
            localVarPath = "/finances/transfers/wallet/2024-03-01/transactions";
        } else {
            localVarPath = "/finances/transfers/wallet/2024-03-01/transactions";
        }

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (marketplaceId != null)
            localVarQueryParams.addAll(apiClient.parameterToPair("marketplaceId", marketplaceId));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (destAccountDigitalSignature != null)
            localVarHeaderParams.put(
                    "destAccountDigitalSignature", apiClient.parameterToString(destAccountDigitalSignature));
        if (amountDigitalSignature != null)
            localVarHeaderParams.put("amountDigitalSignature", apiClient.parameterToString(amountDigitalSignature));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {"application/json"};
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        return apiClient.buildCall(
                localVarPath,
                "POST",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarPostBody,
                localVarHeaderParams,
                localVarFormParams,
                progressRequestListener);
    }

    private okhttp3.Call createTransactionValidateBeforeCall(
            String destAccountDigitalSignature,
            String amountDigitalSignature,
            String marketplaceId,
            TransactionInitiationRequest body,
            final ApiCallback progressRequestListener)
            throws ApiException, LWAException {

        // verify the required parameter 'destAccountDigitalSignature' is set
        if (destAccountDigitalSignature == null) {
            throw new ApiException(
                    "Missing the required parameter 'destAccountDigitalSignature' when calling createTransaction(Async)");
        }

        // verify the required parameter 'amountDigitalSignature' is set
        if (amountDigitalSignature == null) {
            throw new ApiException(
                    "Missing the required parameter 'amountDigitalSignature' when calling createTransaction(Async)");
        }

        // verify the required parameter 'marketplaceId' is set
        if (marketplaceId == null) {
            throw new ApiException(
                    "Missing the required parameter 'marketplaceId' when calling createTransaction(Async)");
        }

        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling createTransaction(Async)");
        }

        return createTransactionCall(
                destAccountDigitalSignature, amountDigitalSignature, marketplaceId, body, progressRequestListener);
    }

    /**
     * Create a transaction request from Amazon Seller Wallet account to another customer-provided account Create a
     * transaction request from a Seller Wallet account to another customer-provided account.
     *
     * @param destAccountDigitalSignature Digital signature for the destination bank account details. For more
     *     information, refer to [Third-Party Provider Signature
     *     Guidance](https://developer-docs.amazon.com/sp-api/docs/tpp-registration-signature-guidance). (required)
     * @param amountDigitalSignature Digital signature for the source currency transaction amount. Sign in the order of
     *     the request definitions. You can omit empty or optional fields. For more information, refer to [Third-Party
     *     Provider Signature
     *     Guidance](https://developer-docs.amazon.com/sp-api/docs/tpp-registration-signature-guidance). (required)
     * @param marketplaceId The marketplace for which items are returned. The marketplace ID is the globally unique
     *     identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace
     *     IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (required)
     * @param body The payload of the request (required)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return CreateTransactionResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public CreateTransactionResponse createTransaction(
            String destAccountDigitalSignature,
            String amountDigitalSignature,
            String marketplaceId,
            TransactionInitiationRequest body,
            String restrictedDataToken)
            throws ApiException, LWAException {
        ApiResponse<CreateTransactionResponse> resp = createTransactionWithHttpInfo(
                destAccountDigitalSignature, amountDigitalSignature, marketplaceId, body, restrictedDataToken);
        return resp.getData();
    }

    /**
     * Create a transaction request from Amazon Seller Wallet account to another customer-provided account Create a
     * transaction request from a Seller Wallet account to another customer-provided account.
     *
     * @param destAccountDigitalSignature Digital signature for the destination bank account details. For more
     *     information, refer to [Third-Party Provider Signature
     *     Guidance](https://developer-docs.amazon.com/sp-api/docs/tpp-registration-signature-guidance). (required)
     * @param amountDigitalSignature Digital signature for the source currency transaction amount. Sign in the order of
     *     the request definitions. You can omit empty or optional fields. For more information, refer to [Third-Party
     *     Provider Signature
     *     Guidance](https://developer-docs.amazon.com/sp-api/docs/tpp-registration-signature-guidance). (required)
     * @param marketplaceId The marketplace for which items are returned. The marketplace ID is the globally unique
     *     identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace
     *     IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (required)
     * @param body The payload of the request (required)
     * @return CreateTransactionResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public CreateTransactionResponse createTransaction(
            String destAccountDigitalSignature,
            String amountDigitalSignature,
            String marketplaceId,
            TransactionInitiationRequest body)
            throws ApiException, LWAException {
        ApiResponse<CreateTransactionResponse> resp = createTransactionWithHttpInfo(
                destAccountDigitalSignature, amountDigitalSignature, marketplaceId, body, null);
        return resp.getData();
    }

    /**
     * Create a transaction request from Amazon Seller Wallet account to another customer-provided account Create a
     * transaction request from a Seller Wallet account to another customer-provided account.
     *
     * @param destAccountDigitalSignature Digital signature for the destination bank account details. For more
     *     information, refer to [Third-Party Provider Signature
     *     Guidance](https://developer-docs.amazon.com/sp-api/docs/tpp-registration-signature-guidance). (required)
     * @param amountDigitalSignature Digital signature for the source currency transaction amount. Sign in the order of
     *     the request definitions. You can omit empty or optional fields. For more information, refer to [Third-Party
     *     Provider Signature
     *     Guidance](https://developer-docs.amazon.com/sp-api/docs/tpp-registration-signature-guidance). (required)
     * @param marketplaceId The marketplace for which items are returned. The marketplace ID is the globally unique
     *     identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace
     *     IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (required)
     * @param body The payload of the request (required)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return ApiResponse&lt;CreateTransactionResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<CreateTransactionResponse> createTransactionWithHttpInfo(
            String destAccountDigitalSignature,
            String amountDigitalSignature,
            String marketplaceId,
            TransactionInitiationRequest body,
            String restrictedDataToken)
            throws ApiException, LWAException {
        okhttp3.Call call = createTransactionValidateBeforeCall(
                destAccountDigitalSignature, amountDigitalSignature, marketplaceId, body, null);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(request, restrictedDataToken, "TransactionsApi-createTransaction");
            call = apiClient.getHttpClient().newCall(request);
        }

        Type localVarReturnType = new TypeToken<CreateTransactionResponse>() {}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create a transaction request from Amazon Seller Wallet account to another customer-provided account Create a
     * transaction request from a Seller Wallet account to another customer-provided account.
     *
     * @param destAccountDigitalSignature Digital signature for the destination bank account details. For more
     *     information, refer to [Third-Party Provider Signature
     *     Guidance](https://developer-docs.amazon.com/sp-api/docs/tpp-registration-signature-guidance). (required)
     * @param amountDigitalSignature Digital signature for the source currency transaction amount. Sign in the order of
     *     the request definitions. You can omit empty or optional fields. For more information, refer to [Third-Party
     *     Provider Signature
     *     Guidance](https://developer-docs.amazon.com/sp-api/docs/tpp-registration-signature-guidance). (required)
     * @param marketplaceId The marketplace for which items are returned. The marketplace ID is the globally unique
     *     identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace
     *     IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (required)
     * @param body The payload of the request (required)
     * @return ApiResponse&lt;CreateTransactionResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<CreateTransactionResponse> createTransactionWithHttpInfo(
            String destAccountDigitalSignature,
            String amountDigitalSignature,
            String marketplaceId,
            TransactionInitiationRequest body)
            throws ApiException, LWAException {
        return createTransactionWithHttpInfo(
                destAccountDigitalSignature, amountDigitalSignature, marketplaceId, body, null);
    }

    /**
     * Create a transaction request from Amazon Seller Wallet account to another customer-provided account
     * (asynchronously) Create a transaction request from a Seller Wallet account to another customer-provided account.
     *
     * @param destAccountDigitalSignature Digital signature for the destination bank account details. For more
     *     information, refer to [Third-Party Provider Signature
     *     Guidance](https://developer-docs.amazon.com/sp-api/docs/tpp-registration-signature-guidance). (required)
     * @param amountDigitalSignature Digital signature for the source currency transaction amount. Sign in the order of
     *     the request definitions. You can omit empty or optional fields. For more information, refer to [Third-Party
     *     Provider Signature
     *     Guidance](https://developer-docs.amazon.com/sp-api/docs/tpp-registration-signature-guidance). (required)
     * @param marketplaceId The marketplace for which items are returned. The marketplace ID is the globally unique
     *     identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace
     *     IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (required)
     * @param body The payload of the request (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call createTransactionAsync(
            String destAccountDigitalSignature,
            String amountDigitalSignature,
            String marketplaceId,
            TransactionInitiationRequest body,
            final ApiCallback<CreateTransactionResponse> callback)
            throws ApiException, LWAException {
        return createTransactionAsync(
                destAccountDigitalSignature, amountDigitalSignature, marketplaceId, body, callback, null);
    }
    /**
     * Create a transaction request from Amazon Seller Wallet account to another customer-provided account
     * (asynchronously) Create a transaction request from a Seller Wallet account to another customer-provided account.
     *
     * @param destAccountDigitalSignature Digital signature for the destination bank account details. For more
     *     information, refer to [Third-Party Provider Signature
     *     Guidance](https://developer-docs.amazon.com/sp-api/docs/tpp-registration-signature-guidance). (required)
     * @param amountDigitalSignature Digital signature for the source currency transaction amount. Sign in the order of
     *     the request definitions. You can omit empty or optional fields. For more information, refer to [Third-Party
     *     Provider Signature
     *     Guidance](https://developer-docs.amazon.com/sp-api/docs/tpp-registration-signature-guidance). (required)
     * @param marketplaceId The marketplace for which items are returned. The marketplace ID is the globally unique
     *     identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace
     *     IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (required)
     * @param body The payload of the request (required)
     * @param callback The callback to be executed when the API call finishes
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call createTransactionAsync(
            String destAccountDigitalSignature,
            String amountDigitalSignature,
            String marketplaceId,
            TransactionInitiationRequest body,
            final ApiCallback<CreateTransactionResponse> callback,
            String restrictedDataToken)
            throws ApiException, LWAException {

        ApiCallback progressRequestListener = null;

        if (callback != null) {
            progressRequestListener = callback;
        }

        okhttp3.Call call = createTransactionValidateBeforeCall(
                destAccountDigitalSignature, amountDigitalSignature, marketplaceId, body, progressRequestListener);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(request, restrictedDataToken, "TransactionsApi-createTransaction");
            call = apiClient.getHttpClient().newCall(request);
        }

        Type localVarReturnType = new TypeToken<CreateTransactionResponse>() {}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getTransaction
     *
     * @param transactionId The ID of the Amazon Seller Wallet transaction. (required)
     * @param marketplaceId The marketplace for which items are returned. The marketplace ID is the globally unique
     *     identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace
     *     IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (required)
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    private okhttp3.Call getTransactionCall(
            String transactionId, String marketplaceId, final ApiCallback progressRequestListener)
            throws ApiException, LWAException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath;
        if ("/finances/transfers/wallet/2024-03-01/transactions/{transactionId}"
                .equals("/uploads/2020-11-01/uploadDestinations/{resource}")) {
            localVarPath = "/finances/transfers/wallet/2024-03-01/transactions/{transactionId}"
                    .replaceAll("\\{" + "transactionId" + "\\}", transactionId.toString());
        } else {
            localVarPath = "/finances/transfers/wallet/2024-03-01/transactions/{transactionId}"
                    .replaceAll("\\{" + "transactionId" + "\\}", apiClient.escapeString(transactionId.toString()));
        }

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (marketplaceId != null)
            localVarQueryParams.addAll(apiClient.parameterToPair("marketplaceId", marketplaceId));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {};

        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        return apiClient.buildCall(
                localVarPath,
                "GET",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarPostBody,
                localVarHeaderParams,
                localVarFormParams,
                progressRequestListener);
    }

    private okhttp3.Call getTransactionValidateBeforeCall(
            String transactionId, String marketplaceId, final ApiCallback progressRequestListener)
            throws ApiException, LWAException {

        // verify the required parameter 'transactionId' is set
        if (transactionId == null) {
            throw new ApiException("Missing the required parameter 'transactionId' when calling getTransaction(Async)");
        }

        // verify the required parameter 'marketplaceId' is set
        if (marketplaceId == null) {
            throw new ApiException("Missing the required parameter 'marketplaceId' when calling getTransaction(Async)");
        }

        return getTransactionCall(transactionId, marketplaceId, progressRequestListener);
    }

    /**
     * Find particular Amazon Seller Wallet account transaction by Amazon transaction identifier Find a transaction by
     * the Amazon transaction identifier.
     *
     * @param transactionId The ID of the Amazon Seller Wallet transaction. (required)
     * @param marketplaceId The marketplace for which items are returned. The marketplace ID is the globally unique
     *     identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace
     *     IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (required)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return Transaction
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public Transaction getTransaction(String transactionId, String marketplaceId, String restrictedDataToken)
            throws ApiException, LWAException {
        ApiResponse<Transaction> resp = getTransactionWithHttpInfo(transactionId, marketplaceId, restrictedDataToken);
        return resp.getData();
    }

    /**
     * Find particular Amazon Seller Wallet account transaction by Amazon transaction identifier Find a transaction by
     * the Amazon transaction identifier.
     *
     * @param transactionId The ID of the Amazon Seller Wallet transaction. (required)
     * @param marketplaceId The marketplace for which items are returned. The marketplace ID is the globally unique
     *     identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace
     *     IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (required)
     * @return Transaction
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public Transaction getTransaction(String transactionId, String marketplaceId) throws ApiException, LWAException {
        ApiResponse<Transaction> resp = getTransactionWithHttpInfo(transactionId, marketplaceId, null);
        return resp.getData();
    }

    /**
     * Find particular Amazon Seller Wallet account transaction by Amazon transaction identifier Find a transaction by
     * the Amazon transaction identifier.
     *
     * @param transactionId The ID of the Amazon Seller Wallet transaction. (required)
     * @param marketplaceId The marketplace for which items are returned. The marketplace ID is the globally unique
     *     identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace
     *     IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (required)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return ApiResponse&lt;Transaction&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<Transaction> getTransactionWithHttpInfo(
            String transactionId, String marketplaceId, String restrictedDataToken) throws ApiException, LWAException {
        okhttp3.Call call = getTransactionValidateBeforeCall(transactionId, marketplaceId, null);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(request, restrictedDataToken, "TransactionsApi-getTransaction");
            call = apiClient.getHttpClient().newCall(request);
        }

        Type localVarReturnType = new TypeToken<Transaction>() {}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Find particular Amazon Seller Wallet account transaction by Amazon transaction identifier Find a transaction by
     * the Amazon transaction identifier.
     *
     * @param transactionId The ID of the Amazon Seller Wallet transaction. (required)
     * @param marketplaceId The marketplace for which items are returned. The marketplace ID is the globally unique
     *     identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace
     *     IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (required)
     * @return ApiResponse&lt;Transaction&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<Transaction> getTransactionWithHttpInfo(String transactionId, String marketplaceId)
            throws ApiException, LWAException {
        return getTransactionWithHttpInfo(transactionId, marketplaceId, null);
    }

    /**
     * Find particular Amazon Seller Wallet account transaction by Amazon transaction identifier (asynchronously) Find a
     * transaction by the Amazon transaction identifier.
     *
     * @param transactionId The ID of the Amazon Seller Wallet transaction. (required)
     * @param marketplaceId The marketplace for which items are returned. The marketplace ID is the globally unique
     *     identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace
     *     IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call getTransactionAsync(
            String transactionId, String marketplaceId, final ApiCallback<Transaction> callback)
            throws ApiException, LWAException {
        return getTransactionAsync(transactionId, marketplaceId, callback, null);
    }
    /**
     * Find particular Amazon Seller Wallet account transaction by Amazon transaction identifier (asynchronously) Find a
     * transaction by the Amazon transaction identifier.
     *
     * @param transactionId The ID of the Amazon Seller Wallet transaction. (required)
     * @param marketplaceId The marketplace for which items are returned. The marketplace ID is the globally unique
     *     identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace
     *     IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (required)
     * @param callback The callback to be executed when the API call finishes
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call getTransactionAsync(
            String transactionId,
            String marketplaceId,
            final ApiCallback<Transaction> callback,
            String restrictedDataToken)
            throws ApiException, LWAException {

        ApiCallback progressRequestListener = null;

        if (callback != null) {
            progressRequestListener = callback;
        }

        okhttp3.Call call = getTransactionValidateBeforeCall(transactionId, marketplaceId, progressRequestListener);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(request, restrictedDataToken, "TransactionsApi-getTransaction");
            call = apiClient.getHttpClient().newCall(request);
        }

        Type localVarReturnType = new TypeToken<Transaction>() {}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for listAccountTransactions
     *
     * @param accountId The ID of the Amazon Seller Wallet account. (required)
     * @param marketplaceId The marketplace for which items are returned. The marketplace ID is the globally unique
     *     identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace
     *     IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (required)
     * @param nextPageToken A token that you use to retrieve the next page of results. The response includes
     *     &#x60;nextPageToken&#x60; when the number of results exceeds 100. To get the next page of results, call the
     *     operation with this token and include the same arguments as the call that produced the token. To get a
     *     complete list, call this operation until &#x60;nextPageToken&#x60; is null. Note that this operation can
     *     return empty pages. (optional)
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    private okhttp3.Call listAccountTransactionsCall(
            String accountId, String marketplaceId, String nextPageToken, final ApiCallback progressRequestListener)
            throws ApiException, LWAException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath;
        if ("/finances/transfers/wallet/2024-03-01/transactions"
                .equals("/uploads/2020-11-01/uploadDestinations/{resource}")) {
            localVarPath = "/finances/transfers/wallet/2024-03-01/transactions";
        } else {
            localVarPath = "/finances/transfers/wallet/2024-03-01/transactions";
        }

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accountId != null) localVarQueryParams.addAll(apiClient.parameterToPair("accountId", accountId));
        if (nextPageToken != null)
            localVarQueryParams.addAll(apiClient.parameterToPair("nextPageToken", nextPageToken));
        if (marketplaceId != null)
            localVarQueryParams.addAll(apiClient.parameterToPair("marketplaceId", marketplaceId));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {};

        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        return apiClient.buildCall(
                localVarPath,
                "GET",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarPostBody,
                localVarHeaderParams,
                localVarFormParams,
                progressRequestListener);
    }

    private okhttp3.Call listAccountTransactionsValidateBeforeCall(
            String accountId, String marketplaceId, String nextPageToken, final ApiCallback progressRequestListener)
            throws ApiException, LWAException {

        // verify the required parameter 'accountId' is set
        if (accountId == null) {
            throw new ApiException(
                    "Missing the required parameter 'accountId' when calling listAccountTransactions(Async)");
        }

        // verify the required parameter 'marketplaceId' is set
        if (marketplaceId == null) {
            throw new ApiException(
                    "Missing the required parameter 'marketplaceId' when calling listAccountTransactions(Async)");
        }

        return listAccountTransactionsCall(accountId, marketplaceId, nextPageToken, progressRequestListener);
    }

    /**
     * The API will return all the transactions for a given Amazon Seller Wallet account sorted by the transaction
     * request date Retrieve a list of transactions for a given Seller Wallet bank account.
     *
     * @param accountId The ID of the Amazon Seller Wallet account. (required)
     * @param marketplaceId The marketplace for which items are returned. The marketplace ID is the globally unique
     *     identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace
     *     IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (required)
     * @param nextPageToken A token that you use to retrieve the next page of results. The response includes
     *     &#x60;nextPageToken&#x60; when the number of results exceeds 100. To get the next page of results, call the
     *     operation with this token and include the same arguments as the call that produced the token. To get a
     *     complete list, call this operation until &#x60;nextPageToken&#x60; is null. Note that this operation can
     *     return empty pages. (optional)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return TransactionListing
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public TransactionListing listAccountTransactions(
            String accountId, String marketplaceId, String nextPageToken, String restrictedDataToken)
            throws ApiException, LWAException {
        ApiResponse<TransactionListing> resp =
                listAccountTransactionsWithHttpInfo(accountId, marketplaceId, nextPageToken, restrictedDataToken);
        return resp.getData();
    }

    /**
     * The API will return all the transactions for a given Amazon Seller Wallet account sorted by the transaction
     * request date Retrieve a list of transactions for a given Seller Wallet bank account.
     *
     * @param accountId The ID of the Amazon Seller Wallet account. (required)
     * @param marketplaceId The marketplace for which items are returned. The marketplace ID is the globally unique
     *     identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace
     *     IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (required)
     * @param nextPageToken A token that you use to retrieve the next page of results. The response includes
     *     &#x60;nextPageToken&#x60; when the number of results exceeds 100. To get the next page of results, call the
     *     operation with this token and include the same arguments as the call that produced the token. To get a
     *     complete list, call this operation until &#x60;nextPageToken&#x60; is null. Note that this operation can
     *     return empty pages. (optional)
     * @return TransactionListing
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public TransactionListing listAccountTransactions(String accountId, String marketplaceId, String nextPageToken)
            throws ApiException, LWAException {
        ApiResponse<TransactionListing> resp =
                listAccountTransactionsWithHttpInfo(accountId, marketplaceId, nextPageToken, null);
        return resp.getData();
    }

    /**
     * The API will return all the transactions for a given Amazon Seller Wallet account sorted by the transaction
     * request date Retrieve a list of transactions for a given Seller Wallet bank account.
     *
     * @param accountId The ID of the Amazon Seller Wallet account. (required)
     * @param marketplaceId The marketplace for which items are returned. The marketplace ID is the globally unique
     *     identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace
     *     IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (required)
     * @param nextPageToken A token that you use to retrieve the next page of results. The response includes
     *     &#x60;nextPageToken&#x60; when the number of results exceeds 100. To get the next page of results, call the
     *     operation with this token and include the same arguments as the call that produced the token. To get a
     *     complete list, call this operation until &#x60;nextPageToken&#x60; is null. Note that this operation can
     *     return empty pages. (optional)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return ApiResponse&lt;TransactionListing&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<TransactionListing> listAccountTransactionsWithHttpInfo(
            String accountId, String marketplaceId, String nextPageToken, String restrictedDataToken)
            throws ApiException, LWAException {
        okhttp3.Call call = listAccountTransactionsValidateBeforeCall(accountId, marketplaceId, nextPageToken, null);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(
                    request, restrictedDataToken, "TransactionsApi-listAccountTransactions");
            call = apiClient.getHttpClient().newCall(request);
        }

        Type localVarReturnType = new TypeToken<TransactionListing>() {}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * The API will return all the transactions for a given Amazon Seller Wallet account sorted by the transaction
     * request date Retrieve a list of transactions for a given Seller Wallet bank account.
     *
     * @param accountId The ID of the Amazon Seller Wallet account. (required)
     * @param marketplaceId The marketplace for which items are returned. The marketplace ID is the globally unique
     *     identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace
     *     IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (required)
     * @param nextPageToken A token that you use to retrieve the next page of results. The response includes
     *     &#x60;nextPageToken&#x60; when the number of results exceeds 100. To get the next page of results, call the
     *     operation with this token and include the same arguments as the call that produced the token. To get a
     *     complete list, call this operation until &#x60;nextPageToken&#x60; is null. Note that this operation can
     *     return empty pages. (optional)
     * @return ApiResponse&lt;TransactionListing&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<TransactionListing> listAccountTransactionsWithHttpInfo(
            String accountId, String marketplaceId, String nextPageToken) throws ApiException, LWAException {
        return listAccountTransactionsWithHttpInfo(accountId, marketplaceId, nextPageToken, null);
    }

    /**
     * The API will return all the transactions for a given Amazon Seller Wallet account sorted by the transaction
     * request date (asynchronously) Retrieve a list of transactions for a given Seller Wallet bank account.
     *
     * @param accountId The ID of the Amazon Seller Wallet account. (required)
     * @param marketplaceId The marketplace for which items are returned. The marketplace ID is the globally unique
     *     identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace
     *     IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (required)
     * @param nextPageToken A token that you use to retrieve the next page of results. The response includes
     *     &#x60;nextPageToken&#x60; when the number of results exceeds 100. To get the next page of results, call the
     *     operation with this token and include the same arguments as the call that produced the token. To get a
     *     complete list, call this operation until &#x60;nextPageToken&#x60; is null. Note that this operation can
     *     return empty pages. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call listAccountTransactionsAsync(
            String accountId,
            String marketplaceId,
            String nextPageToken,
            final ApiCallback<TransactionListing> callback)
            throws ApiException, LWAException {
        return listAccountTransactionsAsync(accountId, marketplaceId, nextPageToken, callback, null);
    }
    /**
     * The API will return all the transactions for a given Amazon Seller Wallet account sorted by the transaction
     * request date (asynchronously) Retrieve a list of transactions for a given Seller Wallet bank account.
     *
     * @param accountId The ID of the Amazon Seller Wallet account. (required)
     * @param marketplaceId The marketplace for which items are returned. The marketplace ID is the globally unique
     *     identifier of a marketplace. To find the ID for your marketplace, refer to [Marketplace
     *     IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (required)
     * @param nextPageToken A token that you use to retrieve the next page of results. The response includes
     *     &#x60;nextPageToken&#x60; when the number of results exceeds 100. To get the next page of results, call the
     *     operation with this token and include the same arguments as the call that produced the token. To get a
     *     complete list, call this operation until &#x60;nextPageToken&#x60; is null. Note that this operation can
     *     return empty pages. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call listAccountTransactionsAsync(
            String accountId,
            String marketplaceId,
            String nextPageToken,
            final ApiCallback<TransactionListing> callback,
            String restrictedDataToken)
            throws ApiException, LWAException {

        ApiCallback progressRequestListener = null;

        if (callback != null) {
            progressRequestListener = callback;
        }

        okhttp3.Call call = listAccountTransactionsValidateBeforeCall(
                accountId, marketplaceId, nextPageToken, progressRequestListener);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(
                    request, restrictedDataToken, "TransactionsApi-listAccountTransactions");
            call = apiClient.getHttpClient().newCall(request);
        }

        Type localVarReturnType = new TypeToken<TransactionListing>() {}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }

    public static class Builder {
        private LWAAuthorizationCredentials lwaAuthorizationCredentials;
        private String endpoint;
        private LWAAccessTokenCache lwaAccessTokenCache;
        private Boolean disableAccessTokenCache = false;

        public Builder lwaAuthorizationCredentials(LWAAuthorizationCredentials lwaAuthorizationCredentials) {
            this.lwaAuthorizationCredentials = lwaAuthorizationCredentials;
            return this;
        }

        public Builder endpoint(String endpoint) {
            this.endpoint = endpoint;
            return this;
        }

        public Builder lwaAccessTokenCache(LWAAccessTokenCache lwaAccessTokenCache) {
            this.lwaAccessTokenCache = lwaAccessTokenCache;
            return this;
        }

        public Builder disableAccessTokenCache() {
            this.disableAccessTokenCache = true;
            return this;
        }

        public TransactionsApi build() {
            if (lwaAuthorizationCredentials == null) {
                throw new RuntimeException("LWAAuthorizationCredentials not set");
            }

            if (StringUtil.isEmpty(endpoint)) {
                throw new RuntimeException("Endpoint not set");
            }

            LWAAuthorizationSigner lwaAuthorizationSigner = null;
            if (disableAccessTokenCache) {
                lwaAuthorizationSigner = new LWAAuthorizationSigner(lwaAuthorizationCredentials);
            } else {
                if (lwaAccessTokenCache == null) {
                    lwaAccessTokenCache = new LWAAccessTokenCacheImpl();
                }
                lwaAuthorizationSigner = new LWAAuthorizationSigner(lwaAuthorizationCredentials, lwaAccessTokenCache);
            }

            return new TransactionsApi(new ApiClient()
                    .setLWAAuthorizationSigner(lwaAuthorizationSigner)
                    .setBasePath(endpoint));
        }
    }
}
