/*
 * The Selling Partner API for Amazon Seller Wallet Open Banking API
 * The Selling Partner API for Seller Wallet (Seller Wallet API) provides financial information that is relevant to a seller's Seller Wallet account. You can obtain financial events, balances, and transfer schedules for Seller Wallet accounts. You can also schedule and initiate transactions.
 *
 * OpenAPI spec version: 2024-03-01
 *
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package software.amazon.spapi.api.sellerwallet.v2024_03_01;

import com.amazon.SellingPartnerAPIAA.LWAAccessTokenCache;
import com.amazon.SellingPartnerAPIAA.LWAAccessTokenCacheImpl;
import com.amazon.SellingPartnerAPIAA.LWAAuthorizationCredentials;
import com.amazon.SellingPartnerAPIAA.LWAAuthorizationSigner;
import com.amazon.SellingPartnerAPIAA.LWAException;
import com.google.gson.reflect.TypeToken;
import io.github.bucket4j.Bucket;
import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import software.amazon.spapi.ApiCallback;
import software.amazon.spapi.ApiClient;
import software.amazon.spapi.ApiException;
import software.amazon.spapi.ApiResponse;
import software.amazon.spapi.Configuration;
import software.amazon.spapi.Pair;
import software.amazon.spapi.ProgressRequestBody;
import software.amazon.spapi.StringUtil;
import software.amazon.spapi.models.sellerwallet.v2024_03_01.Transaction;
import software.amazon.spapi.models.sellerwallet.v2024_03_01.TransactionInitiationRequest;
import software.amazon.spapi.models.sellerwallet.v2024_03_01.TransactionListing;

public class TransactionsApi {
    private ApiClient apiClient;
    private Boolean disableRateLimiting;

    public TransactionsApi(ApiClient apiClient, Boolean disableRateLimiting) {
        this.apiClient = apiClient;
        this.disableRateLimiting = disableRateLimiting;
    }

    private final Configuration config = Configuration.get();

    public final Bucket createTransactionBucket = Bucket.builder()
            .addLimit(config.getLimit("TransactionsApi-createTransaction"))
            .build();

    public final Bucket getTransactionBucket = Bucket.builder()
            .addLimit(config.getLimit("TransactionsApi-getTransaction"))
            .build();

    public final Bucket listAccountTransactionsBucket = Bucket.builder()
            .addLimit(config.getLimit("TransactionsApi-listAccountTransactions"))
            .build();

    /**
     * Build call for createTransaction
     *
     * @param body The payload of the request (required)
     * @param destAccountDigitalSignature Digital signature for the destination bank account details. (required)
     * @param amountDigitalSignature Digital signature for the source currency transaction amount. (required)
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    private okhttp3.Call createTransactionCall(
            TransactionInitiationRequest body,
            String destAccountDigitalSignature,
            String amountDigitalSignature,
            final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath = "/finances/transfers/wallet/2024-03-01/transactions";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (destAccountDigitalSignature != null)
            localVarHeaderParams.put(
                    "destAccountDigitalSignature", apiClient.parameterToString(destAccountDigitalSignature));
        if (amountDigitalSignature != null)
            localVarHeaderParams.put("amountDigitalSignature", apiClient.parameterToString(amountDigitalSignature));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {"application/json"};
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        return apiClient.buildCall(
                localVarPath,
                "POST",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarPostBody,
                localVarHeaderParams,
                localVarFormParams,
                progressRequestListener);
    }

    private okhttp3.Call createTransactionValidateBeforeCall(
            TransactionInitiationRequest body,
            String destAccountDigitalSignature,
            String amountDigitalSignature,
            final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling createTransaction(Async)");
        }
        // verify the required parameter 'destAccountDigitalSignature' is set
        if (destAccountDigitalSignature == null) {
            throw new ApiException(
                    "Missing the required parameter 'destAccountDigitalSignature' when calling createTransaction(Async)");
        }
        // verify the required parameter 'amountDigitalSignature' is set
        if (amountDigitalSignature == null) {
            throw new ApiException(
                    "Missing the required parameter 'amountDigitalSignature' when calling createTransaction(Async)");
        }

        return createTransactionCall(
                body, destAccountDigitalSignature, amountDigitalSignature, progressRequestListener);
    }

    /**
     * Create a transaction request from Amazon Seller Wallet account to another customer-provided account Create a
     * transaction request from an Amazon Seller Wallet account to another customer-provided account.
     *
     * @param body The payload of the request (required)
     * @param destAccountDigitalSignature Digital signature for the destination bank account details. (required)
     * @param amountDigitalSignature Digital signature for the source currency transaction amount. (required)
     * @return Transaction
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public Transaction createTransaction(
            TransactionInitiationRequest body, String destAccountDigitalSignature, String amountDigitalSignature)
            throws ApiException, LWAException {
        ApiResponse<Transaction> resp =
                createTransactionWithHttpInfo(body, destAccountDigitalSignature, amountDigitalSignature);
        return resp.getData();
    }

    /**
     * Create a transaction request from Amazon Seller Wallet account to another customer-provided account Create a
     * transaction request from an Amazon Seller Wallet account to another customer-provided account.
     *
     * @param body The payload of the request (required)
     * @param destAccountDigitalSignature Digital signature for the destination bank account details. (required)
     * @param amountDigitalSignature Digital signature for the source currency transaction amount. (required)
     * @return ApiResponse&lt;Transaction&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<Transaction> createTransactionWithHttpInfo(
            TransactionInitiationRequest body, String destAccountDigitalSignature, String amountDigitalSignature)
            throws ApiException, LWAException {
        okhttp3.Call call =
                createTransactionValidateBeforeCall(body, destAccountDigitalSignature, amountDigitalSignature, null);
        if (disableRateLimiting || createTransactionBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<Transaction>() {}.getType();
            return apiClient.execute(call, localVarReturnType);
        } else throw new ApiException.RateLimitExceeded("createTransaction operation exceeds rate limit");
    }

    /**
     * Create a transaction request from Amazon Seller Wallet account to another customer-provided account
     * (asynchronously) Create a transaction request from an Amazon Seller Wallet account to another customer-provided
     * account.
     *
     * @param body The payload of the request (required)
     * @param destAccountDigitalSignature Digital signature for the destination bank account details. (required)
     * @param amountDigitalSignature Digital signature for the source currency transaction amount. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call createTransactionAsync(
            TransactionInitiationRequest body,
            String destAccountDigitalSignature,
            String amountDigitalSignature,
            final ApiCallback<Transaction> callback)
            throws ApiException, LWAException {

        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressRequestListener = callback::onUploadProgress;
        }

        okhttp3.Call call = createTransactionValidateBeforeCall(
                body, destAccountDigitalSignature, amountDigitalSignature, progressRequestListener);
        if (disableRateLimiting || createTransactionBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<Transaction>() {}.getType();
            apiClient.executeAsync(call, localVarReturnType, callback);
            return call;
        } else throw new ApiException.RateLimitExceeded("createTransaction operation exceeds rate limit");
    }
    /**
     * Build call for getTransaction
     *
     * @param transactionId The ID of the Amazon Seller Wallet transaction. (required)
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    private okhttp3.Call getTransactionCall(
            String transactionId, final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/finances/transfers/wallet/2024-03-01/transactions/{transactionId}"
                .replaceAll("\\{" + "transactionId" + "\\}", apiClient.escapeString(transactionId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {};

        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        return apiClient.buildCall(
                localVarPath,
                "GET",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarPostBody,
                localVarHeaderParams,
                localVarFormParams,
                progressRequestListener);
    }

    private okhttp3.Call getTransactionValidateBeforeCall(
            String transactionId, final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {
        // verify the required parameter 'transactionId' is set
        if (transactionId == null) {
            throw new ApiException("Missing the required parameter 'transactionId' when calling getTransaction(Async)");
        }

        return getTransactionCall(transactionId, progressRequestListener);
    }

    /**
     * Find particular Amazon Seller Wallet account transaction by Amazon transaction identifier Find a transaction by
     * the Amazon transaction identifier.
     *
     * @param transactionId The ID of the Amazon Seller Wallet transaction. (required)
     * @return Transaction
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public Transaction getTransaction(String transactionId) throws ApiException, LWAException {
        ApiResponse<Transaction> resp = getTransactionWithHttpInfo(transactionId);
        return resp.getData();
    }

    /**
     * Find particular Amazon Seller Wallet account transaction by Amazon transaction identifier Find a transaction by
     * the Amazon transaction identifier.
     *
     * @param transactionId The ID of the Amazon Seller Wallet transaction. (required)
     * @return ApiResponse&lt;Transaction&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<Transaction> getTransactionWithHttpInfo(String transactionId) throws ApiException, LWAException {
        okhttp3.Call call = getTransactionValidateBeforeCall(transactionId, null);
        if (disableRateLimiting || getTransactionBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<Transaction>() {}.getType();
            return apiClient.execute(call, localVarReturnType);
        } else throw new ApiException.RateLimitExceeded("getTransaction operation exceeds rate limit");
    }

    /**
     * Find particular Amazon Seller Wallet account transaction by Amazon transaction identifier (asynchronously) Find a
     * transaction by the Amazon transaction identifier.
     *
     * @param transactionId The ID of the Amazon Seller Wallet transaction. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call getTransactionAsync(String transactionId, final ApiCallback<Transaction> callback)
            throws ApiException, LWAException {

        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressRequestListener = callback::onUploadProgress;
        }

        okhttp3.Call call = getTransactionValidateBeforeCall(transactionId, progressRequestListener);
        if (disableRateLimiting || getTransactionBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<Transaction>() {}.getType();
            apiClient.executeAsync(call, localVarReturnType, callback);
            return call;
        } else throw new ApiException.RateLimitExceeded("getTransaction operation exceeds rate limit");
    }
    /**
     * Build call for listAccountTransactions
     *
     * @param accountId The ID of the Amazon Seller Wallet account. (required)
     * @param nextPageToken A token that you use to retrieve the next page of results. The response includes
     *     &#x60;nextPageToken&#x60; when the number of results exceeds 100. To get the next page of results, call the
     *     operation with this token and include the same arguments as the call that produced the token. To get a
     *     complete list, call this operation until &#x60;nextPageToken&#x60; is null. Note that this operation can
     *     return empty pages. (optional)
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    private okhttp3.Call listAccountTransactionsCall(
            String accountId,
            String nextPageToken,
            final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/finances/transfers/wallet/2024-03-01/transactions";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (accountId != null) localVarQueryParams.addAll(apiClient.parameterToPair("accountId", accountId));
        if (nextPageToken != null)
            localVarQueryParams.addAll(apiClient.parameterToPair("nextPageToken", nextPageToken));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {};

        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        return apiClient.buildCall(
                localVarPath,
                "GET",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarPostBody,
                localVarHeaderParams,
                localVarFormParams,
                progressRequestListener);
    }

    private okhttp3.Call listAccountTransactionsValidateBeforeCall(
            String accountId,
            String nextPageToken,
            final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {
        // verify the required parameter 'accountId' is set
        if (accountId == null) {
            throw new ApiException(
                    "Missing the required parameter 'accountId' when calling listAccountTransactions(Async)");
        }

        return listAccountTransactionsCall(accountId, nextPageToken, progressRequestListener);
    }

    /**
     * The API will return all the transactions for a given Amazon Seller Wallet account sorted by the transaction
     * request date Retrieve a list of transactions for a given Amazon Seller Wallet bank account.
     *
     * @param accountId The ID of the Amazon Seller Wallet account. (required)
     * @param nextPageToken A token that you use to retrieve the next page of results. The response includes
     *     &#x60;nextPageToken&#x60; when the number of results exceeds 100. To get the next page of results, call the
     *     operation with this token and include the same arguments as the call that produced the token. To get a
     *     complete list, call this operation until &#x60;nextPageToken&#x60; is null. Note that this operation can
     *     return empty pages. (optional)
     * @return TransactionListing
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public TransactionListing listAccountTransactions(String accountId, String nextPageToken)
            throws ApiException, LWAException {
        ApiResponse<TransactionListing> resp = listAccountTransactionsWithHttpInfo(accountId, nextPageToken);
        return resp.getData();
    }

    /**
     * The API will return all the transactions for a given Amazon Seller Wallet account sorted by the transaction
     * request date Retrieve a list of transactions for a given Amazon Seller Wallet bank account.
     *
     * @param accountId The ID of the Amazon Seller Wallet account. (required)
     * @param nextPageToken A token that you use to retrieve the next page of results. The response includes
     *     &#x60;nextPageToken&#x60; when the number of results exceeds 100. To get the next page of results, call the
     *     operation with this token and include the same arguments as the call that produced the token. To get a
     *     complete list, call this operation until &#x60;nextPageToken&#x60; is null. Note that this operation can
     *     return empty pages. (optional)
     * @return ApiResponse&lt;TransactionListing&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<TransactionListing> listAccountTransactionsWithHttpInfo(String accountId, String nextPageToken)
            throws ApiException, LWAException {
        okhttp3.Call call = listAccountTransactionsValidateBeforeCall(accountId, nextPageToken, null);
        if (disableRateLimiting || listAccountTransactionsBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<TransactionListing>() {}.getType();
            return apiClient.execute(call, localVarReturnType);
        } else throw new ApiException.RateLimitExceeded("listAccountTransactions operation exceeds rate limit");
    }

    /**
     * The API will return all the transactions for a given Amazon Seller Wallet account sorted by the transaction
     * request date (asynchronously) Retrieve a list of transactions for a given Amazon Seller Wallet bank account.
     *
     * @param accountId The ID of the Amazon Seller Wallet account. (required)
     * @param nextPageToken A token that you use to retrieve the next page of results. The response includes
     *     &#x60;nextPageToken&#x60; when the number of results exceeds 100. To get the next page of results, call the
     *     operation with this token and include the same arguments as the call that produced the token. To get a
     *     complete list, call this operation until &#x60;nextPageToken&#x60; is null. Note that this operation can
     *     return empty pages. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call listAccountTransactionsAsync(
            String accountId, String nextPageToken, final ApiCallback<TransactionListing> callback)
            throws ApiException, LWAException {

        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressRequestListener = callback::onUploadProgress;
        }

        okhttp3.Call call =
                listAccountTransactionsValidateBeforeCall(accountId, nextPageToken, progressRequestListener);
        if (disableRateLimiting || listAccountTransactionsBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<TransactionListing>() {}.getType();
            apiClient.executeAsync(call, localVarReturnType, callback);
            return call;
        } else throw new ApiException.RateLimitExceeded("listAccountTransactions operation exceeds rate limit");
    }

    public static class Builder {
        private LWAAuthorizationCredentials lwaAuthorizationCredentials;
        private String endpoint;
        private LWAAccessTokenCache lwaAccessTokenCache;
        private Boolean disableAccessTokenCache = false;
        private Boolean disableRateLimiting = false;

        public Builder lwaAuthorizationCredentials(LWAAuthorizationCredentials lwaAuthorizationCredentials) {
            this.lwaAuthorizationCredentials = lwaAuthorizationCredentials;
            return this;
        }

        public Builder endpoint(String endpoint) {
            this.endpoint = endpoint;
            return this;
        }

        public Builder lwaAccessTokenCache(LWAAccessTokenCache lwaAccessTokenCache) {
            this.lwaAccessTokenCache = lwaAccessTokenCache;
            return this;
        }

        public Builder disableAccessTokenCache() {
            this.disableAccessTokenCache = true;
            return this;
        }

        public Builder disableRateLimiting() {
            this.disableRateLimiting = true;
            return this;
        }

        public TransactionsApi build() {
            if (lwaAuthorizationCredentials == null) {
                throw new RuntimeException("LWAAuthorizationCredentials not set");
            }

            if (StringUtil.isEmpty(endpoint)) {
                throw new RuntimeException("Endpoint not set");
            }

            LWAAuthorizationSigner lwaAuthorizationSigner = null;
            if (disableAccessTokenCache) {
                lwaAuthorizationSigner = new LWAAuthorizationSigner(lwaAuthorizationCredentials);
            } else {
                if (lwaAccessTokenCache == null) {
                    lwaAccessTokenCache = new LWAAccessTokenCacheImpl();
                }
                lwaAuthorizationSigner = new LWAAuthorizationSigner(lwaAuthorizationCredentials, lwaAccessTokenCache);
            }

            return new TransactionsApi(
                    new ApiClient()
                            .setLWAAuthorizationSigner(lwaAuthorizationSigner)
                            .setBasePath(endpoint),
                    disableRateLimiting);
        }
    }
}
