{{>licenseInfo}}

package {{package}};

import {{invokerPackage}}.ApiResponse;
import com.amazon.SellingPartnerAPIAA.LWAAuthorizationCredentials;
import org.jeasy.random.EasyRandom;
import org.jeasy.random.EasyRandomParameters;
{{#imports}}import {{import}};
{{/imports}}
import org.junit.jupiter.api.Test;

import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse.BodyHandlers;
import java.util.*;
import java.util.stream.Collectors;

import static org.junit.jupiter.api.Assertions.*;

public class {{classname}}Test {

    private static final String endpoint = "http://localhost:3000";
    private static final String authEndpoint = "http://localhost:3000/auth/o2/token";
    private static final LWAAuthorizationCredentials credentials = LWAAuthorizationCredentials.builder()
        .clientId("clientId")
        .clientSecret("clientSecret")
        .refreshToken("refreshToken")
        .endpoint(authEndpoint)
        .build();

    private final {{classname}} api = new {{classname}}.Builder()
        .lwaAuthorizationCredentials(credentials)
        .endpoint(endpoint)
        .build();

    private final EasyRandom easyRandom = new EasyRandom(
        new EasyRandomParameters().collectionSizeRange(1, 2)
                .randomizationDepth(10)
    );

{{#operations}}{{#operation}}
    @Test
    public void {{operationId}}Test() throws Exception {
        instructBackendMock("{{tags.0.name}}", "{{operationId}}", "{{responses.0.code}}");
        {{#allParams}}{{#required}}
        {{{dataType}}} {{paramName}} = {{#isArray}}easyRandom.objects({{items.dataType}}.class, 2).collect(Collectors.to{{#uniqueItems}}Set{{/uniqueItems}}{{^uniqueItems}}List{{/uniqueItems}}()){{/isArray}}{{^isArray}}easyRandom.nextObject({{{dataType}}}.class){{/isArray}};
        {{/required}}{{/allParams}}

        {{#returnType}}ApiResponse<{{{returnType}}}> response = {{/returnType}}api.{{operationId}}WithHttpInfo({{#allParams}}{{#required}}{{paramName}}{{/required}}{{^required}}null{{/required}}{{^-last}}, {{/-last}}{{/allParams}});

        {{#returnType}}
        assertEquals({{responses.0.code}}, response.getStatusCode());
        assertValidResponsePayload({{responses.0.code}}, response.getData());
        {{/returnType}}
    }

{{/operation}}{{/operations}}

    private void instructBackendMock(String basename, String operationId, String code) throws Exception {
       String lowerCaseCompressedBasename = basename.replaceAll("/\"W| ", "").toLowerCase();
       String cleanOperationId = operationId.replaceAll("_\\d+$", "");
       HttpRequest request = HttpRequest.newBuilder()
              .uri(new URI(endpoint + "/response/" + lowerCaseCompressedBasename + "-" + cleanOperationId + "/code/" + code))
              .POST(HttpRequest.BodyPublishers.noBody())
              .build();

        HttpClient.newHttpClient().send(request, BodyHandlers.discarding());
    }

    private static void assertValidResponsePayload(int statusCode, Object body) {
        if(statusCode != 204) assertNotNull(body);
    }
}

