{{>licenseInfo}}

package {{invokerPackage}};

import okhttp3.OkHttpClient;

{{>generatedAnnotation}}
public class Configuration {
    private OkHttpClient okHttpClient;
    private static Configuration instance;

    private Configuration() {}

    public OkHttpClient getOkHttpClient() {
        if (okHttpClient == null) okHttpClient = new OkHttpClient();
        return okHttpClient;
    }

    public static Configuration get() {
        if (instance == null) {
            instance = new Configuration();
        }
        return instance;
    }
}