/**
 * {{description}}{{^description}}Gets or Sets {{{name}}}{{/description}}
 */
@JsonAdapter({{{classname}}}.Adapter.class)
public enum {{{classname}}} {
{{#allowableValues}}{{#enumVars}}
    @SerializedName({{{value}}})
    {{{name}}}({{{value}}}){{^-last}},{{/-last}}{{#-last}};{{/-last}}
{{/enumVars}}{{/allowableValues}}

    private {{{dataType}}} value;

    {{{classname}}}({{{dataType}}} value) {
        this.value = value;
    }

    public {{{dataType}}} getValue() {
        return value;
    }

    @Override
    public String toString() {
        return String.valueOf(value);
    }

    public static {{{classname}}} fromValue({{{dataType}}} input) {
        for ({{{classname}}} b : {{{classname}}}.values()) {
            if (b.value.equals(input)) {
                return b;
            }
        }
        return null;
    }

    public static class Adapter extends TypeAdapter<{{{classname}}}> {
        @Override
        public void write(final JsonWriter jsonWriter, final {{{classname}}} enumeration) throws IOException {
            jsonWriter.value(String.valueOf(enumeration.getValue()));
        }

        @Override
        public {{{classname}}} read(final JsonReader jsonReader) throws IOException {
            Object value = jsonReader.nextString();
            return {{{classname}}}.fromValue(({{{dataType}}}) (value));
        }
    }
}
