# coding: utf-8

"""
    The Selling Partner API for Amazon External Fulfillment Location Management

    You can use the External Fulfillment Location API to manage locations in the sandbox environment for end-to-end testing. This API is available only in the sandbox environment.

    The version of the OpenAPI document: 2026-07-30
    Contact: marketplaceapitest@amazon.com
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from spapi.api_client import ApiClient


class SandboxLocationApi(object):
    """NOTE: This class is auto generated by the openapi generator.

    Do not edit the class manually.
    """

    api_models_module = "spapi.models.external_fulfillment_location_v2026_07_30"

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client
        self.classFileName = 'sandbox_location_api'

    def create_sandbox_location(self, body, **kwargs):  # noqa: E501
        """create_sandbox_location  # noqa: E501

        Creates a sandbox location and merchant in the test environment. This operation is available only in the sandbox environment and is used for onboarding test locations. Idempotency is ensured on locationName.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_sandbox_location(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateSandboxLocationRequest body: The request body for creating a sandbox location. (required)
        :return: CreateSandboxLocationResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_sandbox_location_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_sandbox_location_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_sandbox_location_with_http_info(self, body, **kwargs):  # noqa: E501
        """create_sandbox_location  # noqa: E501

        Creates a sandbox location and merchant in the test environment. This operation is available only in the sandbox environment and is used for onboarding test locations. Idempotency is ensured on locationName.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_sandbox_location_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateSandboxLocationRequest body: The request body for creating a sandbox location. (required)
        :return: CreateSandboxLocationResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_sandbox_location" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if self.api_client.client_side_validation and ('body' not in params or
                                                       params['body'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `body` when calling `create_sandbox_location`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/externalFulfillment/2026-07-30/location', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CreateSandboxLocationResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)
