/*
 * Selling Partner API for Orders
 * Use the Orders Selling Partner API to programmatically retrieve order information. With this API, you can develop fast, flexible, and custom applications to manage order synchronization, perform order research, and create demand-based decision support tools.   _Note:_ For the JP, AU, and SG marketplaces, the Orders API supports orders from 2016 onward. For all other marketplaces, the Orders API supports orders for the last two years (orders older than this don't show up in the response).
 *
 * The version of the OpenAPI document: v0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package software.amazon.spapi.api.orders.v0;

import com.amazon.SellingPartnerAPIAA.LWAAccessTokenCache;
import com.amazon.SellingPartnerAPIAA.LWAAccessTokenCacheImpl;
import com.amazon.SellingPartnerAPIAA.LWAAuthorizationCredentials;
import com.amazon.SellingPartnerAPIAA.LWAAuthorizationSigner;
import com.amazon.SellingPartnerAPIAA.LWAException;
import com.amazon.SellingPartnerAPIAA.RestrictedDataTokenSigner;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import software.amazon.spapi.ApiCallback;
import software.amazon.spapi.ApiClient;
import software.amazon.spapi.ApiException;
import software.amazon.spapi.ApiResponse;
import software.amazon.spapi.Pair;
import software.amazon.spapi.StringUtil;
import software.amazon.spapi.models.orders.v0.UpdateShipmentStatusRequest;

public class ShipmentApi {
    private ApiClient apiClient;

    public ShipmentApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for updateShipmentStatus
     *
     * @param orderId An Amazon-defined order identifier, in 3-7-7 format. (required)
     * @param payload The request body for the &#x60;updateShipmentStatus&#x60; operation. (required)
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    private okhttp3.Call updateShipmentStatusCall(
            String orderId, UpdateShipmentStatusRequest payload, final ApiCallback progressRequestListener)
            throws ApiException, LWAException {
        Object localVarPostBody = payload;

        // create path and map variables
        String localVarPath;
        if ("/orders/v0/orders/{orderId}/shipment".equals("/uploads/2020-11-01/uploadDestinations/{resource}")) {
            localVarPath =
                    "/orders/v0/orders/{orderId}/shipment".replaceAll("\\{" + "orderId" + "\\}", orderId.toString());
        } else {
            localVarPath = "/orders/v0/orders/{orderId}/shipment"
                    .replaceAll("\\{" + "orderId" + "\\}", apiClient.escapeString(orderId.toString()));
        }

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {"application/json"};
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        return apiClient.buildCall(
                localVarPath,
                "POST",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarPostBody,
                localVarHeaderParams,
                localVarFormParams,
                progressRequestListener);
    }

    private okhttp3.Call updateShipmentStatusValidateBeforeCall(
            String orderId, UpdateShipmentStatusRequest payload, final ApiCallback progressRequestListener)
            throws ApiException, LWAException {

        // verify the required parameter 'orderId' is set
        if (orderId == null) {
            throw new ApiException("Missing the required parameter 'orderId' when calling updateShipmentStatus(Async)");
        }

        // verify the required parameter 'payload' is set
        if (payload == null) {
            throw new ApiException("Missing the required parameter 'payload' when calling updateShipmentStatus(Async)");
        }

        return updateShipmentStatusCall(orderId, payload, progressRequestListener);
    }

    /**
     * Update the shipment status for an order that you specify. **Usage Plan:** | Rate (requests per second) | Burst |
     * | ---- | ---- | | 5 | 15 | The &#x60;x-amzn-RateLimit-Limit&#x60; response header contains the usage plan rate
     * limits for the operation, when available. The preceding table contains the default rate and burst values for this
     * operation. Selling partners whose business demands require higher throughput might have higher rate and burst
     * values than those shown here. For more information, refer to [Usage Plans and Rate
     * Limits](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param orderId An Amazon-defined order identifier, in 3-7-7 format. (required)
     * @param payload The request body for the &#x60;updateShipmentStatus&#x60; operation. (required)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public void updateShipmentStatus(String orderId, UpdateShipmentStatusRequest payload, String restrictedDataToken)
            throws ApiException, LWAException {
        updateShipmentStatusWithHttpInfo(orderId, payload, restrictedDataToken);
    }

    /**
     * Update the shipment status for an order that you specify. **Usage Plan:** | Rate (requests per second) | Burst |
     * | ---- | ---- | | 5 | 15 | The &#x60;x-amzn-RateLimit-Limit&#x60; response header contains the usage plan rate
     * limits for the operation, when available. The preceding table contains the default rate and burst values for this
     * operation. Selling partners whose business demands require higher throughput might have higher rate and burst
     * values than those shown here. For more information, refer to [Usage Plans and Rate
     * Limits](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param orderId An Amazon-defined order identifier, in 3-7-7 format. (required)
     * @param payload The request body for the &#x60;updateShipmentStatus&#x60; operation. (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public void updateShipmentStatus(String orderId, UpdateShipmentStatusRequest payload)
            throws ApiException, LWAException {
        updateShipmentStatusWithHttpInfo(orderId, payload, null);
    }

    /**
     * Update the shipment status for an order that you specify. **Usage Plan:** | Rate (requests per second) | Burst |
     * | ---- | ---- | | 5 | 15 | The &#x60;x-amzn-RateLimit-Limit&#x60; response header contains the usage plan rate
     * limits for the operation, when available. The preceding table contains the default rate and burst values for this
     * operation. Selling partners whose business demands require higher throughput might have higher rate and burst
     * values than those shown here. For more information, refer to [Usage Plans and Rate
     * Limits](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param orderId An Amazon-defined order identifier, in 3-7-7 format. (required)
     * @param payload The request body for the &#x60;updateShipmentStatus&#x60; operation. (required)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<Void> updateShipmentStatusWithHttpInfo(
            String orderId, UpdateShipmentStatusRequest payload, String restrictedDataToken)
            throws ApiException, LWAException {
        okhttp3.Call call = updateShipmentStatusValidateBeforeCall(orderId, payload, null);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(request, restrictedDataToken, "ShipmentApi-updateShipmentStatus");
            call = apiClient.getHttpClient().newCall(request);
        }

        return apiClient.execute(call);
    }

    /**
     * Update the shipment status for an order that you specify. **Usage Plan:** | Rate (requests per second) | Burst |
     * | ---- | ---- | | 5 | 15 | The &#x60;x-amzn-RateLimit-Limit&#x60; response header contains the usage plan rate
     * limits for the operation, when available. The preceding table contains the default rate and burst values for this
     * operation. Selling partners whose business demands require higher throughput might have higher rate and burst
     * values than those shown here. For more information, refer to [Usage Plans and Rate
     * Limits](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param orderId An Amazon-defined order identifier, in 3-7-7 format. (required)
     * @param payload The request body for the &#x60;updateShipmentStatus&#x60; operation. (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<Void> updateShipmentStatusWithHttpInfo(String orderId, UpdateShipmentStatusRequest payload)
            throws ApiException, LWAException {
        return updateShipmentStatusWithHttpInfo(orderId, payload, null);
    }

    /**
     * (asynchronously) Update the shipment status for an order that you specify. **Usage Plan:** | Rate (requests per
     * second) | Burst | | ---- | ---- | | 5 | 15 | The &#x60;x-amzn-RateLimit-Limit&#x60; response header contains the
     * usage plan rate limits for the operation, when available. The preceding table contains the default rate and burst
     * values for this operation. Selling partners whose business demands require higher throughput might have higher
     * rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate
     * Limits](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param orderId An Amazon-defined order identifier, in 3-7-7 format. (required)
     * @param payload The request body for the &#x60;updateShipmentStatus&#x60; operation. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call updateShipmentStatusAsync(
            String orderId, UpdateShipmentStatusRequest payload, final ApiCallback<Void> callback)
            throws ApiException, LWAException {
        return updateShipmentStatusAsync(orderId, payload, callback, null);
    }
    /**
     * (asynchronously) Update the shipment status for an order that you specify. **Usage Plan:** | Rate (requests per
     * second) | Burst | | ---- | ---- | | 5 | 15 | The &#x60;x-amzn-RateLimit-Limit&#x60; response header contains the
     * usage plan rate limits for the operation, when available. The preceding table contains the default rate and burst
     * values for this operation. Selling partners whose business demands require higher throughput might have higher
     * rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate
     * Limits](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param orderId An Amazon-defined order identifier, in 3-7-7 format. (required)
     * @param payload The request body for the &#x60;updateShipmentStatus&#x60; operation. (required)
     * @param callback The callback to be executed when the API call finishes
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call updateShipmentStatusAsync(
            String orderId,
            UpdateShipmentStatusRequest payload,
            final ApiCallback<Void> callback,
            String restrictedDataToken)
            throws ApiException, LWAException {

        ApiCallback progressRequestListener = null;

        if (callback != null) {
            progressRequestListener = callback;
        }

        okhttp3.Call call = updateShipmentStatusValidateBeforeCall(orderId, payload, progressRequestListener);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(request, restrictedDataToken, "ShipmentApi-updateShipmentStatus");
            call = apiClient.getHttpClient().newCall(request);
        }

        apiClient.executeAsync(call, callback);
        return call;
    }

    public static class Builder {
        private LWAAuthorizationCredentials lwaAuthorizationCredentials;
        private String endpoint;
        private LWAAccessTokenCache lwaAccessTokenCache;
        private Boolean disableAccessTokenCache = false;

        public Builder lwaAuthorizationCredentials(LWAAuthorizationCredentials lwaAuthorizationCredentials) {
            this.lwaAuthorizationCredentials = lwaAuthorizationCredentials;
            return this;
        }

        public Builder endpoint(String endpoint) {
            this.endpoint = endpoint;
            return this;
        }

        public Builder lwaAccessTokenCache(LWAAccessTokenCache lwaAccessTokenCache) {
            this.lwaAccessTokenCache = lwaAccessTokenCache;
            return this;
        }

        public Builder disableAccessTokenCache() {
            this.disableAccessTokenCache = true;
            return this;
        }

        public ShipmentApi build() {
            if (lwaAuthorizationCredentials == null) {
                throw new RuntimeException("LWAAuthorizationCredentials not set");
            }

            if (StringUtil.isEmpty(endpoint)) {
                throw new RuntimeException("Endpoint not set");
            }

            LWAAuthorizationSigner lwaAuthorizationSigner = null;
            if (disableAccessTokenCache) {
                lwaAuthorizationSigner = new LWAAuthorizationSigner(lwaAuthorizationCredentials);
            } else {
                if (lwaAccessTokenCache == null) {
                    lwaAccessTokenCache = new LWAAccessTokenCacheImpl();
                }
                lwaAuthorizationSigner = new LWAAuthorizationSigner(lwaAuthorizationCredentials, lwaAccessTokenCache);
            }

            return new ShipmentApi(new ApiClient()
                    .setLWAAuthorizationSigner(lwaAuthorizationSigner)
                    .setBasePath(endpoint));
        }
    }
}
