/*
 * The Selling Partner API for Amazon Warehousing and Distribution
 * The Selling Partner API for Amazon Warehousing and Distribution (AWD) provides programmatic access to information about AWD shipments and inventory.
 *
 * The version of the OpenAPI document: 2024-05-09
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package software.amazon.spapi.api.awd.v2024_05_09;

import com.amazon.SellingPartnerAPIAA.LWAAccessTokenCache;
import com.amazon.SellingPartnerAPIAA.LWAAccessTokenCacheImpl;
import com.amazon.SellingPartnerAPIAA.LWAAuthorizationCredentials;
import com.amazon.SellingPartnerAPIAA.LWAAuthorizationSigner;
import com.amazon.SellingPartnerAPIAA.LWAException;
import com.amazon.SellingPartnerAPIAA.RestrictedDataTokenSigner;
import com.google.gson.reflect.TypeToken;
import io.github.bucket4j.Bucket;
import java.lang.reflect.Type;
import java.time.OffsetDateTime;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import software.amazon.spapi.ApiCallback;
import software.amazon.spapi.ApiClient;
import software.amazon.spapi.ApiException;
import software.amazon.spapi.ApiResponse;
import software.amazon.spapi.Configuration;
import software.amazon.spapi.Pair;
import software.amazon.spapi.ProgressRequestBody;
import software.amazon.spapi.StringUtil;
import software.amazon.spapi.models.awd.v2024_05_09.InboundEligibility;
import software.amazon.spapi.models.awd.v2024_05_09.InboundOrder;
import software.amazon.spapi.models.awd.v2024_05_09.InboundOrderCreationData;
import software.amazon.spapi.models.awd.v2024_05_09.InboundOrderReference;
import software.amazon.spapi.models.awd.v2024_05_09.InboundPackages;
import software.amazon.spapi.models.awd.v2024_05_09.InboundShipment;
import software.amazon.spapi.models.awd.v2024_05_09.InventoryListing;
import software.amazon.spapi.models.awd.v2024_05_09.OutboundListing;
import software.amazon.spapi.models.awd.v2024_05_09.OutboundOrder;
import software.amazon.spapi.models.awd.v2024_05_09.OutboundOrderCreationData;
import software.amazon.spapi.models.awd.v2024_05_09.OutboundOrderReference;
import software.amazon.spapi.models.awd.v2024_05_09.ReplenishmentOrder;
import software.amazon.spapi.models.awd.v2024_05_09.ReplenishmentOrderCreationData;
import software.amazon.spapi.models.awd.v2024_05_09.ReplenishmentOrderListing;
import software.amazon.spapi.models.awd.v2024_05_09.ReplenishmentOrderReference;
import software.amazon.spapi.models.awd.v2024_05_09.ShipmentLabelPageTypes;
import software.amazon.spapi.models.awd.v2024_05_09.ShipmentLabels;
import software.amazon.spapi.models.awd.v2024_05_09.ShipmentListing;
import software.amazon.spapi.models.awd.v2024_05_09.TransportationDetails;

public class AwdApi {
    private ApiClient apiClient;
    private Boolean disableRateLimiting;

    public AwdApi(ApiClient apiClient, Boolean disableRateLimiting) {
        this.apiClient = apiClient;
        this.disableRateLimiting = disableRateLimiting;
    }

    private final Configuration config = Configuration.get();

    public final Bucket cancelInboundBucket =
            Bucket.builder().addLimit(config.getLimit("AwdApi-cancelInbound")).build();

    public final Bucket checkInboundEligibilityBucket = Bucket.builder()
            .addLimit(config.getLimit("AwdApi-checkInboundEligibility"))
            .build();

    public final Bucket confirmInboundBucket =
            Bucket.builder().addLimit(config.getLimit("AwdApi-confirmInbound")).build();

    public final Bucket confirmOutboundBucket =
            Bucket.builder().addLimit(config.getLimit("AwdApi-confirmOutbound")).build();

    public final Bucket confirmReplenishmentOrderBucket = Bucket.builder()
            .addLimit(config.getLimit("AwdApi-confirmReplenishmentOrder"))
            .build();

    public final Bucket createInboundBucket =
            Bucket.builder().addLimit(config.getLimit("AwdApi-createInbound")).build();

    public final Bucket createOutboundBucket =
            Bucket.builder().addLimit(config.getLimit("AwdApi-createOutbound")).build();

    public final Bucket createReplenishmentOrderBucket = Bucket.builder()
            .addLimit(config.getLimit("AwdApi-createReplenishmentOrder"))
            .build();

    public final Bucket getInboundBucket =
            Bucket.builder().addLimit(config.getLimit("AwdApi-getInbound")).build();

    public final Bucket getInboundShipmentBucket = Bucket.builder()
            .addLimit(config.getLimit("AwdApi-getInboundShipment"))
            .build();

    public final Bucket getInboundShipmentLabelsBucket = Bucket.builder()
            .addLimit(config.getLimit("AwdApi-getInboundShipmentLabels"))
            .build();

    public final Bucket getLabelPageTypesBucket = Bucket.builder()
            .addLimit(config.getLimit("AwdApi-getLabelPageTypes"))
            .build();

    public final Bucket getOutboundBucket =
            Bucket.builder().addLimit(config.getLimit("AwdApi-getOutbound")).build();

    public final Bucket getReplenishmentOrderBucket = Bucket.builder()
            .addLimit(config.getLimit("AwdApi-getReplenishmentOrder"))
            .build();

    public final Bucket listInboundShipmentsBucket = Bucket.builder()
            .addLimit(config.getLimit("AwdApi-listInboundShipments"))
            .build();

    public final Bucket listInventoryBucket =
            Bucket.builder().addLimit(config.getLimit("AwdApi-listInventory")).build();

    public final Bucket listOutboundsBucket =
            Bucket.builder().addLimit(config.getLimit("AwdApi-listOutbounds")).build();

    public final Bucket listReplenishmentOrdersBucket = Bucket.builder()
            .addLimit(config.getLimit("AwdApi-listReplenishmentOrders"))
            .build();

    public final Bucket updateInboundBucket =
            Bucket.builder().addLimit(config.getLimit("AwdApi-updateInbound")).build();

    public final Bucket updateInboundShipmentTransportDetailsBucket = Bucket.builder()
            .addLimit(config.getLimit("AwdApi-updateInboundShipmentTransportDetails"))
            .build();

    public final Bucket updateOutboundBucket =
            Bucket.builder().addLimit(config.getLimit("AwdApi-updateOutbound")).build();

    /**
     * Build call for cancelInbound
     *
     * @param orderId The ID of the inbound order you want to cancel. (required)
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    private okhttp3.Call cancelInboundCall(
            String orderId, final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath;
        if ("/awd/2024-05-09/inboundOrders/{orderId}/cancellation"
                .equals("/uploads/2020-11-01/uploadDestinations/{resource}")) {
            localVarPath = "/awd/2024-05-09/inboundOrders/{orderId}/cancellation"
                    .replaceAll("\\{" + "orderId" + "\\}", orderId.toString());
        } else {
            localVarPath = "/awd/2024-05-09/inboundOrders/{orderId}/cancellation"
                    .replaceAll("\\{" + "orderId" + "\\}", apiClient.escapeString(orderId.toString()));
        }

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {};

        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        return apiClient.buildCall(
                localVarPath,
                "POST",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarPostBody,
                localVarHeaderParams,
                localVarFormParams,
                progressRequestListener);
    }

    private okhttp3.Call cancelInboundValidateBeforeCall(
            String orderId, final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {

        // verify the required parameter 'orderId' is set
        if (orderId == null) {
            throw new ApiException("Missing the required parameter 'orderId' when calling cancelInbound(Async)");
        }

        return cancelInboundCall(orderId, progressRequestListener);
    }

    /**
     * Cancels an AWD Inbound order and its associated shipment. **Usage Plan:** | Rate (requests per second) | Burst |
     * | ---- | ---- | | 1 | 1 | The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate
     * limits that were applied to the requested operation, when available. The preceding table indicates the default
     * rate and burst values for this operation. Selling partners whose business demands require higher throughput may
     * have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate
     * Limits in the Selling Partner
     * API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param orderId The ID of the inbound order you want to cancel. (required)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public void cancelInbound(String orderId, String restrictedDataToken) throws ApiException, LWAException {
        cancelInboundWithHttpInfo(orderId, restrictedDataToken);
    }

    /**
     * Cancels an AWD Inbound order and its associated shipment. **Usage Plan:** | Rate (requests per second) | Burst |
     * | ---- | ---- | | 1 | 1 | The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate
     * limits that were applied to the requested operation, when available. The preceding table indicates the default
     * rate and burst values for this operation. Selling partners whose business demands require higher throughput may
     * have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate
     * Limits in the Selling Partner
     * API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param orderId The ID of the inbound order you want to cancel. (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public void cancelInbound(String orderId) throws ApiException, LWAException {
        cancelInboundWithHttpInfo(orderId, null);
    }

    /**
     * Cancels an AWD Inbound order and its associated shipment. **Usage Plan:** | Rate (requests per second) | Burst |
     * | ---- | ---- | | 1 | 1 | The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate
     * limits that were applied to the requested operation, when available. The preceding table indicates the default
     * rate and burst values for this operation. Selling partners whose business demands require higher throughput may
     * have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate
     * Limits in the Selling Partner
     * API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param orderId The ID of the inbound order you want to cancel. (required)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<Void> cancelInboundWithHttpInfo(String orderId, String restrictedDataToken)
            throws ApiException, LWAException {
        okhttp3.Call call = cancelInboundValidateBeforeCall(orderId, null);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(request, restrictedDataToken, "AwdApi-cancelInbound");
            call = apiClient.getHttpClient().newCall(request);
        }

        if (disableRateLimiting || cancelInboundBucket.tryConsume(1)) {
            return apiClient.execute(call);
        } else throw new ApiException.RateLimitExceeded("cancelInbound operation exceeds rate limit");
    }

    /**
     * Cancels an AWD Inbound order and its associated shipment. **Usage Plan:** | Rate (requests per second) | Burst |
     * | ---- | ---- | | 1 | 1 | The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate
     * limits that were applied to the requested operation, when available. The preceding table indicates the default
     * rate and burst values for this operation. Selling partners whose business demands require higher throughput may
     * have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate
     * Limits in the Selling Partner
     * API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param orderId The ID of the inbound order you want to cancel. (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<Void> cancelInboundWithHttpInfo(String orderId) throws ApiException, LWAException {
        return cancelInboundWithHttpInfo(orderId, null);
    }

    /**
     * (asynchronously) Cancels an AWD Inbound order and its associated shipment. **Usage Plan:** | Rate (requests per
     * second) | Burst | | ---- | ---- | | 1 | 1 | The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the
     * usage plan rate limits that were applied to the requested operation, when available. The preceding table
     * indicates the default rate and burst values for this operation. Selling partners whose business demands require
     * higher throughput may have higher rate and burst values than those shown here. For more information, refer to
     * [Usage Plans and Rate Limits in the Selling Partner
     * API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param orderId The ID of the inbound order you want to cancel. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call cancelInboundAsync(String orderId, final ApiCallback<Void> callback)
            throws ApiException, LWAException {
        return cancelInboundAsync(orderId, callback, null);
    }
    /**
     * (asynchronously) Cancels an AWD Inbound order and its associated shipment. **Usage Plan:** | Rate (requests per
     * second) | Burst | | ---- | ---- | | 1 | 1 | The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the
     * usage plan rate limits that were applied to the requested operation, when available. The preceding table
     * indicates the default rate and burst values for this operation. Selling partners whose business demands require
     * higher throughput may have higher rate and burst values than those shown here. For more information, refer to
     * [Usage Plans and Rate Limits in the Selling Partner
     * API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param orderId The ID of the inbound order you want to cancel. (required)
     * @param callback The callback to be executed when the API call finishes
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call cancelInboundAsync(String orderId, final ApiCallback<Void> callback, String restrictedDataToken)
            throws ApiException, LWAException {

        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressRequestListener = callback::onUploadProgress;
        }

        okhttp3.Call call = cancelInboundValidateBeforeCall(orderId, progressRequestListener);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(request, restrictedDataToken, "AwdApi-cancelInbound");
            call = apiClient.getHttpClient().newCall(request);
        }

        if (disableRateLimiting || cancelInboundBucket.tryConsume(1)) {
            apiClient.executeAsync(call, callback);
            return call;
        } else throw new ApiException.RateLimitExceeded("cancelInbound operation exceeds rate limit");
    }
    /**
     * Build call for checkInboundEligibility
     *
     * @param body Represents the packages you want to inbound. (required)
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    private okhttp3.Call checkInboundEligibilityCall(
            InboundPackages body, final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath;
        if ("/awd/2024-05-09/inboundEligibility".equals("/uploads/2020-11-01/uploadDestinations/{resource}")) {
            localVarPath = "/awd/2024-05-09/inboundEligibility";
        } else {
            localVarPath = "/awd/2024-05-09/inboundEligibility";
        }

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {"application/json"};
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        return apiClient.buildCall(
                localVarPath,
                "POST",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarPostBody,
                localVarHeaderParams,
                localVarFormParams,
                progressRequestListener);
    }

    private okhttp3.Call checkInboundEligibilityValidateBeforeCall(
            InboundPackages body, final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {

        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling checkInboundEligibility(Async)");
        }

        return checkInboundEligibilityCall(body, progressRequestListener);
    }

    /**
     * Determines if the packages you specify are eligible for an AWD inbound order and contains error details for
     * ineligible packages. **Usage Plan:** | Rate (requests per second) | Burst | | ---- | ---- | | 1 | 1 | The
     * &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate limits that were applied to the
     * requested operation, when available. The preceding table indicates the default rate and burst values for this
     * operation. Selling partners whose business demands require higher throughput may have higher rate and burst
     * values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner
     * API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param body Represents the packages you want to inbound. (required)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return InboundEligibility
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public InboundEligibility checkInboundEligibility(InboundPackages body, String restrictedDataToken)
            throws ApiException, LWAException {
        ApiResponse<InboundEligibility> resp = checkInboundEligibilityWithHttpInfo(body, restrictedDataToken);
        return resp.getData();
    }

    /**
     * Determines if the packages you specify are eligible for an AWD inbound order and contains error details for
     * ineligible packages. **Usage Plan:** | Rate (requests per second) | Burst | | ---- | ---- | | 1 | 1 | The
     * &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate limits that were applied to the
     * requested operation, when available. The preceding table indicates the default rate and burst values for this
     * operation. Selling partners whose business demands require higher throughput may have higher rate and burst
     * values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner
     * API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param body Represents the packages you want to inbound. (required)
     * @return InboundEligibility
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public InboundEligibility checkInboundEligibility(InboundPackages body) throws ApiException, LWAException {
        ApiResponse<InboundEligibility> resp = checkInboundEligibilityWithHttpInfo(body, null);
        return resp.getData();
    }

    /**
     * Determines if the packages you specify are eligible for an AWD inbound order and contains error details for
     * ineligible packages. **Usage Plan:** | Rate (requests per second) | Burst | | ---- | ---- | | 1 | 1 | The
     * &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate limits that were applied to the
     * requested operation, when available. The preceding table indicates the default rate and burst values for this
     * operation. Selling partners whose business demands require higher throughput may have higher rate and burst
     * values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner
     * API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param body Represents the packages you want to inbound. (required)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return ApiResponse&lt;InboundEligibility&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<InboundEligibility> checkInboundEligibilityWithHttpInfo(
            InboundPackages body, String restrictedDataToken) throws ApiException, LWAException {
        okhttp3.Call call = checkInboundEligibilityValidateBeforeCall(body, null);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(request, restrictedDataToken, "AwdApi-checkInboundEligibility");
            call = apiClient.getHttpClient().newCall(request);
        }

        if (disableRateLimiting || checkInboundEligibilityBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<InboundEligibility>() {}.getType();
            return apiClient.execute(call, localVarReturnType);
        } else throw new ApiException.RateLimitExceeded("checkInboundEligibility operation exceeds rate limit");
    }

    /**
     * Determines if the packages you specify are eligible for an AWD inbound order and contains error details for
     * ineligible packages. **Usage Plan:** | Rate (requests per second) | Burst | | ---- | ---- | | 1 | 1 | The
     * &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate limits that were applied to the
     * requested operation, when available. The preceding table indicates the default rate and burst values for this
     * operation. Selling partners whose business demands require higher throughput may have higher rate and burst
     * values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner
     * API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param body Represents the packages you want to inbound. (required)
     * @return ApiResponse&lt;InboundEligibility&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<InboundEligibility> checkInboundEligibilityWithHttpInfo(InboundPackages body)
            throws ApiException, LWAException {
        return checkInboundEligibilityWithHttpInfo(body, null);
    }

    /**
     * (asynchronously) Determines if the packages you specify are eligible for an AWD inbound order and contains error
     * details for ineligible packages. **Usage Plan:** | Rate (requests per second) | Burst | | ---- | ---- | | 1 | 1 |
     * The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate limits that were applied to
     * the requested operation, when available. The preceding table indicates the default rate and burst values for this
     * operation. Selling partners whose business demands require higher throughput may have higher rate and burst
     * values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner
     * API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param body Represents the packages you want to inbound. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call checkInboundEligibilityAsync(
            InboundPackages body, final ApiCallback<InboundEligibility> callback) throws ApiException, LWAException {
        return checkInboundEligibilityAsync(body, callback, null);
    }
    /**
     * (asynchronously) Determines if the packages you specify are eligible for an AWD inbound order and contains error
     * details for ineligible packages. **Usage Plan:** | Rate (requests per second) | Burst | | ---- | ---- | | 1 | 1 |
     * The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate limits that were applied to
     * the requested operation, when available. The preceding table indicates the default rate and burst values for this
     * operation. Selling partners whose business demands require higher throughput may have higher rate and burst
     * values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner
     * API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param body Represents the packages you want to inbound. (required)
     * @param callback The callback to be executed when the API call finishes
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call checkInboundEligibilityAsync(
            InboundPackages body, final ApiCallback<InboundEligibility> callback, String restrictedDataToken)
            throws ApiException, LWAException {

        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressRequestListener = callback::onUploadProgress;
        }

        okhttp3.Call call = checkInboundEligibilityValidateBeforeCall(body, progressRequestListener);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(request, restrictedDataToken, "AwdApi-checkInboundEligibility");
            call = apiClient.getHttpClient().newCall(request);
        }

        if (disableRateLimiting || checkInboundEligibilityBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<InboundEligibility>() {}.getType();
            apiClient.executeAsync(call, localVarReturnType, callback);
            return call;
        } else throw new ApiException.RateLimitExceeded("checkInboundEligibility operation exceeds rate limit");
    }
    /**
     * Build call for confirmInbound
     *
     * @param orderId The ID of the inbound order that you want to confirm. (required)
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    private okhttp3.Call confirmInboundCall(
            String orderId, final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath;
        if ("/awd/2024-05-09/inboundOrders/{orderId}/confirmation"
                .equals("/uploads/2020-11-01/uploadDestinations/{resource}")) {
            localVarPath = "/awd/2024-05-09/inboundOrders/{orderId}/confirmation"
                    .replaceAll("\\{" + "orderId" + "\\}", orderId.toString());
        } else {
            localVarPath = "/awd/2024-05-09/inboundOrders/{orderId}/confirmation"
                    .replaceAll("\\{" + "orderId" + "\\}", apiClient.escapeString(orderId.toString()));
        }

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {};

        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        return apiClient.buildCall(
                localVarPath,
                "POST",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarPostBody,
                localVarHeaderParams,
                localVarFormParams,
                progressRequestListener);
    }

    private okhttp3.Call confirmInboundValidateBeforeCall(
            String orderId, final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {

        // verify the required parameter 'orderId' is set
        if (orderId == null) {
            throw new ApiException("Missing the required parameter 'orderId' when calling confirmInbound(Async)");
        }

        return confirmInboundCall(orderId, progressRequestListener);
    }

    /**
     * Confirms an AWD inbound order in &#x60;DRAFT&#x60; status. **Usage Plan:** | Rate (requests per second) | Burst |
     * | ---- | ---- | | 1 | 1 | The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate
     * limits that were applied to the requested operation, when available. The table above indicates the default rate
     * and burst values for this operation. Selling partners whose business demands require higher throughput may see
     * higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits
     * in the Selling Partner
     * API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param orderId The ID of the inbound order that you want to confirm. (required)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public void confirmInbound(String orderId, String restrictedDataToken) throws ApiException, LWAException {
        confirmInboundWithHttpInfo(orderId, restrictedDataToken);
    }

    /**
     * Confirms an AWD inbound order in &#x60;DRAFT&#x60; status. **Usage Plan:** | Rate (requests per second) | Burst |
     * | ---- | ---- | | 1 | 1 | The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate
     * limits that were applied to the requested operation, when available. The table above indicates the default rate
     * and burst values for this operation. Selling partners whose business demands require higher throughput may see
     * higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits
     * in the Selling Partner
     * API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param orderId The ID of the inbound order that you want to confirm. (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public void confirmInbound(String orderId) throws ApiException, LWAException {
        confirmInboundWithHttpInfo(orderId, null);
    }

    /**
     * Confirms an AWD inbound order in &#x60;DRAFT&#x60; status. **Usage Plan:** | Rate (requests per second) | Burst |
     * | ---- | ---- | | 1 | 1 | The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate
     * limits that were applied to the requested operation, when available. The table above indicates the default rate
     * and burst values for this operation. Selling partners whose business demands require higher throughput may see
     * higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits
     * in the Selling Partner
     * API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param orderId The ID of the inbound order that you want to confirm. (required)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<Void> confirmInboundWithHttpInfo(String orderId, String restrictedDataToken)
            throws ApiException, LWAException {
        okhttp3.Call call = confirmInboundValidateBeforeCall(orderId, null);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(request, restrictedDataToken, "AwdApi-confirmInbound");
            call = apiClient.getHttpClient().newCall(request);
        }

        if (disableRateLimiting || confirmInboundBucket.tryConsume(1)) {
            return apiClient.execute(call);
        } else throw new ApiException.RateLimitExceeded("confirmInbound operation exceeds rate limit");
    }

    /**
     * Confirms an AWD inbound order in &#x60;DRAFT&#x60; status. **Usage Plan:** | Rate (requests per second) | Burst |
     * | ---- | ---- | | 1 | 1 | The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate
     * limits that were applied to the requested operation, when available. The table above indicates the default rate
     * and burst values for this operation. Selling partners whose business demands require higher throughput may see
     * higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits
     * in the Selling Partner
     * API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param orderId The ID of the inbound order that you want to confirm. (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<Void> confirmInboundWithHttpInfo(String orderId) throws ApiException, LWAException {
        return confirmInboundWithHttpInfo(orderId, null);
    }

    /**
     * (asynchronously) Confirms an AWD inbound order in &#x60;DRAFT&#x60; status. **Usage Plan:** | Rate (requests per
     * second) | Burst | | ---- | ---- | | 1 | 1 | The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the
     * usage plan rate limits that were applied to the requested operation, when available. The table above indicates
     * the default rate and burst values for this operation. Selling partners whose business demands require higher
     * throughput may see higher rate and burst values than those shown here. For more information, refer to [Usage
     * Plans and Rate Limits in the Selling Partner
     * API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param orderId The ID of the inbound order that you want to confirm. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call confirmInboundAsync(String orderId, final ApiCallback<Void> callback)
            throws ApiException, LWAException {
        return confirmInboundAsync(orderId, callback, null);
    }
    /**
     * (asynchronously) Confirms an AWD inbound order in &#x60;DRAFT&#x60; status. **Usage Plan:** | Rate (requests per
     * second) | Burst | | ---- | ---- | | 1 | 1 | The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the
     * usage plan rate limits that were applied to the requested operation, when available. The table above indicates
     * the default rate and burst values for this operation. Selling partners whose business demands require higher
     * throughput may see higher rate and burst values than those shown here. For more information, refer to [Usage
     * Plans and Rate Limits in the Selling Partner
     * API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param orderId The ID of the inbound order that you want to confirm. (required)
     * @param callback The callback to be executed when the API call finishes
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call confirmInboundAsync(
            String orderId, final ApiCallback<Void> callback, String restrictedDataToken)
            throws ApiException, LWAException {

        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressRequestListener = callback::onUploadProgress;
        }

        okhttp3.Call call = confirmInboundValidateBeforeCall(orderId, progressRequestListener);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(request, restrictedDataToken, "AwdApi-confirmInbound");
            call = apiClient.getHttpClient().newCall(request);
        }

        if (disableRateLimiting || confirmInboundBucket.tryConsume(1)) {
            apiClient.executeAsync(call, callback);
            return call;
        } else throw new ApiException.RateLimitExceeded("confirmInbound operation exceeds rate limit");
    }
    /**
     * Build call for confirmOutbound
     *
     * @param orderId ID for the outbound order you want to confirm. (required)
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    private okhttp3.Call confirmOutboundCall(
            String orderId, final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath;
        if ("/awd/2024-05-09/outboundOrders/{orderId}/confirmation"
                .equals("/uploads/2020-11-01/uploadDestinations/{resource}")) {
            localVarPath = "/awd/2024-05-09/outboundOrders/{orderId}/confirmation"
                    .replaceAll("\\{" + "orderId" + "\\}", orderId.toString());
        } else {
            localVarPath = "/awd/2024-05-09/outboundOrders/{orderId}/confirmation"
                    .replaceAll("\\{" + "orderId" + "\\}", apiClient.escapeString(orderId.toString()));
        }

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {};

        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        return apiClient.buildCall(
                localVarPath,
                "POST",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarPostBody,
                localVarHeaderParams,
                localVarFormParams,
                progressRequestListener);
    }

    private okhttp3.Call confirmOutboundValidateBeforeCall(
            String orderId, final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {

        // verify the required parameter 'orderId' is set
        if (orderId == null) {
            throw new ApiException("Missing the required parameter 'orderId' when calling confirmOutbound(Async)");
        }

        return confirmOutboundCall(orderId, progressRequestListener);
    }

    /**
     * Confirms an AWD outbound order for a set of shipments that contain items that must be outbound to a destination
     * node. You can confirm the order only if it&#39;s in an&#x60;ELIGIBLE&#x60; state. **Usage Plan:** | Rate
     * (requests per second) | Burst | | ---- | ---- | | 1 | 1 | The &#x60;x-amzn-RateLimit-Limit&#x60; response header
     * returns the usage plan rate limits that were applied to the requested operation, when available. The table above
     * indicates the default rate and burst values for this operation. Selling partners whose business demands require
     * higher throughput may see higher rate and burst values than those shown here. For more information, refer to
     * [Usage Plans and Rate Limits in the Selling Partner
     * API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param orderId ID for the outbound order you want to confirm. (required)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public void confirmOutbound(String orderId, String restrictedDataToken) throws ApiException, LWAException {
        confirmOutboundWithHttpInfo(orderId, restrictedDataToken);
    }

    /**
     * Confirms an AWD outbound order for a set of shipments that contain items that must be outbound to a destination
     * node. You can confirm the order only if it&#39;s in an&#x60;ELIGIBLE&#x60; state. **Usage Plan:** | Rate
     * (requests per second) | Burst | | ---- | ---- | | 1 | 1 | The &#x60;x-amzn-RateLimit-Limit&#x60; response header
     * returns the usage plan rate limits that were applied to the requested operation, when available. The table above
     * indicates the default rate and burst values for this operation. Selling partners whose business demands require
     * higher throughput may see higher rate and burst values than those shown here. For more information, refer to
     * [Usage Plans and Rate Limits in the Selling Partner
     * API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param orderId ID for the outbound order you want to confirm. (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public void confirmOutbound(String orderId) throws ApiException, LWAException {
        confirmOutboundWithHttpInfo(orderId, null);
    }

    /**
     * Confirms an AWD outbound order for a set of shipments that contain items that must be outbound to a destination
     * node. You can confirm the order only if it&#39;s in an&#x60;ELIGIBLE&#x60; state. **Usage Plan:** | Rate
     * (requests per second) | Burst | | ---- | ---- | | 1 | 1 | The &#x60;x-amzn-RateLimit-Limit&#x60; response header
     * returns the usage plan rate limits that were applied to the requested operation, when available. The table above
     * indicates the default rate and burst values for this operation. Selling partners whose business demands require
     * higher throughput may see higher rate and burst values than those shown here. For more information, refer to
     * [Usage Plans and Rate Limits in the Selling Partner
     * API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param orderId ID for the outbound order you want to confirm. (required)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<Void> confirmOutboundWithHttpInfo(String orderId, String restrictedDataToken)
            throws ApiException, LWAException {
        okhttp3.Call call = confirmOutboundValidateBeforeCall(orderId, null);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(request, restrictedDataToken, "AwdApi-confirmOutbound");
            call = apiClient.getHttpClient().newCall(request);
        }

        if (disableRateLimiting || confirmOutboundBucket.tryConsume(1)) {
            return apiClient.execute(call);
        } else throw new ApiException.RateLimitExceeded("confirmOutbound operation exceeds rate limit");
    }

    /**
     * Confirms an AWD outbound order for a set of shipments that contain items that must be outbound to a destination
     * node. You can confirm the order only if it&#39;s in an&#x60;ELIGIBLE&#x60; state. **Usage Plan:** | Rate
     * (requests per second) | Burst | | ---- | ---- | | 1 | 1 | The &#x60;x-amzn-RateLimit-Limit&#x60; response header
     * returns the usage plan rate limits that were applied to the requested operation, when available. The table above
     * indicates the default rate and burst values for this operation. Selling partners whose business demands require
     * higher throughput may see higher rate and burst values than those shown here. For more information, refer to
     * [Usage Plans and Rate Limits in the Selling Partner
     * API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param orderId ID for the outbound order you want to confirm. (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<Void> confirmOutboundWithHttpInfo(String orderId) throws ApiException, LWAException {
        return confirmOutboundWithHttpInfo(orderId, null);
    }

    /**
     * (asynchronously) Confirms an AWD outbound order for a set of shipments that contain items that must be outbound
     * to a destination node. You can confirm the order only if it&#39;s in an&#x60;ELIGIBLE&#x60; state. **Usage
     * Plan:** | Rate (requests per second) | Burst | | ---- | ---- | | 1 | 1 | The &#x60;x-amzn-RateLimit-Limit&#x60;
     * response header returns the usage plan rate limits that were applied to the requested operation, when available.
     * The table above indicates the default rate and burst values for this operation. Selling partners whose business
     * demands require higher throughput may see higher rate and burst values than those shown here. For more
     * information, refer to [Usage Plans and Rate Limits in the Selling Partner
     * API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param orderId ID for the outbound order you want to confirm. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call confirmOutboundAsync(String orderId, final ApiCallback<Void> callback)
            throws ApiException, LWAException {
        return confirmOutboundAsync(orderId, callback, null);
    }
    /**
     * (asynchronously) Confirms an AWD outbound order for a set of shipments that contain items that must be outbound
     * to a destination node. You can confirm the order only if it&#39;s in an&#x60;ELIGIBLE&#x60; state. **Usage
     * Plan:** | Rate (requests per second) | Burst | | ---- | ---- | | 1 | 1 | The &#x60;x-amzn-RateLimit-Limit&#x60;
     * response header returns the usage plan rate limits that were applied to the requested operation, when available.
     * The table above indicates the default rate and burst values for this operation. Selling partners whose business
     * demands require higher throughput may see higher rate and burst values than those shown here. For more
     * information, refer to [Usage Plans and Rate Limits in the Selling Partner
     * API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param orderId ID for the outbound order you want to confirm. (required)
     * @param callback The callback to be executed when the API call finishes
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call confirmOutboundAsync(
            String orderId, final ApiCallback<Void> callback, String restrictedDataToken)
            throws ApiException, LWAException {

        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressRequestListener = callback::onUploadProgress;
        }

        okhttp3.Call call = confirmOutboundValidateBeforeCall(orderId, progressRequestListener);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(request, restrictedDataToken, "AwdApi-confirmOutbound");
            call = apiClient.getHttpClient().newCall(request);
        }

        if (disableRateLimiting || confirmOutboundBucket.tryConsume(1)) {
            apiClient.executeAsync(call, callback);
            return call;
        } else throw new ApiException.RateLimitExceeded("confirmOutbound operation exceeds rate limit");
    }
    /**
     * Build call for confirmReplenishmentOrder
     *
     * @param orderId ID of the replenishment order to be confirmed. (required)
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    private okhttp3.Call confirmReplenishmentOrderCall(
            String orderId, final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath;
        if ("/awd/2024-05-09/replenishmentOrders/{orderId}/confirmation"
                .equals("/uploads/2020-11-01/uploadDestinations/{resource}")) {
            localVarPath = "/awd/2024-05-09/replenishmentOrders/{orderId}/confirmation"
                    .replaceAll("\\{" + "orderId" + "\\}", orderId.toString());
        } else {
            localVarPath = "/awd/2024-05-09/replenishmentOrders/{orderId}/confirmation"
                    .replaceAll("\\{" + "orderId" + "\\}", apiClient.escapeString(orderId.toString()));
        }

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {};

        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        return apiClient.buildCall(
                localVarPath,
                "POST",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarPostBody,
                localVarHeaderParams,
                localVarFormParams,
                progressRequestListener);
    }

    private okhttp3.Call confirmReplenishmentOrderValidateBeforeCall(
            String orderId, final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {

        // verify the required parameter 'orderId' is set
        if (orderId == null) {
            throw new ApiException(
                    "Missing the required parameter 'orderId' when calling confirmReplenishmentOrder(Async)");
        }

        return confirmReplenishmentOrderCall(orderId, progressRequestListener);
    }

    /**
     * Confirms an AWD replenishment order in ELIGIBLE state with a set of shipments containing items that are needed to
     * be replenished to an FBA node. Order can only be confirmed in ELIGIBLE state.
     *
     * @param orderId ID of the replenishment order to be confirmed. (required)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public void confirmReplenishmentOrder(String orderId, String restrictedDataToken)
            throws ApiException, LWAException {
        confirmReplenishmentOrderWithHttpInfo(orderId, restrictedDataToken);
    }

    /**
     * Confirms an AWD replenishment order in ELIGIBLE state with a set of shipments containing items that are needed to
     * be replenished to an FBA node. Order can only be confirmed in ELIGIBLE state.
     *
     * @param orderId ID of the replenishment order to be confirmed. (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public void confirmReplenishmentOrder(String orderId) throws ApiException, LWAException {
        confirmReplenishmentOrderWithHttpInfo(orderId, null);
    }

    /**
     * Confirms an AWD replenishment order in ELIGIBLE state with a set of shipments containing items that are needed to
     * be replenished to an FBA node. Order can only be confirmed in ELIGIBLE state.
     *
     * @param orderId ID of the replenishment order to be confirmed. (required)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<Void> confirmReplenishmentOrderWithHttpInfo(String orderId, String restrictedDataToken)
            throws ApiException, LWAException {
        okhttp3.Call call = confirmReplenishmentOrderValidateBeforeCall(orderId, null);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(request, restrictedDataToken, "AwdApi-confirmReplenishmentOrder");
            call = apiClient.getHttpClient().newCall(request);
        }

        if (disableRateLimiting || confirmReplenishmentOrderBucket.tryConsume(1)) {
            return apiClient.execute(call);
        } else throw new ApiException.RateLimitExceeded("confirmReplenishmentOrder operation exceeds rate limit");
    }

    /**
     * Confirms an AWD replenishment order in ELIGIBLE state with a set of shipments containing items that are needed to
     * be replenished to an FBA node. Order can only be confirmed in ELIGIBLE state.
     *
     * @param orderId ID of the replenishment order to be confirmed. (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<Void> confirmReplenishmentOrderWithHttpInfo(String orderId) throws ApiException, LWAException {
        return confirmReplenishmentOrderWithHttpInfo(orderId, null);
    }

    /**
     * (asynchronously) Confirms an AWD replenishment order in ELIGIBLE state with a set of shipments containing items
     * that are needed to be replenished to an FBA node. Order can only be confirmed in ELIGIBLE state.
     *
     * @param orderId ID of the replenishment order to be confirmed. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call confirmReplenishmentOrderAsync(String orderId, final ApiCallback<Void> callback)
            throws ApiException, LWAException {
        return confirmReplenishmentOrderAsync(orderId, callback, null);
    }
    /**
     * (asynchronously) Confirms an AWD replenishment order in ELIGIBLE state with a set of shipments containing items
     * that are needed to be replenished to an FBA node. Order can only be confirmed in ELIGIBLE state.
     *
     * @param orderId ID of the replenishment order to be confirmed. (required)
     * @param callback The callback to be executed when the API call finishes
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call confirmReplenishmentOrderAsync(
            String orderId, final ApiCallback<Void> callback, String restrictedDataToken)
            throws ApiException, LWAException {

        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressRequestListener = callback::onUploadProgress;
        }

        okhttp3.Call call = confirmReplenishmentOrderValidateBeforeCall(orderId, progressRequestListener);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(request, restrictedDataToken, "AwdApi-confirmReplenishmentOrder");
            call = apiClient.getHttpClient().newCall(request);
        }

        if (disableRateLimiting || confirmReplenishmentOrderBucket.tryConsume(1)) {
            apiClient.executeAsync(call, callback);
            return call;
        } else throw new ApiException.RateLimitExceeded("confirmReplenishmentOrder operation exceeds rate limit");
    }
    /**
     * Build call for createInbound
     *
     * @param body Payload for creating an inbound order. (required)
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    private okhttp3.Call createInboundCall(
            InboundOrderCreationData body, final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath;
        if ("/awd/2024-05-09/inboundOrders".equals("/uploads/2020-11-01/uploadDestinations/{resource}")) {
            localVarPath = "/awd/2024-05-09/inboundOrders";
        } else {
            localVarPath = "/awd/2024-05-09/inboundOrders";
        }

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {"application/json"};
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        return apiClient.buildCall(
                localVarPath,
                "POST",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarPostBody,
                localVarHeaderParams,
                localVarFormParams,
                progressRequestListener);
    }

    private okhttp3.Call createInboundValidateBeforeCall(
            InboundOrderCreationData body, final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {

        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling createInbound(Async)");
        }

        return createInboundCall(body, progressRequestListener);
    }

    /**
     * Creates a draft AWD inbound order with a list of packages for inbound shipment. The operation creates one
     * shipment per order. **Usage Plan:** | Rate (requests per second) | Burst | | ---- | ---- | | 1 | 1 | The
     * &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate limits that were applied to the
     * requested operation, when available. The preceding table indicates the default rate and burst values for this
     * operation. Selling partners whose business demands require higher throughput may have higher rate and burst
     * values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner
     * API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param body Payload for creating an inbound order. (required)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return InboundOrderReference
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public InboundOrderReference createInbound(InboundOrderCreationData body, String restrictedDataToken)
            throws ApiException, LWAException {
        ApiResponse<InboundOrderReference> resp = createInboundWithHttpInfo(body, restrictedDataToken);
        return resp.getData();
    }

    /**
     * Creates a draft AWD inbound order with a list of packages for inbound shipment. The operation creates one
     * shipment per order. **Usage Plan:** | Rate (requests per second) | Burst | | ---- | ---- | | 1 | 1 | The
     * &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate limits that were applied to the
     * requested operation, when available. The preceding table indicates the default rate and burst values for this
     * operation. Selling partners whose business demands require higher throughput may have higher rate and burst
     * values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner
     * API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param body Payload for creating an inbound order. (required)
     * @return InboundOrderReference
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public InboundOrderReference createInbound(InboundOrderCreationData body) throws ApiException, LWAException {
        ApiResponse<InboundOrderReference> resp = createInboundWithHttpInfo(body, null);
        return resp.getData();
    }

    /**
     * Creates a draft AWD inbound order with a list of packages for inbound shipment. The operation creates one
     * shipment per order. **Usage Plan:** | Rate (requests per second) | Burst | | ---- | ---- | | 1 | 1 | The
     * &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate limits that were applied to the
     * requested operation, when available. The preceding table indicates the default rate and burst values for this
     * operation. Selling partners whose business demands require higher throughput may have higher rate and burst
     * values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner
     * API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param body Payload for creating an inbound order. (required)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return ApiResponse&lt;InboundOrderReference&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<InboundOrderReference> createInboundWithHttpInfo(
            InboundOrderCreationData body, String restrictedDataToken) throws ApiException, LWAException {
        okhttp3.Call call = createInboundValidateBeforeCall(body, null);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(request, restrictedDataToken, "AwdApi-createInbound");
            call = apiClient.getHttpClient().newCall(request);
        }

        if (disableRateLimiting || createInboundBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<InboundOrderReference>() {}.getType();
            return apiClient.execute(call, localVarReturnType);
        } else throw new ApiException.RateLimitExceeded("createInbound operation exceeds rate limit");
    }

    /**
     * Creates a draft AWD inbound order with a list of packages for inbound shipment. The operation creates one
     * shipment per order. **Usage Plan:** | Rate (requests per second) | Burst | | ---- | ---- | | 1 | 1 | The
     * &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate limits that were applied to the
     * requested operation, when available. The preceding table indicates the default rate and burst values for this
     * operation. Selling partners whose business demands require higher throughput may have higher rate and burst
     * values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner
     * API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param body Payload for creating an inbound order. (required)
     * @return ApiResponse&lt;InboundOrderReference&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<InboundOrderReference> createInboundWithHttpInfo(InboundOrderCreationData body)
            throws ApiException, LWAException {
        return createInboundWithHttpInfo(body, null);
    }

    /**
     * (asynchronously) Creates a draft AWD inbound order with a list of packages for inbound shipment. The operation
     * creates one shipment per order. **Usage Plan:** | Rate (requests per second) | Burst | | ---- | ---- | | 1 | 1 |
     * The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate limits that were applied to
     * the requested operation, when available. The preceding table indicates the default rate and burst values for this
     * operation. Selling partners whose business demands require higher throughput may have higher rate and burst
     * values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner
     * API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param body Payload for creating an inbound order. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call createInboundAsync(
            InboundOrderCreationData body, final ApiCallback<InboundOrderReference> callback)
            throws ApiException, LWAException {
        return createInboundAsync(body, callback, null);
    }
    /**
     * (asynchronously) Creates a draft AWD inbound order with a list of packages for inbound shipment. The operation
     * creates one shipment per order. **Usage Plan:** | Rate (requests per second) | Burst | | ---- | ---- | | 1 | 1 |
     * The &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate limits that were applied to
     * the requested operation, when available. The preceding table indicates the default rate and burst values for this
     * operation. Selling partners whose business demands require higher throughput may have higher rate and burst
     * values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner
     * API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param body Payload for creating an inbound order. (required)
     * @param callback The callback to be executed when the API call finishes
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call createInboundAsync(
            InboundOrderCreationData body,
            final ApiCallback<InboundOrderReference> callback,
            String restrictedDataToken)
            throws ApiException, LWAException {

        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressRequestListener = callback::onUploadProgress;
        }

        okhttp3.Call call = createInboundValidateBeforeCall(body, progressRequestListener);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(request, restrictedDataToken, "AwdApi-createInbound");
            call = apiClient.getHttpClient().newCall(request);
        }

        if (disableRateLimiting || createInboundBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<InboundOrderReference>() {}.getType();
            apiClient.executeAsync(call, localVarReturnType, callback);
            return call;
        } else throw new ApiException.RateLimitExceeded("createInbound operation exceeds rate limit");
    }
    /**
     * Build call for createOutbound
     *
     * @param body Payload for creating an outbound order. (required)
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    private okhttp3.Call createOutboundCall(
            OutboundOrderCreationData body, final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath;
        if ("/awd/2024-05-09/outboundOrders".equals("/uploads/2020-11-01/uploadDestinations/{resource}")) {
            localVarPath = "/awd/2024-05-09/outboundOrders";
        } else {
            localVarPath = "/awd/2024-05-09/outboundOrders";
        }

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {"application/json"};
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        return apiClient.buildCall(
                localVarPath,
                "POST",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarPostBody,
                localVarHeaderParams,
                localVarFormParams,
                progressRequestListener);
    }

    private okhttp3.Call createOutboundValidateBeforeCall(
            OutboundOrderCreationData body, final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {

        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling createOutbound(Async)");
        }

        return createOutboundCall(body, progressRequestListener);
    }

    /**
     * Creates a draft AWD outbound order with the specified products. The API returns the order ID for the newly
     * created order and starts an async validation check on the outbound products. After the validation check, the
     * order status transitions from &#x60;VALIDATING&#x60; to &#x60;ELIGIBLE/INELIGIBLE&#x60;. **Usage Plan:** | Rate
     * (requests per second) | Burst | | ---- | ---- | | 1 | 1 | The &#x60;x-amzn-RateLimit-Limit&#x60; response header
     * returns the usage plan rate limits that were applied to the requested operation, when available. The table above
     * indicates the default rate and burst values for this operation. Selling partners whose business demands require
     * higher throughput may see higher rate and burst values than those shown here. For more information, refer to
     * [Usage Plans and Rate Limits in the Selling Partner
     * API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param body Payload for creating an outbound order. (required)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return OutboundOrderReference
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public OutboundOrderReference createOutbound(OutboundOrderCreationData body, String restrictedDataToken)
            throws ApiException, LWAException {
        ApiResponse<OutboundOrderReference> resp = createOutboundWithHttpInfo(body, restrictedDataToken);
        return resp.getData();
    }

    /**
     * Creates a draft AWD outbound order with the specified products. The API returns the order ID for the newly
     * created order and starts an async validation check on the outbound products. After the validation check, the
     * order status transitions from &#x60;VALIDATING&#x60; to &#x60;ELIGIBLE/INELIGIBLE&#x60;. **Usage Plan:** | Rate
     * (requests per second) | Burst | | ---- | ---- | | 1 | 1 | The &#x60;x-amzn-RateLimit-Limit&#x60; response header
     * returns the usage plan rate limits that were applied to the requested operation, when available. The table above
     * indicates the default rate and burst values for this operation. Selling partners whose business demands require
     * higher throughput may see higher rate and burst values than those shown here. For more information, refer to
     * [Usage Plans and Rate Limits in the Selling Partner
     * API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param body Payload for creating an outbound order. (required)
     * @return OutboundOrderReference
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public OutboundOrderReference createOutbound(OutboundOrderCreationData body) throws ApiException, LWAException {
        ApiResponse<OutboundOrderReference> resp = createOutboundWithHttpInfo(body, null);
        return resp.getData();
    }

    /**
     * Creates a draft AWD outbound order with the specified products. The API returns the order ID for the newly
     * created order and starts an async validation check on the outbound products. After the validation check, the
     * order status transitions from &#x60;VALIDATING&#x60; to &#x60;ELIGIBLE/INELIGIBLE&#x60;. **Usage Plan:** | Rate
     * (requests per second) | Burst | | ---- | ---- | | 1 | 1 | The &#x60;x-amzn-RateLimit-Limit&#x60; response header
     * returns the usage plan rate limits that were applied to the requested operation, when available. The table above
     * indicates the default rate and burst values for this operation. Selling partners whose business demands require
     * higher throughput may see higher rate and burst values than those shown here. For more information, refer to
     * [Usage Plans and Rate Limits in the Selling Partner
     * API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param body Payload for creating an outbound order. (required)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return ApiResponse&lt;OutboundOrderReference&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<OutboundOrderReference> createOutboundWithHttpInfo(
            OutboundOrderCreationData body, String restrictedDataToken) throws ApiException, LWAException {
        okhttp3.Call call = createOutboundValidateBeforeCall(body, null);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(request, restrictedDataToken, "AwdApi-createOutbound");
            call = apiClient.getHttpClient().newCall(request);
        }

        if (disableRateLimiting || createOutboundBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<OutboundOrderReference>() {}.getType();
            return apiClient.execute(call, localVarReturnType);
        } else throw new ApiException.RateLimitExceeded("createOutbound operation exceeds rate limit");
    }

    /**
     * Creates a draft AWD outbound order with the specified products. The API returns the order ID for the newly
     * created order and starts an async validation check on the outbound products. After the validation check, the
     * order status transitions from &#x60;VALIDATING&#x60; to &#x60;ELIGIBLE/INELIGIBLE&#x60;. **Usage Plan:** | Rate
     * (requests per second) | Burst | | ---- | ---- | | 1 | 1 | The &#x60;x-amzn-RateLimit-Limit&#x60; response header
     * returns the usage plan rate limits that were applied to the requested operation, when available. The table above
     * indicates the default rate and burst values for this operation. Selling partners whose business demands require
     * higher throughput may see higher rate and burst values than those shown here. For more information, refer to
     * [Usage Plans and Rate Limits in the Selling Partner
     * API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param body Payload for creating an outbound order. (required)
     * @return ApiResponse&lt;OutboundOrderReference&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<OutboundOrderReference> createOutboundWithHttpInfo(OutboundOrderCreationData body)
            throws ApiException, LWAException {
        return createOutboundWithHttpInfo(body, null);
    }

    /**
     * (asynchronously) Creates a draft AWD outbound order with the specified products. The API returns the order ID for
     * the newly created order and starts an async validation check on the outbound products. After the validation
     * check, the order status transitions from &#x60;VALIDATING&#x60; to &#x60;ELIGIBLE/INELIGIBLE&#x60;. **Usage
     * Plan:** | Rate (requests per second) | Burst | | ---- | ---- | | 1 | 1 | The &#x60;x-amzn-RateLimit-Limit&#x60;
     * response header returns the usage plan rate limits that were applied to the requested operation, when available.
     * The table above indicates the default rate and burst values for this operation. Selling partners whose business
     * demands require higher throughput may see higher rate and burst values than those shown here. For more
     * information, refer to [Usage Plans and Rate Limits in the Selling Partner
     * API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param body Payload for creating an outbound order. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call createOutboundAsync(
            OutboundOrderCreationData body, final ApiCallback<OutboundOrderReference> callback)
            throws ApiException, LWAException {
        return createOutboundAsync(body, callback, null);
    }
    /**
     * (asynchronously) Creates a draft AWD outbound order with the specified products. The API returns the order ID for
     * the newly created order and starts an async validation check on the outbound products. After the validation
     * check, the order status transitions from &#x60;VALIDATING&#x60; to &#x60;ELIGIBLE/INELIGIBLE&#x60;. **Usage
     * Plan:** | Rate (requests per second) | Burst | | ---- | ---- | | 1 | 1 | The &#x60;x-amzn-RateLimit-Limit&#x60;
     * response header returns the usage plan rate limits that were applied to the requested operation, when available.
     * The table above indicates the default rate and burst values for this operation. Selling partners whose business
     * demands require higher throughput may see higher rate and burst values than those shown here. For more
     * information, refer to [Usage Plans and Rate Limits in the Selling Partner
     * API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param body Payload for creating an outbound order. (required)
     * @param callback The callback to be executed when the API call finishes
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call createOutboundAsync(
            OutboundOrderCreationData body,
            final ApiCallback<OutboundOrderReference> callback,
            String restrictedDataToken)
            throws ApiException, LWAException {

        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressRequestListener = callback::onUploadProgress;
        }

        okhttp3.Call call = createOutboundValidateBeforeCall(body, progressRequestListener);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(request, restrictedDataToken, "AwdApi-createOutbound");
            call = apiClient.getHttpClient().newCall(request);
        }

        if (disableRateLimiting || createOutboundBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<OutboundOrderReference>() {}.getType();
            apiClient.executeAsync(call, localVarReturnType, callback);
            return call;
        } else throw new ApiException.RateLimitExceeded("createOutbound operation exceeds rate limit");
    }
    /**
     * Build call for createReplenishmentOrder
     *
     * @param body Payload for creating a replenishment order. (required)
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    private okhttp3.Call createReplenishmentOrderCall(
            ReplenishmentOrderCreationData body,
            final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath;
        if ("/awd/2024-05-09/replenishmentOrders".equals("/uploads/2020-11-01/uploadDestinations/{resource}")) {
            localVarPath = "/awd/2024-05-09/replenishmentOrders";
        } else {
            localVarPath = "/awd/2024-05-09/replenishmentOrders";
        }

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {"application/json"};
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        return apiClient.buildCall(
                localVarPath,
                "POST",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarPostBody,
                localVarHeaderParams,
                localVarFormParams,
                progressRequestListener);
    }

    private okhttp3.Call createReplenishmentOrderValidateBeforeCall(
            ReplenishmentOrderCreationData body,
            final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {

        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException(
                    "Missing the required parameter 'body' when calling createReplenishmentOrder(Async)");
        }

        return createReplenishmentOrderCall(body, progressRequestListener);
    }

    /**
     * Creates an AWD replenishment order with given products to replenish. The API will return the order ID of the
     * newly created order and also start an async validation check on the products to e. The order status will
     * transition to ELIGIBLE/INELIGIBLE status from VALIDATING post validation check
     *
     * @param body Payload for creating a replenishment order. (required)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return ReplenishmentOrderReference
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ReplenishmentOrderReference createReplenishmentOrder(
            ReplenishmentOrderCreationData body, String restrictedDataToken) throws ApiException, LWAException {
        ApiResponse<ReplenishmentOrderReference> resp = createReplenishmentOrderWithHttpInfo(body, restrictedDataToken);
        return resp.getData();
    }

    /**
     * Creates an AWD replenishment order with given products to replenish. The API will return the order ID of the
     * newly created order and also start an async validation check on the products to e. The order status will
     * transition to ELIGIBLE/INELIGIBLE status from VALIDATING post validation check
     *
     * @param body Payload for creating a replenishment order. (required)
     * @return ReplenishmentOrderReference
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ReplenishmentOrderReference createReplenishmentOrder(ReplenishmentOrderCreationData body)
            throws ApiException, LWAException {
        ApiResponse<ReplenishmentOrderReference> resp = createReplenishmentOrderWithHttpInfo(body, null);
        return resp.getData();
    }

    /**
     * Creates an AWD replenishment order with given products to replenish. The API will return the order ID of the
     * newly created order and also start an async validation check on the products to e. The order status will
     * transition to ELIGIBLE/INELIGIBLE status from VALIDATING post validation check
     *
     * @param body Payload for creating a replenishment order. (required)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return ApiResponse&lt;ReplenishmentOrderReference&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<ReplenishmentOrderReference> createReplenishmentOrderWithHttpInfo(
            ReplenishmentOrderCreationData body, String restrictedDataToken) throws ApiException, LWAException {
        okhttp3.Call call = createReplenishmentOrderValidateBeforeCall(body, null);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(request, restrictedDataToken, "AwdApi-createReplenishmentOrder");
            call = apiClient.getHttpClient().newCall(request);
        }

        if (disableRateLimiting || createReplenishmentOrderBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<ReplenishmentOrderReference>() {}.getType();
            return apiClient.execute(call, localVarReturnType);
        } else throw new ApiException.RateLimitExceeded("createReplenishmentOrder operation exceeds rate limit");
    }

    /**
     * Creates an AWD replenishment order with given products to replenish. The API will return the order ID of the
     * newly created order and also start an async validation check on the products to e. The order status will
     * transition to ELIGIBLE/INELIGIBLE status from VALIDATING post validation check
     *
     * @param body Payload for creating a replenishment order. (required)
     * @return ApiResponse&lt;ReplenishmentOrderReference&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<ReplenishmentOrderReference> createReplenishmentOrderWithHttpInfo(
            ReplenishmentOrderCreationData body) throws ApiException, LWAException {
        return createReplenishmentOrderWithHttpInfo(body, null);
    }

    /**
     * (asynchronously) Creates an AWD replenishment order with given products to replenish. The API will return the
     * order ID of the newly created order and also start an async validation check on the products to e. The order
     * status will transition to ELIGIBLE/INELIGIBLE status from VALIDATING post validation check
     *
     * @param body Payload for creating a replenishment order. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call createReplenishmentOrderAsync(
            ReplenishmentOrderCreationData body, final ApiCallback<ReplenishmentOrderReference> callback)
            throws ApiException, LWAException {
        return createReplenishmentOrderAsync(body, callback, null);
    }
    /**
     * (asynchronously) Creates an AWD replenishment order with given products to replenish. The API will return the
     * order ID of the newly created order and also start an async validation check on the products to e. The order
     * status will transition to ELIGIBLE/INELIGIBLE status from VALIDATING post validation check
     *
     * @param body Payload for creating a replenishment order. (required)
     * @param callback The callback to be executed when the API call finishes
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
[...]
