# coding: utf-8

"""
    The Selling Partner API for Promotions

    The Selling Partner API for Promotions enables selling partners to create and manage promotions.

    The version of the OpenAPI document: 2025-12-01
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from spapi.api_client import ApiClient


class PromotionsApi(object):
    """NOTE: This class is auto generated by the openapi generator.

    Do not edit the class manually.
    """

    api_models_module = "spapi.models.promotions_v2025_12_01"

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client
        self.classFileName = 'promotions_api'

    def get_promotion(self, promotion_id, **kwargs):  # noqa: E501
        """get_promotion  # noqa: E501

        Retrieve details of a specified promotion.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_promotion(promotion_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str promotion_id: The ID of the promotion. (required)
        :param List[str] included_data: A comma-delimited list of datasets to include in the response.
        :param str locale: The locale of the promotion. Formatted as an ISO 639 language code, followed by an underscore, followed by an ISO 3166-1 alpha-2 country code.
        :return: GetPromotionResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_promotion_with_http_info(promotion_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_promotion_with_http_info(promotion_id, **kwargs)  # noqa: E501
            return data

    def get_promotion_with_http_info(self, promotion_id, **kwargs):  # noqa: E501
        """get_promotion  # noqa: E501

        Retrieve details of a specified promotion.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_promotion_with_http_info(promotion_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str promotion_id: The ID of the promotion. (required)
        :param List[str] included_data: A comma-delimited list of datasets to include in the response.
        :param str locale: The locale of the promotion. Formatted as an ISO 639 language code, followed by an underscore, followed by an ISO 3166-1 alpha-2 country code.
        :return: GetPromotionResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['promotion_id', 'included_data', 'locale']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_promotion" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'promotion_id' is set
        if self.api_client.client_side_validation and ('promotion_id' not in params or
                                                       params['promotion_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `promotion_id` when calling `get_promotion`")  # noqa: E501

        if self.api_client.client_side_validation and ('locale' in params and not re.search(r'^[a-z]{2}_[A-Z]{2}$', params['locale'])):  # noqa: E501
            raise ValueError("Invalid value for parameter `locale` when calling `get_promotion`, must conform to the pattern `/^[a-z]{2}_[A-Z]{2}$/`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'promotion_id' in params:
            path_params['promotionId'] = params['promotion_id']  # noqa: E501

        query_params = []
        if 'included_data' in params:
            query_params.append(('includedData', params['included_data']))  # noqa: E501
            collection_formats['includedData'] = 'csv'  # noqa: E501
        if 'locale' in params:
            query_params.append(('locale', params['locale']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/promotions/2025-12-01/promotions/{promotionId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetPromotionResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)

    def get_selection(self, promotion_id, selection_id, revision_id, **kwargs):  # noqa: E501
        """get_selection  # noqa: E501

        Retrieve up to 100 product items that are associated with a specified promotion. This operation only supports items found in `SelectionType.ITEMS`. Items found in `SelectionType.CATALOG` are not supported. Selection objects always include `selectionDetails` with item information.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_selection(promotion_id, selection_id, revision_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str promotion_id: The ID of the promotion. (required)
        :param str selection_id: The ID of the selection. (required)
        :param int revision_id: The revision identifier for the selection. Use the `revisionId` from the `getPromotion` response. A promotion may have multiple selection revisions when an update is in progress. Passing the correct `revisionId` ensures you retrieve the expected data. (required)
        :param str locale: The locale of the promotion. Formatted as an ISO 639 language code, followed by an underscore, followed by an ISO 3166-1 alpha-2 country code.
        :param str pagination_token: A token that you use to retrieve the next page of results. The response includes `paginationToken` when the number of results exceeds the specified `limit` value. To get the next page of results, call the operation with this token and include the same arguments as the call that produced the token. To get a complete list, call this operation until `paginationToken` is null. Note that this operation can return empty pages.
        :param int limit: The maximum number of response results per page.
        :param List[str] included_data: A comma-delimited list of datasets to include in the response.
        :return: GetSelectionResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_selection_with_http_info(promotion_id, selection_id, revision_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_selection_with_http_info(promotion_id, selection_id, revision_id, **kwargs)  # noqa: E501
            return data

    def get_selection_with_http_info(self, promotion_id, selection_id, revision_id, **kwargs):  # noqa: E501
        """get_selection  # noqa: E501

        Retrieve up to 100 product items that are associated with a specified promotion. This operation only supports items found in `SelectionType.ITEMS`. Items found in `SelectionType.CATALOG` are not supported. Selection objects always include `selectionDetails` with item information.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_selection_with_http_info(promotion_id, selection_id, revision_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str promotion_id: The ID of the promotion. (required)
        :param str selection_id: The ID of the selection. (required)
        :param int revision_id: The revision identifier for the selection. Use the `revisionId` from the `getPromotion` response. A promotion may have multiple selection revisions when an update is in progress. Passing the correct `revisionId` ensures you retrieve the expected data. (required)
        :param str locale: The locale of the promotion. Formatted as an ISO 639 language code, followed by an underscore, followed by an ISO 3166-1 alpha-2 country code.
        :param str pagination_token: A token that you use to retrieve the next page of results. The response includes `paginationToken` when the number of results exceeds the specified `limit` value. To get the next page of results, call the operation with this token and include the same arguments as the call that produced the token. To get a complete list, call this operation until `paginationToken` is null. Note that this operation can return empty pages.
        :param int limit: The maximum number of response results per page.
        :param List[str] included_data: A comma-delimited list of datasets to include in the response.
        :return: GetSelectionResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['promotion_id', 'selection_id', 'revision_id', 'locale', 'pagination_token', 'limit', 'included_data']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_selection" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'promotion_id' is set
        if self.api_client.client_side_validation and ('promotion_id' not in params or
                                                       params['promotion_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `promotion_id` when calling `get_selection`")  # noqa: E501
        # verify the required parameter 'selection_id' is set
        if self.api_client.client_side_validation and ('selection_id' not in params or
                                                       params['selection_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `selection_id` when calling `get_selection`")  # noqa: E501
        # verify the required parameter 'revision_id' is set
        if self.api_client.client_side_validation and ('revision_id' not in params or
                                                       params['revision_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `revision_id` when calling `get_selection`")  # noqa: E501

        if self.api_client.client_side_validation and ('revision_id' in params and params['revision_id'] < 1):  # noqa: E501
            raise ValueError("Invalid value for parameter `revision_id` when calling `get_selection`, must be a value greater than or equal to `1`")  # noqa: E501
        if self.api_client.client_side_validation and ('locale' in params and not re.search(r'^[a-z]{2}_[A-Z]{2}$', params['locale'])):  # noqa: E501
            raise ValueError("Invalid value for parameter `locale` when calling `get_selection`, must conform to the pattern `/^[a-z]{2}_[A-Z]{2}$/`")  # noqa: E501
        if self.api_client.client_side_validation and ('limit' in params and params['limit'] > 100):  # noqa: E501
            raise ValueError("Invalid value for parameter `limit` when calling `get_selection`, must be a value less than or equal to `100`")  # noqa: E501
        if self.api_client.client_side_validation and ('limit' in params and params['limit'] < 1):  # noqa: E501
            raise ValueError("Invalid value for parameter `limit` when calling `get_selection`, must be a value greater than or equal to `1`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'promotion_id' in params:
            path_params['promotionId'] = params['promotion_id']  # noqa: E501
        if 'selection_id' in params:
            path_params['selectionId'] = params['selection_id']  # noqa: E501

        query_params = []
        if 'revision_id' in params:
            query_params.append(('revisionId', params['revision_id']))  # noqa: E501
        if 'locale' in params:
            query_params.append(('locale', params['locale']))  # noqa: E501
        if 'pagination_token' in params:
            query_params.append(('paginationToken', params['pagination_token']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'included_data' in params:
            query_params.append(('includedData', params['included_data']))  # noqa: E501
            collection_formats['includedData'] = 'csv'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/promotions/2025-12-01/promotions/{promotionId}/selections/{selectionId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetSelectionResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)

    def search_promotions(self, marketplace_ids, **kwargs):  # noqa: E501
        """search_promotions  # noqa: E501

        Search and filter promotions based on various criteria. Returns a paginated list of promotion summaries.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.search_promotions(marketplace_ids, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param List[str] marketplace_ids: The Amazon stores from which to retrieve promotions. Refer to [Store Identifiers](https://developer-docs.amazon/sp-api/docs/store-identifiers) for a list of Amazon store values. (required)
        :param str locale: The locale from which to retrieve promotions. Formatted as an ISO 639 language code, followed by an underscore, followed by an ISO 3166-1 alpha-2 country code.
        :param List[str] statuses: The statuses of promotions to retrieve, formatted as a comma-delimited list.
        :param List[str] asins: The ASINs to which promotions apply, formatted as a comma-delimited list.
        :param List[str] skus: The SKUs to which promotions apply, formatted as a comma-delimited list.
        :param List[str] promotion_types: The promotion types to which promotions apply, formatted as a comma-delimited list.
        :param datetime start_date_before: Promotions that start before this date are returned. Formatted in ISO 8601 format, including the timezone. For example: `1970-01-01T00:00:00-07:00`.
        :param datetime start_date_after: Promotions that start after this date are returned. Formatted in ISO 8601 format, including the timezone. For example: `1970-01-01T00:00:00-07:00`.
        :param datetime end_date_before: Promotions that end before this date are returned. Formatted in ISO 8601 format, including the timezone. For example: `1970-01-01T00:00:00-07:00`.
        :param datetime end_date_after: Promotions that end after this date are returned. Formatted in ISO 8601 format, including the timezone. For example: `1970-01-01T00:00:00-07:00`.
        :param datetime update_date_after: Filter promotions that were last modified after this timestamp. Zoned Datetime in ISO 8601 format (e.g., 1970-01-01T00:00:00-07:00).
        :param datetime update_date_before: Filter promotions that were last modified before this timestamp. Zoned Datetime in ISO 8601 format (e.g., 1970-01-01T00:00:00-07:00).
        :param str pagination_token: A token that you use to retrieve the next page of results. The response includes `paginationToken` when the number of results exceeds the specified `limit` value. To get the next page of results, call the operation with this token and include the same arguments as the call that produced the token. To get a complete list, call this operation until `paginationToken` is null. Note that this operation can return empty pages.
        :param str revision: Specifies which promotion revision or revisions to match against when filtering. This controls which promotions are included in search results, not the shape of the response. The response always returns the published revision in the main body, with `latestRevision` included when the latest revision diverges.
        :param int limit: The maximum number of response results per page.
        :param List[str] included_data: A comma-delimited list of datasets to include in the response.
        :return: SearchPromotionsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.search_promotions_with_http_info(marketplace_ids, **kwargs)  # noqa: E501
        else:
            (data) = self.search_promotions_with_http_info(marketplace_ids, **kwargs)  # noqa: E501
            return data

    def search_promotions_with_http_info(self, marketplace_ids, **kwargs):  # noqa: E501
        """search_promotions  # noqa: E501

        Search and filter promotions based on various criteria. Returns a paginated list of promotion summaries.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.search_promotions_with_http_info(marketplace_ids, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param List[str] marketplace_ids: The Amazon stores from which to retrieve promotions. Refer to [Store Identifiers](https://developer-docs.amazon/sp-api/docs/store-identifiers) for a list of Amazon store values. (required)
        :param str locale: The locale from which to retrieve promotions. Formatted as an ISO 639 language code, followed by an underscore, followed by an ISO 3166-1 alpha-2 country code.
        :param List[str] statuses: The statuses of promotions to retrieve, formatted as a comma-delimited list.
        :param List[str] asins: The ASINs to which promotions apply, formatted as a comma-delimited list.
        :param List[str] skus: The SKUs to which promotions apply, formatted as a comma-delimited list.
        :param List[str] promotion_types: The promotion types to which promotions apply, formatted as a comma-delimited list.
        :param datetime start_date_before: Promotions that start before this date are returned. Formatted in ISO 8601 format, including the timezone. For example: `1970-01-01T00:00:00-07:00`.
        :param datetime start_date_after: Promotions that start after this date are returned. Formatted in ISO 8601 format, including the timezone. For example: `1970-01-01T00:00:00-07:00`.
        :param datetime end_date_before: Promotions that end before this date are returned. Formatted in ISO 8601 format, including the timezone. For example: `1970-01-01T00:00:00-07:00`.
        :param datetime end_date_after: Promotions that end after this date are returned. Formatted in ISO 8601 format, including the timezone. For example: `1970-01-01T00:00:00-07:00`.
        :param datetime update_date_after: Filter promotions that were last modified after this timestamp. Zoned Datetime in ISO 8601 format (e.g., 1970-01-01T00:00:00-07:00).
        :param datetime update_date_before: Filter promotions that were last modified before this timestamp. Zoned Datetime in ISO 8601 format (e.g., 1970-01-01T00:00:00-07:00).
        :param str pagination_token: A token that you use to retrieve the next page of results. The response includes `paginationToken` when the number of results exceeds the specified `limit` value. To get the next page of results, call the operation with this token and include the same arguments as the call that produced the token. To get a complete list, call this operation until `paginationToken` is null. Note that this operation can return empty pages.
        :param str revision: Specifies which promotion revision or revisions to match against when filtering. This controls which promotions are included in search results, not the shape of the response. The response always returns the published revision in the main body, with `latestRevision` included when the latest revision diverges.
        :param int limit: The maximum number of response results per page.
        :param List[str] included_data: A comma-delimited list of datasets to include in the response.
        :return: SearchPromotionsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['marketplace_ids', 'locale', 'statuses', 'asins', 'skus', 'promotion_types', 'start_date_before', 'start_date_after', 'end_date_before', 'end_date_after', 'update_date_after', 'update_date_before', 'pagination_token', 'revision', 'limit', 'included_data']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method search_promotions" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'marketplace_ids' is set
        if self.api_client.client_side_validation and ('marketplace_ids' not in params or
                                                       params['marketplace_ids'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `marketplace_ids` when calling `search_promotions`")  # noqa: E501

        if self.api_client.client_side_validation and ('marketplace_ids' in params and
                                            len(params['marketplace_ids']) > 1):
            raise ValueError("Invalid value for parameter `marketplace_ids` when calling `search_promotions`, number of items must be less than or equal to `1`")  # noqa: E501
        if self.api_client.client_side_validation and ('locale' in params and not re.search(r'^[a-z]{2}_[A-Z]{2}$', params['locale'])):  # noqa: E501
            raise ValueError("Invalid value for parameter `locale` when calling `search_promotions`, must conform to the pattern `/^[a-z]{2}_[A-Z]{2}$/`")  # noqa: E501
        if self.api_client.client_side_validation and ('asins' in params and
                                            len(params['asins']) > 10):
            raise ValueError("Invalid value for parameter `asins` when calling `search_promotions`, number of items must be less than or equal to `10`")  # noqa: E501
        if self.api_client.client_side_validation and ('skus' in params and
                                            len(params['skus']) > 10):
            raise ValueError("Invalid value for parameter `skus` when calling `search_promotions`, number of items must be less than or equal to `10`")  # noqa: E501
        if self.api_client.client_side_validation and ('limit' in params and params['limit'] > 100):  # noqa: E501
            raise ValueError("Invalid value for parameter `limit` when calling `search_promotions`, must be a value less than or equal to `100`")  # noqa: E501
        if self.api_client.client_side_validation and ('limit' in params and params['limit'] < 1):  # noqa: E501
            raise ValueError("Invalid value for parameter `limit` when calling `search_promotions`, must be a value greater than or equal to `1`")  # noqa: E501
        collection_formats = {}

        path_params = {}

        query_params = []
        if 'marketplace_ids' in params:
            query_params.append(('marketplaceIds', params['marketplace_ids']))  # noqa: E501
            collection_formats['marketplaceIds'] = 'csv'  # noqa: E501
        if 'locale' in params:
            query_params.append(('locale', params['locale']))  # noqa: E501
        if 'statuses' in params:
            query_params.append(('statuses', params['statuses']))  # noqa: E501
            collection_formats['statuses'] = 'csv'  # noqa: E501
        if 'asins' in params:
            query_params.append(('asins', params['asins']))  # noqa: E501
            collection_formats['asins'] = 'csv'  # noqa: E501
        if 'skus' in params:
            query_params.append(('skus', params['skus']))  # noqa: E501
            collection_formats['skus'] = 'csv'  # noqa: E501
        if 'promotion_types' in params:
            query_params.append(('promotionTypes', params['promotion_types']))  # noqa: E501
            collection_formats['promotionTypes'] = 'csv'  # noqa: E501
        if 'start_date_before' in params:
            query_params.append(('startDateBefore', params['start_date_before']))  # noqa: E501
        if 'start_date_after' in params:
            query_params.append(('startDateAfter', params['start_date_after']))  # noqa: E501
        if 'end_date_before' in params:
            query_params.append(('endDateBefore', params['end_date_before']))  # noqa: E501
        if 'end_date_after' in params:
            query_params.append(('endDateAfter', params['end_date_after']))  # noqa: E501
        if 'update_date_after' in params:
            query_params.append(('updateDateAfter', params['update_date_after']))  # noqa: E501
        if 'update_date_before' in params:
            query_params.append(('updateDateBefore', params['update_date_before']))  # noqa: E501
        if 'pagination_token' in params:
            query_params.append(('paginationToken', params['pagination_token']))  # noqa: E501
        if 'revision' in params:
            query_params.append(('revision', params['revision']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'included_data' in params:
            query_params.append(('includedData', params['included_data']))  # noqa: E501
            collection_formats['includedData'] = 'csv'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/promotions/2025-12-01/promotions', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SearchPromotionsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)
