/*
 * The Selling Partner API for tracking services provided by Amazon.
 * The Tracking Selling Partner API allows users to track shipments to and from Amazon-owned storage warehouses, fulfillment centers, and external warehouses.
 *
 * The version of the OpenAPI document: 2026-01-30
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package software.amazon.spapi.api.tracking.v2026_01_30;

import com.amazon.SellingPartnerAPIAA.LWAAccessTokenCache;
import com.amazon.SellingPartnerAPIAA.LWAAccessTokenCacheImpl;
import com.amazon.SellingPartnerAPIAA.LWAAuthorizationCredentials;
import com.amazon.SellingPartnerAPIAA.LWAAuthorizationSigner;
import com.amazon.SellingPartnerAPIAA.LWAException;
import com.amazon.SellingPartnerAPIAA.RestrictedDataTokenSigner;
import com.google.gson.reflect.TypeToken;
import io.github.bucket4j.Bucket;
import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import software.amazon.spapi.ApiCallback;
import software.amazon.spapi.ApiClient;
import software.amazon.spapi.ApiException;
import software.amazon.spapi.ApiResponse;
import software.amazon.spapi.Configuration;
import software.amazon.spapi.Pair;
import software.amazon.spapi.ProgressRequestBody;
import software.amazon.spapi.StringUtil;
import software.amazon.spapi.models.tracking.v2026_01_30.GetShipmentTrackingResponse;

public class TrackingApi {
    private ApiClient apiClient;
    private Boolean disableRateLimiting;

    public TrackingApi(ApiClient apiClient, Boolean disableRateLimiting) {
        this.apiClient = apiClient;
        this.disableRateLimiting = disableRateLimiting;
    }

    private final Configuration config = Configuration.get();

    public final Bucket getShipmentTrackingBucket = Bucket.builder()
            .addLimit(config.getLimit("TrackingApi-getShipmentTracking"))
            .build();

    /**
     * Build call for getShipmentTracking
     *
     * @param id The unique tracking request identifier. (optional)
     * @param acsin The Air Cargo Shipment Identification Number. (optional)
     * @param aftn The Amazon Fulfillment Tracking Number. (optional)
     * @param containerNumber The container number provided by the Logistics Service Provider. (optional)
     * @param houseBillOfLadingNumber The House Bill of Lading (HBL) number. (optional)
     * @param carrierTrackingTrackingNumber The tracking number assigned by the carrier. (optional)
     * @param carrierTrackingCarrierCode The carrier code associated with the carrier tracking number. (optional)
     * @param acceptLanguage The preferred natural language and locale of the client, in POSIX locale format. Currently
     *     supports &#x60;en-US&#x60; only. (optional)
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    private okhttp3.Call getShipmentTrackingCall(
            String id,
            String acsin,
            String aftn,
            String containerNumber,
            String houseBillOfLadingNumber,
            String carrierTrackingTrackingNumber,
            String carrierTrackingCarrierCode,
            String acceptLanguage,
            final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath;
        if ("/tracking/2026-01-30/shipments/track".equals("/uploads/2020-11-01/uploadDestinations/{resource}")) {
            localVarPath = "/tracking/2026-01-30/shipments/track";
        } else {
            localVarPath = "/tracking/2026-01-30/shipments/track";
        }

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (id != null) localVarQueryParams.addAll(apiClient.parameterToPair("id", id));
        if (acsin != null) localVarQueryParams.addAll(apiClient.parameterToPair("acsin", acsin));
        if (aftn != null) localVarQueryParams.addAll(apiClient.parameterToPair("aftn", aftn));
        if (containerNumber != null)
            localVarQueryParams.addAll(apiClient.parameterToPair("containerNumber", containerNumber));
        if (houseBillOfLadingNumber != null)
            localVarQueryParams.addAll(apiClient.parameterToPair("houseBillOfLadingNumber", houseBillOfLadingNumber));
        if (carrierTrackingTrackingNumber != null)
            localVarQueryParams.addAll(
                    apiClient.parameterToPair("carrierTracking.trackingNumber", carrierTrackingTrackingNumber));
        if (carrierTrackingCarrierCode != null)
            localVarQueryParams.addAll(
                    apiClient.parameterToPair("carrierTracking.carrierCode", carrierTrackingCarrierCode));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (acceptLanguage != null)
            localVarHeaderParams.put("Accept-Language", apiClient.parameterToString(acceptLanguage));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {};

        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        return apiClient.buildCall(
                localVarPath,
                "GET",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarPostBody,
                localVarHeaderParams,
                localVarFormParams,
                progressRequestListener);
    }

    private okhttp3.Call getShipmentTrackingValidateBeforeCall(
            String id,
            String acsin,
            String aftn,
            String containerNumber,
            String houseBillOfLadingNumber,
            String carrierTrackingTrackingNumber,
            String carrierTrackingCarrierCode,
            String acceptLanguage,
            final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {

        return getShipmentTrackingCall(
                id,
                acsin,
                aftn,
                containerNumber,
                houseBillOfLadingNumber,
                carrierTrackingTrackingNumber,
                carrierTrackingCarrierCode,
                acceptLanguage,
                progressRequestListener);
    }

    /**
     * Get tracking information for the shipment. Returns tracking information for a shipment.
     *
     * @param id The unique tracking request identifier. (optional)
     * @param acsin The Air Cargo Shipment Identification Number. (optional)
     * @param aftn The Amazon Fulfillment Tracking Number. (optional)
     * @param containerNumber The container number provided by the Logistics Service Provider. (optional)
     * @param houseBillOfLadingNumber The House Bill of Lading (HBL) number. (optional)
     * @param carrierTrackingTrackingNumber The tracking number assigned by the carrier. (optional)
     * @param carrierTrackingCarrierCode The carrier code associated with the carrier tracking number. (optional)
     * @param acceptLanguage The preferred natural language and locale of the client, in POSIX locale format. Currently
     *     supports &#x60;en-US&#x60; only. (optional)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return GetShipmentTrackingResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public GetShipmentTrackingResponse getShipmentTracking(
            String id,
            String acsin,
            String aftn,
            String containerNumber,
            String houseBillOfLadingNumber,
            String carrierTrackingTrackingNumber,
            String carrierTrackingCarrierCode,
            String acceptLanguage,
            String restrictedDataToken)
            throws ApiException, LWAException {
        ApiResponse<GetShipmentTrackingResponse> resp = getShipmentTrackingWithHttpInfo(
                id,
                acsin,
                aftn,
                containerNumber,
                houseBillOfLadingNumber,
                carrierTrackingTrackingNumber,
                carrierTrackingCarrierCode,
                acceptLanguage,
                restrictedDataToken);
        return resp.getData();
    }

    /**
     * Get tracking information for the shipment. Returns tracking information for a shipment.
     *
     * @param id The unique tracking request identifier. (optional)
     * @param acsin The Air Cargo Shipment Identification Number. (optional)
     * @param aftn The Amazon Fulfillment Tracking Number. (optional)
     * @param containerNumber The container number provided by the Logistics Service Provider. (optional)
     * @param houseBillOfLadingNumber The House Bill of Lading (HBL) number. (optional)
     * @param carrierTrackingTrackingNumber The tracking number assigned by the carrier. (optional)
     * @param carrierTrackingCarrierCode The carrier code associated with the carrier tracking number. (optional)
     * @param acceptLanguage The preferred natural language and locale of the client, in POSIX locale format. Currently
     *     supports &#x60;en-US&#x60; only. (optional)
     * @return GetShipmentTrackingResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public GetShipmentTrackingResponse getShipmentTracking(
            String id,
            String acsin,
            String aftn,
            String containerNumber,
            String houseBillOfLadingNumber,
            String carrierTrackingTrackingNumber,
            String carrierTrackingCarrierCode,
            String acceptLanguage)
            throws ApiException, LWAException {
        ApiResponse<GetShipmentTrackingResponse> resp = getShipmentTrackingWithHttpInfo(
                id,
                acsin,
                aftn,
                containerNumber,
                houseBillOfLadingNumber,
                carrierTrackingTrackingNumber,
                carrierTrackingCarrierCode,
                acceptLanguage,
                null);
        return resp.getData();
    }

    /**
     * Get tracking information for the shipment. Returns tracking information for a shipment.
     *
     * @param id The unique tracking request identifier. (optional)
     * @param acsin The Air Cargo Shipment Identification Number. (optional)
     * @param aftn The Amazon Fulfillment Tracking Number. (optional)
     * @param containerNumber The container number provided by the Logistics Service Provider. (optional)
     * @param houseBillOfLadingNumber The House Bill of Lading (HBL) number. (optional)
     * @param carrierTrackingTrackingNumber The tracking number assigned by the carrier. (optional)
     * @param carrierTrackingCarrierCode The carrier code associated with the carrier tracking number. (optional)
     * @param acceptLanguage The preferred natural language and locale of the client, in POSIX locale format. Currently
     *     supports &#x60;en-US&#x60; only. (optional)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return ApiResponse&lt;GetShipmentTrackingResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<GetShipmentTrackingResponse> getShipmentTrackingWithHttpInfo(
            String id,
            String acsin,
            String aftn,
            String containerNumber,
            String houseBillOfLadingNumber,
            String carrierTrackingTrackingNumber,
            String carrierTrackingCarrierCode,
            String acceptLanguage,
            String restrictedDataToken)
            throws ApiException, LWAException {
        okhttp3.Call call = getShipmentTrackingValidateBeforeCall(
                id,
                acsin,
                aftn,
                containerNumber,
                houseBillOfLadingNumber,
                carrierTrackingTrackingNumber,
                carrierTrackingCarrierCode,
                acceptLanguage,
                null);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(request, restrictedDataToken, "TrackingApi-getShipmentTracking");
            call = apiClient.getHttpClient().newCall(request);
        }

        if (disableRateLimiting || getShipmentTrackingBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<GetShipmentTrackingResponse>() {}.getType();
            return apiClient.execute(call, localVarReturnType);
        } else throw new ApiException.RateLimitExceeded("getShipmentTracking operation exceeds rate limit");
    }

    /**
     * Get tracking information for the shipment. Returns tracking information for a shipment.
     *
     * @param id The unique tracking request identifier. (optional)
     * @param acsin The Air Cargo Shipment Identification Number. (optional)
     * @param aftn The Amazon Fulfillment Tracking Number. (optional)
     * @param containerNumber The container number provided by the Logistics Service Provider. (optional)
     * @param houseBillOfLadingNumber The House Bill of Lading (HBL) number. (optional)
     * @param carrierTrackingTrackingNumber The tracking number assigned by the carrier. (optional)
     * @param carrierTrackingCarrierCode The carrier code associated with the carrier tracking number. (optional)
     * @param acceptLanguage The preferred natural language and locale of the client, in POSIX locale format. Currently
     *     supports &#x60;en-US&#x60; only. (optional)
     * @return ApiResponse&lt;GetShipmentTrackingResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<GetShipmentTrackingResponse> getShipmentTrackingWithHttpInfo(
            String id,
            String acsin,
            String aftn,
            String containerNumber,
            String houseBillOfLadingNumber,
            String carrierTrackingTrackingNumber,
            String carrierTrackingCarrierCode,
            String acceptLanguage)
            throws ApiException, LWAException {
        return getShipmentTrackingWithHttpInfo(
                id,
                acsin,
                aftn,
                containerNumber,
                houseBillOfLadingNumber,
                carrierTrackingTrackingNumber,
                carrierTrackingCarrierCode,
                acceptLanguage,
                null);
    }

    /**
     * Get tracking information for the shipment. (asynchronously) Returns tracking information for a shipment.
     *
     * @param id The unique tracking request identifier. (optional)
     * @param acsin The Air Cargo Shipment Identification Number. (optional)
     * @param aftn The Amazon Fulfillment Tracking Number. (optional)
     * @param containerNumber The container number provided by the Logistics Service Provider. (optional)
     * @param houseBillOfLadingNumber The House Bill of Lading (HBL) number. (optional)
     * @param carrierTrackingTrackingNumber The tracking number assigned by the carrier. (optional)
     * @param carrierTrackingCarrierCode The carrier code associated with the carrier tracking number. (optional)
     * @param acceptLanguage The preferred natural language and locale of the client, in POSIX locale format. Currently
     *     supports &#x60;en-US&#x60; only. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call getShipmentTrackingAsync(
            String id,
            String acsin,
            String aftn,
            String containerNumber,
            String houseBillOfLadingNumber,
            String carrierTrackingTrackingNumber,
            String carrierTrackingCarrierCode,
            String acceptLanguage,
            final ApiCallback<GetShipmentTrackingResponse> callback)
            throws ApiException, LWAException {
        return getShipmentTrackingAsync(
                id,
                acsin,
                aftn,
                containerNumber,
                houseBillOfLadingNumber,
                carrierTrackingTrackingNumber,
                carrierTrackingCarrierCode,
                acceptLanguage,
                callback,
                null);
    }
    /**
     * Get tracking information for the shipment. (asynchronously) Returns tracking information for a shipment.
     *
     * @param id The unique tracking request identifier. (optional)
     * @param acsin The Air Cargo Shipment Identification Number. (optional)
     * @param aftn The Amazon Fulfillment Tracking Number. (optional)
     * @param containerNumber The container number provided by the Logistics Service Provider. (optional)
     * @param houseBillOfLadingNumber The House Bill of Lading (HBL) number. (optional)
     * @param carrierTrackingTrackingNumber The tracking number assigned by the carrier. (optional)
     * @param carrierTrackingCarrierCode The carrier code associated with the carrier tracking number. (optional)
     * @param acceptLanguage The preferred natural language and locale of the client, in POSIX locale format. Currently
     *     supports &#x60;en-US&#x60; only. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call getShipmentTrackingAsync(
            String id,
            String acsin,
            String aftn,
            String containerNumber,
            String houseBillOfLadingNumber,
            String carrierTrackingTrackingNumber,
            String carrierTrackingCarrierCode,
            String acceptLanguage,
            final ApiCallback<GetShipmentTrackingResponse> callback,
            String restrictedDataToken)
            throws ApiException, LWAException {

        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressRequestListener = callback::onUploadProgress;
        }

        okhttp3.Call call = getShipmentTrackingValidateBeforeCall(
                id,
                acsin,
                aftn,
                containerNumber,
                houseBillOfLadingNumber,
                carrierTrackingTrackingNumber,
                carrierTrackingCarrierCode,
                acceptLanguage,
                progressRequestListener);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(request, restrictedDataToken, "TrackingApi-getShipmentTracking");
            call = apiClient.getHttpClient().newCall(request);
        }

        if (disableRateLimiting || getShipmentTrackingBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<GetShipmentTrackingResponse>() {}.getType();
            apiClient.executeAsync(call, localVarReturnType, callback);
            return call;
        } else throw new ApiException.RateLimitExceeded("getShipmentTracking operation exceeds rate limit");
    }

    public static class Builder {
        private LWAAuthorizationCredentials lwaAuthorizationCredentials;
        private String endpoint;
        private LWAAccessTokenCache lwaAccessTokenCache;
        private Boolean disableAccessTokenCache = false;
        private Boolean disableRateLimiting = false;

        public Builder lwaAuthorizationCredentials(LWAAuthorizationCredentials lwaAuthorizationCredentials) {
            this.lwaAuthorizationCredentials = lwaAuthorizationCredentials;
            return this;
        }

        public Builder endpoint(String endpoint) {
            this.endpoint = endpoint;
            return this;
        }

        public Builder lwaAccessTokenCache(LWAAccessTokenCache lwaAccessTokenCache) {
            this.lwaAccessTokenCache = lwaAccessTokenCache;
            return this;
        }

        public Builder disableAccessTokenCache() {
            this.disableAccessTokenCache = true;
            return this;
        }

        public Builder disableRateLimiting() {
            this.disableRateLimiting = true;
            return this;
        }

        public TrackingApi build() {
            if (lwaAuthorizationCredentials == null) {
                throw new RuntimeException("LWAAuthorizationCredentials not set");
            }

            if (StringUtil.isEmpty(endpoint)) {
                throw new RuntimeException("Endpoint not set");
            }

            LWAAuthorizationSigner lwaAuthorizationSigner = null;
            if (disableAccessTokenCache) {
                lwaAuthorizationSigner = new LWAAuthorizationSigner(lwaAuthorizationCredentials);
            } else {
                if (lwaAccessTokenCache == null) {
                    lwaAccessTokenCache = new LWAAccessTokenCacheImpl();
                }
                lwaAuthorizationSigner = new LWAAuthorizationSigner(lwaAuthorizationCredentials, lwaAccessTokenCache);
            }

            return new TrackingApi(
                    new ApiClient()
                            .setLWAAuthorizationSigner(lwaAuthorizationSigner)
                            .setBasePath(endpoint),
                    disableRateLimiting);
        }
    }
}
