openapi: 3.0.1
info:
  contact:
    name: Selling Partner API Developer Support
    url: https://sellercentral.amazon.com/gp/mws/contactus.html
  description: The Selling Partner API for Fulfillment Outbound lets you create applications
    that help a seller fulfill Multi-Channel Fulfillment orders using their inventory
    in Amazon's fulfillment network. You can get information on both potential and
    existing fulfillment orders.
  license:
    name: Apache License 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
  title: The Selling Partner API for Fulfillment Outbound
  version: 2026-07-04
servers:
- url: https://sellingpartnerapi-na.amazon.com/
paths:
  /fulfillment/outbound/2026-07-04/previews:
    post:
      description: |-
        Retrieve a list of fulfillment order previews based on shipping criteria that you specify.

        **Usage Plan:**

        | Rate (requests per second) | Burst |
        | ---- | ---- |
        | 2 | 30 |

        The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
      operationId: getOrderPreview
      parameters:
      - description: The identifier of the fulfillment service used for this operation.
        example: FS01-o8vlfw8b1tiu1
        in: header
        name: x-amzn-fulfillment-service-id
        schema:
          maxLength: 40
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetOrderPreviewRequest'
        description: The request body schema for the `getOrderPreview` operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                plannedShipments:
                - estimatedShippingWeight:
                    unit: KG
                    value: "2.0"
                  items:
                  - productIdentifier:
                      amazonSku: someSku
                    amount:
                      unit: EACHES
                      value: "1.0"
                  offers:
                  - fulfillmentConfiguration:
                      serviceLevel:
                        serviceTier: STANDARD
                        deliveryInterval:
                          startTime: 2025-04-21T12:34:56Z
                          endTime: 2025-04-22T12:34:56Z
                        shipInterval:
                          startTime: 2025-04-21T10:00:00Z
                          endTime: 2025-04-21T14:00:00Z
                      services:
                        packaging:
                          packagingOption: UNBRANDED
                        delivery:
                          paymentOnDelivery: ENABLED
                        additional: {}
                    estimatedPrice:
                      rollupPrices:
                      - type: MCFTransportationFee
                        value:
                          currencyCode: USD
                          amount: "4.25"
                      totalPrice:
                        currencyCode: USD
                        amount: "4.25"
                constraints:
                - message: There is not enough quantity of item xyz.
                  type: ValidationError
                  code: ItemQuantityNotAvailable
                  details:
                  - type: someType
                    value: someValue
              schema:
                $ref: '#/components/schemas/GetOrderPreviewResponse'
          description: Success.
          headers:
            x-amzn-fulfillment-service-id:
              description: The identifier of the fulfillment service associated with
                this request.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The request's Authorization header is not formatted correctly
            or does not contain a valid token.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: "Indicates that access to the resource is forbidden. Possible\
            \ reasons include Access Denied, Unauthorized, Expired Token, or Invalid\
            \ Signature."
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The resource specified does not exist.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
        "413":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The request size exceeded the maximum accepted size.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The request payload is in an unsupported format.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: An unexpected condition occurred that prevented the server
            from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
      tags:
      - fulfillmentOutbound
      - fulfillmentPreviews
      x-codegen-request-body-name: body
    x-amzn-api-sandbox:
      dynamic: {}
  /fulfillment/outbound/2026-07-04/offers:
    post:
      description: |-
        Retrieve delivery options that include an estimated delivery date and offer expiration, based on criteria that you specify.

        **Usage Plan:**

        | Rate (requests per second) | Burst |
        | ---- | ---- |
        | 5 | 30 |

        The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
      operationId: getOffers
      parameters:
      - description: The identifier of the fulfillment service used for this operation.
        example: FS01-o8vlfw8b1tiu1
        in: header
        name: x-amzn-fulfillment-service-id
        schema:
          maxLength: 40
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetOffersRequest'
        description: The request body schema for the `getOffers` operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                offerResults:
                - item:
                    productIdentifier:
                      amazonSku: FRN-DSK-MCM-WAL-001
                  offers:
                  - fulfillmentConfiguration:
                      serviceLevel:
                        serviceTier: STANDARD
                        deliveryInterval:
                          startTime: 2026-05-02T12:00:00Z
                          endTime: 2026-05-03T23:59:00Z
                    expiryTime: 2026-04-30T12:00:00Z
                  - fulfillmentConfiguration:
                      serviceLevel:
                        serviceTier: EXPEDITED
                        deliveryInterval:
                          startTime: 2026-04-30T18:00:00Z
                          endTime: 2026-05-01T18:00:00Z
                    expiryTime: 2026-04-30T12:00:00Z
                - item:
                    productIdentifier:
                      amazonSku: FRN-DSK-MCM-CHR-001
                  offers:
                  - fulfillmentConfiguration:
                      serviceLevel:
                        serviceTier: STANDARD
                        deliveryInterval:
                          startTime: 2026-05-03T12:00:00Z
                          endTime: 2026-05-05T23:59:00Z
                    expiryTime: 2026-04-30T12:00:00Z
                  constraints:
                  - message: EXPEDITED delivery unavailable for FRN-DSK-MCM-CHR-001
                    type: ValidationError
                    code: DeliverySLAUnavailable
                    details:
                    - type: serviceTier
                      value: EXPEDITED
                    - type: amazonSku
                      value: FRN-DSK-MCM-CHR-001
              schema:
                $ref: '#/components/schemas/GetOffersResponse'
          description: Success.
          headers:
            x-amzn-fulfillment-service-id:
              description: The identifier of the fulfillment service associated with
                this request.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The request's Authorization header is not formatted correctly
            or does not contain a valid token.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: "Indicates that access to the resource is forbidden. Possible\
            \ reasons include Access Denied, Unauthorized, Expired Token, or Invalid\
            \ Signature."
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The resource specified does not exist.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
        "413":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The request size exceeded the maximum accepted size.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The request payload is in an unsupported format.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: An unexpected condition occurred that prevented the server
            from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
      tags:
      - fulfillmentOutbound
      - offers
      x-codegen-request-body-name: body
    x-amzn-api-sandbox:
      dynamic: {}
  /fulfillment/outbound/2026-07-04/orders/{orderId}/cancel:
    put:
      description: |-
        Request that Amazon stop attempting to fulfill a fulfillment order.

        **Usage Plan:**

        | Rate (requests per second) | Burst |
        | ---- | ---- |
        | 2 | 30 |

        The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
      operationId: cancelOrder
      parameters:
      - description: The identifier of the fulfillment service used for this operation.
        example: FS01-o8vlfw8b1tiu1
        in: header
        name: x-amzn-fulfillment-service-id
        schema:
          maxLength: 40
          type: string
      - description: The ID of the order that you want to cancel.
        example: order-123
        in: path
        name: orderId
        required: true
        schema:
          maxLength: 40
          type: string
      responses:
        "202":
          content:
            application/json:
              example: {}
              schema:
                $ref: '#/components/schemas/CancelOrderResponse'
          description: Success.
          headers:
            x-amzn-fulfillment-service-id:
              description: The identifier of the fulfillment service associated with
                this request.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The request's Authorization header is not formatted correctly
            or does not contain a valid token.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: "Indicates that access to the resource is forbidden. Possible\
            \ reasons include Access Denied, Unauthorized, Expired Token, or Invalid\
            \ Signature."
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The resource specified does not exist.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
        "413":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The request size exceeded the maximum accepted size.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The request payload is in an unsupported format.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: An unexpected condition occurred that prevented the server
            from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
      tags:
      - fulfillmentOutbound
      - fulfillmentOrders
    x-amzn-api-sandbox:
      dynamic: {}
  /fulfillment/outbound/2026-07-04/orders/{orderId}/status:
    put:
      description: "Request that Amazon update the status of an order in the sandbox\
        \ testing environment. This is a sandbox-only operation and must be directed\
        \ to a sandbox endpoint. Refer to [Fulfillment Outbound Dynamic Sandbox Guide](https://developer-docs.amazon.com/sp-api/docs/fulfillment-outbound-dynamic-sandbox-guide)\
        \ and [Selling Partner API sandbox](https://developer-docs.amazon.com/sp-api/docs/the-selling-partner-api-sandbox)\
        \ for more information."
      operationId: updateOrderStatus
      parameters:
      - description: The identifier of the fulfillment service used for this operation.
        example: FS01-o8vlfw8b1tiu1
        in: header
        name: x-amzn-fulfillment-service-id
        schema:
          maxLength: 40
          type: string
      - description: The ID of the order that you want to update.
        example: order-123
        in: path
        name: orderId
        required: true
        schema:
          maxLength: 40
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderStatusRequest'
        description: The new status of the fulfillment order.
        required: true
      responses:
        "204":
          content: {}
          description: Success.
          headers:
            x-amzn-fulfillment-service-id:
              description: The identifier of the fulfillment service associated with
                this request.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The request's Authorization header is not formatted correctly
            or does not contain a valid token.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: "Indicates that access to the resource is forbidden. Possible\
            \ reasons include Access Denied, Unauthorized, Expired Token, or Invalid\
            \ Signature."
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The resource specified does not exist.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "413":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The request size exceeded the maximum accepted size.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The request payload is in an unsupported format.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: An unexpected condition occurred that prevented the server
            from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
      tags:
      - fulfillmentOutbound
      - fulfillmentOrders
      x-codegen-request-body-name: body
    x-amzn-api-sandbox-only: true
    x-amzn-api-sandbox:
      dynamic: {}
  /fulfillment/outbound/2026-07-04/orders/{orderId}/packages/{packageId}:
    put:
      description: "Update package information for a specific package in a fulfillment\
        \ order. This is a sandbox-only operation and must be directed to a sandbox\
        \ endpoint. Refer to [Fulfillment Outbound Dynamic Sandbox Guide](https://developer-docs.amazon.com/sp-api/docs/fulfillment-outbound-dynamic-sandbox-guide)\
        \ and [Selling Partner API sandbox](https://developer-docs.amazon.com/sp-api/docs/the-selling-partner-api-sandbox)\
        \ for more information."
      operationId: updatePackage
      parameters:
      - description: The identifier of the fulfillment service used for this operation.
        example: FS01-o8vlfw8b1tiu1
        in: header
        name: x-amzn-fulfillment-service-id
        schema:
          maxLength: 40
          type: string
      - description: The ID of the order that contains the package that you want to
          update.
        example: order-123
        in: path
        name: orderId
        required: true
        schema:
          maxLength: 40
          type: string
      - description: The ID of the package that you want to update.
        example: PKG-abc123def456
        in: path
        name: packageId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePackageRequest'
        description: The new package information.
        required: true
      responses:
        "204":
          content: {}
          description: Success.
          headers:
            x-amzn-fulfillment-service-id:
              description: The identifier of the fulfillment service associated with
                this request.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The request's Authorization header is not formatted correctly
            or does not contain a valid token.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: "Indicates that access to the resource is forbidden. Possible\
            \ reasons include Access Denied, Unauthorized, Expired Token, or Invalid\
            \ Signature."
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The resource specified does not exist.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "413":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The request size exceeded the maximum accepted size.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The request payload is in an unsupported format.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: An unexpected condition occurred that prevented the server
            from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
      tags:
      - fulfillmentOutbound
      - fulfillmentOrders
      x-codegen-request-body-name: body
    x-amzn-api-sandbox-only: true
    x-amzn-api-sandbox:
      dynamic: {}
  /fulfillment/outbound/2026-07-04/orders/{orderId}:
    get:
      description: |-
        Retrieve a fulfillment order.

        **Usage Plan:**

        | Rate (requests per second) | Burst |
        | ---- | ---- |
        | 2 | 30 |

        The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
      operationId: getOrder
      parameters:
      - description: The identifier of the fulfillment service used for this operation.
        example: FS01-o8vlfw8b1tiu1
        in: header
        name: x-amzn-fulfillment-service-id
        schema:
          maxLength: 40
          type: string
      - description: The ID of the order you want to retrieve.
        example: orderNumberThree
        in: path
        name: orderId
        required: true
        schema:
          maxLength: 40
          type: string
      - description: Whether to include shipment data in the response. Included by
          default.
        example: EXCLUDE
        in: query
        name: shipments
        schema:
          enum:
          - INCLUDE
          - EXCLUDE
          type: string
          x-docgen-enum-table-extension:
          - value: INCLUDE
            description: Response schema includes shipments data. This is the default
              behavior.
          - value: EXCLUDE
            description: Response schema does not include shipments data.
        x-docgen-enum-table-extension:
        - value: INCLUDE
          description: Response schema includes shipments data. This is the default
            behavior.
        - value: EXCLUDE
          description: Response schema does not include shipments data.
      responses:
        "200":
          content:
            application/json:
              example:
                order:
                  orderId: ABC123XYZ
                  channel: SHOPIFY
                  receiveTime: 2025-04-21T10:30:00Z
                  status: PROCESSING
                  statusUpdateTime: 2025-04-21T11:45:00Z
                  fulfillmentConfiguration:
                    serviceLevel:
                      serviceTiers:
                      - STANDARD
                    action: HOLD
                    policy: FILL_ALL_AVAILABLE
                    services:
                      packaging:
                        packagingOption: UNBRANDED
                        packingSlip:
                          templateName: templateName
                          templateAttributes:
                            orderId: MyOrder-123
                            orderTime: 2026-07-01T10:00:00Z
                            orderText: Thank you for your purchase!
                      additional: {}
                  origin:
                    countryCode: US
                  destination:
                    deliveryAddress:
                      name: Shopper Name
                      addressLine1: 1000 Winthrop Ave N
                      city: Seattle
                      countryCode: US
                      postalCode: "98103"
                      stateOrRegion: WA
                      phone: 123-456-7890
                      email: shopper@email.com
                  lineItems:
                  - lineItemId: someLineItemId
                    product:
                      productIdentifier:
                        amazonSku: BOOK-123-HC
                      perUnitDeclaredValue:
                        currencyCode: USD
                        amount: "14.99"
                    amount:
                      unit: EACHES
                      value: "1.0"
                    cancelledAmount:
                      unit: EACHES
                      value: "0.0"
                    unfulfillableAmount:
                      unit: EACHES
                      value: "0.0"
                    fulfillmentConfiguration:
                      services:
                        packaging:
                          packingSlip:
                            templateName: templateName
                            templateAttributes:
                              orderId: MyOrder-123
                              orderTime: 2026-07-01T10:00:00Z
                              orderText: Thank you for your purchase!
                        delivery:
                          paymentOnDelivery:
                            perUnitServicePrice:
                              currencyCode: USD
                              amount: "14.99"
                  shipments:
                  - amazonShipmentId: SHIP901234
                    amazonFacility:
                      facilityId: FC456
                    status: SHIPPED
                    shipTime: 2025-04-21T15:00:00Z
                    deliveryTime: 2025-04-23T12:00:00Z
                    items:
                    - shipmentItemId: SI001
                      productIdentifier:
                        amazonSku: SKU123
                      lineItemId: LI789012
                      amount:
                        value: "1.0"
                        unit: EACHES
                    packages:
                    - packageId: PKG-abc123def456
                      status: DELIVERED
                      shipmentItemIds:
                      - SI001
                      tracking:
                        carrier:
                          carrierCode: FEDEX
                          trackingNumber: "123456789"
                        amazon:
                          trackingNumber: "123456789"
                  paymentInformation:
                    payments:
                    - paymentId: PAY-12345
                      paymentMethod: CREDIT_CARD
                      paymentTime: 2019-10-13T13:53:49Z
              schema:
                $ref: '#/components/schemas/GetOrderResponse'
          description: Success.
          headers:
            x-amzn-fulfillment-service-id:
              description: The identifier of the fulfillment service associated with
                this request.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The request's Authorization header is not formatted correctly
            or does not contain a valid token.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: "Indicates that access to the resource is forbidden. Possible\
            \ reasons include Access Denied, Unauthorized, Expired Token, or Invalid\
            \ Signature."
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The resource specified does not exist.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
        "413":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The request size exceeded the maximum accepted size.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The request payload is in an unsupported format.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: An unexpected condition occurred that prevented the server
            from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
      tags:
      - fulfillmentOutbound
      - fulfillmentOrders
    put:
      description: |-
        Update and/or request shipment for a fulfillment order with an order hold on it.

        **Usage Plan:**

        | Rate (requests per second) | Burst |
        | ---- | ---- |
        | 2 | 30 |

        The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
      operationId: updateOrder
      parameters:
      - description: The identifier of the fulfillment service used for this operation.
        example: FS01-o8vlfw8b1tiu1
        in: header
        name: x-amzn-fulfillment-service-id
        schema:
          maxLength: 40
          type: string
      - description: The ID of the order that you want to update and/or request shipment
          of.
        example: orderNumberThree
        in: path
        name: orderId
        required: true
        schema:
          maxLength: 40
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrderRequest'
        description: The request body schema for the `updateOrder` operation.
        required: true
      responses:
        "202":
          content:
            application/json:
              example: {}
              schema:
                $ref: '#/components/schemas/UpdateOrderResponse'
          description: Success.
          headers:
            x-amzn-fulfillment-service-id:
              description: The identifier of the fulfillment service associated with
                this request.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The request's Authorization header is not formatted correctly
            or does not contain a valid token.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: "Indicates that access to the resource is forbidden. Possible\
            \ reasons include Access Denied, Unauthorized, Expired Token, or Invalid\
            \ Signature."
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The resource specified does not exist.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
        "413":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The request size exceeded the maximum accepted size.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The request payload is in an unsupported format.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: An unexpected condition occurred that prevented the server
            from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
      tags:
      - fulfillmentOutbound
      - fulfillmentOrders
      x-codegen-request-body-name: body
    x-amzn-api-sandbox:
      dynamic: {}
  /fulfillment/outbound/2026-07-04/orders:
    get:
      description: |-
        Retrieve a list of fulfillment orders that match the criteria you specify.

        **Usage Plan:**

        | Rate (requests per second) | Burst |
        | ---- | ---- |
        | 2 | 30 |

        The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
      operationId: listOrders
      parameters:
      - description: The identifier of the fulfillment service used for this operation.
        example: FS01-o8vlfw8b1tiu1
        in: header
        name: x-amzn-fulfillment-service-id
        schema:
          maxLength: 40
          type: string
      - description: "The response includes orders updated after this time. Must be\
          \ in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601)\
          \ format."
        example: 2025-04-01T12:00:00Z
        in: query
        name: updatedAfter
        schema:
          format: date-time
          type: string
      - description: "A token that you use to retrieve the next page of results. The\
          \ response includes `pageToken` when the number of results exceeds the page\
          \ size. To get the next page of results, call the operation with this token\
          \ and include the same arguments as the call that produced the token. To\
          \ get a complete list, call this operation until `pageToken` is `null`."
        example: someToken
        in: query
        name: pageToken
        schema:
          type: string
      - description: Whether to include shipment data in the response. Included by
          default.
        example: EXCLUDE
        in: query
        name: shipments
        schema:
          enum:
          - INCLUDE
          - EXCLUDE
          type: string
          x-docgen-enum-table-extension:
          - value: INCLUDE
            description: Response schema includes shipments data. This is the default
              behavior.
          - value: EXCLUDE
            description: Response schema does not include shipments data.
        x-docgen-enum-table-extension:
        - value: INCLUDE
          description: Response schema includes shipments data. This is the default
            behavior.
        - value: EXCLUDE
          description: Response schema does not include shipments data.
      responses:
        "200":
          content:
            application/json:
              example:
                orders:
                - orderId: ABC123XYZ
                  channel: SHOPIFY
                  receiveTime: 2025-04-21T10:30:00Z
                  status: PROCESSING
                  statusUpdateTime: 2025-04-21T11:45:00Z
                  fulfillmentConfiguration:
                    serviceLevel:
                      serviceTiers:
                      - STANDARD
                    action: HOLD
                    services:
                      packaging:
                        packingSlip:
                          templateName: templateName
                          templateAttributes:
                            orderId: MyOrder-123
                            orderTime: 2026-07-01T10:00:00Z
                            orderText: Thank you for your purchase!
                  origin:
                    countryCode: US
                  destination:
                    deliveryAddress:
                      name: Shopper Name
                      addressLine1: 1000 Winthrop Ave N
                      city: Seattle
                      countryCode: US
                      postalCode: "98103"
                      stateOrRegion: WA
                      phone: 123-456-7890
                      email: shopper@email.com
                  lineItems:
                  - lineItemId: someLineItemId
                    product:
                      productIdentifier:
                        amazonSku: BOOK-123-HC
                      perUnitDeclaredValue:
                        currencyCode: USD
                        amount: "14.99"
                    amount:
                      unit: EACHES
                      value: "1.0"
                    fulfillmentConfiguration:
                      services:
                        packaging:
                          packingSlip:
                            templateName: templateName
                            templateAttributes:
                              giftMessage: Happy Birthday!
                              lineItemText: Item 1 of 2
                        delivery:
                          paymentOnDelivery:
                            perUnitServicePrice:
                              currencyCode: USD
                              amount: "14.99"
                - orderId: DEF456UVW
                  channel: SHOPIFY
                  receiveTime: 2025-04-20T15:30:00Z
                  status: COMPLETE
                  statusUpdateTime: 2025-04-20T18:45:00Z
                  fulfillmentConfiguration:
                    serviceLevel:
                      serviceTiers:
                      - EXPEDITED
                    action: SHIP
                    services:
                      packaging:
                        packingSlip:
                          templateName: templateName
                          templateAttributes:
                            orderId: MyOrder-123
                            orderTime: 2026-07-01T10:00:00Z
                            orderText: Thank you for your purchase!
                  origin:
                    countryCode: US
                  destination:
                    deliveryAddress:
                      name: Another Shopper
                      addressLine1: 500 Pine Street
                      city: San Francisco
                      countryCode: US
                      postalCode: "94103"
                      stateOrRegion: CA
                      phone: 987-654-3210
                  lineItems:
                  - lineItemId: anotherLineItemId
                    product:
                      productIdentifier:
                        amazonSku: BOOK-123-HC
                      perUnitDeclaredValue:
                        currencyCode: USD
                        amount: "14.99"
                    amount:
                      unit: EACHES
                      value: "2.0"
                    cancelledAmount:
                      unit: EACHES
                      value: "0.0"
                    unfulfillableAmount:
                      unit: EACHES
                      value: "0.0"
                    fulfillmentConfiguration:
                      services:
                        packaging:
                          packingSlip:
                            templateName: templateName
                            templateAttributes:
                              giftMessage: Happy Birthday!
                              lineItemText: Item 1 of 2
                        delivery:
                          paymentOnDelivery:
                            perUnitServicePrice:
                              currencyCode: USD
                              amount: "14.99"
                pagination:
                  nextToken: token123
              schema:
                $ref: '#/components/schemas/ListOrdersResponse'
          description: Success.
          headers:
            x-amzn-fulfillment-service-id:
              description: The identifier of the fulfillment service associated with
                this request.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The request's Authorization header is not formatted correctly
            or does not contain a valid token.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: "Indicates that access to the resource is forbidden. Possible\
            \ reasons include Access Denied, Unauthorized, Expired Token, or Invalid\
            \ Signature."
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The resource specified does not exist.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
        "413":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The request size exceeded the maximum accepted size.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The request payload is in an unsupported format.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: An unexpected condition occurred that prevented the server
            from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
      tags:
      - fulfillmentOutbound
      - fulfillmentOrders
    post:
      description: |-
        Request that Amazon ship items from the seller's inventory in Amazon's fulfillment network to a destination address.

        **Usage Plan:**

        | Rate (requests per second) | Burst |
        | ---- | ---- |
        | 2 | 30 |

        The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
      operationId: createOrder
      parameters:
      - description: The identifier of the fulfillment service used for this operation.
        example: FS01-o8vlfw8b1tiu1
        in: header
        name: x-amzn-fulfillment-service-id
        schema:
          maxLength: 40
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
        description: The request body schema for the `createOrder` operation.
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                order:
                  orderId: ABC123XYZ
                  channel: SHOPIFY
                  receiveTime: 2025-04-21T10:30:00Z
                  status: PROCESSING
                  statusUpdateTime: 2025-04-21T11:45:00Z
                  fulfillmentConfiguration:
                    serviceLevel:
                      serviceTiers:
                      - STANDARD
                    action: HOLD
                    policy: FILL_ALL_AVAILABLE
                    services:
                      packaging:
                        packagingOption: UNBRANDED
                        packingSlip:
                          templateName: templateName
                          templateAttributes:
                            orderId: MyOrder-123
                            orderTime: 2026-07-01T10:00:00Z
                            orderText: Thank you for your purchase!
                      additional: {}
                  origin:
                    countryCode: US
                  destination:
                    deliveryAddress:
                      name: Shopper Name
                      addressLine1: 1000 Winthrop Ave N
                      city: Seattle
                      countryCode: US
                      postalCode: "98103"
                      stateOrRegion: WA
                      phone: 123-456-7890
                      email: shopper@email.com
                  lineItems:
                  - lineItemId: someLineItemId
                    product:
                      productIdentifier:
                        amazonSku: BOOK-123-HC
                      perUnitDeclaredValue:
                        currencyCode: USD
                        amount: "14.99"
                    amount:
                      unit: EACHES
                      value: "1.0"
                    cancelledAmount:
                      unit: EACHES
                      value: "0.0"
                    unfulfillableAmount:
                      unit: EACHES
                      value: "0.0"
                    fulfillmentConfiguration:
                      services:
                        packaging:
                          packingSlip:
                            templateName: templateName
                            templateAttributes:
                              orderId: MyOrder-123
                              orderTime: 2026-07-01T10:00:00Z
                              orderText: Thank you for your purchase!
                        delivery:
                          paymentOnDelivery:
                            perUnitServicePrice:
                              currencyCode: USD
                              amount: "14.99"
                  paymentInformation:
                    payments:
                    - paymentId: PAY-12345
                      paymentMethod: CREDIT_CARD
                      paymentTime: 2019-10-13T13:53:49Z
              schema:
                $ref: '#/components/schemas/CreateOrderResponse'
          description: Success.
          headers:
            x-amzn-fulfillment-service-id:
              description: The identifier of the fulfillment service associated with
                this request.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
        "202":
          content:
            application/json:
              example:
                orderId: ABC123XYZ
                status: PROCESSING
              schema:
                $ref: '#/components/schemas/CreateOrderAcceptedResponse'
          description: Accepted.
          headers:
            x-amzn-fulfillment-service-id:
              description: The identifier of the fulfillment service associated with
                this request.
              schema:
                type: string
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The request's Authorization header is not formatted correctly
            or does not contain a valid token.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: "Indicates that access to the resource is forbidden. Possible\
            \ reasons include Access Denied, Unauthorized, Expired Token, or Invalid\
            \ Signature."
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The resource specified does not exist.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
        "413":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The request size exceeded the maximum accepted size.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The request payload is in an unsupported format.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: An unexpected condition occurred that prevented the server
            from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
      tags:
      - fulfillmentOutbound
      - fulfillmentOrders
      x-codegen-request-body-name: body
    x-amzn-api-sandbox:
      dynamic: {}
  /fulfillment/outbound/2026-07-04/services:
    x-amzn-api-sandbox:
      dynamic: {}
  /fulfillment/outbound/2026-07-04/services/{id}:
    x-amzn-api-sandbox:
      dynamic: {}
components:
  schemas:
    Error:
      description: Error response returned when the request is unsuccessful.
      properties:
        code:
          description: An error code that identifies the type of error that occurred.
          type: string
        message:
          description: A message that describes the error condition.
          type: string
        details:
          description: Additional details that can help the caller understand or fix
            the issue.
          type: string
      required:
      - code
      - message
      type: object
    ErrorList:
      description: A list of error responses returned when a request is unsuccessful.
      example:
        errors:
        - code: InvalidParameterValue
          message: The value 'abc' is invalid for EmailAddress.
          details: The value 'abc' is invalid for EmailAddress.
      properties:
        errors:
          description: array of errors
          items:
            $ref: '#/components/schemas/Error'
          type: array
      required:
      - errors
      type: object
    CancelOrderResponse:
      description: The response to the `cancelOrder` operation.
      example: {}
      type: object
    UpdateOrderResponse:
      description: The response to the `updateOrder` operation.
      example: {}
      type: object
    Decimal:
      description: "A decimal number with no loss of precision. Useful when precision\
        \ loss is unacceptable, as with currencies. Follows [RFC 7159](https://datatracker.ietf.org/doc/html/rfc7159)\
        \ for number representation."
      example: "1.0"
      type: string
    Timestamp:
      description: "Date timestamp in [ISO 8601](https://developer-docs.amazon/sp-api/docs/iso-8601)\
        \ date time format."
      example: 2025-04-21T12:34:56Z
      format: date-time
      type: string
    RollupPrice:
      description: A component of the total price.
      example:
        type: MCFTransportationFee
        value:
          currencyCode: USD
          amount: "4.25"
      properties:
        type:
          description: The type of price.
          type: string
        value:
          $ref: '#/components/schemas/Money'
      required:
      - type
      - value
      type: object
    EstimatedPrice:
      description: The estimated price information for the fulfillment order.
      example:
        rollupPrices:
        - type: MCFTransportationFee
          value:
            currencyCode: USD
            amount: "4.25"
        totalPrice:
          currencyCode: USD
          amount: "4.25"
      properties:
        rollupPrices:
          description: A breakdown of the price associated with the delivery preview.
          items:
            $ref: '#/components/schemas/RollupPrice'
          type: array
        totalPrice:
          $ref: '#/components/schemas/Money'
      required:
      - rollupPrices
      - totalPrice
      type: object
    OfferDestination:
      description: The destination of the fulfillment.
      example:
        ipAddress: 192.168.0.1
        deliveryAddress:
          addressLine1: 1000 Winthrop Ave N
          addressLine2: Floor 19
          addressLine3: "ATTN: Shopper"
          city: Seattle
          districtOrCounty: None
          countryCode: US
          postalCode: "98103"
          stateOrRegion: WA
      properties:
        deliveryAddress:
          $ref: '#/components/schemas/VariablePrecisionAddress'
        ipAddress:
          description: An IP address.
          example: 192.168.0.1
          format: ip
          type: string
      type: object
    PreviewDestination:
      description: The destination of the fulfillment.
      example:
        deliveryAddress:
          name: Shopper Name
          addressLine1: 1000 Winthrop Ave N
          addressLine2: Floor 19
          addressLine3: "ATTN: Shopper"
          city: Seattle
          districtOrCounty: None
          countryCode: US
          phone: 123-456-7890
          postalCode: "98103"
          stateOrRegion: WA
          email: shopper@email.com
      properties:
        deliveryAddress:
          $ref: '#/components/schemas/Address'
      required:
      - deliveryAddress
      type: object
    GetOrderPreviewRequest:
      description: The request body schema for `getOrderPreview`.
      example:
        channel: SHOPIFY
        fulfillmentConfiguration:
          serviceLevel:
            serviceTiers:
            - STANDARD
          services:
            packaging:
              packagingOption: UNBRANDED
            additional: {}
        origin:
          countryCode: US
        destination:
          deliveryAddress:
            name: Shopper Name
            addressLine1: 1000 Winthrop Ave N
            city: Seattle
            countryCode: US
            postalCode: "98103"
            stateOrRegion: WA
            phone: 123-456-7890
            email: shopper@email.com
        lineItems:
        - product:
            productIdentifier:
              amazonSku: someSku
            perUnitDeclaredValue:
              currencyCode: USD
              amount: "3.00"
          amount:
            unit: EACHES
            value: "1.0"
        excludeEstimatedFees: true
      properties:
        channel:
          description: The sales channel for the fulfillment request.
          example: SHOPIFY
          maxLength: 40
          type: string
        fulfillmentConfiguration:
          $ref: '#/components/schemas/PreviewFulfillmentConfiguration'
        origin:
          $ref: '#/components/schemas/OrderOrigin'
        destination:
          $ref: '#/components/schemas/PreviewDestination'
        lineItems:
          description: "A list of items to include in the fulfillment preview, including\
            \ quantity."
          items:
            $ref: '#/components/schemas/PreviewLineItem'
          type: array
        excludeEstimatedFees:
          description: "When `true`, excludes estimated fees from the preview response\
            \ for latency optimization. Default: `false`."
          type: boolean
        includePaymentOnDelivery:
          description: "When `true`, includes payment on delivery information in the\
            \ preview response. Default: `false`."
          type: boolean
      required:
      - destination
      - lineItems
      type: object
    CountryCode:
      description: The two digit country code. In ISO 3166-1 alpha-2 format.
      example: US
      maxLength: 2
      minLength: 2
      type: string
    ServiceLevel:
      description: "Service level configuration for fulfillment. Available service\
        \ tiers: `STANDARD`, `EXPEDITED`, `PRIORITY` (only available in Canada, India,\
        \ and Mexico), `SCHEDULED` (only available in Japan)."
      example:
        serviceTiers:
        - STANDARD
        deliveryInterval:
          startTime: 2025-04-21T12:34:56Z
          endTime: 2025-04-22T12:34:56Z
      properties:
        serviceTiers:
          description: "The service tiers that are acceptable for this order, listed\
            \ in order of preference. The first value is the preferred tier and is\
            \ used for fulfillment if possible. Available values: `STANDARD`, `EXPEDITED`,\
            \ `PRIORITY` (only available in Canada, India, and Mexico), `SCHEDULED`\
            \ (only available in Japan). Currently, only the first value in the array\
            \ is used."
          items:
            type: string
          type: array
        deliveryInterval:
          $ref: '#/components/schemas/TimeInterval'
      type: object
    VariablePrecisionAddress:
      description: A physical address with varying degrees of precision. A more precise
        address can provide more accurate results than country code and postal code
        alone.
      example:
        addressLine1: 1000 Winthrop Ave N
        addressLine2: Floor 19
        addressLine3: "ATTN: Shopper"
        city: Seattle
        districtOrCounty: None
        countryCode: US
        postalCode: "98103"
        stateOrRegion: WA
      properties:
        addressLine1:
          description: The first line of the address.
          type: string
        addressLine2:
          description: "Additional address information, if required."
          type: string
        addressLine3:
          description: "Additional address information, if required."
          type: string
        city:
          description: "The city where the person, business, or institution is located.\
            \ This property must not be used in Japan."
          type: string
        districtOrCounty:
          description: "The district or county where the person, business, or institution\
            \ is located."
          type: string
        stateOrRegion:
          description: "The state or region where the person, business, or institution\
            \ is located."
          type: string
        postalCode:
          description: The postal code of the address.
          type: string
        countryCode:
          description: The two digit country code. In ISO 3166-1 alpha-2 format.
          example: US
          maxLength: 2
          minLength: 2
          type: string
      required:
      - countryCode
      - postalCode
      type: object
    Address:
      description: A physical address.
      example:
        name: Shopper Name
        addressLine1: 1000 Winthrop Ave N
        addressLine2: Floor 19
        addressLine3: "ATTN: Shopper"
        city: Seattle
        districtOrCounty: None
        countryCode: US
        phone: 123-456-7890
        postalCode: "98103"
        stateOrRegion: WA
        email: shopper@email.com
      properties:
        name:
          description: "The name of the person, business or institution at the address."
          type: string
        addressLine1:
          description: The first line of the address.
          type: string
        addressLine2:
          description: "Additional address information, if required."
          type: string
        addressLine3:
          description: "Additional address information, if required."
          type: string
        city:
          description: "The city where the person, business, or institution is located.\
            \ This property is required in all countries except Japan. It must not\
            \ be used in Japan."
          type: string
        districtOrCounty:
          description: "The district or county where the person, business, or institution\
            \ is located."
          type: string
        stateOrRegion:
          description: "The state or region where the person, business, or institution\
            \ is located."
          type: string
        postalCode:
          description: The postal code of the address.
          type: string
        countryCode:
          description: The two digit country code. In ISO 3166-1 alpha-2 format.
          example: US
          maxLength: 2
          minLength: 2
          type: string
        phone:
          description: "The phone number of the person, business, or institution located\
            \ at the address."
          type: string
        email:
          description: "The email of the person, business, or institution located\
            \ at the address."
          type: string
      required:
      - addressLine1
      - countryCode
      - name
      - postalCode
      type: object
    IpAddress:
      description: An IP address.
      example: 192.168.0.1
      format: ip
      type: string
    PreviewLineItem:
      description: Item information for a fulfillment preview.
      example:
        product:
          productIdentifier:
            amazonSku: BOOK-123-HC
          perUnitDeclaredValue:
            currencyCode: USD
            amount: "14.99"
        amount:
          unit: EACHES
          value: "2.0"
      properties:
        product:
          $ref: '#/components/schemas/PreviewProduct'
        amount:
          $ref: '#/components/schemas/Amount'
      required:
      - amount
      - product
      type: object
    PreviewPlannedShipmentItem:
      description: Item information for a fulfillment preview.
      example:
        productIdentifier:
          amazonSku: BOOK-123-HC
        amount:
          unit: EACHES
          value: "2.0"
      properties:
        productIdentifier:
          $ref: '#/components/schemas/ProductIdentifier'
        amount:
          $ref: '#/components/schemas/Amount'
      required:
      - amount
      - productIdentifier
      type: object
    PreviewProduct:
      description: Product information for the line item.
      properties:
        productIdentifier:
          $ref: '#/components/schemas/ProductIdentifier'
        perUnitDeclaredValue:
          $ref: '#/components/schemas/Money'
      required:
      - productIdentifier
      type: object
    OrderProduct:
      description: Product information for the line item.
      properties:
        productIdentifier:
          $ref: '#/components/schemas/ProductIdentifier'
        perUnitDeclaredValue:
          $ref: '#/components/schemas/Money'
      required:
      - productIdentifier
      type: object
    ProductIdentifier:
      description: The identifier of a product.
      example:
        amazonSku: someSku
      properties:
        amazonSku:
          description: The Amazon SKU of the item.
          type: string
      required:
      - amazonSku
      type: object
    Amount:
      description: A quantity based on the specified unit of measurement.
      example:
        unit: EACHES
        value: "1.0"
      properties:
        unit:
          description: "The unit of measure for the amount. Possible values: `EACHES`."
          type: string
        value:
          description: "A decimal number with no loss of precision. Useful when precision\
            \ loss is unacceptable, as with currencies. Follows [RFC 7159](https://datatracker.ietf.org/doc/html/rfc7159)\
            \ for number representation."
          example: "1.0"
          type: string
      required:
      - value
      type: object
    Money:
      description: "An amount of money, including units in the form of currency."
      example:
        currencyCode: USD
        amount: "2.50"
      properties:
        currencyCode:
          description: Three-digit currency code in ISO 4217 format.
          type: string
        amount:
          description: "A decimal number with no loss of precision. Useful when precision\
            \ loss is unacceptable, as with currencies. Follows [RFC 7159](https://datatracker.ietf.org/doc/html/rfc7159)\
            \ for number representation."
          example: "1.0"
          type: string
      required:
      - amount
      - currencyCode
      type: object
    PreviewServices:
      description: Services for a fulfillment preview request. Does not include delivery
        settings.
      example:
        packaging:
          packagingOption: UNBRANDED
        additional: {}
      properties:
        packaging:
          $ref: '#/components/schemas/PreviewPackagingService'
        additional:
          additionalProperties:
            type: string
          description: Request additional services
          example: {}
          type: object
      type: object
    PreviewOfferServices:
      description: "Services for a preview offer response. Includes delivery settings\
        \ (for example, `paymentOnDelivery`)."
      example:
        packaging:
          packagingOption: UNBRANDED
        delivery:
          paymentOnDelivery: ENABLED
        additional: {}
      properties:
        packaging:
          $ref: '#/components/schemas/PreviewPackagingService'
        delivery:
          $ref: '#/components/schemas/PreviewDeliveryService'
        additional:
          additionalProperties:
            type: string
          description: Request additional services
          example: {}
          type: object
      type: object
    PackagingService:
      description: Specify packaging requirements.
      example:
        packagingOption: UNBRANDED
        overbox: NOT_REQUIRED
        packingSlip:
          templateName: templateName
          templateAttributes:
            orderId: MyOrder-123
            orderTime: 2026-07-01T10:00:00Z
            orderText: Thank you for your purchase!
      properties:
        packagingOption:
          description: "The packaging option to use for fulfillment. Possible values:\
            \ `UNBRANDED`, `ANY`."
          type: string
        overbox:
          description: "Whether to require an overbox for the shipment. Possible values:\
            \ `REQUIRED`, `NOT_REQUIRED`."
          type: string
        packingSlip:
          $ref: '#/components/schemas/OrderPackingSlip'
      type: object
    PreviewPackagingService:
      description: Packaging requirements for a fulfillment preview.
      example:
        packagingOption: UNBRANDED
        overbox: NOT_REQUIRED
      properties:
        packagingOption:
          description: "The packaging option to use for fulfillment. Possible values:\
            \ `UNBRANDED`, `ANY`."
          type: string
        overbox:
          description: "Whether to require an overbox for the shipment. Possible values:\
            \ `REQUIRED`, `NOT_REQUIRED`."
          type: string
      type: object
    PreviewDeliveryService:
      description: Delivery settings for a fulfillment preview.
      example:
        paymentOnDelivery: ENABLED
      properties:
        paymentOnDelivery:
          description: "Indicates whether to include payment on delivery pricing in\
            \ the preview. Only present when `includePaymentOnDelivery` is `true`\
            \ on the request. Possible values: `ENABLED`, `DISABLED`."
          type: string
      type: object
    DeliveryService:
      description: Specify delivery settings.
      type: object
    PaymentInformation:
      description: Payment information for the order. Currently only available in
        India.
      example:
        payments:
        - paymentId: PAY-12345
          paymentMethod: CREDIT_CARD
          paymentTime: 2019-10-13T13:53:49Z
      properties:
        payments:
          description: A list of payments associated with the order.
          items:
            $ref: '#/components/schemas/Payment'
          type: array
      type: object
    Payment:
      description: Payment details.
      example:
        paymentId: PAY-12345
        paymentMethod: CREDIT_CARD
        paymentTime: 2019-10-13T13:53:49Z
      properties:
        paymentId:
          description: The payment identifier.
          type: string
        paymentMethod:
          description: The payment method.
          type: string
        paymentTime:
          description: The time of the payment in ISO 8601 format.
          format: date-time
          type: string
      type: object
    AdditionalServices:
      additionalProperties:
        type: string
      description: Request additional services
      example: {}
      type: object
    GetOrderPreviewResponse:
      description: The response schema for `getOrderPreview`.
      example:
        plannedShipments:
        - estimatedShippingWeight:
            unit: KG
            value: "2.0"
          items:
          - productIdentifier:
              amazonSku: someSku
            amount:
              unit: EACHES
              value: "1.0"
          offers:
          - fulfillmentConfiguration:
              serviceLevel:
                serviceTier: STANDARD
                deliveryInterval:
                  startTime: 2025-04-21T12:34:56Z
                  endTime: 2025-04-22T12:34:56Z
              services:
                packaging:
                  packagingOption: UNBRANDED
                delivery:
                  paymentOnDelivery: ENABLED
                additional: {}
            estimatedPrice:
              rollupPrices:
              - type: MCFTransportationFee
                value:
                  currencyCode: USD
                  amount: "4.25"
              totalPrice:
                currencyCode: USD
                amount: "4.25"
        constraints:
        - message: There is not enough quantity of item xyz.
          type: ValidationError
          code: ItemQuantityNotAvailable
          details:
          - type: someType
            value: someValue
      properties:
        plannedShipments:
          description: An array of planned shipment information.
          items:
            $ref: '#/components/schemas/PreviewPlannedShipment'
          type: array
        constraints:
          description: An array of constraints that may affect the fulfillment order.
          items:
            $ref: '#/components/schemas/Constraint'
          type: array
      required:
      - plannedShipments
      type: object
    PreviewPlannedShipment:
      description: A group of items to be delivered together.
      example:
        estimatedShippingWeight:
          unit: KG
          value: "2.0"
        items:
        - productIdentifier:
            amazonSku: someSku
          amount:
            unit: EACHES
            value: "1.0"
        offers:
        - fulfillmentConfiguration:
            serviceLevel:
              serviceTier: STANDARD
              deliveryInterval:
                startTime: 2025-04-21T12:34:56Z
                endTime: 2025-04-22T12:34:56Z
              shipInterval:
                startTime: 2025-04-21T10:00:00Z
                endTime: 2025-04-21T14:00:00Z
            services:
              packaging:
                packagingOption: UNBRANDED
              delivery:
                paymentOnDelivery: ENABLED
              additional: {}
          estimatedPrice:
            rollupPrices:
            - type: MCFTransportationFee
              value:
                currencyCode: USD
                amount: "4.25"
            totalPrice:
              currencyCode: USD
              amount: "4.25"
      properties:
        estimatedShippingWeight:
          $ref: '#/components/schemas/Weight'
        items:
          description: The items in this planned shipment. These can be a subset of
            lineItems from the request depending on how shipments are planned.
          items:
            $ref: '#/components/schemas/PreviewPlannedShipmentItem'
          type: array
        offers:
          description: An array of offers for this planned shipment.
          items:
            $ref: '#/components/schemas/PreviewDeliveryOffer'
          type: array
      required:
      - items
      type: object
    Weight:
      description: The weight.
      example:
        unit: KG
        value: "2.0"
      properties:
        unit:
          description: "The unit of weight. Possible values: `KG`, `KILOGRAMS`, `LB`,\
            \ `POUNDS`."
          type: string
        value:
          description: "A decimal number with no loss of precision. Useful when precision\
            \ loss is unacceptable, as with currencies. Follows [RFC 7159](https://datatracker.ietf.org/doc/html/rfc7159)\
            \ for number representation."
          example: "1.0"
          type: string
      required:
      - unit
      - value
      type: object
    PreviewDeliveryOffer:
      description: An available offer for delivery of a group of items.
      example:
        fulfillmentConfiguration:
          serviceLevel:
            serviceTier: STANDARD
            deliveryInterval:
              startTime: 2025-05-01T16:00:00Z
              endTime: 2025-05-02T01:00:00Z
            shipInterval:
              startTime: 2025-05-01T10:00:00Z
              endTime: 2025-05-01T14:00:00Z
          services:
            packaging:
              packagingOption: UNBRANDED
            delivery:
              paymentOnDelivery: ENABLED
            additional: {}
        estimatedPrice:
          rollupPrices:
          - type: MCFTransportationFee
            value:
              currencyCode: USD
              amount: "4.25"
          totalPrice:
            currencyCode: USD
            amount: "4.25"
      properties:
        estimatedPrice:
          $ref: '#/components/schemas/EstimatedPrice'
        fulfillmentConfiguration:
          $ref: '#/components/schemas/PreviewOfferFulfillmentConfiguration'
      type: object
    TimeInterval:
      description: "The time range within which an event (for example, a delivery)\
        \ will occur."
      example:
        startTime: 2025-04-21T12:34:56Z
        endTime: 2025-04-22T12:34:56Z
      properties:
        startTime:
          description: "Date timestamp in [ISO 8601](https://developer-docs.amazon/sp-api/docs/iso-8601)\
            \ date time format."
          example: 2025-04-21T12:34:56Z
          format: date-time
          type: string
        endTime:
          description: "Date timestamp in [ISO 8601](https://developer-docs.amazon/sp-api/docs/iso-8601)\
            \ date time format."
          example: 2025-04-21T12:34:56Z
          format: date-time
          type: string
      required:
      - endTime
      - startTime
      type: object
    Constraint:
      description: A constraint that may affect a fulfillment order.
      example:
        message: There is not enough of quantity xyz.
        type: ValidationError
        code: ItemQuantityNotAvailable
        details:
        - type: someType
          value: someValue
      properties:
        message:
          description: A human-readable description of the constraint.
          example: The requested id is not available for purchase.
          type: string
        type:
[...]
