openapi: 3.0.1
info:
  contact:
    email: marketplaceapitest@amazon.com
    name: Selling Partner API Developer Support
    url: https://sellercentral.amazon.com/gp/mws/contactus.html
  description: "You can use the Amazon External Fulfillment Return Item Processing\
    \ API to retrieve, track, and process return items through Amazon's External Fulfillment\
    \ returns management system."
  license:
    name: Amazon Software License
    url: https://aws.amazon.com/asl/
  title: The Selling Partner API for Amazon External Fulfillment Return Item Processing
  version: 2024-09-11
servers:
- url: https://sellingpartnerapi-na.amazon.com/
paths:
  /externalFulfillment/2024-09-11/returns:
    get:
      description: "Retrieve a list of return items. You can filter results by location,\
        \ RMA ID, status, or time."
      operationId: listReturns
      parameters:
      - description: The SmartConnect location ID of the location from which you want
          to retrieve return items.
        in: query
        name: returnLocationId
        schema:
          type: string
      - description: The RMA ID of the return items you want to list.
        in: query
        name: rmaId
        schema:
          type: string
      - description: The status of return items you want to list. You can retrieve
          all new return items with the `CREATED` status.
        in: query
        name: status
        schema:
          enum:
          - CREATED
          - CARRIER_NOTIFIED_TO_PICK_UP_FROM_CUSTOMER
          - CARRIER_OUT_FOR_PICK_UP_FROM_CUSTOMER
          - CUSTOMER_CANCELLED_PICK_UP
          - CUSTOMER_RESCHEDULED_PICK_UP
          - PICKED_FROM_CUSTOMER
          - IN_TRANSIT
          - OUT_FOR_DELIVERY
          - DELIVERED
          - REPLANNED
          - CUSTOMER_DROPPED_OFF
          - PARTIALLY_PROCESSED
          - PROCESSED
          - REJECTED
          - CANCELLED
          type: string
          x-docgen-enum-table-extension:
          - value: CREATED
            description: The return is created and is awaiting pickup.
          - value: CARRIER_NOTIFIED_TO_PICK_UP_FROM_CUSTOMER
            description: The carrier is notified to pick up the return from the customer.
          - value: CARRIER_OUT_FOR_PICK_UP_FROM_CUSTOMER
            description: The carrier is out for pickup from the customer.
          - value: CUSTOMER_CANCELLED_PICK_UP
            description: The customer cancelled the pickup request.
          - value: CUSTOMER_RESCHEDULED_PICK_UP
            description: The customer rescheduled the pickup.
          - value: PICKED_FROM_CUSTOMER
            description: The return is picked up from the customer.
          - value: IN_TRANSIT
            description: The return is in transit to the fulfillment location.
          - value: OUT_FOR_DELIVERY
            description: The return is out for delivery to the fulfillment location.
          - value: DELIVERED
            description: The return is delivered to the fulfillment location.
          - value: REPLANNED
            description: The return delivery is replanned.
          - value: CUSTOMER_DROPPED_OFF
            description: The customer dropped off the return at a designated location.
          - value: PARTIALLY_PROCESSED
            description: The return is partially processed.
          - value: PROCESSED
            description: The return is fully processed.
          - value: REJECTED
            description: The return is rejected.
          - value: CANCELLED
            description: The return is cancelled.
        x-docgen-enum-table-extension:
        - value: CREATED
          description: The return is created and is awaiting pickup.
        - value: CARRIER_NOTIFIED_TO_PICK_UP_FROM_CUSTOMER
          description: The carrier is notified to pick up the return from the customer.
        - value: CARRIER_OUT_FOR_PICK_UP_FROM_CUSTOMER
          description: The carrier is out for pickup from the customer.
        - value: CUSTOMER_CANCELLED_PICK_UP
          description: The customer cancelled the pickup request.
        - value: CUSTOMER_RESCHEDULED_PICK_UP
          description: The customer rescheduled the pickup.
        - value: PICKED_FROM_CUSTOMER
          description: The return is picked up from the customer.
        - value: IN_TRANSIT
          description: The return is in transit to the fulfillment location.
        - value: OUT_FOR_DELIVERY
          description: The return is out for delivery to the fulfillment location.
        - value: DELIVERED
          description: The return is delivered to the fulfillment location.
        - value: REPLANNED
          description: The return delivery is replanned.
        - value: CUSTOMER_DROPPED_OFF
          description: The customer dropped off the return at a designated location.
        - value: PARTIALLY_PROCESSED
          description: The return is partially processed.
        - value: PROCESSED
          description: The return is fully processed.
        - value: REJECTED
          description: The return is rejected.
        - value: CANCELLED
          description: The return is cancelled.
      - description: The reverse tracking ID of the return items you want to list.
        example: "10024773658"
        in: query
        name: reverseTrackingId
        schema:
          type: string
      - description: "Return items created after the specified date are included in\
          \ the response. In [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601)\
          \ date-time format."
        example: 2021-03-18T15:23:58Z
        in: query
        name: createdSince
        schema:
          format: date-time
          type: string
      - description: "Return items created before the specified date are included\
          \ in the response. In [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601)\
          \ date-time format."
        example: 2021-03-19T15:23:58Z
        in: query
        name: createdUntil
        schema:
          format: date-time
          type: string
      - description: "Return items updated after the specified date are included in\
          \ the response. In [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601)\
          \ date-time format. If you supply this parameter, you must also supply `returnLocationId`\
          \ and `status`."
        example: 2021-03-18T20:13:08Z
        in: query
        name: lastUpdatedSince
        schema:
          format: date-time
          type: string
      - description: "Return items whose most recent update is before the specified\
          \ date are included in the response. In [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601)\
          \ date-time format. If you supply this parameter, you must also supply `returnLocationId`\
          \ and `status`."
        example: 2021-03-19T20:13:08Z
        in: query
        name: lastUpdatedUntil
        schema:
          format: date-time
          type: string
      - description: DEPRECATED. Use the `createdSince` parameter.
        in: query
        name: lastUpdatedAfter
        schema:
          format: date-time
          type: string
      - description: DEPRECATED. Use the `createdUntil` parameter.
        example: 2021-03-19T15:23:58Z
        in: query
        name: lastUpdatedBefore
        schema:
          format: date-time
          type: string
      - description: |-
          The number of return items you want to include in the response.

          **Default:** 10

          **Maximum:** 100
        example: 50
        in: query
        name: maxResults
        schema:
          format: int64
          maximum: 100
          nullable: true
          type: integer
      - description: "A token that you use to retrieve the next page of results. The\
          \ response includes `nextToken` when there are multiple pages of results.\
          \ To get the next page of results, call the operation with this token and\
          \ include the same arguments as the call that produced the token. To get\
          \ a complete list, call this operation until `nextToken` is null. Note that\
          \ this operation can return empty pages."
        example: eyJsYXN0VXBkYXRlZFRpbWVzdGFtcCI6eyJzIjpu
        in: query
        name: nextToken
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                nextToken: eyJsYXN0VXBkYXRlZFRpbWVzdGFtcCI6eyJzIjpu
                returns:
                - marketplaceChannelDetails:
                    channelSku: SerialYT1
                    customerOrderId: 107-7727827-8514700
                    returnLocationId: EDD5
                    shipmentId: D39CwZpdj
                    marketplaceChannel:
                      marketplaceName: AMAZON_IN
                      channelName: FBA
                  otpDetails:
                    otp: "703669"
                    validTill: 1612933142
                  packageDeliveryMode: WITH_OTP
                  creationDateTime: 2021-03-18T15:23:58Z
                  fulfillmentLocationId: 450a6661-1a97-4abd-99e4-45714bcf4439
                  id: ee39cdd9-9caa-47b6-a5b1-7b6a1c6d43d1
                  lastUpdatedDateTime: 2021-03-18T20:13:08Z
                  merchantSku: SerialYT1
                  numberOfUnits: 1
                  returnMetadata:
                    invoiceInformation:
                      id: EDD5-101
                    returnReason: Missed
                    rmaId: Test
                    fulfillmentOrderId: 10d1db2e-a546-4d64-a5da-577d5bf9420d
                  returnShippingInfo:
                    forwardTrackingInfo:
                      carrierName: ATS
                      trackingId: "156121269663"
                  returnType: CUSTOMER
                  status: CARRIER_NOTIFIED_TO_PICK_UP_FROM_CUSTOMER
                - marketplaceChannelDetails:
                    channelSku: FBA_PERF_BOOK
                    customerOrderId: 107-7727827-8514701
                    returnLocationId: EDD5
                    shipmentId: DXPQ1wCCZ
                    marketplaceChannel:
                      marketplaceName: AMAZON_IN$
                      channelName: FBA
                  otpDetails:
                    otp: "703669"
                    validTill: 1612933142
                  packageDeliveryMode: WITH_OTP
                  creationDateTime: 2021-04-02T10:13:50Z
                  fulfillmentLocationId: 450a6661-1a97-4abd-99e4-45714bcf4439
                  id: add6bfb3-8d15-4c79-8bcf-810fe12b163c
                  lastUpdatedDateTime: 2021-04-02T15:23:58Z
                  merchantSku: FBA_PERF_BOOK
                  numberOfUnits: 1
                  returnMetadata:
                    invoiceInformation:
                      id: EDD5-92
                    returnReason: Missed
                    rmaId: Test
                  returnShippingInfo:
                    forwardTrackingInfo:
                      carrierName: ATS
                      trackingId: "151987126617"
                    reverseTrackingInfo:
                      carrierName: ATS
                      trackingId: "19124773658"
                  returnType: CUSTOMER
                  status: CREATED
              schema:
                $ref: '#/components/schemas/ReturnsResponse'
          description: Success. The response contains a list of return items.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  rmaId:
                    value: rmaIdOneShipmentOneItemOneQty200
              response:
                returns:
                - marketplaceChannelDetails:
                    channelSku: "1002400773021"
                    customerOrderId: 407-7727827-8514700
                    merchantId: YOUR_MERCHANT_ID
                    returnLocationId: EDD9
                    shipmentId: TEST_CASE_200_FBA_SHIPMENT_ID
                    marketplaceChannel:
                      marketplaceName: AMAZON_US
                      channelName: FBA
                  otpDetails:
                    otp: "703669"
                    validTill: 1612933142
                  packageDeliveryMode: WITH_OTP
                  creationDateTime: 2020-06-09T18:13:18Z
                  fulfillmentLocationId: TEST_CASE_200_LOCATION_ID
                  id: ee39cdd9-9caa-47b6-a5b1-7b6a1c6d43d1
                  lastUpdatedDateTime: 2020-06-09T23:10:55Z
                  merchantSku: "1002400773021"
                  numberOfUnits: 1
                  returnMetadata:
                    invoiceInformation:
                      id: IN-ABCD-124
                    returnReason: Missed
                    rmaId: rmaIdOneShipmentOneItemOneQty200
                    fulfillmentOrderId: 11d2dc2e-b678-5e64-a1db-688d5bf9423e
                  returnShippingInfo:
                    forwardTrackingInfo:
                      carrierName: ATS
                      trackingId: "267232370774"
                    reverseTrackingInfo:
                      carrierName: UPSN
                      trackingId: "10024773658"
                  returnType: CUSTOMER
                  returnSubType: NORMAL
                  status: CREATED
            - request:
                parameters:
                  rmaId:
                    value: rmaIdOneShipmentMultItemOneQty200
              response:
                returns:
                - marketplaceChannelDetails:
                    channelSku: SerialYT1
                    customerOrderId: 207-7727827-8514700
                    merchantId: YOUR_MERCHANT_ID
                    returnLocationId: EDD9
                    shipmentId: D51EzWkeh
                    marketplaceChannel:
                      marketplaceName: AMAZON_US
                      channelName: FBA
                  otpDetails:
                    otp: "703669"
                    validTill: 1612933142
                  packageDeliveryMode: WITH_OTP
                  creationDateTime: 2021-03-18T15:23:58Z
                  fulfillmentLocationId: 43cd8cd4-a944-4fa8-a584-5e3b3efdb045
                  id: ff40dee3-3bbc-47b6-a5b1-7b6a1c6d45e3
                  lastUpdatedDateTime: 2021-03-18T20:13:08Z
                  merchantSku: SerialYT1
                  numberOfUnits: 1
                  returnMetadata:
                    invoiceInformation:
                      id: EDD9-102
                    returnReason: Missed
                    rmaId: rmaIdOneShipmentMultItemOneQty200
                    fulfillmentOrderId: 21d2dc2e-b678-5e64-a1db-688d5bf9423f
                  returnShippingInfo:
                    forwardTrackingInfo:
                      carrierName: ATS
                      trackingId: "367232370885"
                    reverseTrackingInfo:
                      carrierName: UPSN
                      trackingId: "20024773658"
                  returnType: CUSTOMER
                  returnSubType: NORMAL
                  status: CARRIER_NOTIFIED_TO_PICK_UP_FROM_CUSTOMER
                - marketplaceChannelDetails:
                    channelSku: SerialYT2
                    customerOrderId: 217-7727827-8514700
                    merchantId: YOUR_MERCHANT_ID
                    returnLocationId: EDD9
                    shipmentId: D51EzWkeh
                    marketplaceChannel:
                      marketplaceName: AMAZON_US
                      channelName: FBA
                  otpDetails:
                    otp: "703669"
                    validTill: 1612933142
                  packageDeliveryMode: WITH_OTP
                  creationDateTime: 2021-03-18T15:23:58Z
                  fulfillmentLocationId: 43cd8cd4-a944-4fa8-a584-5e3b3efdb045
                  id: fg40dee3-3cbc-47b6-a5b1-7b6a1c6d45e3
                  lastUpdatedDateTime: 2021-03-19T21:14:09Z
                  merchantSku: SerialYT2
                  numberOfUnits: 1
                  returnMetadata:
                    invoiceInformation:
                      id: EDD9-103
                    returnReason: Missed
                    rmaId: rmaIdOneShipmentMultItemOneQty200
                    fulfillmentOrderId: 32d3dc4e-b678-5e64-a1db-688d5bf9423f
                  returnShippingInfo:
                    forwardTrackingInfo:
                      carrierName: ATS
                      trackingId: "367232370832"
                    reverseTrackingInfo:
                      carrierName: UPSN
                      trackingId: "20024773658"
                    deliveryDateTime: 2021-03-19T18:15:09Z
                    pickupDateTime: 2021-03-20T21:15:09Z
                  returnType: CUSTOMER
                  returnSubType: NORMAL
                  status: CREATED
            - request:
                parameters:
                  rmaId:
                    value: rmaIdOneShipmentOneItemMultQty200
              response:
                returns:
                - marketplaceChannelDetails:
                    channelSku: SerialYT3
                    customerOrderId: 307-7727827-8514700
                    merchantId: YOUR_MERCHANT_ID
                    returnLocationId: EDD9
                    shipmentId: B40ExWpdh
                    marketplaceChannel:
                      marketplaceName: AMAZON_US
                      channelName: FBA
                  otpDetails:
                    otp: "703669"
                    validTill: 1612933142
                  packageDeliveryMode: WITH_OTP
                  replanningDetails:
                    previousTrackingInfo:
                    - carrierName: ATS
                      trackingId: "377232370329"
                    - carrierName: ATS
                      trackingId: "377232370330"
                  creationDateTime: 2021-03-16T15:23:59Z
                  fulfillmentLocationId: 43cd8cd4-a944-4fa8-a584-5e3b3efdb045
                  id: ga54cdd9-9caa-47b6-a5b1-7b6a1c6d43d2
                  lastUpdatedDateTime: 2021-03-18T20:13:08Z
                  merchantSku: SerialYT3
                  numberOfUnits: 10
                  returnMetadata:
                    invoiceInformation:
                      id: EDD9-191
                    returnReason: Missed
                    rmaId: rmaIdOneShipmentOneItemMultQty200
                    fulfillmentOrderId: 22f2dc2e-c671-5e64-a1db-688d5bf9423r
                  returnShippingInfo:
                    forwardTrackingInfo:
                      carrierName: ATS
                      trackingId: "377232370331"
                    reverseTrackingInfo:
                      carrierName: UPSN
                      trackingId: "30024773658"
                  returnType: CUSTOMER
                  returnSubType: NORMAL
                  status: CREATED
            - request:
                parameters:
                  rmaId:
                    value: rmaIdOneShipmentMultItemMultQty200
              response:
                returns:
                - marketplaceChannelDetails:
                    channelSku: SerialYT1
                    customerOrderId: 407-7727827-8514700
                    merchantId: YOUR_MERCHANT_ID
                    returnLocationId: EDD9
                    shipmentId: R51EzWVee
                    marketplaceChannel:
                      marketplaceName: AMAZON_US
                      channelName: FBA
                  otpDetails:
                    otp: "703669"
                    validTill: 1612933142
                  packageDeliveryMode: WITH_OTP
                  creationDateTime: 2021-03-18T15:23:58Z
                  fulfillmentLocationId: 43cd8cd4-a944-4fa8-a584-5e3b3efdb045
                  id: fz40dee4-3bbc-47b6-a5b1-7b6a1c6d45e3
                  lastUpdatedDateTime: 2021-03-18T20:13:08Z
                  merchantSku: SerialYT1
                  numberOfUnits: 10
                  returnMetadata:
                    invoiceInformation:
                      id: EDD9-106
                    returnReason: Missed
                    rmaId: rmaIdOneShipmentMultItemMultQty200
                    fulfillmentOrderId: 21d2dc2e-b678-5e64-a1db-688d5bf9423f
                  returnShippingInfo:
                    forwardTrackingInfo:
                      carrierName: ATS
                      trackingId: "367232370885"
                    reverseTrackingInfo:
                      carrierName: UPSN
                      trackingId: "40024773658"
                  returnType: CUSTOMER
                  returnSubType: NORMAL
                  status: CARRIER_NOTIFIED_TO_PICK_UP_FROM_CUSTOMER
                - marketplaceChannelDetails:
                    channelSku: SerialYT2
                    customerOrderId: 417-7727827-8514700
                    merchantId: YOUR_MERCHANT_ID
                    returnLocationId: EDD9
                    shipmentId: R51EzWVee
                    marketplaceChannel:
                      marketplaceName: AMAZON_US
                      channelName: FBA
                  otpDetails:
                    otp: "703669"
                    validTill: 1612933142
                  packageDeliveryMode: WITH_OTP
                  creationDateTime: 2021-03-19T11:13:28Z
                  fulfillmentLocationId: 43cd8cd4-a944-4fa8-a584-5e3b3efdb045
                  id: gf40dee3-33bc-47b6-a5b1-7b6a1c6d45e4
                  lastUpdatedDateTime: 2021-03-19T21:13:01Z
                  merchantSku: SerialYT2
                  numberOfUnits: 8
                  returnMetadata:
                    invoiceInformation:
                      id: EDD9-107
                    returnReason: Missed
                    rmaId: rmaIdOneShipmentMultItemMultQty200
                    fulfillmentOrderId: 892d3dc4e-b678-5e64-a1db-688d5bf9422g
                  returnShippingInfo:
                    forwardTrackingInfo:
                      carrierName: ATS
                      trackingId: "7672323708009"
                    reverseTrackingInfo:
                      carrierName: UPSN
                      trackingId: "40024773658"
                  returnType: CUSTOMER
                  returnSubType: NORMAL
                  status: CREATED
            - request:
                parameters:
                  rmaId:
                    value: rmaIdMultShipmentMultItemOneQty200
              response:
                returns:
                - marketplaceChannelDetails:
                    channelSku: SerialYT1
                    customerOrderId: 507-7727827-8514700
                    merchantId: YOUR_MERCHANT_ID
                    returnLocationId: EDD9
                    shipmentId: D51EzWkeh
                    marketplaceChannel:
                      marketplaceName: AMAZON_US
                      channelName: FBA
                  otpDetails:
                    otp: "703669"
                    validTill: 1612933142
                  packageDeliveryMode: WITH_OTP
                  creationDateTime: 2021-03-18T15:34:21Z
                  fulfillmentLocationId: 43cd8cd4-a944-4fa8-a584-5e3b3efdb045
                  id: bd12dee3-3bbc-47b6-a5b1-7b6a1c6d45a4
                  lastUpdatedDateTime: 2021-03-18T20:13:08Z
                  merchantSku: SerialYT1
                  numberOfUnits: 1
                  returnMetadata:
                    invoiceInformation:
                      id: EDD9-192
                    returnReason: Missed
                    rmaId: rmaIdMultShipmentMultItemOneQty200
                    fulfillmentOrderId: 32e1cd2e-b678-5e64-a1db-688d5bf9432k
                  returnShippingInfo:
                    forwardTrackingInfo:
                      carrierName: ATS
                      trackingId: "2672323708116"
                    reverseTrackingInfo:
                      carrierName: UPSN
                      trackingId: "50024773658"
                  returnType: CUSTOMER
                  returnSubType: NORMAL
                  status: CARRIER_NOTIFIED_TO_PICK_UP_FROM_CUSTOMER
                - marketplaceChannelDetails:
                    channelSku: SerialYT2
                    customerOrderId: 517-7727827-8514700
                    merchantId: YOUR_MERCHANT_ID
                    returnLocationId: EDD9
                    shipmentId: E11DrWkjs
                    marketplaceChannel:
                      marketplaceName: AMAZON_US
                      channelName: FBA
                  otpDetails:
                    otp: "703669"
                    validTill: 1612933142
                  packageDeliveryMode: WITH_OTP
                  creationDateTime: 2021-03-18T15:23:58Z
                  fulfillmentLocationId: 43cd8cd4-a944-4fa8-a584-5e3b3efdb045
                  id: wr41dee3-3bbc-47b6-a5b1-7b6a1c6d45e1
                  lastUpdatedDateTime: 2021-03-19T21:14:09Z
                  merchantSku: SerialYT2
                  numberOfUnits: 1
                  returnMetadata:
                    invoiceInformation:
                      id: EDD9-111
                    returnReason: Missed
                    rmaId: rmaIdMultShipmentMultItemOneQty200
                    fulfillmentOrderId: 56a3dc4e-b678-5f64-w1db-688d5bf9423f
                  returnShippingInfo:
                    forwardTrackingInfo:
                      carrierName: ATS
                      trackingId: "367232310831"
                    reverseTrackingInfo:
                      carrierName: UPSN
                      trackingId: "50024773658"
                  returnType: CUSTOMER
                  returnSubType: NORMAL
                  status: CREATED
            - request:
                parameters:
                  rmaId:
                    value: rmaIdMultShipmentMultItemMultQty200
              response:
                returns:
                - marketplaceChannelDetails:
                    channelSku: SerialYT1
                    customerOrderId: 607-7727827-8514700
                    merchantId: YOUR_MERCHANT_ID
                    returnLocationId: EDD9
                    shipmentId: E51FzWkek
                    marketplaceChannel:
                      marketplaceName: AMAZON_US
                      channelName: FBA
                  otpDetails:
                    otp: "703669"
                    validTill: 1612933142
                  packageDeliveryMode: WITH_OTP
                  creationDateTime: 2021-03-18T15:34:21Z
                  fulfillmentLocationId: 43cd8cd4-a944-4fa8-a584-5e3b3efdb045
                  id: jk12dee3-3bbc-37b6-a5b1-7b6a1c6d45a6
                  lastUpdatedDateTime: 2021-03-18T20:13:08Z
                  merchantSku: SerialYT1
                  numberOfUnits: 19
                  returnMetadata:
                    invoiceInformation:
                      id: EDD9-199
                    returnReason: Missed
                    rmaId: rmaIdMultShipmentMultItemMultQty200
                    fulfillmentOrderId: 32e1cd2e-b678-5e64-a1db-688d5bf9432k
                  returnShippingInfo:
                    forwardTrackingInfo:
                      carrierName: ATS
                      trackingId: "2672323708116"
                    reverseTrackingInfo:
                      carrierName: UPSN
                      trackingId: "60024773658"
                  returnType: CUSTOMER
                  returnSubType: NORMAL
                  status: CARRIER_NOTIFIED_TO_PICK_UP_FROM_CUSTOMER
                - marketplaceChannelDetails:
                    channelSku: SerialYT2
                    customerOrderId: 617-7727827-8514700
                    merchantId: YOUR_MERCHANT_ID
                    returnLocationId: EDD9
                    shipmentId: R21RrWkjz
                    marketplaceChannel:
                      marketplaceName: AMAZON_US
                      channelName: FBA
                  otpDetails:
                    otp: "703669"
                    validTill: 1612933142
                  packageDeliveryMode: WITH_OTP
                  creationDateTime: 2021-03-18T15:23:28Z
                  fulfillmentLocationId: 43cd8cd4-a944-4fa8-a584-5e3b3efdb045
                  id: fb21dee4-3bbc-47b6-a5b1-7b2a1c6d45e2
                  lastUpdatedDateTime: 2021-03-19T21:14:09Z
                  merchantSku: SerialYT2
                  numberOfUnits: 12
                  returnMetadata:
                    invoiceInformation:
                      id: EDD9-115
                    returnReason: Missed
                    rmaId: rmaIdMultShipmentMultItemMultQty200
                    fulfillmentOrderId: 67b2dc4e-b678-5f64-w1db-688d5bf91fv
                  returnShippingInfo:
                    forwardTrackingInfo:
                      carrierName: ATS
                      trackingId: "631232310132"
                    reverseTrackingInfo:
                      carrierName: UPSN
                      trackingId: "60024773658"
                  returnType: CUSTOMER
                  returnSubType: NORMAL
                  status: CREATED
            - request:
                parameters:
                  returnLocationId:
                    value: testReturnLocationId
              response:
                returns:
                - marketplaceChannelDetails:
                    channelSku: SerialYT1
                    customerOrderId: 807-7727827-8514700
                    merchantId: YOUR_MERCHANT_ID
                    returnLocationId: EDD9
                    shipmentId: D51ExWpdg
                    marketplaceChannel:
                      marketplaceName: AMAZON_US
                      channelName: FBA
                  otpDetails:
                    otp: "703669"
                    validTill: 1612933142
                  packageDeliveryMode: WITH_OTP
                  creationDateTime: 2021-03-18T15:23:58Z
                  fulfillmentLocationId: 43cd8cd4-a944-4fa8-a584-5e3b3efdb045
                  id: aa39cdd9-9caa-47b6-a5b1-7b6a1c6d43d1
                  lastUpdatedDateTime: 2021-03-18T20:13:08Z
                  merchantSku: SerialYT1
                  numberOfUnits: 1
                  returnLocationId: testReturnLocationId
                  returnMetadata:
                    invoiceInformation:
                      id: EDD9-140
                    returnReason: Missed
                    rmaId: Es1ZkjzkRRMA
                    fulfillmentOrderId: 22e2dc2e-b678-5e64-a1db-688d5bf9434f
                  returnShippingInfo:
                    forwardTrackingInfo:
                      carrierName: ATS
                      trackingId: "357232370195"
                    reverseTrackingInfo:
                      carrierName: UPSN
                      trackingId: "70024773658"
                  returnType: CUSTOMER
                  returnSubType: NORMAL
                  status: CREATED
                - marketplaceChannelDetails:
                    channelSku: SerialYT2
                    customerOrderId: 817-7727827-8514700
                    merchantId: YOUR_MERCHANT_ID
                    returnLocationId: EDD9
                    shipmentId: J51ExWpea
                    marketplaceChannel:
                      marketplaceName: AMAZON_US
                      channelName: FBA
                  otpDetails:
                    otp: "703669"
                    validTill: 1612933142
                  packageDeliveryMode: WITH_OTP
                  creationDateTime: 2021-03-18T15:23:25Z
                  fulfillmentLocationId: 43cd8cd4-a944-4fa8-a584-5e3b3efdb045
                  id: bb39cdd9-9caa-47b6-a5b1-7b6a1c6d43d1
                  lastUpdatedDateTime: 2021-03-18T20:13:22Z
                  merchantSku: SerialYT2
                  numberOfUnits: 1
                  returnLocationId: testReturnLocationId
                  returnMetadata:
                    invoiceInformation:
                      id: EDD9-141
                    returnReason: Missed
                    rmaId: Es1ZkjzkRRMA
                    fulfillmentOrderId: 23e2dc2e-b678-5e64-a1db-688d5bf9434f
                  returnShippingInfo:
                    forwardTrackingInfo:
                      carrierName: ATS
                      trackingId: "357232370196"
                    reverseTrackingInfo:
                      carrierName: UPSN
                      trackingId: "70024773658"
                  returnType: CUSTOMER
                  returnSubType: NORMAL
                  status: DELIVERED
                - marketplaceChannelDetails:
                    channelSku: SerialYT3
                    customerOrderId: 827-7727827-8514700
                    merchantId: YOUR_MERCHANT_ID
                    returnLocationId: EDD9
                    shipmentId: D51ExWpdp
                    marketplaceChannel:
                      marketplaceName: AMAZON_US
                      channelName: FBA
                  otpDetails:
                    otp: "703669"
                    validTill: 1612933142
                  packageDeliveryMode: WITH_OTP
                  creationDateTime: 2021-03-22T22:23:58Z
                  fulfillmentLocationId: 43cd8cd4-a944-4fa8-a584-5e3b3efdb045
                  id: cc39cdd9-9caa-47b6-a5b1-7b6a1c6d43d1
                  lastUpdatedDateTime: 2021-03-22T23:13:08Z
                  merchantSku: SerialYT3
                  numberOfUnits: 1
                  returnLocationId: testReturnLocationId
                  returnMetadata:
                    invoiceInformation:
                      id: EDD9-143
                    returnReason: Missed
                    rmaId: Es1ZkjzkRRMA
                    fulfillmentOrderId: 24e2dc2e-b678-5e64-a1db-688d5bf9434f
                  returnShippingInfo:
                    forwardTrackingInfo:
                      carrierName: ATS
                      trackingId: "337232370195"
                    reverseTrackingInfo:
                      carrierName: UPSN
                      trackingId: "70024773658"
                  returnType: CUSTOMER
                  returnSubType: NORMAL
                  status: CREATED
                - marketplaceChannelDetails:
                    channelSku: SerialYT4
                    customerOrderId: 837-7727827-8514700
                    merchantId: YOUR_MERCHANT_ID
                    returnLocationId: EDD9
                    shipmentId: E51ExWpdp
                    marketplaceChannel:
                      marketplaceName: AMAZON_US
                      channelName: FBA
                  otpDetails:
                    otp: "703669"
                    validTill: 1612933142
                  packageDeliveryMode: WITH_OTP
                  creationDateTime: 2021-03-22T22:24:58Z
                  fulfillmentLocationId: 43cd8cd4-a944-4fa8-a584-5e3b3efdb045
                  id: dd39cdd9-9caa-47b6-a5b1-7b6a1c6d43d1
                  lastUpdatedDateTime: 2021-03-22T23:14:08Z
                  merchantSku: SerialYT4
                  numberOfUnits: 1
                  returnLocationId: testReturnLocationId
                  returnMetadata:
                    invoiceInformation:
                      id: EDD9-142
                    returnReason: Missed
                    rmaId: Es1ZkjzkRRMA
                    fulfillmentOrderId: 25e2dc2e-b678-5e64-a1db-688d5bf9434f
                  returnShippingInfo:
                    forwardTrackingInfo:
                      carrierName: ATS
                      trackingId: "347232370195"
                    reverseTrackingInfo:
                      carrierName: UPSN
                      trackingId: "70024773658"
                  returnType: CUSTOMER
                  returnSubType: NORMAL
                  status: CREATED
                - marketplaceChannelDetails:
                    channelSku: SerialYT5
                    customerOrderId: 847-7727827-8514700
                    merchantId: YOUR_MERCHANT_ID
                    returnLocationId: EDD9
                    shipmentId: F51ExWpdp
                    marketplaceChannel:
                      marketplaceName: AMAZON_US
                      channelName: FBA
                  otpDetails:
                    otp: "703669"
                    validTill: 1612933142
                  packageDeliveryMode: WITH_OTP
                  creationDateTime: 2021-03-22T22:25:58Z
                  fulfillmentLocationId: 43cd8cd4-a944-4fa8-a584-5e3b3efdb045
                  id: gg39cdd9-9caa-47b6-a5b1-7b6a1c6d43d1
                  lastUpdatedDateTime: 2021-03-22T23:15:08Z
                  merchantSku: SerialYT5
                  numberOfUnits: 1
                  returnLocationId: testReturnLocationId
                  returnMetadata:
                    invoiceInformation:
                      id: EDD9-148
                    returnReason: Missed
                    rmaId: Es1ZkjzkRRMA
                    fulfillmentOrderId: 26e2dc2e-b678-5e64-a1db-688d5bf9434f
                  returnShippingInfo:
                    forwardTrackingInfo:
                      carrierName: ATS
                      trackingId: "367232370195"
                    reverseTrackingInfo:
                      carrierName: UPSN
                      trackingId: "70024773658"
                  returnType: CUSTOMER
                  returnSubType: NORMAL
                  status: CREATED
            - request:
                parameters:
                  returnLocationId:
                    value: testReturnLocationId
                  status:
                    value: CREATED
              response:
                returns:
                - marketplaceChannelDetails:
                    channelSku: SerialYT1
                    customerOrderId: 807-7727827-8514700
                    merchantId: YOUR_MERCHANT_ID
                    returnLocationId: EDD9
                    shipmentId: D51ExWpdg
                    marketplaceChannel:
                      marketplaceName: AMAZON_US
                      channelName: FBA
                  otpDetails:
                    otp: "703669"
                    validTill: 1612933142
                  packageDeliveryMode: WITH_OTP
                  creationDateTime: 2021-03-18T15:23:58Z
                  fulfillmentLocationId: 43cd8cd4-a944-4fa8-a584-5e3b3efdb045
                  id: aa39cdd9-9caa-47b6-a5b1-7b6a1c6d43d1
                  lastUpdatedDateTime: 2021-03-18T20:13:08Z
                  merchantSku: SerialYT1
                  numberOfUnits: 1
                  returnLocationId: testReturnLocationId
                  returnMetadata:
                    invoiceInformation:
                      id: EDD9-140
                    returnReason: Missed
                    rmaId: Es1ZkjzkRRMA
                    fulfillmentOrderId: 22e2dc2e-b678-5e64-a1db-688d5bf9434f
                  returnShippingInfo:
                    forwardTrackingInfo:
                      carrierName: ATS
                      trackingId: "357232370195"
                    reverseTrackingInfo:
                      carrierName: UPSN
                      trackingId: "70024773658"
                  returnType: CUSTOMER
                  returnSubType: NORMAL
                  status: CREATED
                - marketplaceChannelDetails:
                    channelSku: SerialYT3
                    customerOrderId: 827-7727827-8514700
                    merchantId: YOUR_MERCHANT_ID
                    returnLocationId: EDD9
                    shipmentId: D51ExWpdp
                    marketplaceChannel:
                      marketplaceName: AMAZON_US
                      channelName: FBA
                  otpDetails:
                    otp: "703669"
                    validTill: 1612933142
                  packageDeliveryMode: WITH_OTP
                  creationDateTime: 2021-03-22T22:23:58Z
                  fulfillmentLocationId: 43cd8cd4-a944-4fa8-a584-5e3b3efdb045
                  id: cc39cdd9-9caa-47b6-a5b1-7b6a1c6d43d1
                  lastUpdatedDateTime: 2021-03-22T23:13:08Z
                  merchantSku: SerialYT3
                  numberOfUnits: 1
                  returnLocationId: testReturnLocationId
                  returnMetadata:
                    invoiceInformation:
                      id: EDD9-143
                    returnReason: Missed
                    rmaId: Es1ZkjzkRRMA
                    fulfillmentOrderId: 24e2dc2e-b678-5e64-a1db-688d5bf9434f
                  returnShippingInfo:
                    forwardTrackingInfo:
                      carrierName: ATS
                      trackingId: "337232370195"
                    reverseTrackingInfo:
                      carrierName: UPSN
                      trackingId: "70024773658"
                  returnType: CUSTOMER
                  returnSubType: NORMAL
                  status: CREATED
                - marketplaceChannelDetails:
                    channelSku: SerialYT4
                    customerOrderId: 837-7727827-8514700
                    merchantId: YOUR_MERCHANT_ID
                    returnLocationId: EDD9
                    shipmentId: E51ExWpdp
                    marketplaceChannel:
                      marketplaceName: AMAZON_US
                      channelName: FBA
                  otpDetails:
                    otp: "703669"
                    validTill: 1612933142
                  packageDeliveryMode: WITH_OTP
                  creationDateTime: 2021-03-22T22:24:58Z
                  fulfillmentLocationId: 43cd8cd4-a944-4fa8-a584-5e3b3efdb045
                  id: dd39cdd9-9caa-47b6-a5b1-7b6a1c6d43d1
                  lastUpdatedDateTime: 2021-03-22T23:14:08Z
                  merchantSku: SerialYT4
                  numberOfUnits: 1
                  returnLocationId: testReturnLocationId
                  returnMetadata:
                    invoiceInformation:
                      id: EDD9-142
                    returnReason: Missed
                    rmaId: Es1ZkjzkRRMA
                    fulfillmentOrderId: 25e2dc2e-b678-5e64-a1db-688d5bf9434f
                  returnShippingInfo:
                    forwardTrackingInfo:
                      carrierName: ATS
                      trackingId: "347232370195"
                    reverseTrackingInfo:
                      carrierName: UPSN
                      trackingId: "70024773658"
                  returnType: CUSTOMER
                  returnSubType: NORMAL
                  status: CREATED
                - marketplaceChannelDetails:
                    channelSku: SerialYT5
                    customerOrderId: 847-7727827-8514700
                    merchantId: YOUR_MERCHANT_ID
                    returnLocationId: EDD9
                    shipmentId: F51ExWpdp
                    marketplaceChannel:
                      marketplaceName: AMAZON_US
                      channelName: FBA
                  otpDetails:
                    otp: "703669"
                    validTill: 1612933142
                  packageDeliveryMode: WITH_OTP
                  creationDateTime: 2021-03-22T22:25:58Z
                  fulfillmentLocationId: 43cd8cd4-a944-4fa8-a584-5e3b3efdb045
                  id: gg39cdd9-9caa-47b6-a5b1-7b6a1c6d43d1
                  lastUpdatedDateTime: 2021-03-22T23:15:08Z
                  merchantSku: SerialYT5
                  numberOfUnits: 1
                  returnLocationId: testReturnLocationId
                  returnMetadata:
                    invoiceInformation:
                      id: EDD9-148
                    returnReason: Missed
                    rmaId: Es1ZkjzkRRMA
                    fulfillmentOrderId: 26e2dc2e-b678-5e64-a1db-688d5bf9434f
                  returnShippingInfo:
                    forwardTrackingInfo:
                      carrierName: ATS
                      trackingId: "367232370195"
                    reverseTrackingInfo:
                      carrierName: UPSN
                      trackingId: "70024773658"
                  returnType: CUSTOMER
                  returnSubType: NORMAL
                  status: CREATED
            - request:
                parameters:
                  returnLocationId:
                    value: testReturnLocationId
                  status:
                    value: CREATED
                  lastUpdatedAfter:
                    value: 2021-03-20T00:00:00Z
              response:
                returns:
                - marketplaceChannelDetails:
                    channelSku: SerialYT3
                    customerOrderId: 827-7727827-8514700
                    merchantId: YOUR_MERCHANT_ID
                    returnLocationId: EDD9
                    shipmentId: D51ExWpdp
                    marketplaceChannel:
                      marketplaceName: AMAZON_US
                      channelName: FBA
                  otpDetails:
                    otp: "703669"
                    validTill: 1612933142
                  packageDeliveryMode: WITH_OTP
                  creationDateTime: 2021-03-22T22:23:58Z
                  fulfillmentLocationId: 43cd8cd4-a944-4fa8-a584-5e3b3efdb045
                  id: cc39cdd9-9caa-47b6-a5b1-7b6a1c6d43d1
                  lastUpdatedDateTime: 2021-03-22T23:13:08Z
                  merchantSku: SerialYT3
                  numberOfUnits: 1
                  returnLocationId: testReturnLocationId
                  returnMetadata:
                    invoiceInformation:
                      id: EDD9-143
                    returnReason: Missed
                    rmaId: Es1ZkjzkRRMA
                    fulfillmentOrderId: 24e2dc2e-b678-5e64-a1db-688d5bf9434f
                  returnShippingInfo:
                    forwardTrackingInfo:
                      carrierName: ATS
                      trackingId: "337232370195"
                    reverseTrackingInfo:
                      carrierName: UPSN
                      trackingId: "70024773658"
                  returnType: CUSTOMER
                  returnSubType: NORMAL
                  status: CREATED
                - marketplaceChannelDetails:
                    channelSku: SerialYT4
                    customerOrderId: 837-7727827-8514700
                    merchantId: YOUR_MERCHANT_ID
                    returnLocationId: EDD9
                    shipmentId: E51ExWpdp
                    marketplaceChannel:
                      marketplaceName: AMAZON_US
                      channelName: FBA
                  otpDetails:
                    otp: "703669"
                    validTill: 1612933142
                  packageDeliveryMode: WITH_OTP
                  creationDateTime: 2021-03-22T22:24:58Z
                  fulfillmentLocationId: 43cd8cd4-a944-4fa8-a584-5e3b3efdb045
                  id: dd39cdd9-9caa-47b6-a5b1-7b6a1c6d43d1
                  lastUpdatedDateTime: 2021-03-22T23:14:08Z
                  merchantSku: SerialYT4
                  numberOfUnits: 1
                  returnLocationId: testReturnLocationId
                  returnMetadata:
                    invoiceInformation:
                      id: EDD9-142
                    returnReason: Missed
                    rmaId: Es1ZkjzkRRMA
                    fulfillmentOrderId: 25e2dc2e-b678-5e64-a1db-688d5bf9434f
                  returnShippingInfo:
                    forwardTrackingInfo:
                      carrierName: ATS
                      trackingId: "347232370195"
                    reverseTrackingInfo:
                      carrierName: UPSN
                      trackingId: "70024773658"
                  returnType: CUSTOMER
                  returnSubType: NORMAL
                  status: CREATED
                - marketplaceChannelDetails:
                    channelSku: SerialYT5
                    customerOrderId: 847-7727827-8514700
                    merchantId: YOUR_MERCHANT_ID
                    returnLocationId: EDD9
                    shipmentId: F51ExWpdp
                    marketplaceChannel:
                      marketplaceName: AMAZON_US
                      channelName: FBA
                  otpDetails:
                    otp: "703669"
                    validTill: 1612933142
                  packageDeliveryMode: WITH_OTP
                  creationDateTime: 2021-03-22T22:25:58Z
                  fulfillmentLocationId: 43cd8cd4-a944-4fa8-a584-5e3b3efdb045
                  id: gg39cdd9-9caa-47b6-a5b1-7b6a1c6d43d1
                  lastUpdatedDateTime: 2021-03-22T23:15:08Z
                  merchantSku: SerialYT5
                  numberOfUnits: 1
                  returnLocationId: testReturnLocationId
                  returnMetadata:
                    invoiceInformation:
                      id: EDD9-148
                    returnReason: Missed
                    rmaId: Es1ZkjzkRRMA
                    fulfillmentOrderId: 26e2dc2e-b678-5e64-a1db-688d5bf9434f
                  returnShippingInfo:
                    forwardTrackingInfo:
                      carrierName: ATS
                      trackingId: "367232370195"
                    reverseTrackingInfo:
                      carrierName: UPSN
                      trackingId: "70024773658"
                  returnType: CUSTOMER
                  returnSubType: NORMAL
                  status: CREATED
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  lastUpdatedAfter:
                    value: 1110-13-89T43:99:99Z
              response:
                errors:
                - code: InvalidInput
                  message: LastUpdatedAfter value is an not a valid ISO date/time
                    object.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: "Indicates that access to the resource is forbidden. Possible\
            \ reasons include Access Denied, Unauthorized, Expired Token, or Invalid\
            \ Signature."
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  rmaId:
                    value: rmaIdTest403
              response:
                errors:
                - code: Forbidden
                  message: Request is forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The resource specified does not exist.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The resource specified conflicts with the current state
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  rmaId:
                    value: rmaIdTest409
              response:
                errors:
                - code: DuplicateRequest
                  message: Duplicate request found for 'rmaId' 'rmaIdTest409'
        "413":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The request size exceeded the maximum accepted size.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The request payload is in an unsupported format.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  rmaId:
                    value: rmaIdTest429
              response:
                errors:
                - code: RateLimited
                  message: "Temporary failure occurred, retry operation after some\
                    \ time."
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: An unexpected condition occurred that prevented the server
            from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  rmaId:
                    value: rmaIdTest500
              response:
                errors:
                - code: InternalFailure
                  message: "Internal failure occurred, contact Amazon support"
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  rmaId:
                    value: rmaIdTest503
              response:
                errors:
                - code: ServiceUnavailable
                  message: "Temporary failure occurred, retry operation"
      tags:
      - returnRetrieval
  /externalFulfillment/2024-09-11/returns/{returnId}:
    get:
      description: Retrieve the return item with the specified ID.
      operationId: getReturn
      parameters:
      - description: The ID of the return item you want.
        in: path
        name: returnId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                marketplaceChannelDetails:
                  channelSku: SerialYT1
                  customerOrderId: 107-7727827-8514700
                  returnLocationId: EDD5
                  shipmentId: D39CwZpdj
                  marketplaceChannel:
                    marketplaceName: AMAZON_IN$
                    channelName: FBA
                otpDetails:
                  otp: "703669"
                  validTill: 1612933142
                packageDeliveryMode: WITH_OTP
                creationDateTime: 2021-05-08T01:23:33Z
                fulfillmentLocationId: 450a6661-1a97-4abd-99e4-45714bcf4439
                id: ee39cdd9-9caa-47b6-a5b1-7b6a1c6d43d1
                lastUpdatedDateTime: 2021-05-08T10:23:38Z
                merchantSku: SerialYT1
                numberOfUnits: 1
                returnMetadata:
                  invoiceInformation:
                    id: EDD5-101
                  returnReason: Missed
                  rmaId: Test
                returnShippingInfo:
                  forwardTrackingInfo:
                    carrierName: ATS
                    trackingId: "156121269663"
                  reverseTrackingInfo:
                    carrierName: ATS
                    trackingId: "19124773658"
                returnType: CUSTOMER
                status: CARRIER_NOTIFIED_TO_PICK_UP_FROM_CUSTOMER
              schema:
                $ref: '#/components/schemas/Return'
          description: Success.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  returnId:
                    value: rmaIdOneShipmentOneItemOneQty200
              response:
                id: rmaIdOneShipmentOneItemOneQty200
                returnLocationId: bdd9cdd9-9caa-47b6-a5b1-7b6a1c6d43d1
                merchantSku: mSku1
                returnType: CUSTOMER
                status: CARRIER_NOTIFIED_TO_PICK_UP_FROM_CUSTOMER
                numberOfUnits: 1
                fulfillmentLocationId: 450a6661-1a97-4abd-99e4-45714bcf4439
                creationDateTime: 2021-03-18T15:23:58Z
                lastUpdatedDateTime: 2021-03-18T15:26:59Z
                returnMetadata:
                  invoiceInformation:
                    id: EDD5-101
                  returnReason: Missed
                  rmaId: Test
                returnShippingInfo:
                  forwardTrackingInfo:
                    carrierName: ATS
                    trackingId: "156121269663"
                  reverseTrackingInfo:
                    carrierName: ATS
                    trackingId: "19124773658"
                marketplaceChannelDetails:
                  channelSku: SerialYT1
                  customerOrderId: 107-7727827-8514700
                  returnLocationId: EDD5
                  shipmentId: D39CwZpdj
                  marketplaceChannel:
                    marketplaceName: AMAZON_IN
                    channelName: FBA
                otpDetails:
                  otp: "703669"
                  validTill: 1612933142
                packageDeliveryMode: WITH_OTP
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Request has missing or invalid parameters and cannot be parsed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
          x-amzn-api-sandbox:
            static:
            - request:
                parameters:
                  returnId:
                    value: rmaIdInvalid
              response:
                errors:
                - code: InvalidInput
                  message: Invalid input 'rmaIdInvalid' for parameter 'returnId'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: "Indicates that access to the resource is forbidden. Possible\
            \ reasons include Access Denied, Unauthorized, Expired Token, or Invalid\
            \ Signature."
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The resource specified does not exist.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
            x-amzn-RateLimit-Limit:
              description: Your rate limit (requests per second) for this operation.
              schema:
                type: string
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The resource specified conflicts with the current state
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "413":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The request size exceeded the maximum accepted size.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The request payload is in an unsupported format.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: The frequency of requests was greater than allowed.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: An unexpected condition occurred that prevented the server
            from fulfilling the request.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
          description: Temporary overloading or maintenance of the server.
          headers:
            x-amzn-RequestId:
              description: Unique request reference identifier.
              schema:
                type: string
      tags:
      - returnRetrieval
components:
  schemas:
    ErrorList:
      description: An object containing a list of error responses returned when a
        request is unsuccessful.
      example:
        errors:
        - code: code
          details: The specified parameter value is invalid.
          message: message
        - code: code
          details: The specified parameter value is invalid.
          message: message
      properties:
        errors:
          description: A list of error responses returned when a request is unsuccessful.
          items:
            $ref: '#/components/schemas/Error'
          type: array
      required:
      - errors
      type: object
    Error:
      description: Error response returned when the request is unsuccessful.
      example:
        code: code
        details: The specified parameter value is invalid.
        message: message
      properties:
        code:
          description: An error code that identifies the type of error that occurred.
          type: string
        message:
          description: A message that describes the error condition.
          type: string
        details:
          description: Additional details that can help the caller understand or fix
            the issue.
          example: The specified parameter value is invalid.
          type: string
      required:
      - code
      - message
      type: object
    Return:
      description: Information about the return item.
      example:
        returnMetadata:
          fulfillmentOrderId: fulfillmentOrderId
          invoiceInformation:
            id: id
          returnReason: returnReason
          rmaId: rmaId
        replanningDetails:
          previousTrackingInfo:
          - carrierName: carrierName
            trackingId: trackingId
          - carrierName: carrierName
            trackingId: trackingId
        packageDeliveryMode: WITH_OTP
        merchantSku: merchantSku
        fulfillmentLocationId: fulfillmentLocationId
        numberOfUnits: 1
        otpDetails:
          validTill: 6
          otp: otp
        id: id
        lastUpdatedDateTime: lastUpdatedDateTime
        marketplaceChannelDetails:
          channelSku: channelSku
          marketplaceChannel:
            marketplaceName: marketplaceName
            channelName: channelName
          merchantId: merchantId
          shipmentId: shipmentId
          customerOrderId: customerOrderId
          returnLocationId: returnLocationId
          exchangeOrderId: 6cb83006-0597-4bc1-82ab-715b33eb6cf1
        returnType: CUSTOMER
        returnSubType: NORMAL
        returnShippingInfo:
          pickupDateTime: pickupDateTime
          forwardTrackingInfo:
            carrierName: carrierName
            trackingId: trackingId
          deliveryDateTime: deliveryDateTime
          reverseTrackingInfo:
            carrierName: carrierName
            trackingId: trackingId
        returnLocationId: returnLocationId
        status: CREATED
        creationDateTime: creationDateTime
      properties:
        id:
          description: The return item's ID.
          type: string
        returnLocationId:
          description: The SmartConnect identifier for where the return item was dropped
            for delivery.
          type: string
        merchantSku:
          description: The seller's identifier for the SKU.
          type: string
        returnType:
          description: The type of return.
          enum:
          - CUSTOMER
          - REJECT
          type: string
          x-docgen-enum-table-extension:
          - value: CUSTOMER
            description: A return initiated by the customer.
          - value: REJECT
            description: A rejected return.
        returnSubType:
          description: The sub-type of return.
          enum:
          - NORMAL
          - REPLACEMENT
          - EXCHANGE
          type: string
          x-docgen-enum-table-extension:
          - value: NORMAL
            description: A standard return where the customer returns the item.
          - value: REPLACEMENT
            description: A return where the customer receives a replacement item.
          - value: EXCHANGE
            description: A return where the customer exchanges the item for a different
              one.
        numberOfUnits:
          description: The total number of units in the return.
          format: int32
          minimum: 1
          nullable: true
          type: integer
        status:
          description: The current status of the return.
          enum:
          - CREATED
          - CARRIER_NOTIFIED_TO_PICK_UP_FROM_CUSTOMER
          - CARRIER_OUT_FOR_PICK_UP_FROM_CUSTOMER
          - CUSTOMER_CANCELLED_PICK_UP
          - CUSTOMER_RESCHEDULED_PICK_UP
          - PICKED_FROM_CUSTOMER
          - IN_TRANSIT
          - OUT_FOR_DELIVERY
          - DELIVERED
          - REPLANNED
          - CUSTOMER_DROPPED_OFF
          - PARTIALLY_PROCESSED
          - PROCESSED
          - REJECTED
          - CANCELLED
          type: string
          x-docgen-enum-table-extension:
          - value: CREATED
            description: The return is created and awaiting pickup.
          - value: CARRIER_NOTIFIED_TO_PICK_UP_FROM_CUSTOMER
            description: The carrier is notified to pick up the return from the customer.
          - value: CARRIER_OUT_FOR_PICK_UP_FROM_CUSTOMER
            description: The carrier is out for pickup from the customer.
          - value: CUSTOMER_CANCELLED_PICK_UP
            description: The customer cancelled the pickup request.
          - value: CUSTOMER_RESCHEDULED_PICK_UP
            description: The customer rescheduled the pickup.
          - value: PICKED_FROM_CUSTOMER
            description: The return is picked up from the customer.
          - value: IN_TRANSIT
            description: The return is in transit to the fulfillment location.
          - value: OUT_FOR_DELIVERY
            description: The return is out for delivery to the fulfillment location.
          - value: DELIVERED
            description: The return is delivered to the fulfillment location.
          - value: REPLANNED
            description: The return delivery is replanned.
          - value: CUSTOMER_DROPPED_OFF
            description: The customer dropped off the return at a designated location.
          - value: PARTIALLY_PROCESSED
            description: The return is partially processed.
          - value: PROCESSED
            description: The return is fully processed.
          - value: REJECTED
            description: The return is rejected.
          - value: CANCELLED
            description: The return is cancelled.
        fulfillmentLocationId:
          description: The ID of the location that fulfilled the order.
          type: string
        creationDateTime:
          description: "A date and time in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601)\
            \ format."
          type: string
        lastUpdatedDateTime:
          description: "A date and time in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601)\
            \ format."
          type: string
        returnMetadata:
          $ref: '#/components/schemas/ReturnMetadata'
        returnShippingInfo:
          $ref: '#/components/schemas/ReturnShippingInfo'
        marketplaceChannelDetails:
          $ref: '#/components/schemas/MarketplaceChannelDetails'
        otpDetails:
          $ref: '#/components/schemas/OtpDetails'
        packageDeliveryMode:
          description: The package delivery mode. This indicates whether the return
            was delivered to the seller with or without a one-time password (OTP).
          enum:
          - WITH_OTP
          - WITHOUT_OTP
          type: string
          x-docgen-enum-table-extension:
          - value: WITH_OTP
            description: The return package was delivered to the seller with OTP verification.
          - value: WITHOUT_OTP
            description: The return package was delivered to the seller without OTP
              verification.
        replanningDetails:
          $ref: '#/components/schemas/ReplanningDetails'
      required:
      - fulfillmentLocationId
      - id
      - lastUpdatedDateTime
      - marketplaceChannelDetails
      - returnMetadata
      - returnShippingInfo
      - returnType
      - status
      type: object
    TrackingInfo:
      description: Information for tracking a return.
      example:
        carrierName: carrierName
        trackingId: trackingId
      properties:
        carrierName:
          description: The name of the third party courier service used to ship the
            return package.
          type: string
        trackingId:
          description: The tracking ID of the return package.
          type: string
      required:
      - carrierName
      - trackingId
      type: object
    OtpDetails:
      description: One-time password (OTP) details of the return item.
      example:
        validTill: 6
        otp: otp
      properties:
        otp:
          description: One-time password to validate the return delivered to the seller.
          type: string
        validTill:
          description: The UNIX timestamp of when the verification code expires.
          nullable: true
          type: integer
      required:
      - otp
      - validTill
      type: object
    MarketplaceChannel:
      description: The marketplace and channel name.
      example:
        marketplaceName: marketplaceName
        channelName: channelName
      properties:
        marketplaceName:
          description: The name of the marketplace.
          type: string
        channelName:
          description: The name of the channel within the marketplace.
          type: string
      type: object
    MarketplaceChannelDetails:
      description: Marketplace channel-specific attributes for the return. These attributes
        are not mandatory and each channel can provide them differently.
      example:
        channelSku: channelSku
        marketplaceChannel:
          marketplaceName: marketplaceName
          channelName: channelName
        merchantId: merchantId
        shipmentId: shipmentId
        customerOrderId: customerOrderId
        returnLocationId: returnLocationId
        exchangeOrderId: 6cb83006-0597-4bc1-82ab-715b33eb6cf1
      properties:
        marketplaceChannel:
          $ref: '#/components/schemas/MarketplaceChannel'
        merchantId:
          description: The ID of the merchant or seller to whom this return is created
            in the marketplace.
          type: string
        shipmentId:
          description: The marketplace-specific shipment ID.
          type: string
        customerOrderId:
          description: The marketplace-specific customer order ID.
          type: string
        returnLocationId:
          description: The Amazon SmartConnect ID of the location to which this return
            is created.
          type: string
        channelSku:
          description: The Amazon SmartConnect SKU of the channel.
          type: string
        exchangeOrderId:
          description: The Amazon SmartConnect ID of the exchange order.
          example: 6cb83006-0597-4bc1-82ab-715b33eb6cf1
          type: string
      type: object
    ReplanningDetails:
      description: Provides details about the replanned returns.
      example:
        previousTrackingInfo:
        - carrierName: carrierName
          trackingId: trackingId
        - carrierName: carrierName
          trackingId: trackingId
      properties:
        previousTrackingInfo:
          description: A list of all the previous tracking information for the return.
          items:
            $ref: '#/components/schemas/TrackingInfo'
          minItems: 0
          type: array
      type: object
    InvoiceInformation:
      description: Invoice-related information for the return created for Amazon SmartConnect.
      example:
        id: id
      properties:
        id:
          description: The unique ID of the invoice that corresponds to the return.
          type: string
      required:
      - id
      type: object
    ReturnMetadata:
      description: Metadata about the return item.
      example:
        fulfillmentOrderId: fulfillmentOrderId
        invoiceInformation:
          id: id
        returnReason: returnReason
        rmaId: rmaId
      properties:
        returnReason:
          description: The reason for the return.
          type: string
        rmaId:
          description: The RMA ID of the return.
          type: string
        fulfillmentOrderId:
          description: The SmartConnect ID of the fulfillment order for which the
            return was placed.
          type: string
        invoiceInformation:
          $ref: '#/components/schemas/InvoiceInformation'
      required:
      - returnReason
      type: object
    ReturnShippingInfo:
      description: Information about the shipping of the return packages.
      example:
        pickupDateTime: pickupDateTime
        forwardTrackingInfo:
          carrierName: carrierName
          trackingId: trackingId
        deliveryDateTime: deliveryDateTime
        reverseTrackingInfo:
          carrierName: carrierName
          trackingId: trackingId
      properties:
        deliveryDateTime:
          description: "A date and time in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601)\
            \ format."
          type: string
        pickupDateTime:
          description: "A date and time in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601)\
            \ format."
          type: string
        forwardTrackingInfo:
          $ref: '#/components/schemas/TrackingInfo'
        reverseTrackingInfo:
          $ref: '#/components/schemas/TrackingInfo'
      type: object
    DateTime:
      description: "A date and time in [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601)\
        \ format."
      type: string
    ReturnsResponse:
      description: The response to the `listReturns` operation.
      example:
        nextToken: nextToken
        returns:
        - returnMetadata:
            fulfillmentOrderId: fulfillmentOrderId
            invoiceInformation:
              id: id
            returnReason: returnReason
            rmaId: rmaId
          replanningDetails:
            previousTrackingInfo:
            - carrierName: carrierName
              trackingId: trackingId
            - carrierName: carrierName
              trackingId: trackingId
          packageDeliveryMode: WITH_OTP
          merchantSku: merchantSku
          fulfillmentLocationId: fulfillmentLocationId
          numberOfUnits: 1
          otpDetails:
            validTill: 6
            otp: otp
          id: id
          lastUpdatedDateTime: lastUpdatedDateTime
          marketplaceChannelDetails:
            channelSku: channelSku
            marketplaceChannel:
              marketplaceName: marketplaceName
              channelName: channelName
            merchantId: merchantId
            shipmentId: shipmentId
            customerOrderId: customerOrderId
            returnLocationId: returnLocationId
            exchangeOrderId: 6cb83006-0597-4bc1-82ab-715b33eb6cf1
          returnType: CUSTOMER
          returnSubType: NORMAL
          returnShippingInfo:
            pickupDateTime: pickupDateTime
            forwardTrackingInfo:
              carrierName: carrierName
              trackingId: trackingId
            deliveryDateTime: deliveryDateTime
            reverseTrackingInfo:
              carrierName: carrierName
              trackingId: trackingId
          returnLocationId: returnLocationId
          status: CREATED
          creationDateTime: creationDateTime
        - returnMetadata:
            fulfillmentOrderId: fulfillmentOrderId
            invoiceInformation:
              id: id
            returnReason: returnReason
            rmaId: rmaId
          replanningDetails:
            previousTrackingInfo:
            - carrierName: carrierName
              trackingId: trackingId
            - carrierName: carrierName
              trackingId: trackingId
          packageDeliveryMode: WITH_OTP
          merchantSku: merchantSku
          fulfillmentLocationId: fulfillmentLocationId
          numberOfUnits: 1
          otpDetails:
            validTill: 6
            otp: otp
          id: id
          lastUpdatedDateTime: lastUpdatedDateTime
          marketplaceChannelDetails:
            channelSku: channelSku
            marketplaceChannel:
              marketplaceName: marketplaceName
              channelName: channelName
            merchantId: merchantId
            shipmentId: shipmentId
            customerOrderId: customerOrderId
            returnLocationId: returnLocationId
            exchangeOrderId: 6cb83006-0597-4bc1-82ab-715b33eb6cf1
          returnType: CUSTOMER
          returnSubType: NORMAL
          returnShippingInfo:
            pickupDateTime: pickupDateTime
            forwardTrackingInfo:
              carrierName: carrierName
              trackingId: trackingId
            deliveryDateTime: deliveryDateTime
            reverseTrackingInfo:
              carrierName: carrierName
              trackingId: trackingId
          returnLocationId: returnLocationId
          status: CREATED
          creationDateTime: creationDateTime
      properties:
        returns:
          description: A list of returns.
          items:
            $ref: '#/components/schemas/Return'
          minItems: 0
          type: array
        nextToken:
          description: "A token that you use to retrieve the next page of results.\
            \ The response includes `nextToken` when there are multiple pages of results.\
            \ To get the next page of results, call the operation with this token\
            \ and include the same arguments as the call that produced the token.\
            \ To get a complete list, call this operation until `nextToken` is null.\
            \ Note that this operation can return empty pages."
          type: string
      type: object
x-original-swagger-version: "2.0"

