# coding: utf-8

"""
    The Selling Partner API for Finance Remittance

    The Selling Partner API for Finance Remittance provides programmatic access to selling partner payment remittance data, including remittance summaries and detailed line items.

    The version of the OpenAPI document: 2026-03-17
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from spapi.api_client import ApiClient


class DefaultApi(object):
    """NOTE: This class is auto generated by the openapi generator.

    Do not edit the class manually.
    """

    api_models_module = "spapi.models.finance_remittance_v2026_03_17"

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client
        self.classFileName = 'default_api'

    def get_remittance(self, unique_payment_id, marketplace_id, **kwargs):  # noqa: E501
        """get_remittance  # noqa: E501

        Returns detailed line items for a specific remittance. Results are paginated.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_remittance(unique_payment_id, marketplace_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str unique_payment_id: The unique identifier for the payment. (required)
        :param str marketplace_id: The `marketplaceId` is a globally unique identifier used to specify which Amazon store a request is targeting. For more information, refer to [Store Identifiers](https://developer-docs.amazon/sp-api/docs/store-identifiers). (required)
        :param str next_token_for_line_items: A token to fetch the next page of results. Use the value returned in the previous response.
        :return: GetRemittanceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_remittance_with_http_info(unique_payment_id, marketplace_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_remittance_with_http_info(unique_payment_id, marketplace_id, **kwargs)  # noqa: E501
            return data

    def get_remittance_with_http_info(self, unique_payment_id, marketplace_id, **kwargs):  # noqa: E501
        """get_remittance  # noqa: E501

        Returns detailed line items for a specific remittance. Results are paginated.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_remittance_with_http_info(unique_payment_id, marketplace_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str unique_payment_id: The unique identifier for the payment. (required)
        :param str marketplace_id: The `marketplaceId` is a globally unique identifier used to specify which Amazon store a request is targeting. For more information, refer to [Store Identifiers](https://developer-docs.amazon/sp-api/docs/store-identifiers). (required)
        :param str next_token_for_line_items: A token to fetch the next page of results. Use the value returned in the previous response.
        :return: GetRemittanceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['unique_payment_id', 'marketplace_id', 'next_token_for_line_items']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_remittance" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'unique_payment_id' is set
        if self.api_client.client_side_validation and ('unique_payment_id' not in params or
                                                       params['unique_payment_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `unique_payment_id` when calling `get_remittance`")  # noqa: E501
        # verify the required parameter 'marketplace_id' is set
        if self.api_client.client_side_validation and ('marketplace_id' not in params or
                                                       params['marketplace_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `marketplace_id` when calling `get_remittance`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'unique_payment_id' in params:
            path_params['uniquePaymentId'] = params['unique_payment_id']  # noqa: E501

        query_params = []
        if 'marketplace_id' in params:
            query_params.append(('marketplaceId', params['marketplace_id']))  # noqa: E501
        if 'next_token_for_line_items' in params:
            query_params.append(('nextTokenForLineItems', params['next_token_for_line_items']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/finances/remittances/2026-03-17/remittances/{uniquePaymentId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetRemittanceResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)

    def get_remittance_headers(self, marketplace_id, **kwargs):  # noqa: E501
        """get_remittance_headers  # noqa: E501

        Returns a list of remittance summaries for the specified Amazon store, filtered by date range. Results are paginated.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_remittance_headers(marketplace_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str marketplace_id: The `marketplaceId` is a globally unique identifier used to specify which Amazon store a request is targeting. For more information, refer to [Store Identifiers](https://developer-docs.amazon/sp-api/docs/store-identifiers). (required)
        :param str start_date: The earliest payment date for remittances to include in the response. Dates are in ISO 8601 date-time format. The default is 30 days prior to the time of the request. The minimum start date is one year ago from the current date.
        :param str end_date: The latest payment date for remittances to include in the response. Dates are in ISO 8601 date-time format. The default is the current date-time. The maximum date range between `startDate` and `endDate` is 90 days.
        :param str next_token: A token to fetch the next page of results. Use the value returned in the previous response.
        :return: GetRemittancesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_remittance_headers_with_http_info(marketplace_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_remittance_headers_with_http_info(marketplace_id, **kwargs)  # noqa: E501
            return data

    def get_remittance_headers_with_http_info(self, marketplace_id, **kwargs):  # noqa: E501
        """get_remittance_headers  # noqa: E501

        Returns a list of remittance summaries for the specified Amazon store, filtered by date range. Results are paginated.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_remittance_headers_with_http_info(marketplace_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str marketplace_id: The `marketplaceId` is a globally unique identifier used to specify which Amazon store a request is targeting. For more information, refer to [Store Identifiers](https://developer-docs.amazon/sp-api/docs/store-identifiers). (required)
        :param str start_date: The earliest payment date for remittances to include in the response. Dates are in ISO 8601 date-time format. The default is 30 days prior to the time of the request. The minimum start date is one year ago from the current date.
        :param str end_date: The latest payment date for remittances to include in the response. Dates are in ISO 8601 date-time format. The default is the current date-time. The maximum date range between `startDate` and `endDate` is 90 days.
        :param str next_token: A token to fetch the next page of results. Use the value returned in the previous response.
        :return: GetRemittancesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['marketplace_id', 'start_date', 'end_date', 'next_token']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_remittance_headers" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'marketplace_id' is set
        if self.api_client.client_side_validation and ('marketplace_id' not in params or
                                                       params['marketplace_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `marketplace_id` when calling `get_remittance_headers`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'marketplace_id' in params:
            query_params.append(('marketplaceId', params['marketplace_id']))  # noqa: E501
        if 'start_date' in params:
            query_params.append(('startDate', params['start_date']))  # noqa: E501
        if 'end_date' in params:
            query_params.append(('endDate', params['end_date']))  # noqa: E501
        if 'next_token' in params:
            query_params.append(('nextToken', params['next_token']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/finances/remittances/2026-03-17/remittances', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetRemittancesResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)
