# coding: utf-8

"""
    The Selling Partner API for tracking services provided by Amazon.

    The Tracking Selling Partner API allows users to track shipments to and from Amazon-owned storage warehouses, fulfillment centers, and external warehouses.

    The version of the OpenAPI document: 2026-01-30
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from spapi.api_client import ApiClient


class TrackingApi(object):
    """NOTE: This class is auto generated by the openapi generator.

    Do not edit the class manually.
    """

    api_models_module = "spapi.spapi.models.tracking_v2026_01_30"

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client
        self.classFileName = 'tracking_api'

    def get_shipment_tracking(self, **kwargs):  # noqa: E501
        """Get tracking information for the shipment.  # noqa: E501

        Returns tracking information for a shipment.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_shipment_tracking(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The unique tracking request identifier.
        :param str acsin: The Air Cargo Shipment Identification Number.
        :param str aftn: The Amazon Fulfillment Tracking Number.
        :param str container_number: The container number provided by the Logistics Service Provider.
        :param str house_bill_of_lading_number: The House Bill of Lading (HBL) number.
        :param str carrier_tracking_tracking_number: The tracking number assigned by the carrier.
        :param str carrier_tracking_carrier_code: The carrier code associated with the carrier tracking number.
        :param str accept_language: The preferred natural language and locale of the client, in POSIX locale format. Currently supports `en-US` only.
        :return: GetShipmentTrackingResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_shipment_tracking_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_shipment_tracking_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_shipment_tracking_with_http_info(self, **kwargs):  # noqa: E501
        """Get tracking information for the shipment.  # noqa: E501

        Returns tracking information for a shipment.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_shipment_tracking_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The unique tracking request identifier.
        :param str acsin: The Air Cargo Shipment Identification Number.
        :param str aftn: The Amazon Fulfillment Tracking Number.
        :param str container_number: The container number provided by the Logistics Service Provider.
        :param str house_bill_of_lading_number: The House Bill of Lading (HBL) number.
        :param str carrier_tracking_tracking_number: The tracking number assigned by the carrier.
        :param str carrier_tracking_carrier_code: The carrier code associated with the carrier tracking number.
        :param str accept_language: The preferred natural language and locale of the client, in POSIX locale format. Currently supports `en-US` only.
        :return: GetShipmentTrackingResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'acsin', 'aftn', 'container_number', 'house_bill_of_lading_number', 'carrier_tracking_tracking_number', 'carrier_tracking_carrier_code', 'accept_language']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_shipment_tracking" % key
                )
            params[key] = val
        del params['kwargs']

        if self.api_client.client_side_validation and ('aftn' in params and not re.search(r'^AFTN\d+$', params['aftn'])):  # noqa: E501
            raise ValueError("Invalid value for parameter `aftn` when calling `get_shipment_tracking`, must conform to the pattern `/^AFTN\d+$/`")  # noqa: E501
        collection_formats = {}

        path_params = {}

        query_params = []
        if 'id' in params:
            query_params.append(('id', params['id']))  # noqa: E501
        if 'acsin' in params:
            query_params.append(('acsin', params['acsin']))  # noqa: E501
        if 'aftn' in params:
            query_params.append(('aftn', params['aftn']))  # noqa: E501
        if 'container_number' in params:
            query_params.append(('containerNumber', params['container_number']))  # noqa: E501
        if 'house_bill_of_lading_number' in params:
            query_params.append(('houseBillOfLadingNumber', params['house_bill_of_lading_number']))  # noqa: E501
        if 'carrier_tracking_tracking_number' in params:
            query_params.append(('carrierTracking.trackingNumber', params['carrier_tracking_tracking_number']))  # noqa: E501
        if 'carrier_tracking_carrier_code' in params:
            query_params.append(('carrierTracking.carrierCode', params['carrier_tracking_carrier_code']))  # noqa: E501

        header_params = {}
        if 'accept_language' in params:
            header_params['Accept-Language'] = params['accept_language']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/tracking/2026-01-30/shipments/track', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetShipmentTrackingResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)
