# coding: utf-8

"""
    The Selling Partner API for FBA inbound operations.

    The Selling Partner API for Fulfillment By Amazon (FBA) Inbound. The FBA Inbound API enables building inbound workflows to create, manage, and send shipments into Amazon's fulfillment network. The API has interoperability with the Send-to-Amazon user interface.

    The version of the OpenAPI document: 2024-03-20
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from spapi.api_client import ApiClient


class FbaInboundApi(object):
    """NOTE: This class is auto generated by the openapi generator.

    Do not edit the class manually.
    """

    api_models_module = "spapi.models.fulfillment_inbound_v2024_03_20"

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client
        self.classFileName = 'fba_inbound_api'

    def cancel_inbound_plan(self, inbound_plan_id, **kwargs):  # noqa: E501
        """cancel_inbound_plan  # noqa: E501

        Cancels an Inbound Plan. Charges may apply if the cancellation is performed outside of a void window. The window for Amazon Partnered Carriers is 24 hours for Small Parcel Delivery (SPD) and one hour for Less-Than-Truckload (LTL) carrier shipments.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 2 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.cancel_inbound_plan(inbound_plan_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str inbound_plan_id: Identifier of an inbound plan. (required)
        :return: CancelInboundPlanResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.cancel_inbound_plan_with_http_info(inbound_plan_id, **kwargs)  # noqa: E501
        else:
            (data) = self.cancel_inbound_plan_with_http_info(inbound_plan_id, **kwargs)  # noqa: E501
            return data

    def cancel_inbound_plan_with_http_info(self, inbound_plan_id, **kwargs):  # noqa: E501
        """cancel_inbound_plan  # noqa: E501

        Cancels an Inbound Plan. Charges may apply if the cancellation is performed outside of a void window. The window for Amazon Partnered Carriers is 24 hours for Small Parcel Delivery (SPD) and one hour for Less-Than-Truckload (LTL) carrier shipments.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 2 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.cancel_inbound_plan_with_http_info(inbound_plan_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str inbound_plan_id: Identifier of an inbound plan. (required)
        :return: CancelInboundPlanResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['inbound_plan_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method cancel_inbound_plan" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'inbound_plan_id' is set
        if self.api_client.client_side_validation and ('inbound_plan_id' not in params or
                                                       params['inbound_plan_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `inbound_plan_id` when calling `cancel_inbound_plan`")  # noqa: E501

        if self.api_client.client_side_validation and ('inbound_plan_id' in params and
                                                       len(params['inbound_plan_id']) > 38):
            raise ValueError("Invalid value for parameter `inbound_plan_id` when calling `cancel_inbound_plan`, length must be less than or equal to `38`")  # noqa: E501
        if self.api_client.client_side_validation and ('inbound_plan_id' in params and
                                                       len(params['inbound_plan_id']) < 38):
            raise ValueError("Invalid value for parameter `inbound_plan_id` when calling `cancel_inbound_plan`, length must be greater than or equal to `38`")  # noqa: E501
        if self.api_client.client_side_validation and ('inbound_plan_id' in params and not re.search(r'^[a-zA-Z0-9-]*$', params['inbound_plan_id'])):  # noqa: E501
            raise ValueError("Invalid value for parameter `inbound_plan_id` when calling `cancel_inbound_plan`, must conform to the pattern `/^[a-zA-Z0-9-]*$/`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'inbound_plan_id' in params:
            path_params['inboundPlanId'] = params['inbound_plan_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/cancellation', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CancelInboundPlanResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)

    def cancel_self_ship_appointment(self, inbound_plan_id, shipment_id, body, **kwargs):  # noqa: E501
        """cancel_self_ship_appointment  # noqa: E501

        Cancels a self-ship appointment slot against a shipment. Only available in the following [marketplaces](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids): MX, BR, EG, SA, AE, IN.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | n | n |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.cancel_self_ship_appointment(inbound_plan_id, shipment_id, body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str inbound_plan_id: Identifier of an inbound plan. (required)
        :param str shipment_id: Identifier of a shipment. A shipment contains the boxes and units being inbounded. (required)
        :param CancelSelfShipAppointmentRequest body: The body of the request to `cancelSelfShipAppointment`. (required)
        :return: CancelSelfShipAppointmentResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.cancel_self_ship_appointment_with_http_info(inbound_plan_id, shipment_id, body, **kwargs)  # noqa: E501
        else:
            (data) = self.cancel_self_ship_appointment_with_http_info(inbound_plan_id, shipment_id, body, **kwargs)  # noqa: E501
            return data

    def cancel_self_ship_appointment_with_http_info(self, inbound_plan_id, shipment_id, body, **kwargs):  # noqa: E501
        """cancel_self_ship_appointment  # noqa: E501

        Cancels a self-ship appointment slot against a shipment. Only available in the following [marketplaces](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids): MX, BR, EG, SA, AE, IN.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | n | n |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.cancel_self_ship_appointment_with_http_info(inbound_plan_id, shipment_id, body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str inbound_plan_id: Identifier of an inbound plan. (required)
        :param str shipment_id: Identifier of a shipment. A shipment contains the boxes and units being inbounded. (required)
        :param CancelSelfShipAppointmentRequest body: The body of the request to `cancelSelfShipAppointment`. (required)
        :return: CancelSelfShipAppointmentResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['inbound_plan_id', 'shipment_id', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method cancel_self_ship_appointment" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'inbound_plan_id' is set
        if self.api_client.client_side_validation and ('inbound_plan_id' not in params or
                                                       params['inbound_plan_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `inbound_plan_id` when calling `cancel_self_ship_appointment`")  # noqa: E501
        # verify the required parameter 'shipment_id' is set
        if self.api_client.client_side_validation and ('shipment_id' not in params or
                                                       params['shipment_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `shipment_id` when calling `cancel_self_ship_appointment`")  # noqa: E501
        # verify the required parameter 'body' is set
        if self.api_client.client_side_validation and ('body' not in params or
                                                       params['body'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `body` when calling `cancel_self_ship_appointment`")  # noqa: E501

        if self.api_client.client_side_validation and ('inbound_plan_id' in params and
                                                       len(params['inbound_plan_id']) > 38):
            raise ValueError("Invalid value for parameter `inbound_plan_id` when calling `cancel_self_ship_appointment`, length must be less than or equal to `38`")  # noqa: E501
        if self.api_client.client_side_validation and ('inbound_plan_id' in params and
                                                       len(params['inbound_plan_id']) < 38):
            raise ValueError("Invalid value for parameter `inbound_plan_id` when calling `cancel_self_ship_appointment`, length must be greater than or equal to `38`")  # noqa: E501
        if self.api_client.client_side_validation and ('inbound_plan_id' in params and not re.search(r'^[a-zA-Z0-9-]*$', params['inbound_plan_id'])):  # noqa: E501
            raise ValueError("Invalid value for parameter `inbound_plan_id` when calling `cancel_self_ship_appointment`, must conform to the pattern `/^[a-zA-Z0-9-]*$/`")  # noqa: E501
        if self.api_client.client_side_validation and ('shipment_id' in params and
                                                       len(params['shipment_id']) > 38):
            raise ValueError("Invalid value for parameter `shipment_id` when calling `cancel_self_ship_appointment`, length must be less than or equal to `38`")  # noqa: E501
        if self.api_client.client_side_validation and ('shipment_id' in params and
                                                       len(params['shipment_id']) < 38):
            raise ValueError("Invalid value for parameter `shipment_id` when calling `cancel_self_ship_appointment`, length must be greater than or equal to `38`")  # noqa: E501
        if self.api_client.client_side_validation and ('shipment_id' in params and not re.search(r'^[a-zA-Z0-9-]*$', params['shipment_id'])):  # noqa: E501
            raise ValueError("Invalid value for parameter `shipment_id` when calling `cancel_self_ship_appointment`, must conform to the pattern `/^[a-zA-Z0-9-]*$/`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'inbound_plan_id' in params:
            path_params['inboundPlanId'] = params['inbound_plan_id']  # noqa: E501
        if 'shipment_id' in params:
            path_params['shipmentId'] = params['shipment_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/shipments/{shipmentId}/selfShipAppointmentCancellation', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CancelSelfShipAppointmentResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)

    def confirm_delivery_window_options(self, inbound_plan_id, shipment_id, delivery_window_option_id, **kwargs):  # noqa: E501
        """confirm_delivery_window_options  # noqa: E501

        Confirms the delivery window option for chosen shipment within an inbound plan. A placement option must be confirmed prior to use of this API. Once confirmed, new delivery window options cannot be generated, but the chosen delivery window option can be updated before shipment closure. The window is used to provide the expected time when a shipment will arrive at the warehouse. All transportation options which have the program `CONFIRMED_DELIVERY_WINDOW` require a delivery window to be confirmed prior to transportation option confirmation.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 30 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.confirm_delivery_window_options(inbound_plan_id, shipment_id, delivery_window_option_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str inbound_plan_id: Identifier of an inbound plan. (required)
        :param str shipment_id: The shipment to confirm the delivery window option for. (required)
        :param str delivery_window_option_id: The id of the delivery window option to be confirmed. (required)
        :return: ConfirmDeliveryWindowOptionsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.confirm_delivery_window_options_with_http_info(inbound_plan_id, shipment_id, delivery_window_option_id, **kwargs)  # noqa: E501
        else:
            (data) = self.confirm_delivery_window_options_with_http_info(inbound_plan_id, shipment_id, delivery_window_option_id, **kwargs)  # noqa: E501
            return data

    def confirm_delivery_window_options_with_http_info(self, inbound_plan_id, shipment_id, delivery_window_option_id, **kwargs):  # noqa: E501
        """confirm_delivery_window_options  # noqa: E501

        Confirms the delivery window option for chosen shipment within an inbound plan. A placement option must be confirmed prior to use of this API. Once confirmed, new delivery window options cannot be generated, but the chosen delivery window option can be updated before shipment closure. The window is used to provide the expected time when a shipment will arrive at the warehouse. All transportation options which have the program `CONFIRMED_DELIVERY_WINDOW` require a delivery window to be confirmed prior to transportation option confirmation.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 30 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.confirm_delivery_window_options_with_http_info(inbound_plan_id, shipment_id, delivery_window_option_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str inbound_plan_id: Identifier of an inbound plan. (required)
        :param str shipment_id: The shipment to confirm the delivery window option for. (required)
        :param str delivery_window_option_id: The id of the delivery window option to be confirmed. (required)
        :return: ConfirmDeliveryWindowOptionsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['inbound_plan_id', 'shipment_id', 'delivery_window_option_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method confirm_delivery_window_options" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'inbound_plan_id' is set
        if self.api_client.client_side_validation and ('inbound_plan_id' not in params or
                                                       params['inbound_plan_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `inbound_plan_id` when calling `confirm_delivery_window_options`")  # noqa: E501
        # verify the required parameter 'shipment_id' is set
        if self.api_client.client_side_validation and ('shipment_id' not in params or
                                                       params['shipment_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `shipment_id` when calling `confirm_delivery_window_options`")  # noqa: E501
        # verify the required parameter 'delivery_window_option_id' is set
        if self.api_client.client_side_validation and ('delivery_window_option_id' not in params or
                                                       params['delivery_window_option_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `delivery_window_option_id` when calling `confirm_delivery_window_options`")  # noqa: E501

        if self.api_client.client_side_validation and ('inbound_plan_id' in params and
                                                       len(params['inbound_plan_id']) > 38):
            raise ValueError("Invalid value for parameter `inbound_plan_id` when calling `confirm_delivery_window_options`, length must be less than or equal to `38`")  # noqa: E501
        if self.api_client.client_side_validation and ('inbound_plan_id' in params and
                                                       len(params['inbound_plan_id']) < 38):
            raise ValueError("Invalid value for parameter `inbound_plan_id` when calling `confirm_delivery_window_options`, length must be greater than or equal to `38`")  # noqa: E501
        if self.api_client.client_side_validation and ('inbound_plan_id' in params and not re.search(r'^[a-zA-Z0-9-]*$', params['inbound_plan_id'])):  # noqa: E501
            raise ValueError("Invalid value for parameter `inbound_plan_id` when calling `confirm_delivery_window_options`, must conform to the pattern `/^[a-zA-Z0-9-]*$/`")  # noqa: E501
        if self.api_client.client_side_validation and ('shipment_id' in params and
                                                       len(params['shipment_id']) > 38):
            raise ValueError("Invalid value for parameter `shipment_id` when calling `confirm_delivery_window_options`, length must be less than or equal to `38`")  # noqa: E501
        if self.api_client.client_side_validation and ('shipment_id' in params and
                                                       len(params['shipment_id']) < 38):
            raise ValueError("Invalid value for parameter `shipment_id` when calling `confirm_delivery_window_options`, length must be greater than or equal to `38`")  # noqa: E501
        if self.api_client.client_side_validation and ('shipment_id' in params and not re.search(r'^[a-zA-Z0-9-]*$', params['shipment_id'])):  # noqa: E501
            raise ValueError("Invalid value for parameter `shipment_id` when calling `confirm_delivery_window_options`, must conform to the pattern `/^[a-zA-Z0-9-]*$/`")  # noqa: E501
        if self.api_client.client_side_validation and ('delivery_window_option_id' in params and
                                                       len(params['delivery_window_option_id']) > 38):
            raise ValueError("Invalid value for parameter `delivery_window_option_id` when calling `confirm_delivery_window_options`, length must be less than or equal to `38`")  # noqa: E501
        if self.api_client.client_side_validation and ('delivery_window_option_id' in params and
                                                       len(params['delivery_window_option_id']) < 36):
            raise ValueError("Invalid value for parameter `delivery_window_option_id` when calling `confirm_delivery_window_options`, length must be greater than or equal to `36`")  # noqa: E501
        if self.api_client.client_side_validation and ('delivery_window_option_id' in params and not re.search(r'^[a-zA-Z0-9-]*$', params['delivery_window_option_id'])):  # noqa: E501
            raise ValueError("Invalid value for parameter `delivery_window_option_id` when calling `confirm_delivery_window_options`, must conform to the pattern `/^[a-zA-Z0-9-]*$/`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'inbound_plan_id' in params:
            path_params['inboundPlanId'] = params['inbound_plan_id']  # noqa: E501
        if 'shipment_id' in params:
            path_params['shipmentId'] = params['shipment_id']  # noqa: E501
        if 'delivery_window_option_id' in params:
            path_params['deliveryWindowOptionId'] = params['delivery_window_option_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/shipments/{shipmentId}/deliveryWindowOptions/{deliveryWindowOptionId}/confirmation', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConfirmDeliveryWindowOptionsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)

    def confirm_packing_option(self, inbound_plan_id, packing_option_id, **kwargs):  # noqa: E501
        """confirm_packing_option  # noqa: E501

        Confirms the packing option for an inbound plan.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 2 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.confirm_packing_option(inbound_plan_id, packing_option_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str inbound_plan_id: Identifier of an inbound plan. (required)
        :param str packing_option_id: Identifier of a packing option. (required)
        :return: ConfirmPackingOptionResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.confirm_packing_option_with_http_info(inbound_plan_id, packing_option_id, **kwargs)  # noqa: E501
        else:
            (data) = self.confirm_packing_option_with_http_info(inbound_plan_id, packing_option_id, **kwargs)  # noqa: E501
            return data

    def confirm_packing_option_with_http_info(self, inbound_plan_id, packing_option_id, **kwargs):  # noqa: E501
        """confirm_packing_option  # noqa: E501

        Confirms the packing option for an inbound plan.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 2 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.confirm_packing_option_with_http_info(inbound_plan_id, packing_option_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str inbound_plan_id: Identifier of an inbound plan. (required)
        :param str packing_option_id: Identifier of a packing option. (required)
        :return: ConfirmPackingOptionResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['inbound_plan_id', 'packing_option_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method confirm_packing_option" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'inbound_plan_id' is set
        if self.api_client.client_side_validation and ('inbound_plan_id' not in params or
                                                       params['inbound_plan_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `inbound_plan_id` when calling `confirm_packing_option`")  # noqa: E501
        # verify the required parameter 'packing_option_id' is set
        if self.api_client.client_side_validation and ('packing_option_id' not in params or
                                                       params['packing_option_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `packing_option_id` when calling `confirm_packing_option`")  # noqa: E501

        if self.api_client.client_side_validation and ('inbound_plan_id' in params and
                                                       len(params['inbound_plan_id']) > 38):
            raise ValueError("Invalid value for parameter `inbound_plan_id` when calling `confirm_packing_option`, length must be less than or equal to `38`")  # noqa: E501
        if self.api_client.client_side_validation and ('inbound_plan_id' in params and
                                                       len(params['inbound_plan_id']) < 38):
            raise ValueError("Invalid value for parameter `inbound_plan_id` when calling `confirm_packing_option`, length must be greater than or equal to `38`")  # noqa: E501
        if self.api_client.client_side_validation and ('inbound_plan_id' in params and not re.search(r'^[a-zA-Z0-9-]*$', params['inbound_plan_id'])):  # noqa: E501
            raise ValueError("Invalid value for parameter `inbound_plan_id` when calling `confirm_packing_option`, must conform to the pattern `/^[a-zA-Z0-9-]*$/`")  # noqa: E501
        if self.api_client.client_side_validation and ('packing_option_id' in params and
                                                       len(params['packing_option_id']) > 38):
            raise ValueError("Invalid value for parameter `packing_option_id` when calling `confirm_packing_option`, length must be less than or equal to `38`")  # noqa: E501
        if self.api_client.client_side_validation and ('packing_option_id' in params and
                                                       len(params['packing_option_id']) < 38):
            raise ValueError("Invalid value for parameter `packing_option_id` when calling `confirm_packing_option`, length must be greater than or equal to `38`")  # noqa: E501
        if self.api_client.client_side_validation and ('packing_option_id' in params and not re.search(r'^[a-zA-Z0-9-]*$', params['packing_option_id'])):  # noqa: E501
            raise ValueError("Invalid value for parameter `packing_option_id` when calling `confirm_packing_option`, must conform to the pattern `/^[a-zA-Z0-9-]*$/`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'inbound_plan_id' in params:
            path_params['inboundPlanId'] = params['inbound_plan_id']  # noqa: E501
        if 'packing_option_id' in params:
            path_params['packingOptionId'] = params['packing_option_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/packingOptions/{packingOptionId}/confirmation', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConfirmPackingOptionResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)

    def confirm_placement_option(self, inbound_plan_id, placement_option_id, **kwargs):  # noqa: E501
        """confirm_placement_option  # noqa: E501

        Confirms the placement option for an inbound plan. Once confirmed, it cannot be changed for the Inbound Plan.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 2 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.confirm_placement_option(inbound_plan_id, placement_option_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str inbound_plan_id: Identifier of an inbound plan. (required)
        :param str placement_option_id: The identifier of a placement option. A placement option represents the shipment splits and destinations of SKUs. (required)
        :return: ConfirmPlacementOptionResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.confirm_placement_option_with_http_info(inbound_plan_id, placement_option_id, **kwargs)  # noqa: E501
        else:
            (data) = self.confirm_placement_option_with_http_info(inbound_plan_id, placement_option_id, **kwargs)  # noqa: E501
            return data

    def confirm_placement_option_with_http_info(self, inbound_plan_id, placement_option_id, **kwargs):  # noqa: E501
        """confirm_placement_option  # noqa: E501

        Confirms the placement option for an inbound plan. Once confirmed, it cannot be changed for the Inbound Plan.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 2 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.confirm_placement_option_with_http_info(inbound_plan_id, placement_option_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str inbound_plan_id: Identifier of an inbound plan. (required)
        :param str placement_option_id: The identifier of a placement option. A placement option represents the shipment splits and destinations of SKUs. (required)
        :return: ConfirmPlacementOptionResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['inbound_plan_id', 'placement_option_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method confirm_placement_option" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'inbound_plan_id' is set
        if self.api_client.client_side_validation and ('inbound_plan_id' not in params or
                                                       params['inbound_plan_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `inbound_plan_id` when calling `confirm_placement_option`")  # noqa: E501
        # verify the required parameter 'placement_option_id' is set
        if self.api_client.client_side_validation and ('placement_option_id' not in params or
                                                       params['placement_option_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `placement_option_id` when calling `confirm_placement_option`")  # noqa: E501

        if self.api_client.client_side_validation and ('inbound_plan_id' in params and
                                                       len(params['inbound_plan_id']) > 38):
            raise ValueError("Invalid value for parameter `inbound_plan_id` when calling `confirm_placement_option`, length must be less than or equal to `38`")  # noqa: E501
        if self.api_client.client_side_validation and ('inbound_plan_id' in params and
                                                       len(params['inbound_plan_id']) < 38):
            raise ValueError("Invalid value for parameter `inbound_plan_id` when calling `confirm_placement_option`, length must be greater than or equal to `38`")  # noqa: E501
        if self.api_client.client_side_validation and ('inbound_plan_id' in params and not re.search(r'^[a-zA-Z0-9-]*$', params['inbound_plan_id'])):  # noqa: E501
            raise ValueError("Invalid value for parameter `inbound_plan_id` when calling `confirm_placement_option`, must conform to the pattern `/^[a-zA-Z0-9-]*$/`")  # noqa: E501
        if self.api_client.client_side_validation and ('placement_option_id' in params and
                                                       len(params['placement_option_id']) > 38):
            raise ValueError("Invalid value for parameter `placement_option_id` when calling `confirm_placement_option`, length must be less than or equal to `38`")  # noqa: E501
        if self.api_client.client_side_validation and ('placement_option_id' in params and
                                                       len(params['placement_option_id']) < 38):
            raise ValueError("Invalid value for parameter `placement_option_id` when calling `confirm_placement_option`, length must be greater than or equal to `38`")  # noqa: E501
        if self.api_client.client_side_validation and ('placement_option_id' in params and not re.search(r'^[a-zA-Z0-9-]*$', params['placement_option_id'])):  # noqa: E501
            raise ValueError("Invalid value for parameter `placement_option_id` when calling `confirm_placement_option`, must conform to the pattern `/^[a-zA-Z0-9-]*$/`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'inbound_plan_id' in params:
            path_params['inboundPlanId'] = params['inbound_plan_id']  # noqa: E501
        if 'placement_option_id' in params:
            path_params['placementOptionId'] = params['placement_option_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/placementOptions/{placementOptionId}/confirmation', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConfirmPlacementOptionResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)

    def confirm_shipment_content_update_preview(self, inbound_plan_id, shipment_id, content_update_preview_id, **kwargs):  # noqa: E501
        """confirm_shipment_content_update_preview  # noqa: E501

        Confirm a shipment content update preview and accept the changes in transportation cost.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 30 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.confirm_shipment_content_update_preview(inbound_plan_id, shipment_id, content_update_preview_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str inbound_plan_id: Identifier of an inbound plan. (required)
        :param str shipment_id: Identifier of a shipment. A shipment contains the boxes and units being inbounded. (required)
        :param str content_update_preview_id: Identifier of a content update preview. (required)
        :return: ConfirmShipmentContentUpdatePreviewResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.confirm_shipment_content_update_preview_with_http_info(inbound_plan_id, shipment_id, content_update_preview_id, **kwargs)  # noqa: E501
        else:
            (data) = self.confirm_shipment_content_update_preview_with_http_info(inbound_plan_id, shipment_id, content_update_preview_id, **kwargs)  # noqa: E501
            return data

    def confirm_shipment_content_update_preview_with_http_info(self, inbound_plan_id, shipment_id, content_update_preview_id, **kwargs):  # noqa: E501
        """confirm_shipment_content_update_preview  # noqa: E501

        Confirm a shipment content update preview and accept the changes in transportation cost.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 30 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.confirm_shipment_content_update_preview_with_http_info(inbound_plan_id, shipment_id, content_update_preview_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str inbound_plan_id: Identifier of an inbound plan. (required)
        :param str shipment_id: Identifier of a shipment. A shipment contains the boxes and units being inbounded. (required)
        :param str content_update_preview_id: Identifier of a content update preview. (required)
        :return: ConfirmShipmentContentUpdatePreviewResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['inbound_plan_id', 'shipment_id', 'content_update_preview_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method confirm_shipment_content_update_preview" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'inbound_plan_id' is set
        if self.api_client.client_side_validation and ('inbound_plan_id' not in params or
                                                       params['inbound_plan_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `inbound_plan_id` when calling `confirm_shipment_content_update_preview`")  # noqa: E501
        # verify the required parameter 'shipment_id' is set
        if self.api_client.client_side_validation and ('shipment_id' not in params or
                                                       params['shipment_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `shipment_id` when calling `confirm_shipment_content_update_preview`")  # noqa: E501
        # verify the required parameter 'content_update_preview_id' is set
        if self.api_client.client_side_validation and ('content_update_preview_id' not in params or
                                                       params['content_update_preview_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `content_update_preview_id` when calling `confirm_shipment_content_update_preview`")  # noqa: E501

        if self.api_client.client_side_validation and ('inbound_plan_id' in params and
                                                       len(params['inbound_plan_id']) > 38):
            raise ValueError("Invalid value for parameter `inbound_plan_id` when calling `confirm_shipment_content_update_preview`, length must be less than or equal to `38`")  # noqa: E501
        if self.api_client.client_side_validation and ('inbound_plan_id' in params and
                                                       len(params['inbound_plan_id']) < 38):
            raise ValueError("Invalid value for parameter `inbound_plan_id` when calling `confirm_shipment_content_update_preview`, length must be greater than or equal to `38`")  # noqa: E501
        if self.api_client.client_side_validation and ('inbound_plan_id' in params and not re.search(r'^[a-zA-Z0-9-]*$', params['inbound_plan_id'])):  # noqa: E501
            raise ValueError("Invalid value for parameter `inbound_plan_id` when calling `confirm_shipment_content_update_preview`, must conform to the pattern `/^[a-zA-Z0-9-]*$/`")  # noqa: E501
        if self.api_client.client_side_validation and ('shipment_id' in params and
                                                       len(params['shipment_id']) > 38):
            raise ValueError("Invalid value for parameter `shipment_id` when calling `confirm_shipment_content_update_preview`, length must be less than or equal to `38`")  # noqa: E501
        if self.api_client.client_side_validation and ('shipment_id' in params and
                                                       len(params['shipment_id']) < 38):
            raise ValueError("Invalid value for parameter `shipment_id` when calling `confirm_shipment_content_update_preview`, length must be greater than or equal to `38`")  # noqa: E501
        if self.api_client.client_side_validation and ('shipment_id' in params and not re.search(r'^[a-zA-Z0-9-]*$', params['shipment_id'])):  # noqa: E501
            raise ValueError("Invalid value for parameter `shipment_id` when calling `confirm_shipment_content_update_preview`, must conform to the pattern `/^[a-zA-Z0-9-]*$/`")  # noqa: E501
        if self.api_client.client_side_validation and ('content_update_preview_id' in params and
                                                       len(params['content_update_preview_id']) > 38):
            raise ValueError("Invalid value for parameter `content_update_preview_id` when calling `confirm_shipment_content_update_preview`, length must be less than or equal to `38`")  # noqa: E501
        if self.api_client.client_side_validation and ('content_update_preview_id' in params and
                                                       len(params['content_update_preview_id']) < 38):
            raise ValueError("Invalid value for parameter `content_update_preview_id` when calling `confirm_shipment_content_update_preview`, length must be greater than or equal to `38`")  # noqa: E501
        if self.api_client.client_side_validation and ('content_update_preview_id' in params and not re.search(r'^[a-zA-Z0-9-]*$', params['content_update_preview_id'])):  # noqa: E501
            raise ValueError("Invalid value for parameter `content_update_preview_id` when calling `confirm_shipment_content_update_preview`, must conform to the pattern `/^[a-zA-Z0-9-]*$/`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'inbound_plan_id' in params:
            path_params['inboundPlanId'] = params['inbound_plan_id']  # noqa: E501
        if 'shipment_id' in params:
            path_params['shipmentId'] = params['shipment_id']  # noqa: E501
        if 'content_update_preview_id' in params:
            path_params['contentUpdatePreviewId'] = params['content_update_preview_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/shipments/{shipmentId}/contentUpdatePreviews/{contentUpdatePreviewId}/confirmation', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConfirmShipmentContentUpdatePreviewResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)

    def confirm_transportation_options(self, inbound_plan_id, body, **kwargs):  # noqa: E501
        """confirm_transportation_options  # noqa: E501

        Confirms all the transportation options for an inbound plan. A placement option must be confirmed prior to use of this API. Once confirmed, new transportation options can not be generated or confirmed for the Inbound Plan.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 2 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.confirm_transportation_options(inbound_plan_id, body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str inbound_plan_id: Identifier of an inbound plan. (required)
        :param ConfirmTransportationOptionsRequest body: The body of the request to `confirmTransportationOptions`. (required)
        :return: ConfirmTransportationOptionsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.confirm_transportation_options_with_http_info(inbound_plan_id, body, **kwargs)  # noqa: E501
        else:
            (data) = self.confirm_transportation_options_with_http_info(inbound_plan_id, body, **kwargs)  # noqa: E501
            return data

    def confirm_transportation_options_with_http_info(self, inbound_plan_id, body, **kwargs):  # noqa: E501
        """confirm_transportation_options  # noqa: E501

        Confirms all the transportation options for an inbound plan. A placement option must be confirmed prior to use of this API. Once confirmed, new transportation options can not be generated or confirmed for the Inbound Plan.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 2 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.confirm_transportation_options_with_http_info(inbound_plan_id, body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str inbound_plan_id: Identifier of an inbound plan. (required)
        :param ConfirmTransportationOptionsRequest body: The body of the request to `confirmTransportationOptions`. (required)
        :return: ConfirmTransportationOptionsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['inbound_plan_id', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method confirm_transportation_options" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'inbound_plan_id' is set
        if self.api_client.client_side_validation and ('inbound_plan_id' not in params or
                                                       params['inbound_plan_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `inbound_plan_id` when calling `confirm_transportation_options`")  # noqa: E501
        # verify the required parameter 'body' is set
        if self.api_client.client_side_validation and ('body' not in params or
                                                       params['body'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `body` when calling `confirm_transportation_options`")  # noqa: E501

        if self.api_client.client_side_validation and ('inbound_plan_id' in params and
                                                       len(params['inbound_plan_id']) > 38):
            raise ValueError("Invalid value for parameter `inbound_plan_id` when calling `confirm_transportation_options`, length must be less than or equal to `38`")  # noqa: E501
        if self.api_client.client_side_validation and ('inbound_plan_id' in params and
                                                       len(params['inbound_plan_id']) < 38):
            raise ValueError("Invalid value for parameter `inbound_plan_id` when calling `confirm_transportation_options`, length must be greater than or equal to `38`")  # noqa: E501
        if self.api_client.client_side_validation and ('inbound_plan_id' in params and not re.search(r'^[a-zA-Z0-9-]*$', params['inbound_plan_id'])):  # noqa: E501
            raise ValueError("Invalid value for parameter `inbound_plan_id` when calling `confirm_transportation_options`, must conform to the pattern `/^[a-zA-Z0-9-]*$/`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'inbound_plan_id' in params:
            path_params['inboundPlanId'] = params['inbound_plan_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/transportationOptions/confirmation', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConfirmTransportationOptionsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)

    def create_inbound_plan(self, body, **kwargs):  # noqa: E501
        """create_inbound_plan  # noqa: E501

        Creates an inbound plan. An inbound plan contains all the necessary information to send shipments into Amazon's fufillment network.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 2 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_inbound_plan(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateInboundPlanRequest body: The body of the request to `createInboundPlan`. (required)
        :return: CreateInboundPlanResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_inbound_plan_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_inbound_plan_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_inbound_plan_with_http_info(self, body, **kwargs):  # noqa: E501
        """create_inbound_plan  # noqa: E501

        Creates an inbound plan. An inbound plan contains all the necessary information to send shipments into Amazon's fufillment network.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 2 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_inbound_plan_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateInboundPlanRequest body: The body of the request to `createInboundPlan`. (required)
        :return: CreateInboundPlanResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_inbound_plan" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if self.api_client.client_side_validation and ('body' not in params or
                                                       params['body'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `body` when calling `create_inbound_plan`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/inbound/fba/2024-03-20/inboundPlans', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CreateInboundPlanResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)

    def create_marketplace_item_labels(self, body, **kwargs):  # noqa: E501
        """create_marketplace_item_labels  # noqa: E501

        For a given marketplace - creates labels for a list of MSKUs.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 30 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_marketplace_item_labels(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateMarketplaceItemLabelsRequest body: The body of the request to `createMarketplaceItemLabels`. (required)
        :return: CreateMarketplaceItemLabelsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_marketplace_item_labels_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_marketplace_item_labels_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_marketplace_item_labels_with_http_info(self, body, **kwargs):  # noqa: E501
        """create_marketplace_item_labels  # noqa: E501

        For a given marketplace - creates labels for a list of MSKUs.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 30 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_marketplace_item_labels_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateMarketplaceItemLabelsRequest body: The body of the request to `createMarketplaceItemLabels`. (required)
        :return: CreateMarketplaceItemLabelsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_marketplace_item_labels" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if self.api_client.client_side_validation and ('body' not in params or
                                                       params['body'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `body` when calling `create_marketplace_item_labels`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/inbound/fba/2024-03-20/items/labels', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CreateMarketplaceItemLabelsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)

    def generate_delivery_window_options(self, inbound_plan_id, shipment_id, **kwargs):  # noqa: E501
        """generate_delivery_window_options  # noqa: E501

        Generates available delivery window options for a given shipment.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 30 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.generate_delivery_window_options(inbound_plan_id, shipment_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str inbound_plan_id: Identifier of an inbound plan. (required)
        :param str shipment_id: The shipment to generate delivery window options for. (required)
        :return: GenerateDeliveryWindowOptionsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.generate_delivery_window_options_with_http_info(inbound_plan_id, shipment_id, **kwargs)  # noqa: E501
        else:
            (data) = self.generate_delivery_window_options_with_http_info(inbound_plan_id, shipment_id, **kwargs)  # noqa: E501
            return data

    def generate_delivery_window_options_with_http_info(self, inbound_plan_id, shipment_id, **kwargs):  # noqa: E501
        """generate_delivery_window_options  # noqa: E501

        Generates available delivery window options for a given shipment.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 30 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.generate_delivery_window_options_with_http_info(inbound_plan_id, shipment_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str inbound_plan_id: Identifier of an inbound plan. (required)
        :param str shipment_id: The shipment to generate delivery window options for. (required)
        :return: GenerateDeliveryWindowOptionsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['inbound_plan_id', 'shipment_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method generate_delivery_window_options" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'inbound_plan_id' is set
        if self.api_client.client_side_validation and ('inbound_plan_id' not in params or
                                                       params['inbound_plan_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `inbound_plan_id` when calling `generate_delivery_window_options`")  # noqa: E501
        # verify the required parameter 'shipment_id' is set
        if self.api_client.client_side_validation and ('shipment_id' not in params or
                                                       params['shipment_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `shipment_id` when calling `generate_delivery_window_options`")  # noqa: E501

        if self.api_client.client_side_validation and ('inbound_plan_id' in params and
                                                       len(params['inbound_plan_id']) > 38):
            raise ValueError("Invalid value for parameter `inbound_plan_id` when calling `generate_delivery_window_options`, length must be less than or equal to `38`")  # noqa: E501
        if self.api_client.client_side_validation and ('inbound_plan_id' in params and
                                                       len(params['inbound_plan_id']) < 38):
            raise ValueError("Invalid value for parameter `inbound_plan_id` when calling `generate_delivery_window_options`, length must be greater than or equal to `38`")  # noqa: E501
        if self.api_client.client_side_validation and ('inbound_plan_id' in params and not re.search(r'^[a-zA-Z0-9-]*$', params['inbound_plan_id'])):  # noqa: E501
            raise ValueError("Invalid value for parameter `inbound_plan_id` when calling `generate_delivery_window_options`, must conform to the pattern `/^[a-zA-Z0-9-]*$/`")  # noqa: E501
        if self.api_client.client_side_validation and ('shipment_id' in params and
                                                       len(params['shipment_id']) > 38):
            raise ValueError("Invalid value for parameter `shipment_id` when calling `generate_delivery_window_options`, length must be less than or equal to `38`")  # noqa: E501
        if self.api_client.client_side_validation and ('shipment_id' in params and
                                                       len(params['shipment_id']) < 38):
            raise ValueError("Invalid value for parameter `shipment_id` when calling `generate_delivery_window_options`, length must be greater than or equal to `38`")  # noqa: E501
        if self.api_client.client_side_validation and ('shipment_id' in params and not re.search(r'^[a-zA-Z0-9-]*$', params['shipment_id'])):  # noqa: E501
            raise ValueError("Invalid value for parameter `shipment_id` when calling `generate_delivery_window_options`, must conform to the pattern `/^[a-zA-Z0-9-]*$/`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'inbound_plan_id' in params:
            path_params['inboundPlanId'] = params['inbound_plan_id']  # noqa: E501
        if 'shipment_id' in params:
            path_params['shipmentId'] = params['shipment_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/shipments/{shipmentId}/deliveryWindowOptions', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GenerateDeliveryWindowOptionsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)

    def generate_packing_options(self, inbound_plan_id, **kwargs):  # noqa: E501
        """generate_packing_options  # noqa: E501

        Generates available packing options for the inbound plan.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 2 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.generate_packing_options(inbound_plan_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str inbound_plan_id: Identifier of an inbound plan. (required)
        :return: GeneratePackingOptionsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.generate_packing_options_with_http_info(inbound_plan_id, **kwargs)  # noqa: E501
        else:
            (data) = self.generate_packing_options_with_http_info(inbound_plan_id, **kwargs)  # noqa: E501
            return data

    def generate_packing_options_with_http_info(self, inbound_plan_id, **kwargs):  # noqa: E501
        """generate_packing_options  # noqa: E501

        Generates available packing options for the inbound plan.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 2 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.generate_packing_options_with_http_info(inbound_plan_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str inbound_plan_id: Identifier of an inbound plan. (required)
        :return: GeneratePackingOptionsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['inbound_plan_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method generate_packing_options" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'inbound_plan_id' is set
        if self.api_client.client_side_validation and ('inbound_plan_id' not in params or
                                                       params['inbound_plan_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `inbound_plan_id` when calling `generate_packing_options`")  # noqa: E501

        if self.api_client.client_side_validation and ('inbound_plan_id' in params and
                                                       len(params['inbound_plan_id']) > 38):
            raise ValueError("Invalid value for parameter `inbound_plan_id` when calling `generate_packing_options`, length must be less than or equal to `38`")  # noqa: E501
        if self.api_client.client_side_validation and ('inbound_plan_id' in params and
                                                       len(params['inbound_plan_id']) < 38):
            raise ValueError("Invalid value for parameter `inbound_plan_id` when calling `generate_packing_options`, length must be greater than or equal to `38`")  # noqa: E501
        if self.api_client.client_side_validation and ('inbound_plan_id' in params and not re.search(r'^[a-zA-Z0-9-]*$', params['inbound_plan_id'])):  # noqa: E501
            raise ValueError("Invalid value for parameter `inbound_plan_id` when calling `generate_packing_options`, must conform to the pattern `/^[a-zA-Z0-9-]*$/`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'inbound_plan_id' in params:
            path_params['inboundPlanId'] = params['inbound_plan_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/packingOptions', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GeneratePackingOptionsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)

    def generate_placement_options(self, inbound_plan_id, body, **kwargs):  # noqa: E501
        """generate_placement_options  # noqa: E501

        Generates placement options for the inbound plan.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 2 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.generate_placement_options(inbound_plan_id, body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str inbound_plan_id: Identifier of an inbound plan. (required)
        :param GeneratePlacementOptionsRequest body: The body of the request to `generatePlacementOptions`. (required)
        :return: GeneratePlacementOptionsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.generate_placement_options_with_http_info(inbound_plan_id, body, **kwargs)  # noqa: E501
        else:
            (data) = self.generate_placement_options_with_http_info(inbound_plan_id, body, **kwargs)  # noqa: E501
            return data

    def generate_placement_options_with_http_info(self, inbound_plan_id, body, **kwargs):  # noqa: E501
        """generate_placement_options  # noqa: E501

        Generates placement options for the inbound plan.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 2 | 2 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table contains the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may have higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.generate_placement_options_with_http_info(inbound_plan_id, body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str inbound_plan_id: Identifier of an inbound plan. (required)
        :param GeneratePlacementOptionsRequest body: The body of the request to `generatePlacementOptions`. (required)
        :return: GeneratePlacementOptionsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['inbound_plan_id', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method generate_placement_options" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'inbound_plan_id' is set
        if self.api_client.client_side_validation and ('inbound_plan_id' not in params or
                                                       params['inbound_plan_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `inbound_plan_id` when calling `generate_placement_options`")  # noqa: E501
        # verify the required parameter 'body' is set
        if self.api_client.client_side_validation and ('body' not in params or
                                                       params['body'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `body` when calling `generate_placement_options`")  # noqa: E501

        if self.api_client.client_side_validation and ('inbound_plan_id' in params and
                                                       len(params['inbound_plan_id']) > 38):
            raise ValueError("Invalid value for parameter `inbound_plan_id` when calling `generate_placement_options`, length must be less than or equal to `38`")  # noqa: E501
        if self.api_client.client_side_validation and ('inbound_plan_id' in params and
                                                       len(params['inbound_plan_id']) < 38):
            raise ValueError("Invalid value for parameter `inbound_plan_id` when calling `generate_placement_options`, length must be greater than or equal to `38`")  # noqa: E501
        if self.api_client.client_side_validation and ('inbound_plan_id' in params and not re.search(r'^[a-zA-Z0-9-]*$', params['inbound_plan_id'])):  # noqa: E501
            raise ValueError("Invalid value for parameter `inbound_plan_id` when calling `generate_placement_options`, must conform to the pattern `/^[a-zA-Z0-9-]*$/`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'inbound_plan_id' in params:
            path_params['inboundPlanId'] = params['inbound_plan_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/inbound/fba/2024-03-20/inboundPlans/{inboundPlanId}/placementOptions', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GeneratePlacementOptionsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)

    def generate_self_ship_appointment_slots(self, inbound_plan_id, shipment_id, body, **kwargs):  # noqa: E501
        """generate_self_ship_appointment_slots  # noqa: E501

        Initiates the process of generating the appointment slots list. Only available in the following [marketplaces](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids): MX, BR, EG, SA, AE, IN.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | n | n |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The table above indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.generate_self_ship_appointment_slots(inbound_plan_id, shipment_id, body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str inbound_plan_id: Identifier of an inbound plan. (required)
        :param str shipment_id: Identifier of a shipment. A shipment contains the boxes and units being inbounded. (required)
        :param GenerateSelfShipAppointmentSlotsRequest body: The body of the request to `generateSelfShipAppointmentSlots`. (required)
        :return: GenerateSelfShipAppointmentSlotsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.generate_self_ship_appointment_slots_with_http_info(inbound_plan_id, shipment_id, body, **kwargs)  # noqa: E501
        else:
[...]
