/*
 * The Selling Partner API for Orders
 * The Selling Partner API for Orders returns orders information. This API supports the following types of orders:  - FBM (Fulfilled by Merchant) - FBA (Fulfilled by Amazon) - read only - Amazon Fresh  This API does not display order data that is more than two years old, except in the JP, AU, and SG marketplaces, for which data from 2016 and after is available.
 *
 * OpenAPI spec version: 2026-01-01
 *
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package software.amazon.spapi.api.orders.v2026_01_01;

import com.amazon.SellingPartnerAPIAA.LWAAccessTokenCache;
import com.amazon.SellingPartnerAPIAA.LWAAccessTokenCacheImpl;
import com.amazon.SellingPartnerAPIAA.LWAAuthorizationCredentials;
import com.amazon.SellingPartnerAPIAA.LWAAuthorizationSigner;
import com.amazon.SellingPartnerAPIAA.LWAException;
import com.amazon.SellingPartnerAPIAA.RestrictedDataTokenSigner;
import com.google.gson.reflect.TypeToken;
import io.github.bucket4j.Bucket;
import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import software.amazon.spapi.ApiCallback;
import software.amazon.spapi.ApiClient;
import software.amazon.spapi.ApiException;
import software.amazon.spapi.ApiResponse;
import software.amazon.spapi.Configuration;
import software.amazon.spapi.Pair;
import software.amazon.spapi.ProgressRequestBody;
import software.amazon.spapi.StringUtil;
import software.amazon.spapi.models.orders.v2026_01_01.GetOrderResponse;

public class GetOrderApi {
    private ApiClient apiClient;
    private Boolean disableRateLimiting;

    public GetOrderApi(ApiClient apiClient, Boolean disableRateLimiting) {
        this.apiClient = apiClient;
        this.disableRateLimiting = disableRateLimiting;
    }

    private final Configuration config = Configuration.get();

    public final Bucket getOrderBucket =
            Bucket.builder().addLimit(config.getLimit("GetOrderApi-getOrder")).build();

    /**
     * Build call for getOrder
     *
     * @param orderId An Amazon-defined order identifier. (required)
     * @param includedData A list of datasets to include in the response. (optional)
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    private okhttp3.Call getOrderCall(
            String orderId,
            List<String> includedData,
            final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath;
        if ("/orders/2026-01-01/orders/{orderId}".equals("/uploads/2020-11-01/uploadDestinations/{resource}")) {
            localVarPath =
                    "/orders/2026-01-01/orders/{orderId}".replaceAll("\\{" + "orderId" + "\\}", orderId.toString());
        } else {
            localVarPath = "/orders/2026-01-01/orders/{orderId}"
                    .replaceAll("\\{" + "orderId" + "\\}", apiClient.escapeString(orderId.toString()));
        }

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (includedData != null)
            localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "includedData", includedData));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {};

        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        return apiClient.buildCall(
                localVarPath,
                "GET",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarPostBody,
                localVarHeaderParams,
                localVarFormParams,
                progressRequestListener);
    }

    private okhttp3.Call getOrderValidateBeforeCall(
            String orderId,
            List<String> includedData,
            final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {
        // verify the required parameter 'orderId' is set
        if (orderId == null) {
            throw new ApiException("Missing the required parameter 'orderId' when calling getOrder(Async)");
        }

        return getOrderCall(orderId, includedData, progressRequestListener);
    }

    /**
     * Returns the order that you specify.
     *
     * @param orderId An Amazon-defined order identifier. (required)
     * @param includedData A list of datasets to include in the response. (optional)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return GetOrderResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public GetOrderResponse getOrder(String orderId, List<String> includedData, String restrictedDataToken)
            throws ApiException, LWAException {
        ApiResponse<GetOrderResponse> resp = getOrderWithHttpInfo(orderId, includedData, restrictedDataToken);
        return resp.getData();
    }

    /**
     * Returns the order that you specify.
     *
     * @param orderId An Amazon-defined order identifier. (required)
     * @param includedData A list of datasets to include in the response. (optional)
     * @return GetOrderResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public GetOrderResponse getOrder(String orderId, List<String> includedData) throws ApiException, LWAException {
        ApiResponse<GetOrderResponse> resp = getOrderWithHttpInfo(orderId, includedData, null);
        return resp.getData();
    }

    /**
     * Returns the order that you specify.
     *
     * @param orderId An Amazon-defined order identifier. (required)
     * @param includedData A list of datasets to include in the response. (optional)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return ApiResponse&lt;GetOrderResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<GetOrderResponse> getOrderWithHttpInfo(
            String orderId, List<String> includedData, String restrictedDataToken) throws ApiException, LWAException {
        okhttp3.Call call = getOrderValidateBeforeCall(orderId, includedData, null);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(request, restrictedDataToken, "GetOrderApi-getOrder");
            call = apiClient.getHttpClient().newCall(request);
        }

        if (disableRateLimiting || getOrderBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<GetOrderResponse>() {}.getType();
            return apiClient.execute(call, localVarReturnType);
        } else throw new ApiException.RateLimitExceeded("getOrder operation exceeds rate limit");
    }

    /**
     * Returns the order that you specify.
     *
     * @param orderId An Amazon-defined order identifier. (required)
     * @param includedData A list of datasets to include in the response. (optional)
     * @return ApiResponse&lt;GetOrderResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<GetOrderResponse> getOrderWithHttpInfo(String orderId, List<String> includedData)
            throws ApiException, LWAException {
        return getOrderWithHttpInfo(orderId, includedData, null);
    }

    /**
     * (asynchronously) Returns the order that you specify.
     *
     * @param orderId An Amazon-defined order identifier. (required)
     * @param includedData A list of datasets to include in the response. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call getOrderAsync(
            String orderId, List<String> includedData, final ApiCallback<GetOrderResponse> callback)
            throws ApiException, LWAException {
        return getOrderAsync(orderId, includedData, callback, null);
    }
    /**
     * (asynchronously) Returns the order that you specify.
     *
     * @param orderId An Amazon-defined order identifier. (required)
     * @param includedData A list of datasets to include in the response. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call getOrderAsync(
            String orderId,
            List<String> includedData,
            final ApiCallback<GetOrderResponse> callback,
            String restrictedDataToken)
            throws ApiException, LWAException {

        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressRequestListener = callback::onUploadProgress;
        }

        okhttp3.Call call = getOrderValidateBeforeCall(orderId, includedData, progressRequestListener);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(request, restrictedDataToken, "GetOrderApi-getOrder");
            call = apiClient.getHttpClient().newCall(request);
        }

        if (disableRateLimiting || getOrderBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<GetOrderResponse>() {}.getType();
            apiClient.executeAsync(call, localVarReturnType, callback);
            return call;
        } else throw new ApiException.RateLimitExceeded("getOrder operation exceeds rate limit");
    }

    public static class Builder {
        private LWAAuthorizationCredentials lwaAuthorizationCredentials;
        private String endpoint;
        private LWAAccessTokenCache lwaAccessTokenCache;
        private Boolean disableAccessTokenCache = false;
        private Boolean disableRateLimiting = false;

        public Builder lwaAuthorizationCredentials(LWAAuthorizationCredentials lwaAuthorizationCredentials) {
            this.lwaAuthorizationCredentials = lwaAuthorizationCredentials;
            return this;
        }

        public Builder endpoint(String endpoint) {
            this.endpoint = endpoint;
            return this;
        }

        public Builder lwaAccessTokenCache(LWAAccessTokenCache lwaAccessTokenCache) {
            this.lwaAccessTokenCache = lwaAccessTokenCache;
            return this;
        }

        public Builder disableAccessTokenCache() {
            this.disableAccessTokenCache = true;
            return this;
        }

        public Builder disableRateLimiting() {
            this.disableRateLimiting = true;
            return this;
        }

        public GetOrderApi build() {
            if (lwaAuthorizationCredentials == null) {
                throw new RuntimeException("LWAAuthorizationCredentials not set");
            }

            if (StringUtil.isEmpty(endpoint)) {
                throw new RuntimeException("Endpoint not set");
            }

            LWAAuthorizationSigner lwaAuthorizationSigner = null;
            if (disableAccessTokenCache) {
                lwaAuthorizationSigner = new LWAAuthorizationSigner(lwaAuthorizationCredentials);
            } else {
                if (lwaAccessTokenCache == null) {
                    lwaAccessTokenCache = new LWAAccessTokenCacheImpl();
                }
                lwaAuthorizationSigner = new LWAAuthorizationSigner(lwaAuthorizationCredentials, lwaAccessTokenCache);
            }

            return new GetOrderApi(
                    new ApiClient()
                            .setLWAAuthorizationSigner(lwaAuthorizationSigner)
                            .setBasePath(endpoint),
                    disableRateLimiting);
        }
    }
}
