/*
 * The Selling Partner API for Fulfillment Outbound
 * The Selling Partner API for Fulfillment Outbound lets you create applications that help a seller fulfill Multi-Channel Fulfillment orders using their inventory in Amazon's fulfillment network. You can get information on both potential and existing fulfillment orders.
 *
 * The version of the OpenAPI document: 2026-07-04
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package software.amazon.spapi.api.fulfillment.outbound.v2026_07_04;

import com.amazon.SellingPartnerAPIAA.LWAAccessTokenCache;
import com.amazon.SellingPartnerAPIAA.LWAAccessTokenCacheImpl;
import com.amazon.SellingPartnerAPIAA.LWAAuthorizationCredentials;
import com.amazon.SellingPartnerAPIAA.LWAAuthorizationSigner;
import com.amazon.SellingPartnerAPIAA.LWAException;
import com.amazon.SellingPartnerAPIAA.RestrictedDataTokenSigner;
import com.google.gson.reflect.TypeToken;
import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import software.amazon.spapi.ApiCallback;
import software.amazon.spapi.ApiClient;
import software.amazon.spapi.ApiException;
import software.amazon.spapi.ApiResponse;
import software.amazon.spapi.Pair;
import software.amazon.spapi.StringUtil;
import software.amazon.spapi.models.fulfillment.outbound.v2026_07_04.GetOffersRequest;
import software.amazon.spapi.models.fulfillment.outbound.v2026_07_04.GetOffersResponse;

public class OffersApi {
    private ApiClient apiClient;

    public OffersApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for getOffers_0
     *
     * @param body The request body schema for the &#x60;getOffers&#x60; operation. (required)
     * @param xAmznFulfillmentServiceId The identifier of the fulfillment service used for this operation. (optional)
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    private okhttp3.Call getOffers_0Call(
            GetOffersRequest body, String xAmznFulfillmentServiceId, final ApiCallback progressRequestListener)
            throws ApiException, LWAException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath;
        if ("/fulfillment/outbound/2026-07-04/offers".equals("/uploads/2020-11-01/uploadDestinations/{resource}")) {
            localVarPath = "/fulfillment/outbound/2026-07-04/offers";
        } else {
            localVarPath = "/fulfillment/outbound/2026-07-04/offers";
        }

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xAmznFulfillmentServiceId != null)
            localVarHeaderParams.put(
                    "x-amzn-fulfillment-service-id", apiClient.parameterToString(xAmznFulfillmentServiceId));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {"application/json"};
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        return apiClient.buildCall(
                localVarPath,
                "POST",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarPostBody,
                localVarHeaderParams,
                localVarFormParams,
                progressRequestListener);
    }

    private okhttp3.Call getOffers_0ValidateBeforeCall(
            GetOffersRequest body, String xAmznFulfillmentServiceId, final ApiCallback progressRequestListener)
            throws ApiException, LWAException {

        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling getOffers_0(Async)");
        }

        return getOffers_0Call(body, xAmznFulfillmentServiceId, progressRequestListener);
    }

    /**
     * Retrieve delivery options that include an estimated delivery date and offer expiration, based on criteria that
     * you specify. **Usage Plan:** | Rate (requests per second) | Burst | | ---- | ---- | | 5 | 30 | The
     * &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate limits that were applied to the
     * requested operation, when available. The preceding table indicates the default rate and burst values for this
     * operation. Selling partners whose business demands require higher throughput may see higher rate and burst values
     * than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner
     * API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param body The request body schema for the &#x60;getOffers&#x60; operation. (required)
     * @param xAmznFulfillmentServiceId The identifier of the fulfillment service used for this operation. (optional)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return GetOffersResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public GetOffersResponse getOffers_0(
            GetOffersRequest body, String xAmznFulfillmentServiceId, String restrictedDataToken)
            throws ApiException, LWAException {
        ApiResponse<GetOffersResponse> resp =
                getOffers_0WithHttpInfo(body, xAmznFulfillmentServiceId, restrictedDataToken);
        return resp.getData();
    }

    /**
     * Retrieve delivery options that include an estimated delivery date and offer expiration, based on criteria that
     * you specify. **Usage Plan:** | Rate (requests per second) | Burst | | ---- | ---- | | 5 | 30 | The
     * &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate limits that were applied to the
     * requested operation, when available. The preceding table indicates the default rate and burst values for this
     * operation. Selling partners whose business demands require higher throughput may see higher rate and burst values
     * than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner
     * API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param body The request body schema for the &#x60;getOffers&#x60; operation. (required)
     * @param xAmznFulfillmentServiceId The identifier of the fulfillment service used for this operation. (optional)
     * @return GetOffersResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public GetOffersResponse getOffers_0(GetOffersRequest body, String xAmznFulfillmentServiceId)
            throws ApiException, LWAException {
        ApiResponse<GetOffersResponse> resp = getOffers_0WithHttpInfo(body, xAmznFulfillmentServiceId, null);
        return resp.getData();
    }

    /**
     * Retrieve delivery options that include an estimated delivery date and offer expiration, based on criteria that
     * you specify. **Usage Plan:** | Rate (requests per second) | Burst | | ---- | ---- | | 5 | 30 | The
     * &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate limits that were applied to the
     * requested operation, when available. The preceding table indicates the default rate and burst values for this
     * operation. Selling partners whose business demands require higher throughput may see higher rate and burst values
     * than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner
     * API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param body The request body schema for the &#x60;getOffers&#x60; operation. (required)
     * @param xAmznFulfillmentServiceId The identifier of the fulfillment service used for this operation. (optional)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return ApiResponse&lt;GetOffersResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<GetOffersResponse> getOffers_0WithHttpInfo(
            GetOffersRequest body, String xAmznFulfillmentServiceId, String restrictedDataToken)
            throws ApiException, LWAException {
        okhttp3.Call call = getOffers_0ValidateBeforeCall(body, xAmznFulfillmentServiceId, null);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(request, restrictedDataToken, "OffersApi-getOffers_0");
            call = apiClient.getHttpClient().newCall(request);
        }

        Type localVarReturnType = new TypeToken<GetOffersResponse>() {}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieve delivery options that include an estimated delivery date and offer expiration, based on criteria that
     * you specify. **Usage Plan:** | Rate (requests per second) | Burst | | ---- | ---- | | 5 | 30 | The
     * &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate limits that were applied to the
     * requested operation, when available. The preceding table indicates the default rate and burst values for this
     * operation. Selling partners whose business demands require higher throughput may see higher rate and burst values
     * than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner
     * API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param body The request body schema for the &#x60;getOffers&#x60; operation. (required)
     * @param xAmznFulfillmentServiceId The identifier of the fulfillment service used for this operation. (optional)
     * @return ApiResponse&lt;GetOffersResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<GetOffersResponse> getOffers_0WithHttpInfo(
            GetOffersRequest body, String xAmznFulfillmentServiceId) throws ApiException, LWAException {
        return getOffers_0WithHttpInfo(body, xAmznFulfillmentServiceId, null);
    }

    /**
     * (asynchronously) Retrieve delivery options that include an estimated delivery date and offer expiration, based on
     * criteria that you specify. **Usage Plan:** | Rate (requests per second) | Burst | | ---- | ---- | | 5 | 30 | The
     * &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate limits that were applied to the
     * requested operation, when available. The preceding table indicates the default rate and burst values for this
     * operation. Selling partners whose business demands require higher throughput may see higher rate and burst values
     * than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner
     * API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param body The request body schema for the &#x60;getOffers&#x60; operation. (required)
     * @param xAmznFulfillmentServiceId The identifier of the fulfillment service used for this operation. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call getOffers_0Async(
            GetOffersRequest body, String xAmznFulfillmentServiceId, final ApiCallback<GetOffersResponse> callback)
            throws ApiException, LWAException {
        return getOffers_0Async(body, xAmznFulfillmentServiceId, callback, null);
    }
    /**
     * (asynchronously) Retrieve delivery options that include an estimated delivery date and offer expiration, based on
     * criteria that you specify. **Usage Plan:** | Rate (requests per second) | Burst | | ---- | ---- | | 5 | 30 | The
     * &#x60;x-amzn-RateLimit-Limit&#x60; response header returns the usage plan rate limits that were applied to the
     * requested operation, when available. The preceding table indicates the default rate and burst values for this
     * operation. Selling partners whose business demands require higher throughput may see higher rate and burst values
     * than those shown here. For more information, see [Usage Plans and Rate Limits in the Selling Partner
     * API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).
     *
     * @param body The request body schema for the &#x60;getOffers&#x60; operation. (required)
     * @param xAmznFulfillmentServiceId The identifier of the fulfillment service used for this operation. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call getOffers_0Async(
            GetOffersRequest body,
            String xAmznFulfillmentServiceId,
            final ApiCallback<GetOffersResponse> callback,
            String restrictedDataToken)
            throws ApiException, LWAException {

        ApiCallback progressRequestListener = null;

        if (callback != null) {
            progressRequestListener = callback;
        }

        okhttp3.Call call = getOffers_0ValidateBeforeCall(body, xAmznFulfillmentServiceId, progressRequestListener);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(request, restrictedDataToken, "OffersApi-getOffers_0");
            call = apiClient.getHttpClient().newCall(request);
        }

        Type localVarReturnType = new TypeToken<GetOffersResponse>() {}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }

    public static class Builder {
        private LWAAuthorizationCredentials lwaAuthorizationCredentials;
        private String endpoint;
        private LWAAccessTokenCache lwaAccessTokenCache;
        private Boolean disableAccessTokenCache = false;

        public Builder lwaAuthorizationCredentials(LWAAuthorizationCredentials lwaAuthorizationCredentials) {
            this.lwaAuthorizationCredentials = lwaAuthorizationCredentials;
            return this;
        }

        public Builder endpoint(String endpoint) {
            this.endpoint = endpoint;
            return this;
        }

        public Builder lwaAccessTokenCache(LWAAccessTokenCache lwaAccessTokenCache) {
            this.lwaAccessTokenCache = lwaAccessTokenCache;
            return this;
        }

        public Builder disableAccessTokenCache() {
            this.disableAccessTokenCache = true;
            return this;
        }

        public OffersApi build() {
            if (lwaAuthorizationCredentials == null) {
                throw new RuntimeException("LWAAuthorizationCredentials not set");
            }

            if (StringUtil.isEmpty(endpoint)) {
                throw new RuntimeException("Endpoint not set");
            }

            LWAAuthorizationSigner lwaAuthorizationSigner = null;
            if (disableAccessTokenCache) {
                lwaAuthorizationSigner = new LWAAuthorizationSigner(lwaAuthorizationCredentials);
            } else {
                if (lwaAccessTokenCache == null) {
                    lwaAccessTokenCache = new LWAAccessTokenCacheImpl();
                }
                lwaAuthorizationSigner = new LWAAuthorizationSigner(lwaAuthorizationCredentials, lwaAccessTokenCache);
            }

            return new OffersApi(new ApiClient()
                    .setLWAAuthorizationSigner(lwaAuthorizationSigner)
                    .setBasePath(endpoint));
        }
    }
}
