# coding: utf-8

"""
    Selling Partner API for A+ Content Management

    With the A+ Content API, you can build applications that help selling partners add rich marketing content to their Amazon product detail pages. A+ Content helps selling partners share their brand and product story, which helps buyers make informed purchasing decisions. Selling partners assemble content by choosing from content modules and adding images and text.

    The version of the OpenAPI document: 2020-11-01
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from spapi.api_client import ApiClient


class AplusContentApi(object):
    """NOTE: This class is auto generated by the openapi generator.

    Do not edit the class manually.
    """

    api_models_module = "spapi.models.apluscontent_v2020_11_01"

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client
        self.classFileName = 'aplus_content_api'

    def create_content_document(self, marketplace_id, post_content_document_request, **kwargs):  # noqa: E501
        """create_content_document  # noqa: E501

        Create a new A+ Content document.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 10 | 10 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_content_document(marketplace_id, post_content_document_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str marketplace_id: The identifier for the Amazon store where the A+ Content is published. (required)
        :param PostContentDocumentRequest post_content_document_request: The content document request details. (required)
        :return: PostContentDocumentResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_content_document_with_http_info(marketplace_id, post_content_document_request, **kwargs)  # noqa: E501
        else:
            (data) = self.create_content_document_with_http_info(marketplace_id, post_content_document_request, **kwargs)  # noqa: E501
            return data

    def create_content_document_with_http_info(self, marketplace_id, post_content_document_request, **kwargs):  # noqa: E501
        """create_content_document  # noqa: E501

        Create a new A+ Content document.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 10 | 10 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_content_document_with_http_info(marketplace_id, post_content_document_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str marketplace_id: The identifier for the Amazon store where the A+ Content is published. (required)
        :param PostContentDocumentRequest post_content_document_request: The content document request details. (required)
        :return: PostContentDocumentResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['marketplace_id', 'post_content_document_request']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_content_document" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'marketplace_id' is set
        if self.api_client.client_side_validation and ('marketplace_id' not in params or
                                                       params['marketplace_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `marketplace_id` when calling `create_content_document`")  # noqa: E501
        # verify the required parameter 'post_content_document_request' is set
        if self.api_client.client_side_validation and ('post_content_document_request' not in params or
                                                       params['post_content_document_request'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `post_content_document_request` when calling `create_content_document`")  # noqa: E501

        if self.api_client.client_side_validation and ('marketplace_id' in params and
                                                       len(params['marketplace_id']) < 1):
            raise ValueError("Invalid value for parameter `marketplace_id` when calling `create_content_document`, length must be greater than or equal to `1`")  # noqa: E501
        collection_formats = {}

        path_params = {}

        query_params = []
        if 'marketplace_id' in params:
            query_params.append(('marketplaceId', params['marketplace_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'post_content_document_request' in params:
            body_params = params['post_content_document_request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/aplus/2020-11-01/contentDocuments', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PostContentDocumentResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)

    def create_media(self, create_media_request, **kwargs):  # noqa: E501
        """create_media  # noqa: E501

        Create a media asset record. The `mediaType` field determines the type of asset to create.  This operation is idempotent; if the asset or pairing already exists with identical metadata, this operation returns a `200` response with existing data. Returns `201` when a new asset or pairing is created. Returns `409` if the asset or pairing already exists but the metadata fields differ.  If an `uploadDestinationId` is provided, it is resolved to its `mediaId` before any further processing. A request that references an asset by `uploadDestinationId` and a subsequent request that uses the resulting `mediaId` are treated as referring to the same identity.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 10 | 10 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_media(create_media_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateMediaRequest create_media_request: The media creation request details. (required)
        :return: CreateMediaResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_media_with_http_info(create_media_request, **kwargs)  # noqa: E501
        else:
            (data) = self.create_media_with_http_info(create_media_request, **kwargs)  # noqa: E501
            return data

    def create_media_with_http_info(self, create_media_request, **kwargs):  # noqa: E501
        """create_media  # noqa: E501

        Create a media asset record. The `mediaType` field determines the type of asset to create.  This operation is idempotent; if the asset or pairing already exists with identical metadata, this operation returns a `200` response with existing data. Returns `201` when a new asset or pairing is created. Returns `409` if the asset or pairing already exists but the metadata fields differ.  If an `uploadDestinationId` is provided, it is resolved to its `mediaId` before any further processing. A request that references an asset by `uploadDestinationId` and a subsequent request that uses the resulting `mediaId` are treated as referring to the same identity.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 10 | 10 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_media_with_http_info(create_media_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateMediaRequest create_media_request: The media creation request details. (required)
        :return: CreateMediaResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['create_media_request']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_media" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'create_media_request' is set
        if self.api_client.client_side_validation and ('create_media_request' not in params or
                                                       params['create_media_request'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `create_media_request` when calling `create_media`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'create_media_request' in params:
            body_params = params['create_media_request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/aplus/2020-11-01/media', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CreateMediaResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)

    def get_content_document(self, content_reference_key, marketplace_id, included_data_set, **kwargs):  # noqa: E501
        """get_content_document  # noqa: E501

        Retrieve an A+ Content document, if available.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 10 | 10 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_content_document(content_reference_key, marketplace_id, included_data_set, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str content_reference_key: The unique reference key for the A+ Content document. A content reference key cannot form a permalink and may change in the future. A content reference key is not guaranteed to match any A+ Content identifier. (required)
        :param str marketplace_id: The identifier for the Amazon store where the A+ Content is published. (required)
        :param List[str] included_data_set: The set of A+ Content data types to include in the response. (required)
        :return: GetContentDocumentResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_content_document_with_http_info(content_reference_key, marketplace_id, included_data_set, **kwargs)  # noqa: E501
        else:
            (data) = self.get_content_document_with_http_info(content_reference_key, marketplace_id, included_data_set, **kwargs)  # noqa: E501
            return data

    def get_content_document_with_http_info(self, content_reference_key, marketplace_id, included_data_set, **kwargs):  # noqa: E501
        """get_content_document  # noqa: E501

        Retrieve an A+ Content document, if available.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 10 | 10 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_content_document_with_http_info(content_reference_key, marketplace_id, included_data_set, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str content_reference_key: The unique reference key for the A+ Content document. A content reference key cannot form a permalink and may change in the future. A content reference key is not guaranteed to match any A+ Content identifier. (required)
        :param str marketplace_id: The identifier for the Amazon store where the A+ Content is published. (required)
        :param List[str] included_data_set: The set of A+ Content data types to include in the response. (required)
        :return: GetContentDocumentResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['content_reference_key', 'marketplace_id', 'included_data_set']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_content_document" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'content_reference_key' is set
        if self.api_client.client_side_validation and ('content_reference_key' not in params or
                                                       params['content_reference_key'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `content_reference_key` when calling `get_content_document`")  # noqa: E501
        # verify the required parameter 'marketplace_id' is set
        if self.api_client.client_side_validation and ('marketplace_id' not in params or
                                                       params['marketplace_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `marketplace_id` when calling `get_content_document`")  # noqa: E501
        # verify the required parameter 'included_data_set' is set
        if self.api_client.client_side_validation and ('included_data_set' not in params or
                                                       params['included_data_set'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `included_data_set` when calling `get_content_document`")  # noqa: E501

        if self.api_client.client_side_validation and ('content_reference_key' in params and
                                                       len(params['content_reference_key']) < 1):
            raise ValueError("Invalid value for parameter `content_reference_key` when calling `get_content_document`, length must be greater than or equal to `1`")  # noqa: E501
        if self.api_client.client_side_validation and ('marketplace_id' in params and
                                                       len(params['marketplace_id']) < 1):
            raise ValueError("Invalid value for parameter `marketplace_id` when calling `get_content_document`, length must be greater than or equal to `1`")  # noqa: E501
        if self.api_client.client_side_validation and ('included_data_set' in params and
                                            len(params['included_data_set']) < 1):
            raise ValueError("Invalid value for parameter `included_data_set` when calling `get_content_document`, number of items must be greater than or equal to `1`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'content_reference_key' in params:
            path_params['contentReferenceKey'] = params['content_reference_key']  # noqa: E501

        query_params = []
        if 'marketplace_id' in params:
            query_params.append(('marketplaceId', params['marketplace_id']))  # noqa: E501
        if 'included_data_set' in params:
            query_params.append(('includedDataSet', params['included_data_set']))  # noqa: E501
            collection_formats['includedDataSet'] = 'csv'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/aplus/2020-11-01/contentDocuments/{contentReferenceKey}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetContentDocumentResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)

    def get_media(self, media_id, **kwargs):  # noqa: E501
        """get_media  # noqa: E501

        Retrieve media metadata and related media for a given media ID. The response uses the unified Media shape. Related media associations are also included in the response.  When `associatedMediaId` is provided, `relatedMedia` is filtered to the specific pairing. When omitted, all related media are returned.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 10 | 10 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_media(media_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str media_id: The unique identifier for the media asset. (required)
        :param str associated_media_id: When provided, returns only the specific association. When omitted, returns all associated media.
        :return: GetMediaResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_media_with_http_info(media_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_media_with_http_info(media_id, **kwargs)  # noqa: E501
            return data

    def get_media_with_http_info(self, media_id, **kwargs):  # noqa: E501
        """get_media  # noqa: E501

        Retrieve media metadata and related media for a given media ID. The response uses the unified Media shape. Related media associations are also included in the response.  When `associatedMediaId` is provided, `relatedMedia` is filtered to the specific pairing. When omitted, all related media are returned.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 10 | 10 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_media_with_http_info(media_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str media_id: The unique identifier for the media asset. (required)
        :param str associated_media_id: When provided, returns only the specific association. When omitted, returns all associated media.
        :return: GetMediaResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['media_id', 'associated_media_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_media" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'media_id' is set
        if self.api_client.client_side_validation and ('media_id' not in params or
                                                       params['media_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `media_id` when calling `get_media`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'media_id' in params:
            path_params['mediaId'] = params['media_id']  # noqa: E501

        query_params = []
        if 'associated_media_id' in params:
            query_params.append(('associatedMediaId', params['associated_media_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/aplus/2020-11-01/media/{mediaId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetMediaResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)

    def list_content_document_asin_relations(self, content_reference_key, marketplace_id, **kwargs):  # noqa: E501
        """list_content_document_asin_relations  # noqa: E501

        Retrieve a list of ASINs related to the specified A+ Content document, if available. If you do not include the `asinSet` parameter, the operation returns all ASINs related to the content document.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 10 | 10 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_content_document_asin_relations(content_reference_key, marketplace_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str content_reference_key: The unique reference key for the A+ Content document. A content reference key cannot form a permalink and may change in the future. A content reference key is not guaranteed to match any A+ Content identifier. (required)
        :param str marketplace_id: The identifier for the Amazon store where the A+ Content is published. (required)
        :param List[str] included_data_set: The set of A+ Content data types to include in the response. If you do not include this parameter, the operation returns the related ASINs without metadata.
        :param List[str] asin_set: The set of ASINs.
        :param str page_token: A page token from the `nextPageToken` response element returned by your previous call to this operation. `nextPageToken` is returned when the results of a call exceed the page size. To get the next page of results, call the operation and include `pageToken` as the only parameter. Specifying `pageToken` with any other parameter will cause the request to fail. When no `nextPageToken` value is returned there are no more pages to return. A `pageToken` value is not usable across different operations.
        :return: ListContentDocumentAsinRelationsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.list_content_document_asin_relations_with_http_info(content_reference_key, marketplace_id, **kwargs)  # noqa: E501
        else:
            (data) = self.list_content_document_asin_relations_with_http_info(content_reference_key, marketplace_id, **kwargs)  # noqa: E501
            return data

    def list_content_document_asin_relations_with_http_info(self, content_reference_key, marketplace_id, **kwargs):  # noqa: E501
        """list_content_document_asin_relations  # noqa: E501

        Retrieve a list of ASINs related to the specified A+ Content document, if available. If you do not include the `asinSet` parameter, the operation returns all ASINs related to the content document.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 10 | 10 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.list_content_document_asin_relations_with_http_info(content_reference_key, marketplace_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str content_reference_key: The unique reference key for the A+ Content document. A content reference key cannot form a permalink and may change in the future. A content reference key is not guaranteed to match any A+ Content identifier. (required)
        :param str marketplace_id: The identifier for the Amazon store where the A+ Content is published. (required)
        :param List[str] included_data_set: The set of A+ Content data types to include in the response. If you do not include this parameter, the operation returns the related ASINs without metadata.
        :param List[str] asin_set: The set of ASINs.
        :param str page_token: A page token from the `nextPageToken` response element returned by your previous call to this operation. `nextPageToken` is returned when the results of a call exceed the page size. To get the next page of results, call the operation and include `pageToken` as the only parameter. Specifying `pageToken` with any other parameter will cause the request to fail. When no `nextPageToken` value is returned there are no more pages to return. A `pageToken` value is not usable across different operations.
        :return: ListContentDocumentAsinRelationsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['content_reference_key', 'marketplace_id', 'included_data_set', 'asin_set', 'page_token']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_content_document_asin_relations" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'content_reference_key' is set
        if self.api_client.client_side_validation and ('content_reference_key' not in params or
                                                       params['content_reference_key'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `content_reference_key` when calling `list_content_document_asin_relations`")  # noqa: E501
        # verify the required parameter 'marketplace_id' is set
        if self.api_client.client_side_validation and ('marketplace_id' not in params or
                                                       params['marketplace_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `marketplace_id` when calling `list_content_document_asin_relations`")  # noqa: E501

        if self.api_client.client_side_validation and ('content_reference_key' in params and
                                                       len(params['content_reference_key']) < 1):
            raise ValueError("Invalid value for parameter `content_reference_key` when calling `list_content_document_asin_relations`, length must be greater than or equal to `1`")  # noqa: E501
        if self.api_client.client_side_validation and ('marketplace_id' in params and
                                                       len(params['marketplace_id']) < 1):
            raise ValueError("Invalid value for parameter `marketplace_id` when calling `list_content_document_asin_relations`, length must be greater than or equal to `1`")  # noqa: E501
        if self.api_client.client_side_validation and ('included_data_set' in params and
                                            len(params['included_data_set']) < 0):
            raise ValueError("Invalid value for parameter `included_data_set` when calling `list_content_document_asin_relations`, number of items must be greater than or equal to `0`")  # noqa: E501
        if self.api_client.client_side_validation and ('page_token' in params and
                                                       len(params['page_token']) < 1):
            raise ValueError("Invalid value for parameter `page_token` when calling `list_content_document_asin_relations`, length must be greater than or equal to `1`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'content_reference_key' in params:
            path_params['contentReferenceKey'] = params['content_reference_key']  # noqa: E501

        query_params = []
        if 'marketplace_id' in params:
            query_params.append(('marketplaceId', params['marketplace_id']))  # noqa: E501
        if 'included_data_set' in params:
            query_params.append(('includedDataSet', params['included_data_set']))  # noqa: E501
            collection_formats['includedDataSet'] = 'csv'  # noqa: E501
        if 'asin_set' in params:
            query_params.append(('asinSet', params['asin_set']))  # noqa: E501
            collection_formats['asinSet'] = 'csv'  # noqa: E501
        if 'page_token' in params:
            query_params.append(('pageToken', params['page_token']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/aplus/2020-11-01/contentDocuments/{contentReferenceKey}/asins', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ListContentDocumentAsinRelationsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)

    def post_content_document_approval_submission(self, content_reference_key, marketplace_id, **kwargs):  # noqa: E501
        """post_content_document_approval_submission  # noqa: E501

        Submits an A+ Content document for review, approval, and publishing.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 10 | 10 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_content_document_approval_submission(content_reference_key, marketplace_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str content_reference_key: The unique reference key for the A+ Content document. A content reference key cannot form a permalink and may change in the future. A content reference key is not guaranteed to match any A+ Content identifier. (required)
        :param str marketplace_id: The identifier for the Amazon store where the A+ Content is published. (required)
        :return: PostContentDocumentApprovalSubmissionResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.post_content_document_approval_submission_with_http_info(content_reference_key, marketplace_id, **kwargs)  # noqa: E501
        else:
            (data) = self.post_content_document_approval_submission_with_http_info(content_reference_key, marketplace_id, **kwargs)  # noqa: E501
            return data

    def post_content_document_approval_submission_with_http_info(self, content_reference_key, marketplace_id, **kwargs):  # noqa: E501
        """post_content_document_approval_submission  # noqa: E501

        Submits an A+ Content document for review, approval, and publishing.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 10 | 10 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_content_document_approval_submission_with_http_info(content_reference_key, marketplace_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str content_reference_key: The unique reference key for the A+ Content document. A content reference key cannot form a permalink and may change in the future. A content reference key is not guaranteed to match any A+ Content identifier. (required)
        :param str marketplace_id: The identifier for the Amazon store where the A+ Content is published. (required)
        :return: PostContentDocumentApprovalSubmissionResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['content_reference_key', 'marketplace_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_content_document_approval_submission" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'content_reference_key' is set
        if self.api_client.client_side_validation and ('content_reference_key' not in params or
                                                       params['content_reference_key'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `content_reference_key` when calling `post_content_document_approval_submission`")  # noqa: E501
        # verify the required parameter 'marketplace_id' is set
        if self.api_client.client_side_validation and ('marketplace_id' not in params or
                                                       params['marketplace_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `marketplace_id` when calling `post_content_document_approval_submission`")  # noqa: E501

        if self.api_client.client_side_validation and ('content_reference_key' in params and
                                                       len(params['content_reference_key']) < 1):
            raise ValueError("Invalid value for parameter `content_reference_key` when calling `post_content_document_approval_submission`, length must be greater than or equal to `1`")  # noqa: E501
        if self.api_client.client_side_validation and ('marketplace_id' in params and
                                                       len(params['marketplace_id']) < 1):
            raise ValueError("Invalid value for parameter `marketplace_id` when calling `post_content_document_approval_submission`, length must be greater than or equal to `1`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'content_reference_key' in params:
            path_params['contentReferenceKey'] = params['content_reference_key']  # noqa: E501

        query_params = []
        if 'marketplace_id' in params:
            query_params.append(('marketplaceId', params['marketplace_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/aplus/2020-11-01/contentDocuments/{contentReferenceKey}/approvalSubmissions', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PostContentDocumentApprovalSubmissionResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)

    def post_content_document_asin_relations(self, content_reference_key, marketplace_id, post_content_document_asin_relations_request, **kwargs):  # noqa: E501
        """post_content_document_asin_relations  # noqa: E501

        Replaces all ASINs related to the specified A+ Content document, if available. This may add or remove ASINs, depending on the current set of related ASINs. Removing an ASIN has the side effect of suspending the content document from that ASIN.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 10 | 10 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_content_document_asin_relations(content_reference_key, marketplace_id, post_content_document_asin_relations_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str content_reference_key: The unique reference key for the A+ Content document. A content reference key cannot form a permalink and may change in the future. A content reference key is not guaranteed to match any A+ Content identifier. (required)
        :param str marketplace_id: The identifier for the Amazon store where the A+ Content is published. (required)
        :param PostContentDocumentAsinRelationsRequest post_content_document_asin_relations_request: The content document ASIN relations request details. (required)
        :return: PostContentDocumentAsinRelationsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.post_content_document_asin_relations_with_http_info(content_reference_key, marketplace_id, post_content_document_asin_relations_request, **kwargs)  # noqa: E501
        else:
            (data) = self.post_content_document_asin_relations_with_http_info(content_reference_key, marketplace_id, post_content_document_asin_relations_request, **kwargs)  # noqa: E501
            return data

    def post_content_document_asin_relations_with_http_info(self, content_reference_key, marketplace_id, post_content_document_asin_relations_request, **kwargs):  # noqa: E501
        """post_content_document_asin_relations  # noqa: E501

        Replaces all ASINs related to the specified A+ Content document, if available. This may add or remove ASINs, depending on the current set of related ASINs. Removing an ASIN has the side effect of suspending the content document from that ASIN.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 10 | 10 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_content_document_asin_relations_with_http_info(content_reference_key, marketplace_id, post_content_document_asin_relations_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str content_reference_key: The unique reference key for the A+ Content document. A content reference key cannot form a permalink and may change in the future. A content reference key is not guaranteed to match any A+ Content identifier. (required)
        :param str marketplace_id: The identifier for the Amazon store where the A+ Content is published. (required)
        :param PostContentDocumentAsinRelationsRequest post_content_document_asin_relations_request: The content document ASIN relations request details. (required)
        :return: PostContentDocumentAsinRelationsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['content_reference_key', 'marketplace_id', 'post_content_document_asin_relations_request']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_content_document_asin_relations" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'content_reference_key' is set
        if self.api_client.client_side_validation and ('content_reference_key' not in params or
                                                       params['content_reference_key'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `content_reference_key` when calling `post_content_document_asin_relations`")  # noqa: E501
        # verify the required parameter 'marketplace_id' is set
        if self.api_client.client_side_validation and ('marketplace_id' not in params or
                                                       params['marketplace_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `marketplace_id` when calling `post_content_document_asin_relations`")  # noqa: E501
        # verify the required parameter 'post_content_document_asin_relations_request' is set
        if self.api_client.client_side_validation and ('post_content_document_asin_relations_request' not in params or
                                                       params['post_content_document_asin_relations_request'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `post_content_document_asin_relations_request` when calling `post_content_document_asin_relations`")  # noqa: E501

        if self.api_client.client_side_validation and ('content_reference_key' in params and
                                                       len(params['content_reference_key']) < 1):
            raise ValueError("Invalid value for parameter `content_reference_key` when calling `post_content_document_asin_relations`, length must be greater than or equal to `1`")  # noqa: E501
        if self.api_client.client_side_validation and ('marketplace_id' in params and
                                                       len(params['marketplace_id']) < 1):
            raise ValueError("Invalid value for parameter `marketplace_id` when calling `post_content_document_asin_relations`, length must be greater than or equal to `1`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'content_reference_key' in params:
            path_params['contentReferenceKey'] = params['content_reference_key']  # noqa: E501

        query_params = []
        if 'marketplace_id' in params:
            query_params.append(('marketplaceId', params['marketplace_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'post_content_document_asin_relations_request' in params:
            body_params = params['post_content_document_asin_relations_request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/aplus/2020-11-01/contentDocuments/{contentReferenceKey}/asins', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PostContentDocumentAsinRelationsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)

    def post_content_document_suspend_submission(self, content_reference_key, marketplace_id, **kwargs):  # noqa: E501
        """post_content_document_suspend_submission  # noqa: E501

        Submits a request to suspend visible A+ Content. This neither deletes the content document nor the ASIN relations.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 10 | 10 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_content_document_suspend_submission(content_reference_key, marketplace_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str content_reference_key: The unique reference key for the A+ Content document. A content reference key cannot form a permalink and may change in the future. A content reference key is not guaranteed to match any A+ Content identifier. (required)
        :param str marketplace_id: The identifier for the Amazon store where the A+ Content is published. (required)
        :return: PostContentDocumentSuspendSubmissionResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.post_content_document_suspend_submission_with_http_info(content_reference_key, marketplace_id, **kwargs)  # noqa: E501
        else:
            (data) = self.post_content_document_suspend_submission_with_http_info(content_reference_key, marketplace_id, **kwargs)  # noqa: E501
            return data

    def post_content_document_suspend_submission_with_http_info(self, content_reference_key, marketplace_id, **kwargs):  # noqa: E501
        """post_content_document_suspend_submission  # noqa: E501

        Submits a request to suspend visible A+ Content. This neither deletes the content document nor the ASIN relations.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 10 | 10 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_content_document_suspend_submission_with_http_info(content_reference_key, marketplace_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str content_reference_key: The unique reference key for the A+ Content document. A content reference key cannot form a permalink and may change in the future. A content reference key is not guaranteed to match any A+ Content identifier. (required)
        :param str marketplace_id: The identifier for the Amazon store where the A+ Content is published. (required)
        :return: PostContentDocumentSuspendSubmissionResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['content_reference_key', 'marketplace_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_content_document_suspend_submission" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'content_reference_key' is set
        if self.api_client.client_side_validation and ('content_reference_key' not in params or
                                                       params['content_reference_key'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `content_reference_key` when calling `post_content_document_suspend_submission`")  # noqa: E501
        # verify the required parameter 'marketplace_id' is set
        if self.api_client.client_side_validation and ('marketplace_id' not in params or
                                                       params['marketplace_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `marketplace_id` when calling `post_content_document_suspend_submission`")  # noqa: E501

        if self.api_client.client_side_validation and ('content_reference_key' in params and
                                                       len(params['content_reference_key']) < 1):
            raise ValueError("Invalid value for parameter `content_reference_key` when calling `post_content_document_suspend_submission`, length must be greater than or equal to `1`")  # noqa: E501
        if self.api_client.client_side_validation and ('marketplace_id' in params and
                                                       len(params['marketplace_id']) < 1):
            raise ValueError("Invalid value for parameter `marketplace_id` when calling `post_content_document_suspend_submission`, length must be greater than or equal to `1`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'content_reference_key' in params:
            path_params['contentReferenceKey'] = params['content_reference_key']  # noqa: E501

        query_params = []
        if 'marketplace_id' in params:
            query_params.append(('marketplaceId', params['marketplace_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/aplus/2020-11-01/contentDocuments/{contentReferenceKey}/suspendSubmissions', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PostContentDocumentSuspendSubmissionResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)

    def search_content_documents(self, marketplace_id, **kwargs):  # noqa: E501
        """search_content_documents  # noqa: E501

        Retrieve a list of all A+ Content documents assigned to a selling partner. This operation returns only the metadata of the A+ Content documents. Call the `getContentDocument` operation to get the actual contents of the A+ Content documents.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 10 | 10 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.search_content_documents(marketplace_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str marketplace_id: The identifier for the Amazon store where the A+ Content is published. (required)
        :param str page_token: A page token from the `nextPageToken` response element returned by your previous call to this operation. `nextPageToken` is returned when the results of a call exceed the page size. To get the next page of results, call the operation and include `pageToken` as the only parameter. Specifying `pageToken` with any other parameter will cause the request to fail. When no `nextPageToken` value is returned there are no more pages to return. A `pageToken` value is not usable across different operations.
        :return: SearchContentDocumentsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.search_content_documents_with_http_info(marketplace_id, **kwargs)  # noqa: E501
        else:
            (data) = self.search_content_documents_with_http_info(marketplace_id, **kwargs)  # noqa: E501
            return data

    def search_content_documents_with_http_info(self, marketplace_id, **kwargs):  # noqa: E501
        """search_content_documents  # noqa: E501

        Retrieve a list of all A+ Content documents assigned to a selling partner. This operation returns only the metadata of the A+ Content documents. Call the `getContentDocument` operation to get the actual contents of the A+ Content documents.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 10 | 10 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.search_content_documents_with_http_info(marketplace_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str marketplace_id: The identifier for the Amazon store where the A+ Content is published. (required)
        :param str page_token: A page token from the `nextPageToken` response element returned by your previous call to this operation. `nextPageToken` is returned when the results of a call exceed the page size. To get the next page of results, call the operation and include `pageToken` as the only parameter. Specifying `pageToken` with any other parameter will cause the request to fail. When no `nextPageToken` value is returned there are no more pages to return. A `pageToken` value is not usable across different operations.
        :return: SearchContentDocumentsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['marketplace_id', 'page_token']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method search_content_documents" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'marketplace_id' is set
        if self.api_client.client_side_validation and ('marketplace_id' not in params or
                                                       params['marketplace_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `marketplace_id` when calling `search_content_documents`")  # noqa: E501

        if self.api_client.client_side_validation and ('marketplace_id' in params and
                                                       len(params['marketplace_id']) < 1):
            raise ValueError("Invalid value for parameter `marketplace_id` when calling `search_content_documents`, length must be greater than or equal to `1`")  # noqa: E501
        if self.api_client.client_side_validation and ('page_token' in params and
                                                       len(params['page_token']) < 1):
            raise ValueError("Invalid value for parameter `page_token` when calling `search_content_documents`, length must be greater than or equal to `1`")  # noqa: E501
        collection_formats = {}

        path_params = {}

        query_params = []
        if 'marketplace_id' in params:
            query_params.append(('marketplaceId', params['marketplace_id']))  # noqa: E501
        if 'page_token' in params:
            query_params.append(('pageToken', params['page_token']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/aplus/2020-11-01/contentDocuments', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SearchContentDocumentsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)

    def search_content_publish_records(self, marketplace_id, asin, **kwargs):  # noqa: E501
        """search_content_publish_records  # noqa: E501

        Searches for A+ Content publishing records, if available.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 10 | 10 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.search_content_publish_records(marketplace_id, asin, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str marketplace_id: The identifier for the Amazon store where the A+ Content is published. (required)
        :param str asin: The Amazon Standard Identification Number (ASIN). (required)
        :param str page_token: A page token from the `nextPageToken` response element returned by your previous call to this operation. `nextPageToken` is returned when the results of a call exceed the page size. To get the next page of results, call the operation and include `pageToken` as the only parameter. Specifying `pageToken` with any other parameter will cause the request to fail. When no `nextPageToken` value is returned there are no more pages to return. A `pageToken` value is not usable across different operations.
        :return: SearchContentPublishRecordsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.search_content_publish_records_with_http_info(marketplace_id, asin, **kwargs)  # noqa: E501
        else:
            (data) = self.search_content_publish_records_with_http_info(marketplace_id, asin, **kwargs)  # noqa: E501
            return data

    def search_content_publish_records_with_http_info(self, marketplace_id, asin, **kwargs):  # noqa: E501
        """search_content_publish_records  # noqa: E501

        Searches for A+ Content publishing records, if available.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 10 | 10 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.search_content_publish_records_with_http_info(marketplace_id, asin, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str marketplace_id: The identifier for the Amazon store where the A+ Content is published. (required)
        :param str asin: The Amazon Standard Identification Number (ASIN). (required)
        :param str page_token: A page token from the `nextPageToken` response element returned by your previous call to this operation. `nextPageToken` is returned when the results of a call exceed the page size. To get the next page of results, call the operation and include `pageToken` as the only parameter. Specifying `pageToken` with any other parameter will cause the request to fail. When no `nextPageToken` value is returned there are no more pages to return. A `pageToken` value is not usable across different operations.
        :return: SearchContentPublishRecordsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['marketplace_id', 'asin', 'page_token']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method search_content_publish_records" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'marketplace_id' is set
        if self.api_client.client_side_validation and ('marketplace_id' not in params or
                                                       params['marketplace_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `marketplace_id` when calling `search_content_publish_records`")  # noqa: E501
        # verify the required parameter 'asin' is set
        if self.api_client.client_side_validation and ('asin' not in params or
                                                       params['asin'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `asin` when calling `search_content_publish_records`")  # noqa: E501

        if self.api_client.client_side_validation and ('marketplace_id' in params and
                                                       len(params['marketplace_id']) < 1):
            raise ValueError("Invalid value for parameter `marketplace_id` when calling `search_content_publish_records`, length must be greater than or equal to `1`")  # noqa: E501
        if self.api_client.client_side_validation and ('asin' in params and
                                                       len(params['asin']) < 10):
            raise ValueError("Invalid value for parameter `asin` when calling `search_content_publish_records`, length must be greater than or equal to `10`")  # noqa: E501
        if self.api_client.client_side_validation and ('page_token' in params and
                                                       len(params['page_token']) < 1):
            raise ValueError("Invalid value for parameter `page_token` when calling `search_content_publish_records`, length must be greater than or equal to `1`")  # noqa: E501
        collection_formats = {}

        path_params = {}

        query_params = []
        if 'marketplace_id' in params:
            query_params.append(('marketplaceId', params['marketplace_id']))  # noqa: E501
        if 'asin' in params:
            query_params.append(('asin', params['asin']))  # noqa: E501
        if 'page_token' in params:
            query_params.append(('pageToken', params['page_token']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/aplus/2020-11-01/contentPublishRecords', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SearchContentPublishRecordsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)

    def update_content_document(self, content_reference_key, marketplace_id, post_content_document_request, **kwargs):  # noqa: E501
        """update_content_document  # noqa: E501

        Update an existing A+ Content document.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 10 | 10 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_content_document(content_reference_key, marketplace_id, post_content_document_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str content_reference_key: The unique reference key for the A+ Content document. A content reference key cannot form a permalink and may change in the future. A content reference key is not guaranteed to match any A+ Content identifier. (required)
        :param str marketplace_id: The identifier for the Amazon store where the A+ Content is published. (required)
        :param PostContentDocumentRequest post_content_document_request: The content document request details. (required)
        :return: PostContentDocumentResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_content_document_with_http_info(content_reference_key, marketplace_id, post_content_document_request, **kwargs)  # noqa: E501
        else:
            (data) = self.update_content_document_with_http_info(content_reference_key, marketplace_id, post_content_document_request, **kwargs)  # noqa: E501
            return data

    def update_content_document_with_http_info(self, content_reference_key, marketplace_id, post_content_document_request, **kwargs):  # noqa: E501
        """update_content_document  # noqa: E501

        Update an existing A+ Content document.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 10 | 10 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_content_document_with_http_info(content_reference_key, marketplace_id, post_content_document_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str content_reference_key: The unique reference key for the A+ Content document. A content reference key cannot form a permalink and may change in the future. A content reference key is not guaranteed to match any A+ Content identifier. (required)
        :param str marketplace_id: The identifier for the Amazon store where the A+ Content is published. (required)
        :param PostContentDocumentRequest post_content_document_request: The content document request details. (required)
        :return: PostContentDocumentResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['content_reference_key', 'marketplace_id', 'post_content_document_request']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_content_document" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'content_reference_key' is set
        if self.api_client.client_side_validation and ('content_reference_key' not in params or
                                                       params['content_reference_key'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `content_reference_key` when calling `update_content_document`")  # noqa: E501
        # verify the required parameter 'marketplace_id' is set
        if self.api_client.client_side_validation and ('marketplace_id' not in params or
                                                       params['marketplace_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `marketplace_id` when calling `update_content_document`")  # noqa: E501
        # verify the required parameter 'post_content_document_request' is set
        if self.api_client.client_side_validation and ('post_content_document_request' not in params or
                                                       params['post_content_document_request'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `post_content_document_request` when calling `update_content_document`")  # noqa: E501

        if self.api_client.client_side_validation and ('content_reference_key' in params and
                                                       len(params['content_reference_key']) < 1):
            raise ValueError("Invalid value for parameter `content_reference_key` when calling `update_content_document`, length must be greater than or equal to `1`")  # noqa: E501
        if self.api_client.client_side_validation and ('marketplace_id' in params and
                                                       len(params['marketplace_id']) < 1):
            raise ValueError("Invalid value for parameter `marketplace_id` when calling `update_content_document`, length must be greater than or equal to `1`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'content_reference_key' in params:
            path_params['contentReferenceKey'] = params['content_reference_key']  # noqa: E501

        query_params = []
        if 'marketplace_id' in params:
            query_params.append(('marketplaceId', params['marketplace_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'post_content_document_request' in params:
            body_params = params['post_content_document_request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/aplus/2020-11-01/contentDocuments/{contentReferenceKey}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PostContentDocumentResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)

    def update_media(self, media_id, update_media_request, **kwargs):  # noqa: E501
        """update_media  # noqa: E501

        Update metadata on an existing media asset. The `mediaId` path parameter identifies the target asset. For video-image pairing title updates, provide `associatedMediaId` as a query parameter. For video-level description updates or standalone image title updates, omit `associatedMediaId`.  Each request updates either title or descriptions, but not both. Descriptions are upserted by locale; only provided locales are modified, and existing locales not in the request are preserved.  The response contains the full unified Media shape. When `associatedMediaId` is provided, `relatedMedia` contains only the specified pairing. When `associatedMediaId` is absent, `relatedMedia` contains all affected pairings.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 10 | 10 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_media(media_id, update_media_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str media_id: The unique identifier for the media asset to update. (required)
        :param UpdateMediaRequest update_media_request: The media update request details. (required)
        :param str associated_media_id: When provided, identifies the specific video-image pairing for title updates. Required when updating a pairing title.
        :return: UpdateMediaResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_media_with_http_info(media_id, update_media_request, **kwargs)  # noqa: E501
        else:
            (data) = self.update_media_with_http_info(media_id, update_media_request, **kwargs)  # noqa: E501
            return data

    def update_media_with_http_info(self, media_id, update_media_request, **kwargs):  # noqa: E501
        """update_media  # noqa: E501

        Update metadata on an existing media asset. The `mediaId` path parameter identifies the target asset. For video-image pairing title updates, provide `associatedMediaId` as a query parameter. For video-level description updates or standalone image title updates, omit `associatedMediaId`.  Each request updates either title or descriptions, but not both. Descriptions are upserted by locale; only provided locales are modified, and existing locales not in the request are preserved.  The response contains the full unified Media shape. When `associatedMediaId` is provided, `relatedMedia` contains only the specified pairing. When `associatedMediaId` is absent, `relatedMedia` contains all affected pairings.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 10 | 10 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_media_with_http_info(media_id, update_media_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str media_id: The unique identifier for the media asset to update. (required)
        :param UpdateMediaRequest update_media_request: The media update request details. (required)
        :param str associated_media_id: When provided, identifies the specific video-image pairing for title updates. Required when updating a pairing title.
        :return: UpdateMediaResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['media_id', 'update_media_request', 'associated_media_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_media" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'media_id' is set
        if self.api_client.client_side_validation and ('media_id' not in params or
                                                       params['media_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `media_id` when calling `update_media`")  # noqa: E501
        # verify the required parameter 'update_media_request' is set
        if self.api_client.client_side_validation and ('update_media_request' not in params or
                                                       params['update_media_request'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `update_media_request` when calling `update_media`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'media_id' in params:
            path_params['mediaId'] = params['media_id']  # noqa: E501

        query_params = []
        if 'associated_media_id' in params:
            query_params.append(('associatedMediaId', params['associated_media_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'update_media_request' in params:
            body_params = params['update_media_request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/aplus/2020-11-01/media/{mediaId}', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='UpdateMediaResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)

    def validate_content_document_asin_relations(self, marketplace_id, post_content_document_request, **kwargs):  # noqa: E501
        """validate_content_document_asin_relations  # noqa: E501

        Checks if the A+ Content document is valid for use on a set of ASINs.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 10 | 10 |  The `x-amzn-RateLimit-Limit` response header returns the usage plan rate limits that were applied to the requested operation, when available. The preceding table indicates the default rate and burst values for this operation. Selling partners whose business demands require higher throughput may see higher rate and burst values than those shown here. For more information, refer to [Usage Plans and Rate Limits in the Selling Partner API](https://developer-docs.amazon.com/sp-api/docs/usage-plans-and-rate-limits-in-the-sp-api).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.validate_content_document_asin_relations(marketplace_id, post_content_document_request, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str marketplace_id: The identifier for the Amazon store where the A+ Content is published. (required)
        :param PostContentDocumentRequest post_content_document_request: The content document request details. (required)
        :param List[str] asin_set: The set of ASINs.
        :return: ValidateContentDocumentAsinRelationsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.validate_content_document_asin_relations_with_http_info(marketplace_id, post_content_document_request, **kwargs)  # noqa: E501
        else:
            (data) = self.validate_content_document_asin_relations_with_http_info(marketplace_id, post_content_document_request, **kwargs)  # noqa: E501
            return data

[...]
