/*
 * The Selling Partner API for Amazon External Fulfillment Shipments Processing
 * You can use the External Fulfillment Shipments API to retrieve, manage, and track shipments processed through Amazon's external fulfillment network. Use this API to get shipment details, monitor status changes, and access fulfillment requirements.
 *
 * The version of the OpenAPI document: 2024-09-11
 * Contact: marketplaceapitest@amazon.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package software.amazon.spapi.api.externalfulfillment.shipments.v2024_09_11;

import com.amazon.SellingPartnerAPIAA.LWAAccessTokenCache;
import com.amazon.SellingPartnerAPIAA.LWAAccessTokenCacheImpl;
import com.amazon.SellingPartnerAPIAA.LWAAuthorizationCredentials;
import com.amazon.SellingPartnerAPIAA.LWAAuthorizationSigner;
import com.amazon.SellingPartnerAPIAA.LWAException;
import com.amazon.SellingPartnerAPIAA.RestrictedDataTokenSigner;
import com.google.gson.reflect.TypeToken;
import io.github.bucket4j.Bucket;
import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import software.amazon.spapi.ApiCallback;
import software.amazon.spapi.ApiClient;
import software.amazon.spapi.ApiException;
import software.amazon.spapi.ApiResponse;
import software.amazon.spapi.Configuration;
import software.amazon.spapi.Pair;
import software.amazon.spapi.StringUtil;
import software.amazon.spapi.models.externalfulfillment.shipments.v2024_09_11.CreateSandboxShipmentRequest;
import software.amazon.spapi.models.externalfulfillment.shipments.v2024_09_11.CreateSandboxShipmentResponse;
import software.amazon.spapi.models.externalfulfillment.shipments.v2024_09_11.UpdateSandboxShipmentRequest;

public class SandboxShipmentsApi {
    private ApiClient apiClient;
    private Boolean disableRateLimiting;

    public SandboxShipmentsApi(ApiClient apiClient, Boolean disableRateLimiting) {
        this.apiClient = apiClient;
        this.disableRateLimiting = disableRateLimiting;
    }

    private final Configuration config = Configuration.get();

    public final Bucket createSandboxShipmentBucket = Bucket.builder()
            .addLimit(config.getLimit("SandboxShipmentsApi-createSandboxShipment"))
            .build();

    public final Bucket updateSandboxShipmentBucket = Bucket.builder()
            .addLimit(config.getLimit("SandboxShipmentsApi-updateSandboxShipment"))
            .build();

    /**
     * Build call for createSandboxShipment
     *
     * @param body The request body for creating a sandbox shipment. (required)
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    private okhttp3.Call createSandboxShipmentCall(
            CreateSandboxShipmentRequest body, final ApiCallback progressRequestListener)
            throws ApiException, LWAException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath;
        if ("/externalFulfillment/2024-09-11/shipments".equals("/uploads/2020-11-01/uploadDestinations/{resource}")) {
            localVarPath = "/externalFulfillment/2024-09-11/shipments";
        } else {
            localVarPath = "/externalFulfillment/2024-09-11/shipments";
        }

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {"application/json"};
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        return apiClient.buildCall(
                localVarPath,
                "POST",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarPostBody,
                localVarHeaderParams,
                localVarFormParams,
                progressRequestListener);
    }

    private okhttp3.Call createSandboxShipmentValidateBeforeCall(
            CreateSandboxShipmentRequest body, final ApiCallback progressRequestListener)
            throws ApiException, LWAException {

        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling createSandboxShipment(Async)");
        }

        return createSandboxShipmentCall(body, progressRequestListener);
    }

    /**
     * Creates a sandbox shipment to simulate order creation in the test environment. This operation is available only
     * in the sandbox environment. The shipment is created with the specified configuration including shipping type and
     * order type.
     *
     * @param body The request body for creating a sandbox shipment. (required)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return CreateSandboxShipmentResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public CreateSandboxShipmentResponse createSandboxShipment(
            CreateSandboxShipmentRequest body, String restrictedDataToken) throws ApiException, LWAException {
        ApiResponse<CreateSandboxShipmentResponse> resp = createSandboxShipmentWithHttpInfo(body, restrictedDataToken);
        return resp.getData();
    }

    /**
     * Creates a sandbox shipment to simulate order creation in the test environment. This operation is available only
     * in the sandbox environment. The shipment is created with the specified configuration including shipping type and
     * order type.
     *
     * @param body The request body for creating a sandbox shipment. (required)
     * @return CreateSandboxShipmentResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public CreateSandboxShipmentResponse createSandboxShipment(CreateSandboxShipmentRequest body)
            throws ApiException, LWAException {
        ApiResponse<CreateSandboxShipmentResponse> resp = createSandboxShipmentWithHttpInfo(body, null);
        return resp.getData();
    }

    /**
     * Creates a sandbox shipment to simulate order creation in the test environment. This operation is available only
     * in the sandbox environment. The shipment is created with the specified configuration including shipping type and
     * order type.
     *
     * @param body The request body for creating a sandbox shipment. (required)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return ApiResponse&lt;CreateSandboxShipmentResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<CreateSandboxShipmentResponse> createSandboxShipmentWithHttpInfo(
            CreateSandboxShipmentRequest body, String restrictedDataToken) throws ApiException, LWAException {
        okhttp3.Call call = createSandboxShipmentValidateBeforeCall(body, null);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(
                    request, restrictedDataToken, "SandboxShipmentsApi-createSandboxShipment");
            call = apiClient.getHttpClient().newCall(request);
        }

        if (disableRateLimiting || createSandboxShipmentBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<CreateSandboxShipmentResponse>() {}.getType();
            return apiClient.execute(call, localVarReturnType);
        } else throw new ApiException.RateLimitExceeded("createSandboxShipment operation exceeds rate limit");
    }

    /**
     * Creates a sandbox shipment to simulate order creation in the test environment. This operation is available only
     * in the sandbox environment. The shipment is created with the specified configuration including shipping type and
     * order type.
     *
     * @param body The request body for creating a sandbox shipment. (required)
     * @return ApiResponse&lt;CreateSandboxShipmentResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<CreateSandboxShipmentResponse> createSandboxShipmentWithHttpInfo(
            CreateSandboxShipmentRequest body) throws ApiException, LWAException {
        return createSandboxShipmentWithHttpInfo(body, null);
    }

    /**
     * (asynchronously) Creates a sandbox shipment to simulate order creation in the test environment. This operation is
     * available only in the sandbox environment. The shipment is created with the specified configuration including
     * shipping type and order type.
     *
     * @param body The request body for creating a sandbox shipment. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call createSandboxShipmentAsync(
            CreateSandboxShipmentRequest body, final ApiCallback<CreateSandboxShipmentResponse> callback)
            throws ApiException, LWAException {
        return createSandboxShipmentAsync(body, callback, null);
    }
    /**
     * (asynchronously) Creates a sandbox shipment to simulate order creation in the test environment. This operation is
     * available only in the sandbox environment. The shipment is created with the specified configuration including
     * shipping type and order type.
     *
     * @param body The request body for creating a sandbox shipment. (required)
     * @param callback The callback to be executed when the API call finishes
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call createSandboxShipmentAsync(
            CreateSandboxShipmentRequest body,
            final ApiCallback<CreateSandboxShipmentResponse> callback,
            String restrictedDataToken)
            throws ApiException, LWAException {

        ApiCallback progressRequestListener = null;

        if (callback != null) {
            progressRequestListener = callback;
        }

        okhttp3.Call call = createSandboxShipmentValidateBeforeCall(body, progressRequestListener);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(
                    request, restrictedDataToken, "SandboxShipmentsApi-createSandboxShipment");
            call = apiClient.getHttpClient().newCall(request);
        }

        if (disableRateLimiting || createSandboxShipmentBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<CreateSandboxShipmentResponse>() {}.getType();
            apiClient.executeAsync(call, localVarReturnType, callback);
            return call;
        } else throw new ApiException.RateLimitExceeded("createSandboxShipment operation exceeds rate limit");
    }
    /**
     * Build call for updateSandboxShipment
     *
     * @param shipmentId The unique identifier of the shipment to update. (required)
     * @param body The request body for updating a sandbox shipment. (required)
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    private okhttp3.Call updateSandboxShipmentCall(
            String shipmentId, UpdateSandboxShipmentRequest body, final ApiCallback progressRequestListener)
            throws ApiException, LWAException {
        Object localVarPostBody = body;

        // create path and map variables
        String localVarPath;
        if ("/externalFulfillment/2024-09-11/shipments/{shipmentId}"
                .equals("/uploads/2020-11-01/uploadDestinations/{resource}")) {
            localVarPath = "/externalFulfillment/2024-09-11/shipments/{shipmentId}"
                    .replaceAll("\\{" + "shipmentId" + "\\}", shipmentId.toString());
        } else {
            localVarPath = "/externalFulfillment/2024-09-11/shipments/{shipmentId}"
                    .replaceAll("\\{" + "shipmentId" + "\\}", apiClient.escapeString(shipmentId.toString()));
        }

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {"application/json"};
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        return apiClient.buildCall(
                localVarPath,
                "PATCH",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarPostBody,
                localVarHeaderParams,
                localVarFormParams,
                progressRequestListener);
    }

    private okhttp3.Call updateSandboxShipmentValidateBeforeCall(
            String shipmentId, UpdateSandboxShipmentRequest body, final ApiCallback progressRequestListener)
            throws ApiException, LWAException {

        // verify the required parameter 'shipmentId' is set
        if (shipmentId == null) {
            throw new ApiException(
                    "Missing the required parameter 'shipmentId' when calling updateSandboxShipment(Async)");
        }

        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling updateSandboxShipment(Async)");
        }

        return updateSandboxShipmentCall(shipmentId, body, progressRequestListener);
    }

    /**
     * Updates a sandbox shipment on marketplace behalf. Supports status changes, invoice availability, and transport
     * capacity updates.
     *
     * @param shipmentId The unique identifier of the shipment to update. (required)
     * @param body The request body for updating a sandbox shipment. (required)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public void updateSandboxShipment(String shipmentId, UpdateSandboxShipmentRequest body, String restrictedDataToken)
            throws ApiException, LWAException {
        updateSandboxShipmentWithHttpInfo(shipmentId, body, restrictedDataToken);
    }

    /**
     * Updates a sandbox shipment on marketplace behalf. Supports status changes, invoice availability, and transport
     * capacity updates.
     *
     * @param shipmentId The unique identifier of the shipment to update. (required)
     * @param body The request body for updating a sandbox shipment. (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public void updateSandboxShipment(String shipmentId, UpdateSandboxShipmentRequest body)
            throws ApiException, LWAException {
        updateSandboxShipmentWithHttpInfo(shipmentId, body, null);
    }

    /**
     * Updates a sandbox shipment on marketplace behalf. Supports status changes, invoice availability, and transport
     * capacity updates.
     *
     * @param shipmentId The unique identifier of the shipment to update. (required)
     * @param body The request body for updating a sandbox shipment. (required)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<Void> updateSandboxShipmentWithHttpInfo(
            String shipmentId, UpdateSandboxShipmentRequest body, String restrictedDataToken)
            throws ApiException, LWAException {
        okhttp3.Call call = updateSandboxShipmentValidateBeforeCall(shipmentId, body, null);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(
                    request, restrictedDataToken, "SandboxShipmentsApi-updateSandboxShipment");
            call = apiClient.getHttpClient().newCall(request);
        }

        if (disableRateLimiting || updateSandboxShipmentBucket.tryConsume(1)) {
            return apiClient.execute(call);
        } else throw new ApiException.RateLimitExceeded("updateSandboxShipment operation exceeds rate limit");
    }

    /**
     * Updates a sandbox shipment on marketplace behalf. Supports status changes, invoice availability, and transport
     * capacity updates.
     *
     * @param shipmentId The unique identifier of the shipment to update. (required)
     * @param body The request body for updating a sandbox shipment. (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<Void> updateSandboxShipmentWithHttpInfo(String shipmentId, UpdateSandboxShipmentRequest body)
            throws ApiException, LWAException {
        return updateSandboxShipmentWithHttpInfo(shipmentId, body, null);
    }

    /**
     * (asynchronously) Updates a sandbox shipment on marketplace behalf. Supports status changes, invoice availability,
     * and transport capacity updates.
     *
     * @param shipmentId The unique identifier of the shipment to update. (required)
     * @param body The request body for updating a sandbox shipment. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call updateSandboxShipmentAsync(
            String shipmentId, UpdateSandboxShipmentRequest body, final ApiCallback<Void> callback)
            throws ApiException, LWAException {
        return updateSandboxShipmentAsync(shipmentId, body, callback, null);
    }
    /**
     * (asynchronously) Updates a sandbox shipment on marketplace behalf. Supports status changes, invoice availability,
     * and transport capacity updates.
     *
     * @param shipmentId The unique identifier of the shipment to update. (required)
     * @param body The request body for updating a sandbox shipment. (required)
     * @param callback The callback to be executed when the API call finishes
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call updateSandboxShipmentAsync(
            String shipmentId,
            UpdateSandboxShipmentRequest body,
            final ApiCallback<Void> callback,
            String restrictedDataToken)
            throws ApiException, LWAException {

        ApiCallback progressRequestListener = null;

        if (callback != null) {
            progressRequestListener = callback;
        }

        okhttp3.Call call = updateSandboxShipmentValidateBeforeCall(shipmentId, body, progressRequestListener);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(
                    request, restrictedDataToken, "SandboxShipmentsApi-updateSandboxShipment");
            call = apiClient.getHttpClient().newCall(request);
        }

        if (disableRateLimiting || updateSandboxShipmentBucket.tryConsume(1)) {
            apiClient.executeAsync(call, callback);
            return call;
        } else throw new ApiException.RateLimitExceeded("updateSandboxShipment operation exceeds rate limit");
    }

    public static class Builder {
        private LWAAuthorizationCredentials lwaAuthorizationCredentials;
        private String endpoint;
        private LWAAccessTokenCache lwaAccessTokenCache;
        private Boolean disableAccessTokenCache = false;
        private Boolean disableRateLimiting = false;

        public Builder lwaAuthorizationCredentials(LWAAuthorizationCredentials lwaAuthorizationCredentials) {
            this.lwaAuthorizationCredentials = lwaAuthorizationCredentials;
            return this;
        }

        public Builder endpoint(String endpoint) {
            this.endpoint = endpoint;
            return this;
        }

        public Builder lwaAccessTokenCache(LWAAccessTokenCache lwaAccessTokenCache) {
            this.lwaAccessTokenCache = lwaAccessTokenCache;
            return this;
        }

        public Builder disableAccessTokenCache() {
            this.disableAccessTokenCache = true;
            return this;
        }

        public Builder disableRateLimiting() {
            this.disableRateLimiting = true;
            return this;
        }

        public SandboxShipmentsApi build() {
            if (lwaAuthorizationCredentials == null) {
                throw new RuntimeException("LWAAuthorizationCredentials not set");
            }

            if (StringUtil.isEmpty(endpoint)) {
                throw new RuntimeException("Endpoint not set");
            }

            LWAAuthorizationSigner lwaAuthorizationSigner = null;
            if (disableAccessTokenCache) {
                lwaAuthorizationSigner = new LWAAuthorizationSigner(lwaAuthorizationCredentials);
            } else {
                if (lwaAccessTokenCache == null) {
                    lwaAccessTokenCache = new LWAAccessTokenCacheImpl();
                }
                lwaAuthorizationSigner = new LWAAuthorizationSigner(lwaAuthorizationCredentials, lwaAccessTokenCache);
            }

            return new SandboxShipmentsApi(
                    new ApiClient()
                            .setLWAAuthorizationSigner(lwaAuthorizationSigner)
                            .setBasePath(endpoint),
                    disableRateLimiting);
        }
    }
}
