/*
 * The Selling Partner API for Amazon External Fulfillment Shipments Processing
 * You can use the External Fulfillment Shipments API to retrieve, manage, and track shipments processed through Amazon's external fulfillment network. Use this API to get shipment details, monitor status changes, and access fulfillment requirements.
 *
 * OpenAPI spec version: 2024-09-11
 * Contact: marketplaceapitest@amazon.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package software.amazon.spapi.api.externalfulfillment.shipments.v2024_09_11;

import com.amazon.SellingPartnerAPIAA.LWAAccessTokenCache;
import com.amazon.SellingPartnerAPIAA.LWAAccessTokenCacheImpl;
import com.amazon.SellingPartnerAPIAA.LWAAuthorizationCredentials;
import com.amazon.SellingPartnerAPIAA.LWAAuthorizationSigner;
import com.amazon.SellingPartnerAPIAA.LWAException;
import com.amazon.SellingPartnerAPIAA.RestrictedDataTokenSigner;
import com.google.gson.reflect.TypeToken;
import io.github.bucket4j.Bucket;
import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import software.amazon.spapi.ApiCallback;
import software.amazon.spapi.ApiClient;
import software.amazon.spapi.ApiException;
import software.amazon.spapi.ApiResponse;
import software.amazon.spapi.Configuration;
import software.amazon.spapi.Pair;
import software.amazon.spapi.ProgressRequestBody;
import software.amazon.spapi.StringUtil;
import software.amazon.spapi.models.externalfulfillment.shipments.v2024_09_11.Shipment;
import software.amazon.spapi.models.externalfulfillment.shipments.v2024_09_11.ShipmentsResponse;

public class ShipmentRetrievalApi {
    private ApiClient apiClient;
    private Boolean disableRateLimiting;

    public ShipmentRetrievalApi(ApiClient apiClient, Boolean disableRateLimiting) {
        this.apiClient = apiClient;
        this.disableRateLimiting = disableRateLimiting;
    }

    private final Configuration config = Configuration.get();

    public final Bucket getShipmentBucket = Bucket.builder()
            .addLimit(config.getLimit("ShipmentRetrievalApi-getShipment"))
            .build();

    public final Bucket getShipmentsBucket = Bucket.builder()
            .addLimit(config.getLimit("ShipmentRetrievalApi-getShipments"))
            .build();

    /**
     * Build call for getShipment
     *
     * @param shipmentId The ID of the shipment you want to retrieve. (required)
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    private okhttp3.Call getShipmentCall(
            String shipmentId, final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath;
        if ("/externalFulfillment/2024-09-11/shipments/{shipmentId}"
                .equals("/uploads/2020-11-01/uploadDestinations/{resource}")) {
            localVarPath = "/externalFulfillment/2024-09-11/shipments/{shipmentId}"
                    .replaceAll("\\{" + "shipmentId" + "\\}", shipmentId.toString());
        } else {
            localVarPath = "/externalFulfillment/2024-09-11/shipments/{shipmentId}"
                    .replaceAll("\\{" + "shipmentId" + "\\}", apiClient.escapeString(shipmentId.toString()));
        }

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {};

        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        return apiClient.buildCall(
                localVarPath,
                "GET",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarPostBody,
                localVarHeaderParams,
                localVarFormParams,
                progressRequestListener);
    }

    private okhttp3.Call getShipmentValidateBeforeCall(
            String shipmentId, final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {
        // verify the required parameter 'shipmentId' is set
        if (shipmentId == null) {
            throw new ApiException("Missing the required parameter 'shipmentId' when calling getShipment(Async)");
        }

        return getShipmentCall(shipmentId, progressRequestListener);
    }

    /**
     * Get a single shipment with the ID you specify.
     *
     * @param shipmentId The ID of the shipment you want to retrieve. (required)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return Shipment
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public Shipment getShipment(String shipmentId, String restrictedDataToken) throws ApiException, LWAException {
        ApiResponse<Shipment> resp = getShipmentWithHttpInfo(shipmentId, restrictedDataToken);
        return resp.getData();
    }

    /**
     * Get a single shipment with the ID you specify.
     *
     * @param shipmentId The ID of the shipment you want to retrieve. (required)
     * @return Shipment
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public Shipment getShipment(String shipmentId) throws ApiException, LWAException {
        ApiResponse<Shipment> resp = getShipmentWithHttpInfo(shipmentId, null);
        return resp.getData();
    }

    /**
     * Get a single shipment with the ID you specify.
     *
     * @param shipmentId The ID of the shipment you want to retrieve. (required)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return ApiResponse&lt;Shipment&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<Shipment> getShipmentWithHttpInfo(String shipmentId, String restrictedDataToken)
            throws ApiException, LWAException {
        okhttp3.Call call = getShipmentValidateBeforeCall(shipmentId, null);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(request, restrictedDataToken, "ShipmentRetrievalApi-getShipment");
            call = apiClient.getHttpClient().newCall(request);
        }

        if (disableRateLimiting || getShipmentBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<Shipment>() {}.getType();
            return apiClient.execute(call, localVarReturnType);
        } else throw new ApiException.RateLimitExceeded("getShipment operation exceeds rate limit");
    }

    /**
     * Get a single shipment with the ID you specify.
     *
     * @param shipmentId The ID of the shipment you want to retrieve. (required)
     * @return ApiResponse&lt;Shipment&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<Shipment> getShipmentWithHttpInfo(String shipmentId) throws ApiException, LWAException {
        return getShipmentWithHttpInfo(shipmentId, null);
    }

    /**
     * (asynchronously) Get a single shipment with the ID you specify.
     *
     * @param shipmentId The ID of the shipment you want to retrieve. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call getShipmentAsync(String shipmentId, final ApiCallback<Shipment> callback)
            throws ApiException, LWAException {
        return getShipmentAsync(shipmentId, callback, null);
    }
    /**
     * (asynchronously) Get a single shipment with the ID you specify.
     *
     * @param shipmentId The ID of the shipment you want to retrieve. (required)
     * @param callback The callback to be executed when the API call finishes
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call getShipmentAsync(
            String shipmentId, final ApiCallback<Shipment> callback, String restrictedDataToken)
            throws ApiException, LWAException {

        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressRequestListener = callback::onUploadProgress;
        }

        okhttp3.Call call = getShipmentValidateBeforeCall(shipmentId, progressRequestListener);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(request, restrictedDataToken, "ShipmentRetrievalApi-getShipment");
            call = apiClient.getHttpClient().newCall(request);
        }

        if (disableRateLimiting || getShipmentBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<Shipment>() {}.getType();
            apiClient.executeAsync(call, localVarReturnType, callback);
            return call;
        } else throw new ApiException.RateLimitExceeded("getShipment operation exceeds rate limit");
    }
    /**
     * Build call for getShipments
     *
     * @param status The status of shipment you want to include in the response. To retrieve all new shipments, set this
     *     value to &#x60;ACCEPTED&#x60;. (required)
     * @param locationId The Amazon channel location identifier for the shipments you want to retrieve. (optional)
     * @param marketplaceId The marketplace ID associated with the location. To find the ID for your marketplace, refer
     *     to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (optional)
     * @param channelName The channel name associated with the location. (optional)
     * @param lastUpdatedAfter The response includes shipments whose latest update is after the specified time. In [ISO
     *     8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param lastUpdatedBefore The response includes shipments whose latest update is before the specified time. In
     *     [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param maxResults The maximum number of shipments to include in the response. (optional)
     * @param paginationToken A token that you use to retrieve the next page of results. The response includes
     *     &#x60;nextToken&#x60; when there are multiple pages of results. To get the next page of results, call the
     *     operation with this token and include the same arguments as the call that produced the token. To get a
     *     complete list, call this operation until &#x60;nextToken&#x60; is null. Note that this operation can return
     *     empty pages. (optional)
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    private okhttp3.Call getShipmentsCall(
            String status,
            String locationId,
            String marketplaceId,
            String channelName,
            String lastUpdatedAfter,
            String lastUpdatedBefore,
            Integer maxResults,
            String paginationToken,
            final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath;
        if ("/externalFulfillment/2024-09-11/shipments".equals("/uploads/2020-11-01/uploadDestinations/{resource}")) {
            localVarPath = "/externalFulfillment/2024-09-11/shipments";
        } else {
            localVarPath = "/externalFulfillment/2024-09-11/shipments";
        }

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (locationId != null) localVarQueryParams.addAll(apiClient.parameterToPair("locationId", locationId));
        if (marketplaceId != null)
            localVarQueryParams.addAll(apiClient.parameterToPair("marketplaceId", marketplaceId));
        if (channelName != null) localVarQueryParams.addAll(apiClient.parameterToPair("channelName", channelName));
        if (status != null) localVarQueryParams.addAll(apiClient.parameterToPair("status", status));
        if (lastUpdatedAfter != null)
            localVarQueryParams.addAll(apiClient.parameterToPair("lastUpdatedAfter", lastUpdatedAfter));
        if (lastUpdatedBefore != null)
            localVarQueryParams.addAll(apiClient.parameterToPair("lastUpdatedBefore", lastUpdatedBefore));
        if (maxResults != null) localVarQueryParams.addAll(apiClient.parameterToPair("maxResults", maxResults));
        if (paginationToken != null)
            localVarQueryParams.addAll(apiClient.parameterToPair("paginationToken", paginationToken));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {};

        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        return apiClient.buildCall(
                localVarPath,
                "GET",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarPostBody,
                localVarHeaderParams,
                localVarFormParams,
                progressRequestListener);
    }

    private okhttp3.Call getShipmentsValidateBeforeCall(
            String status,
            String locationId,
            String marketplaceId,
            String channelName,
            String lastUpdatedAfter,
            String lastUpdatedBefore,
            Integer maxResults,
            String paginationToken,
            final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {
        // verify the required parameter 'status' is set
        if (status == null) {
            throw new ApiException("Missing the required parameter 'status' when calling getShipments(Async)");
        }

        return getShipmentsCall(
                status,
                locationId,
                marketplaceId,
                channelName,
                lastUpdatedAfter,
                lastUpdatedBefore,
                maxResults,
                paginationToken,
                progressRequestListener);
    }

    /**
     * Get a list of shipments created for the seller in the status you specify. Shipments can be further filtered based
     * on the fulfillment node or the time of the shipments&#x27; last update.
     *
     * @param status The status of shipment you want to include in the response. To retrieve all new shipments, set this
     *     value to &#x60;ACCEPTED&#x60;. (required)
     * @param locationId The Amazon channel location identifier for the shipments you want to retrieve. (optional)
     * @param marketplaceId The marketplace ID associated with the location. To find the ID for your marketplace, refer
     *     to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (optional)
     * @param channelName The channel name associated with the location. (optional)
     * @param lastUpdatedAfter The response includes shipments whose latest update is after the specified time. In [ISO
     *     8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param lastUpdatedBefore The response includes shipments whose latest update is before the specified time. In
     *     [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param maxResults The maximum number of shipments to include in the response. (optional)
     * @param paginationToken A token that you use to retrieve the next page of results. The response includes
     *     &#x60;nextToken&#x60; when there are multiple pages of results. To get the next page of results, call the
     *     operation with this token and include the same arguments as the call that produced the token. To get a
     *     complete list, call this operation until &#x60;nextToken&#x60; is null. Note that this operation can return
     *     empty pages. (optional)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return ShipmentsResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ShipmentsResponse getShipments(
            String status,
            String locationId,
            String marketplaceId,
            String channelName,
            String lastUpdatedAfter,
            String lastUpdatedBefore,
            Integer maxResults,
            String paginationToken,
            String restrictedDataToken)
            throws ApiException, LWAException {
        ApiResponse<ShipmentsResponse> resp = getShipmentsWithHttpInfo(
                status,
                locationId,
                marketplaceId,
                channelName,
                lastUpdatedAfter,
                lastUpdatedBefore,
                maxResults,
                paginationToken,
                restrictedDataToken);
        return resp.getData();
    }

    /**
     * Get a list of shipments created for the seller in the status you specify. Shipments can be further filtered based
     * on the fulfillment node or the time of the shipments&#x27; last update.
     *
     * @param status The status of shipment you want to include in the response. To retrieve all new shipments, set this
     *     value to &#x60;ACCEPTED&#x60;. (required)
     * @param locationId The Amazon channel location identifier for the shipments you want to retrieve. (optional)
     * @param marketplaceId The marketplace ID associated with the location. To find the ID for your marketplace, refer
     *     to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (optional)
     * @param channelName The channel name associated with the location. (optional)
     * @param lastUpdatedAfter The response includes shipments whose latest update is after the specified time. In [ISO
     *     8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param lastUpdatedBefore The response includes shipments whose latest update is before the specified time. In
     *     [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param maxResults The maximum number of shipments to include in the response. (optional)
     * @param paginationToken A token that you use to retrieve the next page of results. The response includes
     *     &#x60;nextToken&#x60; when there are multiple pages of results. To get the next page of results, call the
     *     operation with this token and include the same arguments as the call that produced the token. To get a
     *     complete list, call this operation until &#x60;nextToken&#x60; is null. Note that this operation can return
     *     empty pages. (optional)
     * @return ShipmentsResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ShipmentsResponse getShipments(
            String status,
            String locationId,
            String marketplaceId,
            String channelName,
            String lastUpdatedAfter,
            String lastUpdatedBefore,
            Integer maxResults,
            String paginationToken)
            throws ApiException, LWAException {
        ApiResponse<ShipmentsResponse> resp = getShipmentsWithHttpInfo(
                status,
                locationId,
                marketplaceId,
                channelName,
                lastUpdatedAfter,
                lastUpdatedBefore,
                maxResults,
                paginationToken,
                null);
        return resp.getData();
    }

    /**
     * Get a list of shipments created for the seller in the status you specify. Shipments can be further filtered based
     * on the fulfillment node or the time of the shipments&#x27; last update.
     *
     * @param status The status of shipment you want to include in the response. To retrieve all new shipments, set this
     *     value to &#x60;ACCEPTED&#x60;. (required)
     * @param locationId The Amazon channel location identifier for the shipments you want to retrieve. (optional)
     * @param marketplaceId The marketplace ID associated with the location. To find the ID for your marketplace, refer
     *     to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (optional)
     * @param channelName The channel name associated with the location. (optional)
     * @param lastUpdatedAfter The response includes shipments whose latest update is after the specified time. In [ISO
     *     8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param lastUpdatedBefore The response includes shipments whose latest update is before the specified time. In
     *     [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param maxResults The maximum number of shipments to include in the response. (optional)
     * @param paginationToken A token that you use to retrieve the next page of results. The response includes
     *     &#x60;nextToken&#x60; when there are multiple pages of results. To get the next page of results, call the
     *     operation with this token and include the same arguments as the call that produced the token. To get a
     *     complete list, call this operation until &#x60;nextToken&#x60; is null. Note that this operation can return
     *     empty pages. (optional)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return ApiResponse&lt;ShipmentsResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<ShipmentsResponse> getShipmentsWithHttpInfo(
            String status,
            String locationId,
            String marketplaceId,
            String channelName,
            String lastUpdatedAfter,
            String lastUpdatedBefore,
            Integer maxResults,
            String paginationToken,
            String restrictedDataToken)
            throws ApiException, LWAException {
        okhttp3.Call call = getShipmentsValidateBeforeCall(
                status,
                locationId,
                marketplaceId,
                channelName,
                lastUpdatedAfter,
                lastUpdatedBefore,
                maxResults,
                paginationToken,
                null);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(request, restrictedDataToken, "ShipmentRetrievalApi-getShipments");
            call = apiClient.getHttpClient().newCall(request);
        }

        if (disableRateLimiting || getShipmentsBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<ShipmentsResponse>() {}.getType();
            return apiClient.execute(call, localVarReturnType);
        } else throw new ApiException.RateLimitExceeded("getShipments operation exceeds rate limit");
    }

    /**
     * Get a list of shipments created for the seller in the status you specify. Shipments can be further filtered based
     * on the fulfillment node or the time of the shipments&#x27; last update.
     *
     * @param status The status of shipment you want to include in the response. To retrieve all new shipments, set this
     *     value to &#x60;ACCEPTED&#x60;. (required)
     * @param locationId The Amazon channel location identifier for the shipments you want to retrieve. (optional)
     * @param marketplaceId The marketplace ID associated with the location. To find the ID for your marketplace, refer
     *     to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (optional)
     * @param channelName The channel name associated with the location. (optional)
     * @param lastUpdatedAfter The response includes shipments whose latest update is after the specified time. In [ISO
     *     8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param lastUpdatedBefore The response includes shipments whose latest update is before the specified time. In
     *     [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param maxResults The maximum number of shipments to include in the response. (optional)
     * @param paginationToken A token that you use to retrieve the next page of results. The response includes
     *     &#x60;nextToken&#x60; when there are multiple pages of results. To get the next page of results, call the
     *     operation with this token and include the same arguments as the call that produced the token. To get a
     *     complete list, call this operation until &#x60;nextToken&#x60; is null. Note that this operation can return
     *     empty pages. (optional)
     * @return ApiResponse&lt;ShipmentsResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<ShipmentsResponse> getShipmentsWithHttpInfo(
            String status,
            String locationId,
            String marketplaceId,
            String channelName,
            String lastUpdatedAfter,
            String lastUpdatedBefore,
            Integer maxResults,
            String paginationToken)
            throws ApiException, LWAException {
        return getShipmentsWithHttpInfo(
                status,
                locationId,
                marketplaceId,
                channelName,
                lastUpdatedAfter,
                lastUpdatedBefore,
                maxResults,
                paginationToken,
                null);
    }

    /**
     * (asynchronously) Get a list of shipments created for the seller in the status you specify. Shipments can be
     * further filtered based on the fulfillment node or the time of the shipments&#x27; last update.
     *
     * @param status The status of shipment you want to include in the response. To retrieve all new shipments, set this
     *     value to &#x60;ACCEPTED&#x60;. (required)
     * @param locationId The Amazon channel location identifier for the shipments you want to retrieve. (optional)
     * @param marketplaceId The marketplace ID associated with the location. To find the ID for your marketplace, refer
     *     to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (optional)
     * @param channelName The channel name associated with the location. (optional)
     * @param lastUpdatedAfter The response includes shipments whose latest update is after the specified time. In [ISO
     *     8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param lastUpdatedBefore The response includes shipments whose latest update is before the specified time. In
     *     [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param maxResults The maximum number of shipments to include in the response. (optional)
     * @param paginationToken A token that you use to retrieve the next page of results. The response includes
     *     &#x60;nextToken&#x60; when there are multiple pages of results. To get the next page of results, call the
     *     operation with this token and include the same arguments as the call that produced the token. To get a
     *     complete list, call this operation until &#x60;nextToken&#x60; is null. Note that this operation can return
     *     empty pages. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call getShipmentsAsync(
            String status,
            String locationId,
            String marketplaceId,
            String channelName,
            String lastUpdatedAfter,
            String lastUpdatedBefore,
            Integer maxResults,
            String paginationToken,
            final ApiCallback<ShipmentsResponse> callback)
            throws ApiException, LWAException {
        return getShipmentsAsync(
                status,
                locationId,
                marketplaceId,
                channelName,
                lastUpdatedAfter,
                lastUpdatedBefore,
                maxResults,
                paginationToken,
                callback,
                null);
    }
    /**
     * (asynchronously) Get a list of shipments created for the seller in the status you specify. Shipments can be
     * further filtered based on the fulfillment node or the time of the shipments&#x27; last update.
     *
     * @param status The status of shipment you want to include in the response. To retrieve all new shipments, set this
     *     value to &#x60;ACCEPTED&#x60;. (required)
     * @param locationId The Amazon channel location identifier for the shipments you want to retrieve. (optional)
     * @param marketplaceId The marketplace ID associated with the location. To find the ID for your marketplace, refer
     *     to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (optional)
     * @param channelName The channel name associated with the location. (optional)
     * @param lastUpdatedAfter The response includes shipments whose latest update is after the specified time. In [ISO
     *     8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param lastUpdatedBefore The response includes shipments whose latest update is before the specified time. In
     *     [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param maxResults The maximum number of shipments to include in the response. (optional)
     * @param paginationToken A token that you use to retrieve the next page of results. The response includes
     *     &#x60;nextToken&#x60; when there are multiple pages of results. To get the next page of results, call the
     *     operation with this token and include the same arguments as the call that produced the token. To get a
     *     complete list, call this operation until &#x60;nextToken&#x60; is null. Note that this operation can return
     *     empty pages. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call getShipmentsAsync(
            String status,
            String locationId,
            String marketplaceId,
            String channelName,
            String lastUpdatedAfter,
            String lastUpdatedBefore,
            Integer maxResults,
            String paginationToken,
            final ApiCallback<ShipmentsResponse> callback,
            String restrictedDataToken)
            throws ApiException, LWAException {

        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressRequestListener = callback::onUploadProgress;
        }

        okhttp3.Call call = getShipmentsValidateBeforeCall(
                status,
                locationId,
                marketplaceId,
                channelName,
                lastUpdatedAfter,
                lastUpdatedBefore,
                maxResults,
                paginationToken,
                progressRequestListener);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(request, restrictedDataToken, "ShipmentRetrievalApi-getShipments");
            call = apiClient.getHttpClient().newCall(request);
        }

        if (disableRateLimiting || getShipmentsBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<ShipmentsResponse>() {}.getType();
            apiClient.executeAsync(call, localVarReturnType, callback);
            return call;
        } else throw new ApiException.RateLimitExceeded("getShipments operation exceeds rate limit");
    }

    public static class Builder {
        private LWAAuthorizationCredentials lwaAuthorizationCredentials;
        private String endpoint;
        private LWAAccessTokenCache lwaAccessTokenCache;
        private Boolean disableAccessTokenCache = false;
        private Boolean disableRateLimiting = false;

        public Builder lwaAuthorizationCredentials(LWAAuthorizationCredentials lwaAuthorizationCredentials) {
            this.lwaAuthorizationCredentials = lwaAuthorizationCredentials;
            return this;
        }

        public Builder endpoint(String endpoint) {
            this.endpoint = endpoint;
            return this;
        }

        public Builder lwaAccessTokenCache(LWAAccessTokenCache lwaAccessTokenCache) {
            this.lwaAccessTokenCache = lwaAccessTokenCache;
            return this;
        }

        public Builder disableAccessTokenCache() {
            this.disableAccessTokenCache = true;
            return this;
        }

        public Builder disableRateLimiting() {
            this.disableRateLimiting = true;
            return this;
        }

        public ShipmentRetrievalApi build() {
            if (lwaAuthorizationCredentials == null) {
                throw new RuntimeException("LWAAuthorizationCredentials not set");
            }

            if (StringUtil.isEmpty(endpoint)) {
                throw new RuntimeException("Endpoint not set");
            }

            LWAAuthorizationSigner lwaAuthorizationSigner = null;
            if (disableAccessTokenCache) {
                lwaAuthorizationSigner = new LWAAuthorizationSigner(lwaAuthorizationCredentials);
            } else {
                if (lwaAccessTokenCache == null) {
                    lwaAccessTokenCache = new LWAAccessTokenCacheImpl();
                }
                lwaAuthorizationSigner = new LWAAuthorizationSigner(lwaAuthorizationCredentials, lwaAccessTokenCache);
            }

            return new ShipmentRetrievalApi(
                    new ApiClient()
                            .setLWAAuthorizationSigner(lwaAuthorizationSigner)
                            .setBasePath(endpoint),
                    disableRateLimiting);
        }
    }
}
