# coding: utf-8

"""
    The Selling Partner API for Invoices

    The Selling Partner API for Invoices enables you to retrieve invoice data and streamline your bookkeeping processes.

    The version of the OpenAPI document: 2026-06-25
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from spapi.api_client import ApiClient


class DefaultApi(object):
    """NOTE: This class is auto generated by the openapi generator.

    Do not edit the class manually.
    """

    api_models_module = "spapi.models.finances_invoices_v2026_06_25"

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client
        self.classFileName = 'default_api'

    def get_invoice(self, marketplace_id, invoice_identifier, **kwargs):  # noqa: E501
        """get_invoice  # noqa: E501

        Returns invoice details, including header and line items, for the specified invoice.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_invoice(marketplace_id, invoice_identifier, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str marketplace_id: The marketplace ID of the marketplace of the invoice. The marketplace ID is a globally unique identifier used to specify an Amazon marketplace. For more information, refer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (required)
        :param str invoice_identifier: The unique identifier for an invoice. This field is also returned as part of the `InvoiceHeader` element in the response. For AP-Inventory invoices the identifier is formatted as `InvoiceNumber~PayeeCode`. (required)
        :param str next_token_for_line_items: The response includes `nextTokenForLineItems` when the number of line items exceeds the default page size (600). To get the next page of line items, call the operation with this token, including the same request parameters as the call that generated the token.
        :return: GetInvoiceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_invoice_with_http_info(marketplace_id, invoice_identifier, **kwargs)  # noqa: E501
        else:
            (data) = self.get_invoice_with_http_info(marketplace_id, invoice_identifier, **kwargs)  # noqa: E501
            return data

    def get_invoice_with_http_info(self, marketplace_id, invoice_identifier, **kwargs):  # noqa: E501
        """get_invoice  # noqa: E501

        Returns invoice details, including header and line items, for the specified invoice.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_invoice_with_http_info(marketplace_id, invoice_identifier, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str marketplace_id: The marketplace ID of the marketplace of the invoice. The marketplace ID is a globally unique identifier used to specify an Amazon marketplace. For more information, refer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (required)
        :param str invoice_identifier: The unique identifier for an invoice. This field is also returned as part of the `InvoiceHeader` element in the response. For AP-Inventory invoices the identifier is formatted as `InvoiceNumber~PayeeCode`. (required)
        :param str next_token_for_line_items: The response includes `nextTokenForLineItems` when the number of line items exceeds the default page size (600). To get the next page of line items, call the operation with this token, including the same request parameters as the call that generated the token.
        :return: GetInvoiceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['marketplace_id', 'invoice_identifier', 'next_token_for_line_items']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_invoice" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'marketplace_id' is set
        if self.api_client.client_side_validation and ('marketplace_id' not in params or
                                                       params['marketplace_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `marketplace_id` when calling `get_invoice`")  # noqa: E501
        # verify the required parameter 'invoice_identifier' is set
        if self.api_client.client_side_validation and ('invoice_identifier' not in params or
                                                       params['invoice_identifier'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `invoice_identifier` when calling `get_invoice`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'invoice_identifier' in params:
            path_params['invoiceIdentifier'] = params['invoice_identifier']  # noqa: E501

        query_params = []
        if 'marketplace_id' in params:
            query_params.append(('marketplaceId', params['marketplace_id']))  # noqa: E501
        if 'next_token_for_line_items' in params:
            query_params.append(('nextTokenForLineItems', params['next_token_for_line_items']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/finances/invoices/2026-06-25/invoices/{invoiceIdentifier}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetInvoiceResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)

    def get_invoice_headers(self, marketplace_id, **kwargs):  # noqa: E501
        """get_invoice_headers  # noqa: E501

        Returns invoice headers for all invoices matching filters that you specify.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_invoice_headers(marketplace_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str marketplace_id: The marketplace ID of the marketplace from which you want to retrieve invoice headers. The marketplace ID is a globally unique identifier used to specify which Amazon marketplace a request is targeting. For more information, refer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (required)
        :param str next_token: The response includes `nextToken` when the number of invoices exceeds the default page size value (100). To get the next page of results, call the operation with this token and include the same arguments as the call that produced the token. To get a complete list, call this operation until `nextToken` is `null`. Note that this operation can return empty pages.
        :param datetime from_issue_date: Retrieve invoice headers issued after this date. The range between `fromIssueDate` and `toIssueDate` must not exceed 90 days. Either provide both dates or leave both empty. If you do not provide these dates, `fromIssueDate` defaults to 90 days before the date of the request. In [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format.
        :param datetime to_issue_date: Retrieve invoice headers issued before this date. The range between `fromIssueDate` and `toIssueDate` must not exceed 90 days. Either provide both dates or leave both empty. If you do not provide these dates, `toIssueDate` defaults to the date of the request. In [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format.
        :param datetime invoices_modified_after: Retrieve invoices that were modified after this date-time. In [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format.
        :return: GetInvoicesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_invoice_headers_with_http_info(marketplace_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_invoice_headers_with_http_info(marketplace_id, **kwargs)  # noqa: E501
            return data

    def get_invoice_headers_with_http_info(self, marketplace_id, **kwargs):  # noqa: E501
        """get_invoice_headers  # noqa: E501

        Returns invoice headers for all invoices matching filters that you specify.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_invoice_headers_with_http_info(marketplace_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str marketplace_id: The marketplace ID of the marketplace from which you want to retrieve invoice headers. The marketplace ID is a globally unique identifier used to specify which Amazon marketplace a request is targeting. For more information, refer to [Marketplace IDs](https://developer-docs.amazon.com/sp-api/docs/marketplace-ids). (required)
        :param str next_token: The response includes `nextToken` when the number of invoices exceeds the default page size value (100). To get the next page of results, call the operation with this token and include the same arguments as the call that produced the token. To get a complete list, call this operation until `nextToken` is `null`. Note that this operation can return empty pages.
        :param datetime from_issue_date: Retrieve invoice headers issued after this date. The range between `fromIssueDate` and `toIssueDate` must not exceed 90 days. Either provide both dates or leave both empty. If you do not provide these dates, `fromIssueDate` defaults to 90 days before the date of the request. In [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format.
        :param datetime to_issue_date: Retrieve invoice headers issued before this date. The range between `fromIssueDate` and `toIssueDate` must not exceed 90 days. Either provide both dates or leave both empty. If you do not provide these dates, `toIssueDate` defaults to the date of the request. In [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format.
        :param datetime invoices_modified_after: Retrieve invoices that were modified after this date-time. In [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format.
        :return: GetInvoicesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['marketplace_id', 'next_token', 'from_issue_date', 'to_issue_date', 'invoices_modified_after']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_invoice_headers" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'marketplace_id' is set
        if self.api_client.client_side_validation and ('marketplace_id' not in params or
                                                       params['marketplace_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `marketplace_id` when calling `get_invoice_headers`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'next_token' in params:
            query_params.append(('nextToken', params['next_token']))  # noqa: E501
        if 'marketplace_id' in params:
            query_params.append(('marketplaceId', params['marketplace_id']))  # noqa: E501
        if 'from_issue_date' in params:
            query_params.append(('fromIssueDate', params['from_issue_date']))  # noqa: E501
        if 'to_issue_date' in params:
            query_params.append(('toIssueDate', params['to_issue_date']))  # noqa: E501
        if 'invoices_modified_after' in params:
            query_params.append(('invoicesModifiedAfter', params['invoices_modified_after']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/finances/invoices/2026-06-25/invoices', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetInvoicesResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats, api_models_module=self.api_models_module)
