/*
 * The Selling Partner API for Amazon External Fulfillment Return Item Processing
 * You can use the Amazon External Fulfillment Return Item Processing API to retrieve, track, and process return items through Amazon's External Fulfillment returns management system.
 *
 * OpenAPI spec version: 2024-09-11
 * Contact: marketplaceapitest@amazon.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package software.amazon.spapi.api.externalfulfillment.returns.v2024_09_11;

import com.amazon.SellingPartnerAPIAA.LWAAccessTokenCache;
import com.amazon.SellingPartnerAPIAA.LWAAccessTokenCacheImpl;
import com.amazon.SellingPartnerAPIAA.LWAAuthorizationCredentials;
import com.amazon.SellingPartnerAPIAA.LWAAuthorizationSigner;
import com.amazon.SellingPartnerAPIAA.LWAException;
import com.amazon.SellingPartnerAPIAA.RestrictedDataTokenSigner;
import com.google.gson.reflect.TypeToken;
import io.github.bucket4j.Bucket;
import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import software.amazon.spapi.ApiCallback;
import software.amazon.spapi.ApiClient;
import software.amazon.spapi.ApiException;
import software.amazon.spapi.ApiResponse;
import software.amazon.spapi.Configuration;
import software.amazon.spapi.Pair;
import software.amazon.spapi.ProgressRequestBody;
import software.amazon.spapi.StringUtil;
import software.amazon.spapi.models.externalfulfillment.returns.v2024_09_11.ModelReturn;
import software.amazon.spapi.models.externalfulfillment.returns.v2024_09_11.ReturnsResponse;

public class ReturnRetrievalApi {
    private ApiClient apiClient;
    private Boolean disableRateLimiting;

    public ReturnRetrievalApi(ApiClient apiClient, Boolean disableRateLimiting) {
        this.apiClient = apiClient;
        this.disableRateLimiting = disableRateLimiting;
    }

    private final Configuration config = Configuration.get();

    public final Bucket getReturnBucket = Bucket.builder()
            .addLimit(config.getLimit("ReturnRetrievalApi-getReturn"))
            .build();

    public final Bucket listReturnsBucket = Bucket.builder()
            .addLimit(config.getLimit("ReturnRetrievalApi-listReturns"))
            .build();

    /**
     * Build call for getReturn
     *
     * @param returnId The ID of the return item you want. (required)
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    private okhttp3.Call getReturnCall(
            String returnId, final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath;
        if ("/externalFulfillment/2024-09-11/returns/{returnId}"
                .equals("/uploads/2020-11-01/uploadDestinations/{resource}")) {
            localVarPath = "/externalFulfillment/2024-09-11/returns/{returnId}"
                    .replaceAll("\\{" + "returnId" + "\\}", returnId.toString());
        } else {
            localVarPath = "/externalFulfillment/2024-09-11/returns/{returnId}"
                    .replaceAll("\\{" + "returnId" + "\\}", apiClient.escapeString(returnId.toString()));
        }

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {};

        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        return apiClient.buildCall(
                localVarPath,
                "GET",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarPostBody,
                localVarHeaderParams,
                localVarFormParams,
                progressRequestListener);
    }

    private okhttp3.Call getReturnValidateBeforeCall(
            String returnId, final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {
        // verify the required parameter 'returnId' is set
        if (returnId == null) {
            throw new ApiException("Missing the required parameter 'returnId' when calling getReturn(Async)");
        }

        return getReturnCall(returnId, progressRequestListener);
    }

    /**
     * Retrieve the return item with the specified ID.
     *
     * @param returnId The ID of the return item you want. (required)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return ModelReturn
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ModelReturn getReturn(String returnId, String restrictedDataToken) throws ApiException, LWAException {
        ApiResponse<ModelReturn> resp = getReturnWithHttpInfo(returnId, restrictedDataToken);
        return resp.getData();
    }

    /**
     * Retrieve the return item with the specified ID.
     *
     * @param returnId The ID of the return item you want. (required)
     * @return ModelReturn
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ModelReturn getReturn(String returnId) throws ApiException, LWAException {
        ApiResponse<ModelReturn> resp = getReturnWithHttpInfo(returnId, null);
        return resp.getData();
    }

    /**
     * Retrieve the return item with the specified ID.
     *
     * @param returnId The ID of the return item you want. (required)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return ApiResponse&lt;ModelReturn&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<ModelReturn> getReturnWithHttpInfo(String returnId, String restrictedDataToken)
            throws ApiException, LWAException {
        okhttp3.Call call = getReturnValidateBeforeCall(returnId, null);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(request, restrictedDataToken, "ReturnRetrievalApi-getReturn");
            call = apiClient.getHttpClient().newCall(request);
        }

        if (disableRateLimiting || getReturnBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<ModelReturn>() {}.getType();
            return apiClient.execute(call, localVarReturnType);
        } else throw new ApiException.RateLimitExceeded("getReturn operation exceeds rate limit");
    }

    /**
     * Retrieve the return item with the specified ID.
     *
     * @param returnId The ID of the return item you want. (required)
     * @return ApiResponse&lt;ModelReturn&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<ModelReturn> getReturnWithHttpInfo(String returnId) throws ApiException, LWAException {
        return getReturnWithHttpInfo(returnId, null);
    }

    /**
     * (asynchronously) Retrieve the return item with the specified ID.
     *
     * @param returnId The ID of the return item you want. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call getReturnAsync(String returnId, final ApiCallback<ModelReturn> callback)
            throws ApiException, LWAException {
        return getReturnAsync(returnId, callback, null);
    }
    /**
     * (asynchronously) Retrieve the return item with the specified ID.
     *
     * @param returnId The ID of the return item you want. (required)
     * @param callback The callback to be executed when the API call finishes
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call getReturnAsync(
            String returnId, final ApiCallback<ModelReturn> callback, String restrictedDataToken)
            throws ApiException, LWAException {

        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressRequestListener = callback::onUploadProgress;
        }

        okhttp3.Call call = getReturnValidateBeforeCall(returnId, progressRequestListener);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(request, restrictedDataToken, "ReturnRetrievalApi-getReturn");
            call = apiClient.getHttpClient().newCall(request);
        }

        if (disableRateLimiting || getReturnBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<ModelReturn>() {}.getType();
            apiClient.executeAsync(call, localVarReturnType, callback);
            return call;
        } else throw new ApiException.RateLimitExceeded("getReturn operation exceeds rate limit");
    }
    /**
     * Build call for listReturns
     *
     * @param returnLocationId The SmartConnect location ID of the location from which you want to retrieve return
     *     items. (optional)
     * @param rmaId The RMA ID of the return items you want to list. (optional)
     * @param status The status of return items you want to list. You can retrieve all new return items with the
     *     &#x60;CREATED&#x60; status. (optional)
     * @param reverseTrackingId The reverse tracking ID of the return items you want to list. (optional)
     * @param createdSince Return items created after the specified date are included in the response. In [ISO
     *     8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param createdUntil Return items created before the specified date are included in the response. In [ISO
     *     8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param lastUpdatedSince Return items updated after the specified date are included in the response. In [ISO
     *     8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. If you supply this parameter,
     *     you must also supply &#x60;returnLocationId&#x60; and &#x60;status&#x60;. (optional)
     * @param lastUpdatedUntil Return items whose most recent update is before the specified date are included in the
     *     response. In [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. If you
     *     supply this parameter, you must also supply &#x60;returnLocationId&#x60; and &#x60;status&#x60;. (optional)
     * @param lastUpdatedAfter DEPRECATED. Use the &#x60;createdSince&#x60; parameter. (optional)
     * @param lastUpdatedBefore DEPRECATED. Use the &#x60;createdUntil&#x60; parameter. (optional)
     * @param maxResults The number of return items you want to include in the response. **Default:** 10 **Maximum:**
     *     100 (optional)
     * @param nextToken A token that you use to retrieve the next page of results. The response includes
     *     &#x60;nextToken&#x60; when there are multiple pages of results. To get the next page of results, call the
     *     operation with this token and include the same arguments as the call that produced the token. To get a
     *     complete list, call this operation until &#x60;nextToken&#x60; is null. Note that this operation can return
     *     empty pages. (optional)
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    private okhttp3.Call listReturnsCall(
            String returnLocationId,
            String rmaId,
            String status,
            String reverseTrackingId,
            String createdSince,
            String createdUntil,
            String lastUpdatedSince,
            String lastUpdatedUntil,
            String lastUpdatedAfter,
            String lastUpdatedBefore,
            Long maxResults,
            String nextToken,
            final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath;
        if ("/externalFulfillment/2024-09-11/returns".equals("/uploads/2020-11-01/uploadDestinations/{resource}")) {
            localVarPath = "/externalFulfillment/2024-09-11/returns";
        } else {
            localVarPath = "/externalFulfillment/2024-09-11/returns";
        }

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (returnLocationId != null)
            localVarQueryParams.addAll(apiClient.parameterToPair("returnLocationId", returnLocationId));
        if (rmaId != null) localVarQueryParams.addAll(apiClient.parameterToPair("rmaId", rmaId));
        if (status != null) localVarQueryParams.addAll(apiClient.parameterToPair("status", status));
        if (reverseTrackingId != null)
            localVarQueryParams.addAll(apiClient.parameterToPair("reverseTrackingId", reverseTrackingId));
        if (createdSince != null) localVarQueryParams.addAll(apiClient.parameterToPair("createdSince", createdSince));
        if (createdUntil != null) localVarQueryParams.addAll(apiClient.parameterToPair("createdUntil", createdUntil));
        if (lastUpdatedSince != null)
            localVarQueryParams.addAll(apiClient.parameterToPair("lastUpdatedSince", lastUpdatedSince));
        if (lastUpdatedUntil != null)
            localVarQueryParams.addAll(apiClient.parameterToPair("lastUpdatedUntil", lastUpdatedUntil));
        if (lastUpdatedAfter != null)
            localVarQueryParams.addAll(apiClient.parameterToPair("lastUpdatedAfter", lastUpdatedAfter));
        if (lastUpdatedBefore != null)
            localVarQueryParams.addAll(apiClient.parameterToPair("lastUpdatedBefore", lastUpdatedBefore));
        if (maxResults != null) localVarQueryParams.addAll(apiClient.parameterToPair("maxResults", maxResults));
        if (nextToken != null) localVarQueryParams.addAll(apiClient.parameterToPair("nextToken", nextToken));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {"application/json"};
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {};

        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        return apiClient.buildCall(
                localVarPath,
                "GET",
                localVarQueryParams,
                localVarCollectionQueryParams,
                localVarPostBody,
                localVarHeaderParams,
                localVarFormParams,
                progressRequestListener);
    }

    private okhttp3.Call listReturnsValidateBeforeCall(
            String returnLocationId,
            String rmaId,
            String status,
            String reverseTrackingId,
            String createdSince,
            String createdUntil,
            String lastUpdatedSince,
            String lastUpdatedUntil,
            String lastUpdatedAfter,
            String lastUpdatedBefore,
            Long maxResults,
            String nextToken,
            final ProgressRequestBody.ProgressRequestListener progressRequestListener)
            throws ApiException, LWAException {

        return listReturnsCall(
                returnLocationId,
                rmaId,
                status,
                reverseTrackingId,
                createdSince,
                createdUntil,
                lastUpdatedSince,
                lastUpdatedUntil,
                lastUpdatedAfter,
                lastUpdatedBefore,
                maxResults,
                nextToken,
                progressRequestListener);
    }

    /**
     * Retrieve a list of return items. You can filter results by location, RMA ID, status, or time.
     *
     * @param returnLocationId The SmartConnect location ID of the location from which you want to retrieve return
     *     items. (optional)
     * @param rmaId The RMA ID of the return items you want to list. (optional)
     * @param status The status of return items you want to list. You can retrieve all new return items with the
     *     &#x60;CREATED&#x60; status. (optional)
     * @param reverseTrackingId The reverse tracking ID of the return items you want to list. (optional)
     * @param createdSince Return items created after the specified date are included in the response. In [ISO
     *     8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param createdUntil Return items created before the specified date are included in the response. In [ISO
     *     8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param lastUpdatedSince Return items updated after the specified date are included in the response. In [ISO
     *     8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. If you supply this parameter,
     *     you must also supply &#x60;returnLocationId&#x60; and &#x60;status&#x60;. (optional)
     * @param lastUpdatedUntil Return items whose most recent update is before the specified date are included in the
     *     response. In [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. If you
     *     supply this parameter, you must also supply &#x60;returnLocationId&#x60; and &#x60;status&#x60;. (optional)
     * @param lastUpdatedAfter DEPRECATED. Use the &#x60;createdSince&#x60; parameter. (optional)
     * @param lastUpdatedBefore DEPRECATED. Use the &#x60;createdUntil&#x60; parameter. (optional)
     * @param maxResults The number of return items you want to include in the response. **Default:** 10 **Maximum:**
     *     100 (optional)
     * @param nextToken A token that you use to retrieve the next page of results. The response includes
     *     &#x60;nextToken&#x60; when there are multiple pages of results. To get the next page of results, call the
     *     operation with this token and include the same arguments as the call that produced the token. To get a
     *     complete list, call this operation until &#x60;nextToken&#x60; is null. Note that this operation can return
     *     empty pages. (optional)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return ReturnsResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ReturnsResponse listReturns(
            String returnLocationId,
            String rmaId,
            String status,
            String reverseTrackingId,
            String createdSince,
            String createdUntil,
            String lastUpdatedSince,
            String lastUpdatedUntil,
            String lastUpdatedAfter,
            String lastUpdatedBefore,
            Long maxResults,
            String nextToken,
            String restrictedDataToken)
            throws ApiException, LWAException {
        ApiResponse<ReturnsResponse> resp = listReturnsWithHttpInfo(
                returnLocationId,
                rmaId,
                status,
                reverseTrackingId,
                createdSince,
                createdUntil,
                lastUpdatedSince,
                lastUpdatedUntil,
                lastUpdatedAfter,
                lastUpdatedBefore,
                maxResults,
                nextToken,
                restrictedDataToken);
        return resp.getData();
    }

    /**
     * Retrieve a list of return items. You can filter results by location, RMA ID, status, or time.
     *
     * @param returnLocationId The SmartConnect location ID of the location from which you want to retrieve return
     *     items. (optional)
     * @param rmaId The RMA ID of the return items you want to list. (optional)
     * @param status The status of return items you want to list. You can retrieve all new return items with the
     *     &#x60;CREATED&#x60; status. (optional)
     * @param reverseTrackingId The reverse tracking ID of the return items you want to list. (optional)
     * @param createdSince Return items created after the specified date are included in the response. In [ISO
     *     8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param createdUntil Return items created before the specified date are included in the response. In [ISO
     *     8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param lastUpdatedSince Return items updated after the specified date are included in the response. In [ISO
     *     8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. If you supply this parameter,
     *     you must also supply &#x60;returnLocationId&#x60; and &#x60;status&#x60;. (optional)
     * @param lastUpdatedUntil Return items whose most recent update is before the specified date are included in the
     *     response. In [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. If you
     *     supply this parameter, you must also supply &#x60;returnLocationId&#x60; and &#x60;status&#x60;. (optional)
     * @param lastUpdatedAfter DEPRECATED. Use the &#x60;createdSince&#x60; parameter. (optional)
     * @param lastUpdatedBefore DEPRECATED. Use the &#x60;createdUntil&#x60; parameter. (optional)
     * @param maxResults The number of return items you want to include in the response. **Default:** 10 **Maximum:**
     *     100 (optional)
     * @param nextToken A token that you use to retrieve the next page of results. The response includes
     *     &#x60;nextToken&#x60; when there are multiple pages of results. To get the next page of results, call the
     *     operation with this token and include the same arguments as the call that produced the token. To get a
     *     complete list, call this operation until &#x60;nextToken&#x60; is null. Note that this operation can return
     *     empty pages. (optional)
     * @return ReturnsResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ReturnsResponse listReturns(
            String returnLocationId,
            String rmaId,
            String status,
            String reverseTrackingId,
            String createdSince,
            String createdUntil,
            String lastUpdatedSince,
            String lastUpdatedUntil,
            String lastUpdatedAfter,
            String lastUpdatedBefore,
            Long maxResults,
            String nextToken)
            throws ApiException, LWAException {
        ApiResponse<ReturnsResponse> resp = listReturnsWithHttpInfo(
                returnLocationId,
                rmaId,
                status,
                reverseTrackingId,
                createdSince,
                createdUntil,
                lastUpdatedSince,
                lastUpdatedUntil,
                lastUpdatedAfter,
                lastUpdatedBefore,
                maxResults,
                nextToken,
                null);
        return resp.getData();
    }

    /**
     * Retrieve a list of return items. You can filter results by location, RMA ID, status, or time.
     *
     * @param returnLocationId The SmartConnect location ID of the location from which you want to retrieve return
     *     items. (optional)
     * @param rmaId The RMA ID of the return items you want to list. (optional)
     * @param status The status of return items you want to list. You can retrieve all new return items with the
     *     &#x60;CREATED&#x60; status. (optional)
     * @param reverseTrackingId The reverse tracking ID of the return items you want to list. (optional)
     * @param createdSince Return items created after the specified date are included in the response. In [ISO
     *     8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param createdUntil Return items created before the specified date are included in the response. In [ISO
     *     8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param lastUpdatedSince Return items updated after the specified date are included in the response. In [ISO
     *     8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. If you supply this parameter,
     *     you must also supply &#x60;returnLocationId&#x60; and &#x60;status&#x60;. (optional)
     * @param lastUpdatedUntil Return items whose most recent update is before the specified date are included in the
     *     response. In [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. If you
     *     supply this parameter, you must also supply &#x60;returnLocationId&#x60; and &#x60;status&#x60;. (optional)
     * @param lastUpdatedAfter DEPRECATED. Use the &#x60;createdSince&#x60; parameter. (optional)
     * @param lastUpdatedBefore DEPRECATED. Use the &#x60;createdUntil&#x60; parameter. (optional)
     * @param maxResults The number of return items you want to include in the response. **Default:** 10 **Maximum:**
     *     100 (optional)
     * @param nextToken A token that you use to retrieve the next page of results. The response includes
     *     &#x60;nextToken&#x60; when there are multiple pages of results. To get the next page of results, call the
     *     operation with this token and include the same arguments as the call that produced the token. To get a
     *     complete list, call this operation until &#x60;nextToken&#x60; is null. Note that this operation can return
     *     empty pages. (optional)
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return ApiResponse&lt;ReturnsResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<ReturnsResponse> listReturnsWithHttpInfo(
            String returnLocationId,
            String rmaId,
            String status,
            String reverseTrackingId,
            String createdSince,
            String createdUntil,
            String lastUpdatedSince,
            String lastUpdatedUntil,
            String lastUpdatedAfter,
            String lastUpdatedBefore,
            Long maxResults,
            String nextToken,
            String restrictedDataToken)
            throws ApiException, LWAException {
        okhttp3.Call call = listReturnsValidateBeforeCall(
                returnLocationId,
                rmaId,
                status,
                reverseTrackingId,
                createdSince,
                createdUntil,
                lastUpdatedSince,
                lastUpdatedUntil,
                lastUpdatedAfter,
                lastUpdatedBefore,
                maxResults,
                nextToken,
                null);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(request, restrictedDataToken, "ReturnRetrievalApi-listReturns");
            call = apiClient.getHttpClient().newCall(request);
        }

        if (disableRateLimiting || listReturnsBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<ReturnsResponse>() {}.getType();
            return apiClient.execute(call, localVarReturnType);
        } else throw new ApiException.RateLimitExceeded("listReturns operation exceeds rate limit");
    }

    /**
     * Retrieve a list of return items. You can filter results by location, RMA ID, status, or time.
     *
     * @param returnLocationId The SmartConnect location ID of the location from which you want to retrieve return
     *     items. (optional)
     * @param rmaId The RMA ID of the return items you want to list. (optional)
     * @param status The status of return items you want to list. You can retrieve all new return items with the
     *     &#x60;CREATED&#x60; status. (optional)
     * @param reverseTrackingId The reverse tracking ID of the return items you want to list. (optional)
     * @param createdSince Return items created after the specified date are included in the response. In [ISO
     *     8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param createdUntil Return items created before the specified date are included in the response. In [ISO
     *     8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param lastUpdatedSince Return items updated after the specified date are included in the response. In [ISO
     *     8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. If you supply this parameter,
     *     you must also supply &#x60;returnLocationId&#x60; and &#x60;status&#x60;. (optional)
     * @param lastUpdatedUntil Return items whose most recent update is before the specified date are included in the
     *     response. In [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. If you
     *     supply this parameter, you must also supply &#x60;returnLocationId&#x60; and &#x60;status&#x60;. (optional)
     * @param lastUpdatedAfter DEPRECATED. Use the &#x60;createdSince&#x60; parameter. (optional)
     * @param lastUpdatedBefore DEPRECATED. Use the &#x60;createdUntil&#x60; parameter. (optional)
     * @param maxResults The number of return items you want to include in the response. **Default:** 10 **Maximum:**
     *     100 (optional)
     * @param nextToken A token that you use to retrieve the next page of results. The response includes
     *     &#x60;nextToken&#x60; when there are multiple pages of results. To get the next page of results, call the
     *     operation with this token and include the same arguments as the call that produced the token. To get a
     *     complete list, call this operation until &#x60;nextToken&#x60; is null. Note that this operation can return
     *     empty pages. (optional)
     * @return ApiResponse&lt;ReturnsResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public ApiResponse<ReturnsResponse> listReturnsWithHttpInfo(
            String returnLocationId,
            String rmaId,
            String status,
            String reverseTrackingId,
            String createdSince,
            String createdUntil,
            String lastUpdatedSince,
            String lastUpdatedUntil,
            String lastUpdatedAfter,
            String lastUpdatedBefore,
            Long maxResults,
            String nextToken)
            throws ApiException, LWAException {
        return listReturnsWithHttpInfo(
                returnLocationId,
                rmaId,
                status,
                reverseTrackingId,
                createdSince,
                createdUntil,
                lastUpdatedSince,
                lastUpdatedUntil,
                lastUpdatedAfter,
                lastUpdatedBefore,
                maxResults,
                nextToken,
                null);
    }

    /**
     * (asynchronously) Retrieve a list of return items. You can filter results by location, RMA ID, status, or time.
     *
     * @param returnLocationId The SmartConnect location ID of the location from which you want to retrieve return
     *     items. (optional)
     * @param rmaId The RMA ID of the return items you want to list. (optional)
     * @param status The status of return items you want to list. You can retrieve all new return items with the
     *     &#x60;CREATED&#x60; status. (optional)
     * @param reverseTrackingId The reverse tracking ID of the return items you want to list. (optional)
     * @param createdSince Return items created after the specified date are included in the response. In [ISO
     *     8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param createdUntil Return items created before the specified date are included in the response. In [ISO
     *     8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param lastUpdatedSince Return items updated after the specified date are included in the response. In [ISO
     *     8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. If you supply this parameter,
     *     you must also supply &#x60;returnLocationId&#x60; and &#x60;status&#x60;. (optional)
     * @param lastUpdatedUntil Return items whose most recent update is before the specified date are included in the
     *     response. In [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. If you
     *     supply this parameter, you must also supply &#x60;returnLocationId&#x60; and &#x60;status&#x60;. (optional)
     * @param lastUpdatedAfter DEPRECATED. Use the &#x60;createdSince&#x60; parameter. (optional)
     * @param lastUpdatedBefore DEPRECATED. Use the &#x60;createdUntil&#x60; parameter. (optional)
     * @param maxResults The number of return items you want to include in the response. **Default:** 10 **Maximum:**
     *     100 (optional)
     * @param nextToken A token that you use to retrieve the next page of results. The response includes
     *     &#x60;nextToken&#x60; when there are multiple pages of results. To get the next page of results, call the
     *     operation with this token and include the same arguments as the call that produced the token. To get a
     *     complete list, call this operation until &#x60;nextToken&#x60; is null. Note that this operation can return
     *     empty pages. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call listReturnsAsync(
            String returnLocationId,
            String rmaId,
            String status,
            String reverseTrackingId,
            String createdSince,
            String createdUntil,
            String lastUpdatedSince,
            String lastUpdatedUntil,
            String lastUpdatedAfter,
            String lastUpdatedBefore,
            Long maxResults,
            String nextToken,
            final ApiCallback<ReturnsResponse> callback)
            throws ApiException, LWAException {
        return listReturnsAsync(
                returnLocationId,
                rmaId,
                status,
                reverseTrackingId,
                createdSince,
                createdUntil,
                lastUpdatedSince,
                lastUpdatedUntil,
                lastUpdatedAfter,
                lastUpdatedBefore,
                maxResults,
                nextToken,
                callback,
                null);
    }
    /**
     * (asynchronously) Retrieve a list of return items. You can filter results by location, RMA ID, status, or time.
     *
     * @param returnLocationId The SmartConnect location ID of the location from which you want to retrieve return
     *     items. (optional)
     * @param rmaId The RMA ID of the return items you want to list. (optional)
     * @param status The status of return items you want to list. You can retrieve all new return items with the
     *     &#x60;CREATED&#x60; status. (optional)
     * @param reverseTrackingId The reverse tracking ID of the return items you want to list. (optional)
     * @param createdSince Return items created after the specified date are included in the response. In [ISO
     *     8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param createdUntil Return items created before the specified date are included in the response. In [ISO
     *     8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. (optional)
     * @param lastUpdatedSince Return items updated after the specified date are included in the response. In [ISO
     *     8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. If you supply this parameter,
     *     you must also supply &#x60;returnLocationId&#x60; and &#x60;status&#x60;. (optional)
     * @param lastUpdatedUntil Return items whose most recent update is before the specified date are included in the
     *     response. In [ISO 8601](https://developer-docs.amazon.com/sp-api/docs/iso-8601) date-time format. If you
     *     supply this parameter, you must also supply &#x60;returnLocationId&#x60; and &#x60;status&#x60;. (optional)
     * @param lastUpdatedAfter DEPRECATED. Use the &#x60;createdSince&#x60; parameter. (optional)
     * @param lastUpdatedBefore DEPRECATED. Use the &#x60;createdUntil&#x60; parameter. (optional)
     * @param maxResults The number of return items you want to include in the response. **Default:** 10 **Maximum:**
     *     100 (optional)
     * @param nextToken A token that you use to retrieve the next page of results. The response includes
     *     &#x60;nextToken&#x60; when there are multiple pages of results. To get the next page of results, call the
     *     operation with this token and include the same arguments as the call that produced the token. To get a
     *     complete list, call this operation until &#x60;nextToken&#x60; is null. Note that this operation can return
     *     empty pages. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @param restrictedDataToken Restricted Data Token (optional)
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @throws LWAException If calls to fetch LWA access token fails
     */
    public okhttp3.Call listReturnsAsync(
            String returnLocationId,
            String rmaId,
            String status,
            String reverseTrackingId,
            String createdSince,
            String createdUntil,
            String lastUpdatedSince,
            String lastUpdatedUntil,
            String lastUpdatedAfter,
            String lastUpdatedBefore,
            Long maxResults,
            String nextToken,
            final ApiCallback<ReturnsResponse> callback,
            String restrictedDataToken)
            throws ApiException, LWAException {

        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressRequestListener = callback::onUploadProgress;
        }

        okhttp3.Call call = listReturnsValidateBeforeCall(
                returnLocationId,
                rmaId,
                status,
                reverseTrackingId,
                createdSince,
                createdUntil,
                lastUpdatedSince,
                lastUpdatedUntil,
                lastUpdatedAfter,
                lastUpdatedBefore,
                maxResults,
                nextToken,
                progressRequestListener);

        if (restrictedDataToken != null) {
            okhttp3.Request request = call.request();
            request = RestrictedDataTokenSigner.sign(request, restrictedDataToken, "ReturnRetrievalApi-listReturns");
            call = apiClient.getHttpClient().newCall(request);
        }

        if (disableRateLimiting || listReturnsBucket.tryConsume(1)) {
            Type localVarReturnType = new TypeToken<ReturnsResponse>() {}.getType();
            apiClient.executeAsync(call, localVarReturnType, callback);
            return call;
        } else throw new ApiException.RateLimitExceeded("listReturns operation exceeds rate limit");
    }

    public static class Builder {
        private LWAAuthorizationCredentials lwaAuthorizationCredentials;
        private String endpoint;
        private LWAAccessTokenCache lwaAccessTokenCache;
        private Boolean disableAccessTokenCache = false;
        private Boolean disableRateLimiting = false;

        public Builder lwaAuthorizationCredentials(LWAAuthorizationCredentials lwaAuthorizationCredentials) {
            this.lwaAuthorizationCredentials = lwaAuthorizationCredentials;
            return this;
        }

        public Builder endpoint(String endpoint) {
            this.endpoint = endpoint;
            return this;
        }

        public Builder lwaAccessTokenCache(LWAAccessTokenCache lwaAccessTokenCache) {
            this.lwaAccessTokenCache = lwaAccessTokenCache;
            return this;
        }

        public Builder disableAccessTokenCache() {
            this.disableAccessTokenCache = true;
            return this;
        }

        public Builder disableRateLimiting() {
            this.disableRateLimiting = true;
            return this;
        }

        public ReturnRetrievalApi build() {
            if (lwaAuthorizationCredentials == null) {
                throw new RuntimeException("LWAAuthorizationCredentials not set");
            }

            if (StringUtil.isEmpty(endpoint)) {
                throw new RuntimeException("Endpoint not set");
            }

            LWAAuthorizationSigner lwaAuthorizationSigner = null;
            if (disableAccessTokenCache) {
                lwaAuthorizationSigner = new LWAAuthorizationSigner(lwaAuthorizationCredentials);
            } else {
                if (lwaAccessTokenCache == null) {
                    lwaAccessTokenCache = new LWAAccessTokenCacheImpl();
                }
                lwaAuthorizationSigner = new LWAAuthorizationSigner(lwaAuthorizationCredentials, lwaAccessTokenCache);
            }

            return new ReturnRetrievalApi(
                    new ApiClient()
                            .setLWAAuthorizationSigner(lwaAuthorizationSigner)
                            .setBasePath(endpoint),
                    disableRateLimiting);
        }
    }
}
